@using Cats.Web.Hub.Helpers
@model Cats.Models.Hub.UserProfile

@{
    ViewBag.Title = @Html.Translate("Details");
}

<h2>Details</h2>
<div class="right">        
            @Html.DialogFormLink(@Html.Translate("Roles"), Url.Action("UserRoles", new { userName = Model.UserName }), Html.Translate("User Roles"), "ConfigContainer", Url.Action("ConfigSMTP"))
        </div>
<fieldset>
    <legend>@Html.Translate("UserProfile")</legend>

    <div class="display-label">@Html.Translate("UserName")</div> 
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">@Html.Translate("FirstName")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">@Html.Translate("LastName")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">@Html.Translate("GrandFatherName")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GrandFatherName)
    </div>

    <div class="display-label">@Html.Translate("ActiveInd")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActiveInd)
    </div>

    <div class="display-label">@Html.Translate("Loggin Date")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogginDate)
    </div>

    <div class="display-label">@Html.Translate("LogOut Date")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogOutDate)
    </div>

    <div class="display-label">@Html.Translate("Failed Attempts")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FailedAttempts)
    </div>

    <div class="display-label">@Html.Translate("LockedInInd")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LockedInInd)
    </div>

    <div class="display-label">@Html.Translate("LanguageCode")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LanguageCode)
    </div>

    <div class="display-label">@Html.Translate("MobileNumber")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobileNumber)
    </div>

    <div class="display-label">@Html.Translate("Email")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">@Html.Translate("LoggedInInd")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoggedInInd)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Html.Translate("Edit"), "Edit", new { id=Model.UserProfileID }) |
    @Html.ActionLink(Html.Translate("Back to List"), "Index")
</p>
