@model Cats.Models.Hubs.UserProfile
@using Cats.Web.Hub.Helpers

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
     
        @Html.HiddenFor(model => model.UserProfileID)

        <div class="editor-label">
           User Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="editor-label">
            @Html.Translate("First Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.Translate("Last Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
           @Html.Translate("Grand Father's Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GrandFatherName)
            @Html.ValidationMessageFor(model => model.GrandFatherName)
        </div>

        <div class="editor-label">
           @Html.Translate("Active User")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActiveInd)
            @Html.ValidationMessageFor(model => model.ActiveInd)
        </div>

        <div class="editor-label">
            @Html.Translate("Locked")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LockedInInd)
            @Html.ValidationMessageFor(model => model.LockedInInd)
        </div>

        <div class="editor-label">
           @Html.Translate("Language Code")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LanguageCode)
            @Html.ValidationMessageFor(model => model.LanguageCode)
        </div>

        <div class="editor-label">
            @Html.Translate("Mobile Number")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileNumber)
            @Html.ValidationMessageFor(model => model.MobileNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            Theme
        </div>
    <div class="editor-field">
        @Html.Telerik().ComboBoxFor(model => model.DefaultTheme).Name("DefaultTheme").Items(items =>
   {
       items.Add().Text(Html.Translate("Vista")).Value("vista");
       items.Add().Text(Html.Translate("Metro")).Value("metro");
       items.Add().Text(Html.Translate("Forest")).Value("forest");
       items.Add().Text(Html.Translate("Windows 7")).Value("windows7");
       items.Add().Text(Html.Translate("Simple")).Value("simple");
       items.Add().Text(Html.Translate("Vista")).Value("vista");
       items.Add().Text(Html.Translate("Hay")).Value("hay");
       items.Add().Text(Html.Translate("Black")).Value("black");
       items.Add().Text(Html.Translate("Default")).Value("default");
       items.Add().Text(Html.Translate("Web Blue")).Value("webblue");
       items.Add().Text(Html.Translate("Telerik")).Value("telerik");
       items.Add().Text(Html.Translate("Transparent")).Value("transparent");
       items.Add().Text(Html.Translate("Sunset")).Value("sunset");
       items.Add().Text(Html.Translate("Web 2.0")).Value("web20");
       items.Add().Text(Html.Translate("Sitefinity")).Value("sitefinity");
   })        
    </div>
        @Html.HiddenFor(m => m.DatePreference)
        @Html.HiddenFor(m => m.PreferedWeightMeasurment)

        <div class="editor-label">
            @Html.Translate("Has Logged In?")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoggedInInd)
            @Html.ValidationMessageFor(model => model.LoggedInInd)
        </div>
    
}


