@using Cats.Web.Hub.Helpers
@model IEnumerable<Cats.Models.Hub.UserProfile>

@{
    ViewBag.Title = Html.Translate("User Accounts");
}

<h2>@Html.Translate("Manage User Accounts")</h2>

<p>
    @Html.DialogFormLink(Html.Translate("Create New"), "../Account/Register",Html.Translate("Create New User"),"list", Url.Action("Update"))
</p>
<div id="list">
<table id="grid" width="100%">
<thead>
    <tr>
        <th></th>
        <th>
            @Html.Translate("User Name")
        </th>
        <th >
            @Html.Translate("First Name")
        </th>
        <th >
            @Html.Translate("Last Name")
        </th>
        <th >
            @Html.Translate("Grand Father Name")
        </th >
        <th>
            @Html.Translate("Language") 
        </th>
        <th >
            @Html.Translate("Mobile Number")
        </th>
        <th >
            @Html.Translate("Email")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
         @{
              var i = 1;
          }
        @foreach (var item in Model) {
            
            <tr>
                <td>@i</td>
                <td>
                    @Html.DialogFormLink(@item.UserName, Url.Action("Edit/" + item.UserProfileID), Html.Translate("Edit User Account"), "list", Url.Action("Update")) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrandFatherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id=item.UserProfileID }) |
                    @Html.DialogFormLink(Html.Translate("Roles"), Url.Action("UserRoles", new { userName = item.UserName }), Html.Translate("User Roles"), "ConfigContainer", Url.Action("Update"))
                    |
                    @Html.DialogFormLink(Html.Translate("Hubs"), Url.Action("UserHubs", new { userName = item.UserName }), Html.Translate("User Hubs"), "ConfigContainer", Url.Action("Update"))
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
</div>
