@using Cats.Helpers
@using Cats.Models.Constant
@model Cats.Models.Transfer
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    const string pageName = "Logistics.Transfer.Detail";
}

@section Toolbar
{
  
    <div class="btn-group">
        <button class="btn">Action</button>
        
           
            <button class="btn dropdown-toggle " data-toggle="dropdown">
                <span class="caret"></span>
            </button>
           
        <ul class="dropdown-menu">
            @*<li><a href="@Url.Action("", "Transfer", new { id = Model.TransferID})">@Html.Translate2(pageName,"Issue")</a></li>
            <li><a href="@Url.Action("", "Transfer", new { id = Model.TransferID})">@Html.Translate2(pageName,"Dispatch")</a></li>*@
             @if(Model.StatusID==(int)LocalPurchaseStatus.Draft)
       {
        <li><a id="btnEdit" href="@Url.Action("Edit", "Transfer", new {id = Model.TransferID})">@Html.Translate2(pageName, "Edit")</a></li>
        <li><a id="btnApprove" href="@Url.Action("Approve", "Transfer", new {id = Model.TransferID})">@Html.Translate2(pageName, "Approve(Send to Hub)")</a></li>
      }
    </ul>
    <a class="btn toolbar-btn " href="@Url.Action("Index", "Transfer")" data-buttontype="btn_back_to_list"></a>
    </div>

}

@section LeftBar {
    

}
<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnEdit').click(function () {

            // alert("");
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
            });
            return false;
        });

    });
</script>

<div id='dialogDiv' class='modal hide fade in' style="width: 820px;margin-right: 10px">
    <div id='dialogContent'></div>
</div>
<div class="row-fluid form-horizontal">
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(m=>m.ShippingInstruction.Value,@Html.Translate2(pageName,"SI Number"))
        </div>
        <div class="controls">
            @Html.TextBoxFor(m=>m.ShippingInstruction.Value,new {Disabled=true})
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(m=>m.SourceHubID,@Html.Translate2(pageName,"SourceHub"))
        </div>
        <div class="controls">
            @Html.TextBoxFor(m=>m.Hub.Name,new {Disabled=true})
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(m=>m.ProgramID,@Html.Translate2(pageName,"Program"))
        </div>
        <div class="controls">
            @Html.TextBoxFor(m=>m.Program.Name,new {Disabled=true})
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(m=>m.CommodityID,@Html.Translate2(pageName,"Commodity"))
        </div>
        <div class="controls">
            @Html.TextBoxFor(m=>m.Commodity.Name,new {Disabled=true})
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(m=>m.CommoditySourceID,@Html.Translate2(pageName,"Commodity Source"))
        </div>
        <div class="controls">
            @Html.TextBoxFor(m=>m.CommoditySource.Name,new {Disabled=true})
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(m=>m.ProjectCode,@Html.Translate2(pageName,"Project Code"))
        </div>
        <div class="controls">
            @Html.TextBoxFor(m=>m.ProjectCode,new {Disabled=true})
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(m=>m.DestinationHubID,@Html.Translate2(pageName,"Destination Hub"))
        </div>
        <div class="controls">
            @Html.TextBoxFor(m=>m.Hub1.Name,new {Disabled=true})
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(m=>m.Quantity,@Html.Translate2(pageName,"Quantity in MT"))
        </div>
        <div class="controls">
            @Html.TextBoxFor(m=>m.Quantity,new {Disabled=true})
        </div>
    </div>
</div>