@using Cats.Helpers
@model Cats.Models.Transfer
@{
    ViewBag.Title = "Edit";
    const string pageName = "Logistics.Transfer.Edit";
}

<div class="modal-dialog">
    <div class="modal-content">


        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="myModalLabel">@Html.Translate("Edit Receipt Plan from Transfer")</h4>
        </div>

        @using (Html.BeginForm("Edit", "Transfer", FormMethod.Post, new {@class = "modal-form", id = "myForm1"}))
        {
            @Html.HiddenFor(m => m.TransferID)
            @Html.HiddenFor(m => m.CommoditySourceID)
            @Html.HiddenFor(m => m.StatusID)
            @Html.HiddenFor(m => m.ShippingInstructionID)
            @Html.HiddenFor(m => m.CreatedDate)
            <div class="modal-body form-horizontal">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="control-label col-sm-4">
                            @Html.Label(@Html.Translate2(pageName, "SI Number"))
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(m => m.ShippingInstruction.Value, new {Disabled = true, @class="form-control"})
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(m => m.CommodityID, @Html.Translate2(pageName, "Commodity Type"))
                        </div>
                        <div class="col-sm-5">
                            @Html.DropDownList("CommodityTypeID", null, new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(m=>m.CommodityID)*@
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(m => m.SourceHubID, @Html.Translate2(pageName, "Source Hub"))
                        </div>
                        <div class="col-sm-5">
                            @Html.DropDownList("SourceHubID", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(m => m.CommodityID, @Html.Translate2(pageName, "Commodity"))
                        </div>
                        <div class="col-sm-5">
                            @Html.DropDownList("CommodityID", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(m => m.ProgramID, @Html.Translate2(pageName, "Program"))
                        </div>
                        <div class="col-sm-5">
                            @Html.DropDownList("ProgramID", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(m => m.ReferenceNumber, @Html.Translate2(pageName, "Reference Number"))
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(m => m.ReferenceNumber, String.Empty, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(m => m.CommoditySourceID, @Html.Translate2(pageName, "Commodity Source"))
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(m => m.CommoditySource.Name, new { Disabled = true })

                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(m => m.Quantity, @Html.Translate2(pageName, "Quantity in MT"))
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(m => m.Quantity, String.Empty, new { @class = "form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(m => m.Quantity)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="form-group col-sm-6">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(m => m.ProjectCode, @Html.Translate2(pageName, "Project Code"))
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(m => m.ProjectCode, String.Empty, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group col-sm-6">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(m => m.DestinationHubID, @Html.Translate2(pageName, "Destination Hub"))
                        </div>
                        <div class="col-sm-5">
                            @Html.DropDownList("DestinationHubID", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn green" type="submit">@Html.Translate("Save Changes")</button>
                <button class="btn red" data-dismiss="modal" aria-hidden="true">@Html.Translate("Cancel")</button>

            </div>
        }
    </div>
</div>
    <script>
        $(document).ready(function () {

            var allValidationRules = {
                ReferenceNumber: "required",
                ProjectCode: "required",
                Quantity: "required"


            };
            $("#myForm1").validate({
                rules: allValidationRules,
                showErrors: function (element, errorClass, validClass) {
                    for (var i in errorClass) {
                        $(errorClass[i].element).popover('show');
                    }
                }
            });
        });

        var giftCertificates = "";
        var sourceArr = [];
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetGiftCertificates", "transfer",new {Area="Logistics"})",
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        sourceArr.push(result[i]);

                    }
                },
                error: function (error) {
                    alert("There was an error posting the data to the server: " + error.responseText);
                }
            });
        });



        $('#SiNumber').typeahead({ source: sourceArr });
    </script>
