@using Cats.Areas.Logistics.Models
@using Cats.Helpers
@using Kendo.Mvc.UI
@{
    ViewBag.Title = Html.Translate("Index");
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    const string pageName = "Logistics.Transfer.Index";
}

@section Toolbar
{
    <a id="btnAddReciptPlan" data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "Transfer")"></a>
}

<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnAddReciptPlan').click(function () {

            // alert("");
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
            });
            return false;
        });

    });
</script>

<div id='dialogDiv' class='modal hide fade in' style="width: 820px;margin-right: 10px">
    <div id='dialogContent'></div>
</div>
<h4>List of Receipt Plan From Transfer</h4>
 @(Html.Kendo().Grid<TransferViewModel>()
              .Name("grid")
              .Columns(columns =>
                  {
                      columns.Bound(m => m.SiNumber).Title(@Html.Translate("SI Number")).ClientTemplate("<a href='" + Url.Action("Detail", "Transfer", new { id = "#=TransferID#" }) + " '>#=SiNumber#</a>  ");
                      columns.Bound(m => m.SourceHubName).Width(200).Title(@Html.Translate("Source Hub"));
                      columns.Bound(m => m.Program).Title(@Html.Translate("Program"));
                      columns.Bound(m => m.Commodity).Width(200).Title(@Html.Translate("Commodity"));
                      columns.Bound(m => m.CommoditySource).Width(100).Title(@Html.Translate("Commodity Source"));
                      columns.Bound(m => m.Quantity).HtmlAttributes(new {align = "right"}).Title(@Html.Translate("Quantity in MT"));
                      columns.Bound(m => m.CreatedDate).Title(@Html.Translate("Created Date"));
                      columns.Bound(m => m.DestinationHubName).Title(@Html.Translate("Destination hub"));
                      columns.Bound(m => m.StatusName).Title(@Html.Translate("Status Name"));
                     
                      columns.Command(p => p.Custom("Delete").Click("OnDelete")).Width(250);


                  }

              )

              .Navigatable()
              .Events(e=>e.DataBound("onDataBound"))
              .HtmlAttributes(new { style = "height:430px;" })
              .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model =>model.Id(m=>m.TransferID))
                                            .Read(read => read.Action("Transfer_Read", "Transfer"))
              //.Update(update => update.Action("Commodity_Update", "Request"))
              )
       )

<div id='dialogDivSmall' class='modal hide fade in'>
    <div id='dialogContentSmall'></div>
</div>
<div id="modalWindow">
    <h4>Are You Sure You Want to Delete this Transfer?</h4>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>
    function onDataBound(e) {
        //alert("show");
        var grid = $("#grid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        //alert(gridData.length);
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            //alert(gridData[i].Status);
            if (gridData[i].StatusName == "Approved") {
                var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                var deleteButton = $(currentRow).find(".k-grid-Delete");
                deleteButton.hide();

            }
        }
    }


    function OnDelete(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        wnd.center().open();

        $("#yes").click(function () {

            window.location = "@Url.Action("Delete", "Transfer")" + "/" + dataItem.TransferID;
            wnd.close();
        });

        $("#no").click(function () {
            window.wnd.close();
        });
    }

    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>
