@model Cats.Models.Hubs.ForgotPasswordRequestModel
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = @Html.Translate("ForgetPasswordRequest");
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h2>@Html.Translate("Forgotten Password")</h2>

@if (ViewBag.SuccessMessage != null)
    {
<div class="ui-state-info ui-corner-all" style="margin: 1em; padding: 10px;">
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
        @ViewBag.SuccessMessage
    </div>
    }
@if (ViewBag.ErrorMessage != null)
    {
    <div class="ui-state-error ui-corner-all" style="margin: 1em; padding: 10px;">
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
        @ViewBag.ErrorMessage
    </div>
    }
<div>

 <p>
    @Html.Translate("Please use this form, if you have forgotten your password.") <br /> @Html.Translate( "When you submit a forgotten password request, a password request link will be sent to your registered email account. ")      
 </p>

@using (Html.BeginForm())
    {   @Html.ValidationSummary(true)
    <table class="borderless">
        <tr>
            <td style="width:200px;">User Name</td>
            <td>
                @Html.EditorFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" class="t-button" value="@Html.Translate("Request")" /></td>
        </tr>
    </table>
   
}
</div>