@using Cats.Helpers
@model Cats.Models.TransportOrder

@{
    ViewBag.Title = Html.Translate("Edit");
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Edit Transport Order");
    ViewBag.PageTitleDescription = "";
}

@*@section LeftBar{
        @Html.Partial("_TransportOrderLeftBar");
    }*@

@*@section Toolbar
{
    <a class="btn green" data-buttontype="btn_save" data-submittedform="frm_edit_Order"><i class="fa fa-save"></i> @Html.Translate("Save")</a>
}*@

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp"><i class="fa fa-file font-green-sharp"></i> @Html.Translate("Transport Order Detail")</div>
        @*<div class="tools"><a href="#" class="collapse" data-original-title="" title=""></a></div>*@
        <div class="actions">
            <a class="btn green loading-btn toolbar-btn" data-loading-text="Saving..." data-buttontype="btn_save" data-submittedform="frm_edit_Order"><i class="fa fa-save"></i> @Html.Translate("Save")</a>
            <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Edit", "TransportOrder", FormMethod.Post, new { id = "frm_edit_Order" }))
        {

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.TransportOrderID)
            <div class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Transport Order No"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.TransportOrderNo, new { @class = "form-control"})
                            <span class="help-block">@Html.ValidationMessageFor(model => model.TransportOrderNo)</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Contract Number"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.ContractNumber, new { @class = "form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.ContractNumber)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("OrderDate"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.OrderDate, new { @class = "cats-datepicker2 form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.OrderDate)</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Requested Dispatch Date"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.RequestedDispatchDate, new { @class = "cats-datepicker2 form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.RequestedDispatchDate)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Order Expiry Date"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.OrderExpiryDate, new { @class = "cats-datepicker2 form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.OrderExpiryDate)</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Transporter Signed Name"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.TransporterSignedName, new { @class = "form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.TransporterSignedName)</span>
                        </div>
                    </div>
                </div>

                @* <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.LabelFor(model => model.StartDate)
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.StartDate, new {@class = "cats-datepicker2"})
                            @Html.ValidationMessageFor(model => model.StartDate)
                        </div>
                    </div>
                         <div class="form-group col-md-6">
                             <div class="control-label col-md-5">
                                 @Html.LabelFor(model => model.EndDate)
                             </div>
                             <div class="col-md-6">
                                 @Html.TextBoxFor(model => model.EndDate, new {@class = "cats-datepicker2"})
                                 @Html.ValidationMessageFor(model => model.EndDate)
                             </div>
                         </div>*@


                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Bid Document No"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.BidDocumentNo, new { @class = "form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.BidDocumentNo)</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Performance Bond Receipt No"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.PerformanceBondReceiptNo, new { @class = "form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.PerformanceBondReceiptNo)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Performance Bond Amount"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.PerformanceBondAmount, new { @class = "form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.PerformanceBondAmount)</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Consigner Name"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.ConsignerName, new { @class = "form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.ConsignerName)</span>
                        </div>
                    </div>
                    @* <div class="form-group col-md-6">
                            <div class="control-label col-md-5">
                                @Html.LabelFor(model => model.TransporterSignedName)
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.TransporterSignedName)
                                @Html.ValidationMessageFor(model => model.TransporterSignedName)
                            </div>
                        </div>*@
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Consigner Date"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.ConsignerDate, new { @class = "cats-datepicker2 form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.ConsignerDate)</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-5">
                            @Html.Label(Html.Translate("Transporter Signed Date"))
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.TransporterSignedDate, new { @class = "cats-datepicker2 form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(model => model.TransporterSignedDate)</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>