@model Cats.Models.TransportOrder

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TransportOrder</legend>

        @Html.HiddenFor(model => model.TransportOrderID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TransportOrderNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransportOrderNo)
            @Html.ValidationMessageFor(model => model.TransportOrderNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContractNumber)
            @Html.ValidationMessageFor(model => model.ContractNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderDate)
            @Html.ValidationMessageFor(model => model.OrderDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestedDispatchDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequestedDispatchDate)
            @Html.ValidationMessageFor(model => model.RequestedDispatchDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderExpiryDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderExpiryDate)
            @Html.ValidationMessageFor(model => model.OrderExpiryDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BidDocumentNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BidDocumentNo)
            @Html.ValidationMessageFor(model => model.BidDocumentNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PerformanceBondReceiptNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PerformanceBondReceiptNo)
            @Html.ValidationMessageFor(model => model.PerformanceBondReceiptNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransporterID)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.TransporterID)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConsignerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConsignerName)
            @Html.ValidationMessageFor(model => model.ConsignerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransporterSignedName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransporterSignedName)
            @Html.ValidationMessageFor(model => model.TransporterSignedName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConsignerDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConsignerDate)
            @Html.ValidationMessageFor(model => model.ConsignerDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransporterSignedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransporterSignedDate)
            @Html.ValidationMessageFor(model => model.TransporterSignedDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
