@using Cats.Areas.Logistics.Models
@using Cats.Areas.Procurement.Models
@using Kendo.Mvc.UI


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar{
    @Html.Partial("_TransportOrderLeftBar");
}

<h4 class="page-header">Transport Orders</h4>
@section Toolbar
{
    <a data-buttontype="btn_new_record"  class="btn toolbar-btn "  href="@Url.Action("TransportRequisitions","TransportOrder",new {Area="Procurement"})"></a>
}


@(Html.Kendo().Grid<TransportOrderViewModel>().Name("Grid").Columns(columns =>
{

    columns.Bound(requisition => requisition.TransportOrderNo).ClientTemplate("<a href='" + Url.Action("Details", "TransportOrder", new { Area = "Procurement", id = "#=TransportOrderID#" }) + " '>#=TransportOrderNo#</a>  ");
    columns.Bound(requisition => requisition.Transporter);
    columns.Bound(requisition => requisition.BidDocumentNo);
    columns.Bound(requisition => requisition.OrderDateET);
    columns.Bound(requisition => requisition.OrderExpiryDateET );
    columns.Bound(requisiton => requisiton.RequestedDispatchDateET);
    columns.Bound(requisition => requisition.ContractNumber);
    columns.Bound(requisition => requisition.PerformanceBondReceiptNo);
})
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model =>model.Id(p => p.TransportOrderID))
        .Read(read => read.Action("TransportOrder_Read", "TransportOrder"))
    ).Pageable()
)



@*
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            
            @Html.DisplayNameFor(model => model.Transporter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportOrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedDispatchDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidDocumentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerformanceBondReceiptNo)
        </th>
        <th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
             
            @Html.DisplayFor(modelItem=>item.Transporter.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransportOrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedDispatchDate,new {@class="cats-datepicker"})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidDocumentNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformanceBondReceiptNo)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransportOrderID }) |
            @Html.ActionLink("Print", "Print", new { id = item.TransportOrderID}, new {target="_blank"})
           
        </td>
    </tr>
}

</table>*@
