@using Cats.Helpers
@model List<Cats.Areas.Procurement.Models.TransportOrderApprovalViewModel>
@{
    ViewBag.Title = Html.Translate("MultipleApproval");

}
<div class="modal-dialog">
    <div class="modal-content">


        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="myModalLabel">@Html.Translate("Multiple Transport Order Approval")</h4>
        </div>

        @using (Html.BeginForm("MultipleApproval", "TransportOrder", FormMethod.Post))
{
    <div class="modal-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Action</th>
                    <th> No.</th>
                    @* <th>TransporterID</th>*@
                    <th>ContractNumber</th>
                    <th>TransportOrderNo</th>
                    <th>Transporter</th>
                </tr>
            </thead>
            <tbody>
                @*  @{ int index = 0; }*@
                @for (int i = 0; i < Model.Count; i++)
                        {



                            //var id = item.Checked;
                        <tr>
                            @{var sno = i + 1;}
                            <td>
                                <div class="md-checkbox">
                                    @Html.CheckBox("transportOrderApprovalViewModels[" + @i + "].Checked", Model[i].Checked, new { @class = "md-check" })
                                    <label for="transportOrderApprovalViewModels_@{ @i;}__Checked">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                    </label>
                                </div>
                                
                            </td>
                            <td>@sno</td>
                            @Html.Hidden("transportOrderApprovalViewModels[" + @i + "].TransportOrderID",
                                       Model[i].TransportOrderID,
                                       new { @readonly = "readonly" })
                            <td>
                                @Html.Label(@Html.Translate("transportOrderApprovalViewModels[" + @i + "].ContractNumber"),
                                      Model[i].ContractNumber,
                                      new { @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.Label(@Html.Translate("transportOrderApprovalViewModels[" + @i + "].TransportOrderNo"),
                                       Model[i].TransportOrderNo,
                                       new { @readonly = "readonly" })
                            </td>

                            <td>
                                @Html.Label(@Html.Translate("transportOrderApprovalViewModels[" + @i + "].Transporter"),
                                       Model[i].Transporter,
                                       new { @readonly = "readonly" })
                            </td>


                        </tr>

                        @* @Html.HiddenFor(model=>item.TransportOrderID)
                            <td>@item.TransportOrderID</td>
                            @Html.HiddenFor(model=>item.ContractNumber)
                            <td>@item.ContractNumber</td>
                            @Html.HiddenFor(model=>item.TransportOrderNo)
                            <td>@item.TransportOrderNo</td>
                            @Html.HiddenFor(model=>item.Transporter)
                            <td>@item.Transporter</td>
                            @Html.HiddenFor(model=>item.Checked)*@


                        }
            </tbody>

        </table>
    </div>@*
                <tr>*@
            @* <td colspan="3">*@
            <div class="modal-footer">
                <button class="btn green" type="submit">@Html.Translate("Approve")</button>
                <a class="btn red" data-dismiss="modal" aria-hidden="true">@Html.Translate("Cancel")</a>
            </div>
            @*     </td>
                </tr>*@
        }
    </div>
</div>