@model Cats.Models.TransportOrder
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@{
    ViewBag.Title = "TransportContract";
    Layout = "~/Views/Shared/_MainLayout.cshtml";    
}

<h4>Transport Contract.</h4>
<div class="control-group form-horizontal">
    <div class="row">
        <div class="span6">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.Transporter)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Transporter.Name, new { Disabled = true })
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.BidDocumentNo)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.BidDocumentNo, new { Disabled = true })
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <div class="control-group">
                <div class="control-label" align="left">
                    @Html.Label("Requisition No")
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.TransportOrderDetails.First().ReliefRequisition.RequisitionNo, new { Disabled = true })
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.PerformanceBondReceiptNo)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.PerformanceBondReceiptNo, new { Disabled = true })
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="control-group">
                <div class="control-label" align="left">
                    @Html.LabelFor(m=>m.RequestedDispatchDate)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.RequestedDispatchDate, new { Disabled = true })
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.OrderExpiryDate)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.OrderExpiryDate, new { Disabled = true })
                </div>

            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Grid<Cats.Areas.Procurement.Models.TransportOrderDetailViewModel>()
    .Name("grid")
    .Columns(columns =>
        {

            columns.Bound(p => p.Woreda);
            columns.Bound(p => p.Commodity);
            columns.Bound(p => p.FDP);
            columns.Bound(p => p.OriginWarehouse);
            columns.Bound(p => p.DistanceFromOrigin);
            columns.Bound(p => p.QuantityQtl);
            columns.Bound(p => p.TariffPerQtl);
            columns.Bound(p => p.TotalAmount);

        })
            .Pageable()
            .Sortable()
            .Filterable()
            .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(8)
                    .Model(model => model.Id(p => p.TransportOrderID))
                    .Read(read => read.Action("Contract_Read", "TransportOrder", new { id = Model.TransportOrderID }))

             )

      )

