@using Cats.Models.ViewModels
@model IEnumerable<Cats.Areas.Procurement.Models.TransportRequisitionSelect>

@{
    ViewBag.Title = "TransportRequisitions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Transport Requisitions</h2>
@using (Html.BeginForm("TransportRequisitions", "TransportOrder", FormMethod.Post))
{


<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportRequisitionNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertifiedDate)
        </th>
       

        <th>
            @Html.Label("Status")

        </th>

        <th></th>
    </tr>
    @{int index = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
               @Html.CheckBox("input[" + index + "].IsSelected", item.Input.IsSelected)
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportRequisitionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedDate,new {@class="cats-datepicker"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertifiedBy)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.CertifiedDate,new {@class="cats-datepicker"})
            </td>
          

        <td>
        @{
        var statusName = item.Status == 1 ? "Draft" : item.Status == 2 ? "Approved" : "Closed";
       
                }
               @Html.Label(statusName)
        </td>
             <td>
             <input type="hidden" value="@item.Input.Number" name="@("input[" + index + "].Number")"  />
            </td>


            <td>
              
            </td>
        </tr>
        index++;
    }

</table>
    <p>
        <input class="btn btn-success" type="submit" value="Create Transport Order" />
    </p>
}