@using Cats.Models.Hubs;
@using System.Collections
@using Cats.Areas.Settings.Models.ViewModels
@using Kendo.Mvc.UI
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{
    @Html.Partial("_AdminGridCommands");    
}
@section LeftBar
{
    @Html.Partial("_AdminLeftBar");
}
<script>
    $(document).ready(function () {
        setAsActive("#Commodity");
    });

    function onDelete(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "@Url.Action("Commodity_Destroy", "Commodity")" + "/" + dataItem.CommodityID;
    }
</script>
@{
    if (TempData["error"] !=null)
    {
        
        <div>
            @ViewData["error"]
        </div>
    <hr/>
    }
}
<h4 class="page-header">Commodity</h4>
@(Html.Kendo().Grid<CommodityViewModel>()
    .Name("grid")
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Sortable()
    .Filterable()
    .HtmlAttributes(new { style = "height:400px;" })
    .Scrollable()
    .Navigatable()
    .Columns(columns =>
    {
        columns.Bound(t => t.CommodityID).Visible(false);
        columns.Bound(t => t.CommodityCode);
        columns.Bound(t => t.Name);
        columns.Bound(t => t.LongName);
        columns.ForeignKey(t => t.CommodityTypeID, (IEnumerable<CommodityType>)ViewData["CommodityTypes"], "CommodityTypeID", "Name");
        columns.ForeignKey(t => t.ParentID, (IEnumerable<Commodity>)ViewData["Commodities"], "CommodityID", "Name");
        columns.Bound(t => t.NameAM);
        //columns.Command(command => command.Destroy());
        columns.Command(command => command.Custom("Delete").Click("onDelete"));

    })
    .DataSource(
        datasource =>datasource.Ajax()
            .Model(model => model.Id(p => p.CommodityID))
            .Read("Commodity_Read", "Commodity")
            .Create("Commodity_Create", "Commodity")
            .Update("Commodity_Update", "Commodity")
            
      ))
