@model Cats.Models.Hub.GiftCertificate
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Delete");
}

<h2>@Html.Translate("Delete")</h2>

<h3>@Html.Translate("Are you sure you want to delete this?")</h3>
<fieldset>
    <legend>@Html.Translate("GiftCertificate")</legend>

    <div class="display-label">@Html.Translate("GiftDate")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiftDate)
    </div>

    <div class="display-label">@Html.Translate("Donor")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Donor.Name)
    </div>

    <div class="display-label">@Html.Translate("SINumber")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SINumber)
    </div>

    <div class="display-label">@Html.Translate("ReferenceNo")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReferenceNo)
    </div>

    <div class="display-label">@Html.Translate("Vessel")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vessel)
    </div>

    <div class="display-label">@Html.Translate("ETA")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ETA)
    </div>

    <div class="display-label">@Html.Translate("Commodity")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Commodity.Name)
    </div>

    <div class="display-label">@Html.Translate("WeightInMT")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeightInMT)
    </div>

    <div class="display-label">@Html.Translate("BillOfLoading")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BillOfLoading)
    </div>

    <div class="display-label">@Html.Translate("Year")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">@Html.Translate("AccountNumber")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountNumber)
    </div>

    <div class="display-label">@Html.Translate("EstimatedPrice")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimatedPrice)
    </div>

    <div class="display-label">@Html.Translate("EstimatedTax")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimatedTax)
    </div>

    <div class="display-label">@Html.Translate("Detail1")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detail1.Name)
    </div>

    <div class="display-label">@Html.Translate("Detail")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detail.Name)
    </div>

    <div class="display-label">@Html.Translate("Detail2")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detail2.Name)
    </div>

    <div class="display-label">@Html.Translate("IsPrinted")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPrinted)
    </div>
</fieldset>
@using (Html.BeginForm())
    {
    <p>
        <input type="submit" value="@Html.Translate("Delete")" /> |
        @Html.ActionLink(Html.Translate("Back to List"), "Index")
    </p>
}
