
@using System.Collections
@using LanguageHelpers.Localization
@model Cats.Models.Hubs.ReceiptAllocationViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Translator.Translate("Add New Donation Plan")</h3>
</div>

@using (Html.BeginForm("AddNewDonationPlan", "Donation", FormMethod.Post, new { @class = "modal-form" }))
{
  
    <div class="modal-body">
        
        <div class="form-horizontal">
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.SINumber, @Translator.Translate("SI / Batch Number")) <span class="required">*</span>
                </div>
                <div class="controls" id="SI">
                    @Html.TextBoxFor(model => model.SINumber,"SINumber")<span class="hide help-inline">SI is Required!</span>
                    @Html.ValidationMessageFor(model => model.SINumber)
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ETA, @Translator.Translate("ETA")) <span class="required">*</span>
                </div>
                <div class="controls" id="ETA">
                    @(Html.TextBoxFor(model => model.ETA, new {@class="cats-datepicker2"}))<span class="hide help-inline">ETA is Required!</span>
                    @Html.ValidationMessageFor(model => model.ETA)
                </div>
            </div>

        </div>
        <div class="form-horizontal">
            @*<div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.OtherDocumentationRef, @Translator.Translate("Memo Reference"))
                </div>
                <div class="controls" id="memo">
                   
                </div>
            </div>*@
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.HubID, @Translator.Translate("Hub")) <span class="required">*</span>
                </div>
                <div class="controls" id="Hub">
                    @(Html.DropDownList("HubID",new SelectList(Model.Hubs,"HubID","Name")))
                   
                </div>
            </div>

        </div>
         
        <div class="form-horizontal">
            
            
            <div class="control-group">
                <div class="control-label">
                   @Html.LabelFor(model => model.DonorID, @Translator.Translate("Donor")) <span class="required">*</span>
                </div>
                <div class="controls" id="Donor">
                    @(Html.DropDownList("DonorID",new SelectList(Model.Donors,"DonorID","Name")))
                </div>
            </div>

        </div>
        <div class="form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.CommodityTypeID, @Translator.Translate("Commodity Type")) <span class="required">
                                                                                                           *</span>
                </div>
                <div class="controls" id="CommodityType">
                    @(Html.DropDownList("CommodityTypeID",new SelectList(Model.CommodityTypes,"CommodityTypeID","Name")))
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                   @Html.LabelFor(model => model.CommodityID, @Translator.Translate("Commodity")) <span class="required">*</span>
                </div>
                <div class="controls" id="Commodity">
                    @(Html.DropDownList("CommodityID", new SelectList(Model.Commodities,"CommodityID","Name")))
                </div>
            </div>

        </div>
        <div class="form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ProgramID, @Translator.Translate("Program")) <span class="required">*</span>
                </div>
                <div class="controls" id="program">
                    @(Html.DropDownList("ProgramID",new SelectList(Model.Programs,"ProgramID","Name") ))
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.QuantityInMT, @Translator.Translate("Quantity In MT"))
                    <span class="required">
                        *</span>
                </div>
                <div class="controls" id="QuantityInMT">
                    @Html.EditorFor(model => model.QuantityInMT,new {})
                @Html.ValidationMessageFor(model => model.QuantityInMT)
                </div>
            </div>

        </div>
        
        <div class="form-horizontal">
            <div class="control-group">
                <div class="control-label">
                   @Html.LabelFor(model => model.QuantityInUnit, "Quantity In Unit") <span class="required">*</span>
                </div>
                <div class="controls" id="QuantityInUnit">
                   @Html.TextBoxFor(model => model.QuantityInUnit)
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                   @Html.LabelFor(model => model.Remark, @Translator.Translate("Remark"))
                </div>
                <div class="controls" id="Remark">
                   @Html.EditorFor(model => model.Remark)
                @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>

        </div>
        
        <div class="form-horizontal">
            <div class="control-group">
                <div class="control-label">
                   @Html.LabelFor(model => model.ProjectNumber, @Translator.Translate("Project Code")) <span class="required">*</span>
                </div>
                <div class="controls" id="ProjectNumber">
                   @Html.TextBoxFor(model => model.ProjectNumber)
                    @Html.ValidationMessageFor(model => model.ProjectNumber)
                </div>
            </div>
            
           

        </div>
        


    </div>
     
   
    
               
                   
    
                

    <div class="modal-footer"> <button class="btn btn-primary" type="submit" id="btn-save">Save</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>

}


 <script>
        
     $('#btn-save').click(function () {

         if ($('#SINumber').val() === "") {
             // invalid
             $('#SINumber').next('.help-inline').show();
             return false;
         }
         else {
             // submit the form here
             $('#InfroText').submit();
             return true;
         }
     });


     $('#SINumber').blur(function () {
         
         if ($(this).val() != "") {
             var donatin = '@Cats.Models.Hubs.CommoditySource.Constants.DONATION';
             var siNumber = $('#SINumber').val();
           
             //alert(url);
             //$('#dialogContent').load(url, function () {
                 
             //    $('#dialogDiv').modal({
             //        backdrop: 'static',
             //        keyboard: true
             //    }, 'show');
             //    //bindForm(this);
             //});

             //$.ajax({
             //    url: url,
             //    type: "POST",
             //    data: { siNumber: siNumber, type: donatin},
             //    success: function (data) {
                    
                     
             //    }
             //});
        


         }
         
     
        //$.validator.unobtrusive.parse('#receiveAlloc');

    });
    </script>             