@model Cats.Areas.Logistics.Models.DonationViewModel
@using LanguageHelpers.Localization


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Translator.Translate("Add New Receive Plan")</h3>
</div>
@{
    var siNo = "0";
    if (Model!=null)
    {
        siNo = Model.SINumber;
    }
}

@using (Html.BeginForm("Save", "Donation", new { siNumber = siNo }, FormMethod.Post, new { id = "myModal" }))
{
    

    <div class="modal-body">
        
        <div class="form-horizontal">
            
            <div class="control-group">
                <div class="control-label">
                    @Html.Label(Translator.Translate("SI Number"))
                </div>
                <div class="controls" id="div_SINumber">
                    @Html.TextBoxFor(model=>model.SINumber)
                    @Html.ValidationMessageFor(m => m.SINumber)
               
                </div>

            </div>
            
                
                    <div class="control-group" id="Quantity">
                        <div class="control-label">
                            @Html.Label(Translator.Translate("Quantity"))
                        </div>
                        <div class="controls" id="div_quatity">
                            @Html.TextBoxFor(model=>model.WieghtInMT,new { Disabled = true })
                            @Html.ValidationMessageFor(m => m.WieghtInMT)
               
                        </div>

                    </div>
                   
                        <div class="control-group">
                            <div class="control-label">
                                @Html.LabelFor(model => model.ETA, @Translator.Translate("ETA"))
                            </div>
                            <div class="controls" >
                                @(Html.TextBoxFor(model => model.ETA, new { Disabled = true }))
                                @Html.ValidationMessageFor(model => model.ETA)
                            </div>
                        </div>

                   
            <div class="control-group">
                <div class="control-label">
                    @Html.Label(@Translator.Translate("Donor")) 
                </div>
                <div class="controls">
                    @(Html.DropDownListFor(model => model.DonorID, new SelectList(Model.Donors, "DonorID", "Name"),new { disabled = "disabled" }))
                </div>
            </div>
            
            @*<div class="control-group">
                <div class="control-label">
                    @Html.Label(@Translator.Translate("Commodity Type")) 
                </div>
                <div class="controls" >
                    @(Html.DropDownListFor(model => model.CommodityID, new SelectList(Model.CommodityTypes, "CommodityTypeID", "Name"),new { disabled = "disabled" }))
                </div>
            </div>*@
            
            <div class="control-group">
                <div class="control-label">
                    @Html.Label(@Translator.Translate("Commodity")) 
                </div>
                <div class="controls" >
                    @(Html.DropDownListFor(model => model.CommodityID, new SelectList(Model.Commodities, "CommodityID", "Name"),new {disabled ="disabled"}))
                </div>
            </div>
            
          
            
            <div class="control-group">
                <div class="control-label">
                    @Html.Label(@Translator.Translate("Program")) 
                </div>
                <div class="controls">
                    @(Html.DropDownListFor(model => model.ProgramID, new SelectList(Model.Programs, "ProgramID", "Name"),new {disabled = "disabled"}))
                </div>
            </div>

           
        </div>
    </div>

    <div class="modal-footer"> <button class="btn btn-primary" type="button" onclick="onSave(this)">Save</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
       
    </div>

}

<script>

    function onSave(e) {
        
        var url =  "/Donation/SaveHeader/" + $("#SINumber").val() ;
        window.location.href = url;
       
       
    };

    $("#SINumber").on('change', function () {
        
        $.ajax({
            type: "POST",
            url: "/Donation/Load/" + $("#SINumber").val(),
            dataType: "json",
            contentType: "application/json; charset=utf-8",

            success: function (result) {

                var date = new Date(parseInt(result.eta.substr(6)));
                
                $("#WieghtInMT").val(result.quantity);
                $("#ETA").val(date);
                $("#DonorID").val(result.donorId);
                $("#ProgramID").val(result.programId);
                $("#CommodityID").val(result.comodity);
                $("#CommodityID").val(result.commodityType);
               
               
            },
            error: function (error) {
                alert("There was an error posting the data to the server: " + error.responseText);
            }
        });
    });
    

    
</script>