@model dynamic
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Reports");
}

 @Html.Partial("DisplayHub") 
 
<table width="100%">
    <tr>
        <td>@Html.ActionLink(Html.Translate("Stock Status"), "Index", "StockStatus")
        
            <br/><br />
            @Html.Translate("The Stock Status Report shows break down of Available Commodities in Each Store by Project Number")
        </td>
       
    </tr>

    <tr>
        <td> 
            @Html.ActionLink(Html.Translate("Bin Card"), "Index", "BinCard")
            <br /><br />
            @Html.Translate("The Bin Card allows you to see bin card by Commodity, Donor and Store")
        </td>
        
    </tr>
    <tr>
        <td>
            @Html.ActionLink(Html.Translate("Track SI"),"SIReport","Reports")
            <br /><br />
            @Html.Translate("The Track SI Feature Allows you to see where commodities shipped in SI are located.")
        </td>
        
    </tr>
</table>