@using Cats.Helpers
<ul class="nav nav-list">
    <li class="nav-header">Bid Planing</li>
    <li><a href="@Url.Action("Index", "TransportBidPlan")"><i class="icon-envelope"></i> @Html.Translate("Bid Plans")</a></li>
   <!-- 
    <li>@Html.ActionLink("New Plan", "Create")<i class="icon-check"></i>New Bid Plan</a></li>
    <li><a href="@Url.Action("CurrentBids", "Bid")"><i class="icon-inbox"></i> Current Bids </a></li>
       -->
    <li class="divider"></li>
    <li><a href="@Url.Action("Create","TransportBidPlan")"><i class="icon-plus"></i> @Html.Translate("New Bid Plan")</a></li>
    
    <li class="divider"></li>
    <li><a href="#"><i class="icon-print"></i> @Html.Translate("Print")</a></li>
    <li><a href="#"><i class="icon-share"></i> @Html.Translate("Export")</a></li>
</ul>
