@model Cats.Models.TransportBidPlan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar
{
    @Html.Partial("_BidPlanLeftBar")
}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_edit_bid"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("index", "TransportBidPlan")" title="save"></a>
}
<h3>Create</h3>
<div class="form-horizontal">
@using (Html.BeginForm("Create", "TransportBidPlan", FormMethod.Post, new { id = "frm_edit_bid" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Transport Bid Plan</legend>

        <div class="control-group">
            <label class="control-label" for="Name"> @Html.LabelFor(model => model.Year)</label>
            <div class="controls">
                 @Html.TextBoxFor(model => model.Year, new { @class = "input-xlarge", @placeholder = "Year" })    
                 @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="YearHalf"> @Html.LabelFor(model => model.YearHalf)</label>
            <div class="controls">
                 @Html.TextBoxFor(model => model.YearHalf, new { @class = "input-xlarge", @placeholder = "Year Half" })    
                 @Html.ValidationMessageFor(model => model.YearHalf)
            </div>
        </div>

    </fieldset>
}
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
