@model Cats.Models.TransportBidPlan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Transport Bid Plan</h3>
<!-- @Html.DisplayFor(model => model.TransportBidPlanID)-->
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create New Bid Plan</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
                Period
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YearHalf)
            @Html.ValidationMessageFor(model => model.YearHalf)
        </div>

      
        <div style="display:none;">
            <div class="editor-label">
                @Html.LabelFor(model => model.ProgramID, "Program")
            </div>
            <div class="editor-field">
                <input name="ProgramID" value="1" />
               <!-- @Html.DropDownList("ProgramID", "")
                @Html.ValidationMessageFor(model => model.ProgramID)-->
            </div>

        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
