@using Cats.Helpers
@model Cats.Models.TransportBidPlan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Delete</h2>

<h3>, Html.Translate("Are you sure you want to delete this?")</h3>
<fieldset>
    <legend>@Html.Translate("Transport Bid Plan")</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.Year, Html.Translate("Year"))
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.YearHalf, Html.Translate("Year Half"))
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearHalf)
    </div>

   

    <div class="display-label">
         @Html.LabelFor(model => model.Program.Name, Html.Translate("Program"))
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Program.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
