@using Cats.Helpers
@model Cats.Models.TransportBidPlan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TransportBidPlan</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.Year, Html.Translate("Year"))
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.YearHalf, Html.Translate("Year Half"))
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearHalf)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Program.Name, Html.Translate("Program"))
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Program.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TransportBidPlanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
