@model IEnumerable<Cats.Models.TransportBidPlan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearHalf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearHalf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransportBidPlanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransportBidPlanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransportBidPlanID })
        </td>
    </tr>
}

</table>
