@model IEnumerable<Cats.Models.TransportBidPlan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Transport Bid Planing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            Period
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearHalf)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransportBidPlanID }) |
            @Html.ActionLink("Warehouse Selection", "WarehouseSelection", new { id=item.TransportBidPlanID }) | 
            @*@Html.ActionLink("Create Bid ", "Create", new {Area="Procurement", id=item.TransportBidPlanID })*@
            <a href="@Url.Action("Create", "Bid", new {Area = "Procurement", id = item.TransportBidPlanID})">Create Bid</a>
            <a href="@Url.Action("Create", "bid", new { Area = "Procurement",id=item.TransportBidPlanID })">Create Bid</a>
        </td>
    </tr>
}

</table>
