@using Kendo.Mvc.UI



@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar
{
   
    <li class="nav-header">Bid Plan @ViewBag.bidPlan.ShortName</li>
    <li>Year: @ViewBag.bidPlan.Year</li>
    <li>Period: @ViewBag.bidPlan.YearHalf</li>
    <li class="nav-header">Tasks</li>

    <li> <a href="@Url.Action("Create/" + ViewBag.bidPlan.TransportBidPlanID, "bid", new { Area = "Procurement" })"><i class="icon-chevron-left"></i>Create Bid</a></li>
    <li> <a href="@Url.Action("Index", "TransportBidPlan", new { Area = "Procurement" })"><i class="icon-chevron-left"></i>Back to List</a></li>

}

<div class="span4 well">
     @Html.Partial("_AdminUnitTree")
</div>
<div class="span8 well">
    <h3></h3>
    @foreach (var hub in ViewBag.HubCollection)
{
    <div>@hub.Name</div>
}

</div>
<script>
    function on_amount_change(amount,cellId, BidPlanID, ProgramID, SourceID, DestinationID, TransportBidPlanDetailID)
    {
        
        TransportBidPlanDetailID = TransportBidPlanDetailID ? TransportBidPlanDetailID : 0;
        if (amount == "")
        {
            //delete
            amount = -1;
        }
       
        $.post("/Procurement/TransportBidPlan/EditAJAX",
            {   TransportBidPlanDetailID:TransportBidPlanDetailID
                ,BidPlanID:BidPlanID
                , DestinationID: DestinationID
                , SourceID: SourceID
                ,ProgramID:ProgramID
                ,Quantity:amount}
            ,function (data)
            {
                data = data.replace("_cellID_", cellId);
                $("#cell_" + cellId).html(data);
            }
            );
    }
</script>