@* 
@model IEnumerable<Cats.Procurement.Models.Transporter>
*@
@model IEnumerable<Cats.Models.Transporter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<div class="well">
    <h4 class="page-header">Transporter Registration</h4>
</div>
@section LeftBar
{
  @*  @using (Html.BeginForm())
    {
        <div class="control-group">
            <label class="control-label">Year</label>
            <div class="controls">
                @Html.TextBox("year")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Month</label>
            <div class="controls">
                @Html.DropDownList("month",(SelectList)ViewBag.Months)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Filter" class="btn btn-primary"/>
            </div>
        </div> 
    }
  *@
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">



    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftCapacityTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCountMale)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelephoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.LiftCapacityTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCountMale)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransporterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransporterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransporterID })
        </td>
    </tr>
}

</table>
