@using Cats.Web.Hub.Helpers
@model IEnumerable<Cats.Models.Hubs.HubOwner>

<div id="warehouseownerlist">
<table width="100%">
    <tr>
    <th></th>
        <th>
            @Html.Translate("Name")
        </th>
        <th></th>
    </tr>
    @{
        var i = 1;
    }
@foreach (var item in Model) {
    <tr>
    <td>@i</td>
        <td>@Html.DialogFormLink(@Html.DisplayFor(modelItem => item.Name).ToString(), Url.Action("Edit/" + item.HubOwnerID), Html.Translate("Edit warehouse owners"), "warehouseownerlist", Url.Action("Update"))</td>                

        <td>
       @*     @Html.ActionLink("Edit", "Edit", new { id=item.WarehouseOwnerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WarehouseOwnerID }) |*@
            @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id=item.HubOwnerID })
        </td>
    </tr>
    i = i + 1;
}

</table>
</div>