@model IEnumerable<Cats.Models.Hubs.ViewModels.TransporationReport>
@using Cats.Web.Hub.Helpers
<div>
    <p>
        @ViewBag.Filter
    </p>
    @(Html.Telerik().Grid(Model).Name("transportationsGrid")
        .Columns(col =>
        {
            col.Bound(it => it.Commodity);
            col.Bound(it => it.NoOfTrucks).Title(@Html.Translate("Number of Trucks")).Format("{0:N0}").HtmlAttributes(new { align = "right" }).Aggregate(ag => ag.Sum())
                .FooterTemplate(@<text><span style="float: right">@Html.Translate("Total Number of Trucks: ")
                        @item.Sum</span></text>)
            .GroupFooterTemplate(@<text><span style="float: right">@Html.Translate("Total: ") @item.Sum</span></text>);

            col.Bound(it => it.QuantityInUnit).HtmlAttributes(new { align = "right" }).Title(@Html.Translate("Total Quantity in Unit")).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Aggregate(ag => ag.Sum())
                .FooterTemplate(@<text><span style="float: right">@Html.Translate("Total Total Quantity in Unit: ")@item.Sum.Format("{0:N3}")</span></text>).Format("{0:N3}").HtmlAttributes(new { align = "right" })
            .GroupFooterTemplate(@<text><span style="float: right"> @Html.Translate("Total: ")@item.Sum.Format("{0:N3}")</span></text>).Format("{0:N3}");


            col.Bound(it => it.QuantityInMT).HtmlAttributes(new { align = "right" }).Title(@Html.Translate("Total Quantity in MT")).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Aggregate(ag => ag.Sum())
                .FooterTemplate(@<text><span style="float: right">@Html.Translate("Total Total Quantity in MT: ")@item.Sum.Format("{0:N3}")</span></text>).Format("{0:N3}").HtmlAttributes(new { align = "right" })
            .GroupFooterTemplate(@<text><span style="float: right"> @Html.Translate("Total: ")@item.Sum.Format("{0:N3}")</span></text>).Format("{0:N3}");


        })
            .Groupable(settings => settings.Groups(groups => groups.Add(o => o.Program)).Visible(false))
            )
</div>


