@using Cats.Models.Hub
@using Cats.Web.Hub.Helpers
@using Telerik.Web.Mvc.UI
@{
    var usr = @Html.GetCurrentUser();
    var mdl = new CurrentUserModel(usr);
}
<div align="right">
    @{
       string title = ""; 
   
        if(ViewBag.Title != null)
        {
            title = ViewBag.Title;
        }
    }
</div>
<h2>
    @Html.Translate(title) : @Html.Label("Owner", mdl.Owner) - @Html.Label("WH", mdl.Name) @Html.Translate(" Hub ")
    @{
        if(usr.UserAllowedHubs.Count > 1)
        {
            @Html.HubSelectionLink(Html.Translate("Change Warehouse"), Url.Action("HubList", "CurrentHub"), Html.Translate("Change Hub"))
        }
        
   }
   
    
    
</h2>


