@model IEnumerable<Cats.Models.Hubs.ViewModels.FDPViewModel>
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Final Destination Points");
}

<h2>
    @Html.Translate("Manage Final Distribution Points")
</h2>
    
<p>
    @Html.Translate("Please use this form to manage final distribution points. You could use the Region, Zone and Woreda Filters to filter out the destination points.")
</p>
<table class="borderless">
    <tr>
        <td>
            @Html.Translate("Region")
        </td>
        <td>
            @(Html.Telerik().ComboBox().Name("SelectedRegionId")
                            .BindTo(new SelectList((IEnumerable < Cats.Models.Hubs.AdminUnit >)ViewBag.Regions,"AdminUnitID","Name"))
                    .CascadeTo("SelectedZoneId")
                    .AutoFill(true)
                    .OpenOnFocus(true)
                    .ClientEvents(ev => ev.OnChange("onFDPRegionChange"))
            )
        </td>
        <td>
            @Html.Translate("Zone")
        </td>
        <td>
            @(Html.Telerik().ComboBox().Name("SelectedZoneId").
                DataBinding(bind => bind.Ajax().Select("GetZones", "AdminUnit"))
                .CascadeTo("SelectedWoredaId")
                .AutoFill(true)
                .OpenOnFocus(true)
                .ClientEvents(ev => ev.OnChange("onFDPZoneChange"))
                )
        </td>
        <td>
            Woreda
        </td>
        <td>
            @(Html.Telerik().ComboBox().Name("SelectedWoredaId").
                DataBinding(bind => bind.Ajax().Select("GetWoredas", "AdminUnit"))
                .AutoFill(true)
                .OpenOnFocus(true)
                .ClientEvents(ev => ev.OnChange("onFDPWoredaChange"))
                )
        </td>
        <td>
            <div class="hidden-command" style="display:none">
               @Html.DialogFormLink(Html.Translate("Create New"), Url.Action("Create"), Html.Translate("Create New FDP"), "fdplist", null)
                @*@Html.ActionLink("Create New", "Create")*@
            </div>
        </td>
    </tr>
</table>
 
     <div id="list">

         @(Html.Telerik().Grid(Model).Name("fdpGrid")
            .Columns(col =>
                        {
                            col.Template
                                (
                                    @<text>
                                        @Html.DialogFormLink(item.Name, Url.Action("Edit", "FDP", new { id = item.FDPID }), Html.Translate("Edit FDP"), "fdplist", Url.Action("Edit", "FDP"))
                                    </text>
                                ).ClientTemplate(
                                    "<a href='/FDP/Edit/<#= FDPID #>'" +
                                    "data-update-url='/FDP/IndexPartial'" +
                                    "data-update-target-id='fdplist' data-dialog-title='Edit FDP'" +
                                    "class='dialogLink'>" +
                                    "<#= Name #>" +
                                    "</a>"
                                ).Title(Html.Translate("FDP Name"));
                            col.Bound(model => model.NameAM).Title(Html.Translate("FDP Name (Amharic)"));
                            //col.Bound(model => model.AdminUnit.AdminUnit2.AdminUnit2.Name).Title(Html.Translate("Region"));
                            //col.Bound(model => model.AdminUnit.AdminUnit2.Name).Title("Zone");
                            //col.Bound(model => model.AdminUnit.Name).Title("Woreda");
                            col.Template
                                (
                                    @<text>
                                        @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id = item.FDPID })
                                    </text>
                                ).ClientTemplate(
                                    "<a href='/FDP/Delete/<#= FDPID #>'>" +
                                    "Delete" +
                                    "</a>"
                                ).Title("Actions");
                        }).DataBinding(bind => bind.Ajax()
                        .Select("GetFDPGrid", "FDP", new {@regionId	= "<#= RegionID>" ,@zoneId = "<#= ZoneID>" ,@woredaId = "<#= WoredaID #>" })
            ).Footer(true).Pageable(p=>p.PageSize(20).Enabled(true)).Filterable(f=>f.Enabled(true)).Sortable(s=>s.Enabled(true).SortMode(GridSortMode.MultipleColumn )))

     </div>



