@model Cats.Models.Transporter

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Transporter</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Region)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubCity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubCity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Woreda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Woreda)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kebele)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kebele)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HouseNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HouseNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelephoneNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelephoneNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobileNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobileNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ownership)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ownership)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LiftCapacityFrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LiftCapacityFrom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LiftCapacityTo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LiftCapacityTo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LiftCapacityTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LiftCapacityTotal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Capital)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capital)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeCountMale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeCountMale)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeCountFemale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeCountFemale)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnerMobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerMobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManagerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManagerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManagerMobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManagerMobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExperienceFrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExperienceFrom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExperienceTo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExperienceTo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
