@model List<Cats.Models.Hub.Contact>
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Index");
}

<h2>@Html.Translate("Contacts for ") @ViewBag.FDPName (FDP)</h2>

<p>
    @Html.ActionLink(Html.Translate("Create New"), "Create", new { fdpId = Convert.ToInt32(ViewBag.FDPID) })
</p>
<table width="60%">
    <tr>
        <th>
            @Html.Translate("First Name")
        </th>
        <th>
            @Html.Translate("Last Name")
        </th>
        <th>
            @Html.Translate("Phone Number")
        </th>
        <th>
            @Html.Translate("FDP")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FDP.Name)
        </td>
        <td>
            @Html.ActionLink(Html.Translate("Edit"), "Edit", new { id = item.ContactID }) |
            @Html.ActionLink(Html.Translate("Details"), "Details", new { id = item.ContactID }) |
            @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id = item.ContactID })
        </td>
    </tr>
}

</table>
