@model IEnumerable<Cats.Models.Hubs.ViewModels.DispatchAllocationViewModelDto>
           @using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Dispatch Allocations");
    var mesure = @Html.GetCurrentUser().PreferedWeightMeasurment;

    string quanityColumnHeader = "MT";
    if (mesure.ToUpperInvariant() == "MT")
    {
        quanityColumnHeader = "MT";
    }
    else
    {
        quanityColumnHeader = "Qtl";
    }
}
@{
            Html.Telerik().Window()
                    .Name("DispatchAllocationDialog")
                    .Title(Html.Translate("Edit/New Dispatch Allocation"))
                    .Content(@<text>
                                  <div style="padding: 10px;" id="create-edit-form"></div>
                                </text>)
                    .Width(800)
                    .Height(350)
                    .Draggable(true)
                    .Modal(true)
                    .Visible(false)
                    .Render();
}
@(Html.Telerik().Grid<Cats.Models.Hubs.ViewModels.DispatchAllocationViewModelDto>()
.Name("allocList")
.DataKeys(keys => keys.Add(x => x.DispatchAllocationID))
.Columns(col =>
    {
          col.Template(
                @<text></text>).ClientTemplate("<input onchange='totalChanged(this)' name='checkedRecords' class='checkedRecords' type='checkbox' data-ammount='<#= Amount #>' value='<#= DispatchAllocationID #>' title='checkedRecords'"
                        + "<#= ((ShippingInstructionID != null ) && (ProjectCodeID  != null)) ?\" disabled='disabled' style='display: none;' \" : \"\" #>  />"       
                        //+ "<# if(ShippingInstructionID.HasValue && ProjectCodeID != null )"
                        //+"{#>"
                        //+"disabled='disabled' style='display: none;'"
                        //+"<#}#> />"

                   ).Title("").Width(36).HtmlAttributes(new { style = "text-align:center" });
                   // col.Bound(modelItem => modelItem.BidRefNo);
                    
          col.Bound(m=>m.BidRefNo)
                             .ClientTemplate("<a href='#' onclick='return EditFDPAllocation(\"<#= DispatchAllocationID #>\")'> <#= BidRefNo #> </a>"
                            ).Title("BidRef No.");
    
          col.Bound(modelItem => modelItem. CommodityName).Title(Html.Translate("Commodity"));
                    //col.Bound(modelItem => modelItem.Amount).Format("{0:#,###.##0}").Title(Html.Translate("Amount In " + quanityColumnHeader)).HtmlAttributes(new { align = "right" });
          col.Bound(modelItem => modelItem.AmountInUnit).Format("{0:#,###.##0}").Title(Html.Translate("Amount")).HtmlAttributes(new { align = "right" });
                    //col.Bound(modelItem => modelItem.Hub.Name).Title("Hub Name");
                    //col.Bound(modelItem => modelItem.FDP.AdminUnit.AdminUnit2.AdminUnit2.Name).Title("Region");
                    //col.Bound(modelItem => modelItem.FDP.AdminUnit.AdminUnit2.Name).Title("Zone");
          col.Bound(modelItem => modelItem.Woreda).Title(Html.Translate("Woreda"));
          col.Bound(modelItem => modelItem.FDPName).Title(Html.Translate("FDP Name"));
          col.Bound(modelItem => modelItem.TransporterName).Title(Html.Translate("Transporter"));
                    //col.Bound(modelItem => (modelItem.ShippingInstructionID.HasValue)?modelItem.ShippingInstruction.Value:"").Title("SI");
        col.Bound(m => m.RequisitionNo).Hidden(true);

    })
                .DataBinding(dataBinding => dataBinding.Ajax().Select("GetAllocationsGrid", "DispatchAllocation", new { RquisitionNo = @ViewBag.req, CommodityID = @ViewBag.Com, Uncommited = @ViewBag.Uncommited }))
        .Pageable().Filterable()
      )
      
   
<script type="text/javascript">

     function EditFDPAllocation(item) {
         $('#DispatchAllocationDialog').data('tWindow').center().open();
         $('#DispatchAllocationDialog').data('tWindow').title('@Html.Translate("Edit/New Dispatch Allocation To FDP")');
         //$('#create-link').hide();
         var id = item;
         var url = '@Url.Action("Edit", "DispatchAllocation")';
         url = url + '?id=' + id;
         $('#create-edit-form').load(url);
         $('#create-edit-form').show();
     }

     function cancel() {
         $('#DispatchAllocationDialog').data('tWindow').close();
         $('#create-edit-form').html("");
     }
</script>   