@using Cats.Web.Hub.Helpers
@model Cats.Models.Hubs.OtherDispatchAllocation

@{
    ViewBag.Title = Html.Translate("Close Allocation");
}

<h3>@Html.Translate("Are you sure you want to Close this Dispatch Allocation?")</h3>


    <div class="display-label">Hub</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hub.HubNameWithOwner)
    </div>
    
    <div class="display-label">Reference Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReferenceNumber)
    </div>

    <div class="display-label">Agreement Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgreementDate)
    </div>

    <div class="display-label">Commodity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Commodity.Name)
    </div>
    
    <div class="display-label">Allocated Amount In Mt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuantityInMT)
    </div>

    <div class="display-label">Remaining Quantity In Mt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RemainingQuantityInMt)
    </div>

    <div class="display-label">Program</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Program.Name)
    </div>


    <div class="display-label">ShippingInstruction</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingInstruction.Value)
    </div>

    <div class="display-label">ProjectCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectCode.Value)
    </div>


@using (Html.BeginForm("OtherClose", "DispatchAllocation", FormMethod.Post, new { @id = "frm_edit_inline" }))
    {
    <br />
    <p style="clear: both">
         @Html.HiddenFor(model => model.OtherDispatchAllocationID)
        <input type="submit" style="width: 80px; height: 25px; horiz-align: center" class="t-button" value="@Html.Translate("Close")"
            onclick="return CloseDispatchAllocationForm(this)" />
        <input type="reset" style="width: 80px; height: 25px; horiz-align: center" class="t-button t-close" 
        value="@Html.Translate("Cancel")"
            onclick="cancel()" />
    </p>
    <script type="text/javascript">



    </script>
    
@*    <p>
        <input type="submit" value="Close" /> |
        @Html.ActionLink("Go Back", "Index","Receive")
    </p>*@
}
