@model Cats.Models.PaymentRequest

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar
{
  
}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_psnp"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "RegionalPSNPPlan")" title="save"></a>
}

<div class="form-horizontal">
    @if (@ViewBag.ErrorMessage1 != null)
    {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @ViewBag.ErrorMessage1
            <br />
            @ViewBag.ErrorMessage2

        </div>
    }

    @using (Html.BeginForm("Create", "PaymentRequest", FormMethod.Post, new { id = "frm_create_psnp" }))
    {
    
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Create New</legend>


            <div class="control-group">
                @Html.LabelFor(model => model.ReferenceNo, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.ReferenceNo, new { @class = "input-xlarge", @placeholder = "Reference No" })
                    @Html.ValidationMessageFor(model => model.ReferenceNo)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.TransportOrderID, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownList("TransportOrderID")
                    @Html.ValidationMessageFor(model => model.TransportOrderID)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.RequestedAmount, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.RequestedAmount, new { @class = "input-xlarge", @placeholder = "Requested Amount" })
                    @Html.ValidationMessageFor(model => model.RequestedAmount)
                </div>
            </div>
        </fieldset>
    }
</div>
