@using Cats.Areas.Procurement.Models
@using Cats.Helpers
@using Cats.Services.Security
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@{
    ViewBag.Title = "ShowAllAgreements";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Show All Agreements of a Transporter</h3>

<div><span style="font-weight: bold; font-size: 14px">Transporter:</span> @ViewBag.TransporterName</div>
@(Html.Kendo().Grid<AgreementVersionViewModel>()
    .Name("Grid")
    .Columns(columns =>
        {
        columns.Bound(p => p.BidNo).Title("Bid Number");
        columns.Bound(p => p.IssueDate).Title("Issue Date").HeaderHtmlAttributes(new { @class = "cats-date-pref-grid" });
        columns.Bound(p => p.Current).Title("Current");
        columns.Bound(p => p.StatusName).Title("Status");
        columns.Bound(p => p.TransporterID).Title("Actions")
            .ClientTemplate("<a href='" + Url.Action("ViewAgreementTemplate", "BidWinner", new { transportAgreementVersionID = "#=TransportAgreementVersionID#" }) + " '>View Agreement</a>  ");

        columns.Command(p => p.Custom("Approve").Click("onApprove")).Width(200);
        //columns.Command(command => command.Custom("SignContract").Click("OnSignContract"));
    })
    //.Editable(editable => editable.Mode(GridEditMode.InCell))
    .Scrollable()
    .Sortable()
    .Filterable()
    .Events(e => e.DataBound("onDataBound"))
    .DataSource(dataSource => dataSource
            .Ajax()
            //.PageSize(8)
            //.Model(model => model.Id(p => p.WoredaHubID))
            .Read(read => read.Action("ShowAllAgreements_read", "BidWinner", new { transporterID = @ViewBag.TransporterID }))
     )
      )

<script>
    function onApprove(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "@Url.Action("ApproveAgreement","BidWinner")" + "/" + dataItem.TransportAgreementVersionID + "?transporterID=" + @ViewBag.TransporterID;
    }
    function onDataBound(e) {
        var grid = $("#Grid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        //alert(gridData.length);
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            //alert(gridData[i].StatusName);
            var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
            if (gridData[i].StatusName == "Approved" || gridData[i].Current == "False") {
                //alert();
                var approveButton1 = $(currentRow).find(".k-grid-Approve");
                approveButton1.hide();
            }
        }
    }
</script>
