@model Cats.Models.Hubs.ViewModels.StackEventViewModel
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Stack Events");
   
}

<h2>@Html.Translate("Basic Stack Events")</h2>
<p>
    @Html.Translate("Please use this form to record and view basic stack events.") @Html.Translate("Basic stack events are events like Fumigation, Quality Assesment etc.")
</p>
<table class="borderless fromTable" style="vertical-align:middle">
    <tbody>
                <tr>
                    <td style="width:150px;">@Html.LabelFor(model => model.Stores)</td>
                    <td>
                        @(Html.Telerik().ComboBoxFor(model => model.Stores)
                                    .Name("StoreId")
                                    .BindTo(new SelectList(Model.Stores, "StoreId", "StoreName"))
                                    .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                                    .HighlightFirstMatch(true)
                                    .CascadeTo("StackId")
                        )
                    </td>
                </tr>
                <tr>
                    <td style="width:150px;" >@Html.LabelFor(model => model.Stacks)</td>
                    <td>
                        @(Html.Telerik().ComboBoxFor(model => model.Stacks)
                                    .Name("StackId")
                                    .BindTo(new SelectList(Model.Stacks))
                                    .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                                    .HighlightFirstMatch(true)
                                    .DataBinding(binding => binding.Ajax().Select("GetStacksFromStore", "StackEvent"))
                                    .ClientEvents(ev => ev.OnChange("onStackChange"))
                        )
                    </td>
                </tr>
        <tr>
            <td colspan="2">@Html.Translate("Please select store and stack above to filter the events for the specific stack.")</td>
        </tr>
            </tbody>
</table>


<div style="margin-top:50px;">
@{ Html.Telerik().TabStrip()
            .Name("StackEvent")
            .Items(parent =>
            {
                parent.Add()
                    .Text("Event Log")
                    .LoadContentFrom("EventLog", "StackEvent")
                    .Selected(true);
              @*  parent.Add()
                    .Text("Stack Card")
                    .Content(@<text>loading....</text>);*@
            })
            .Render();
 }

 </div>


 <script type="text/javascript">
     function onStackChange(e) {
//         var tabStrip = $("#StackEvent").data("tTabStrip");
//         var item = $("li", tabStrip.element)[$("#ItemIndex").val()];
//         alert("Dude");
         //         $("#EventLogContent").load("/StackEvent/EventLog/", {});
         $("#EventGrid").data("tGrid").rebind();
         $("#addNewEvent").attr('disabled', false); 
     }


     function dataBinding(args) {
         if ($("#StackId").data("tComboBox") != null) {
             var StackId = $("#StackId").data("tComboBox").value();
             var StoreId = $("#StoreId").data("tComboBox").value();
             args.data = $.extend(args.data, { StackId: StackId, StoreId: StoreId });
         }
     }
 </script>

 