@model Cats.Models.Hubs.DispatchAllocation
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Selection Header");
}

@if (Model != null)
    {
    var region = Model.FDP.AdminUnit.AdminUnit2.AdminUnit2.Name;
    var zone = Model.FDP.AdminUnit.AdminUnit2.Name;
    var commodity = Model.Commodity.Name;
    var bid = Model.BidRefNo;
    var req = Model.RequisitionNo;
      <text>
          <table class="borderless" >
              <tr>
                  <td style="width: 70px">@Html.Translate("Requisition")</td>
                  <td style="width: 100px"><b>@req</b></td>
                  <td style="width: 70px">@Html.Translate("Region")</td>
                  <td style="width: 100px"><b>@region</b></td>
                  <td style="width: 70px">@Html.Translate("Zone")</td>
                  <td style="width: 100px"><b>@zone</b></td>
                  <td style="width: 70px">@Html.Translate("Commodity")</td>
                  <td style="width: 100px"><b>@commodity</b></td>
              </tr>
          </table>
      </text>
  }
  