@model IEnumerable<Cats.Models.Hubs.Unit>
@using Cats.Web.Hub.Helpers

@{
    ViewBag.Title = Html.Translate("Units");
}

<h2>@Html.Translate("List Of Units")</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<p>
    @Html.DialogFormLink(Html.Translate("Create New"), Url.Action("Create"),Html.Translate("Create New Unit"),"list",Url.Action("Update"))
</p>
<div id="list">
<table width="60%">
    <tr>
        <th style="width: 20px">
            
        </th>
        <th>
            @Html.Translate("Name")
        </th>
        <th></th>
    </tr>
    @{
        var i = 1;
    }
@foreach (var item in Model)
{
    <tr>
    <td>@i</td>
         <td>
            @Html.DialogFormLink(@Html.DisplayFor(modelItem => item.Name).ToString(), Url.Action("Edit/" + item.UnitID), Html.Translate("Edit Unit"), "list", Url.Action("Update"))        
        </td>
        <td>
            @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id = item.UnitID })
        </td>
    </tr>
    i++;
}

</table>
</div>