@model Cats.Models.Hubs.Transporter
@using Cats.Web.Hub.Helpers
<div>
@using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
   
        <div class="editor-label">
            @Html.Translate("Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.NameAM, Html.Translate("Name (Amharic)"))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NameAM)
            @Html.ValidationMessageFor(model => model.NameAM)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.LongName, Html.Translate("Long Name"))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LongName)
            @Html.ValidationMessageFor(model => model.LongName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BiddingSystemID, Html.Translate("Bidding System ID"))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BiddingSystemID)
            @Html.ValidationMessageFor(model => model.BiddingSystemID)
        </div>

}
  
</div>