@model Cats.Models.RegionalPSNPPlanDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RegionalPSNPPlanDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegionalPSNPPlan.RegionalPSNPPlanID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegionalPSNPPlan.RegionalPSNPPlanID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlanedFDP.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlanedFDP.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BeneficiaryCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BeneficiaryCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FoodRatio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FoodRatio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CashRatio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CashRatio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item3Ratio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item3Ratio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item4Ratio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item4Ratio)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RegionalPSNPPlanDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
