@using Cats.Helpers



@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MainLayoutWide.cshtml";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Logistics Stock Status");
    ViewBag.PageTitleDescription = "";
}

<div ng-app>
    

    <div ng-controller="StockController">
        <div class="portlet light bordered bg-inverse">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="fa fa-cubes font-green-sharp"></i>
                    <span class="caption-subject bold uppercase"> @Html.Translate("True and False GRN Stock Status")</span>
                    <span class="caption-helper">  </span>
                </div>
                <div class="tools">
                    <a href="#" class="collapse" data-original-title="" title=""></a>
                    <a href="javascript:;" class="remove" data-original-title="" title=""></a>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="well form-horizontal ">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>@Html.Translate("Select As of Date")</label>
                                    <input id="txtDate2" class="cats-datepicker2  form-control" type="text" placeholder="As of date">
                                    @*<input id="txtDate1" class="cats-datepicker2  input-medium" type="text"  placeholder="As of date">*@
                                    @*<input ng-model="reqParam.date" class="cats-datepicker2  input-medium" type="text">*@
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-4">
                                <div class="form-group">
                                    <label class="category-label" for="category">@Html.Translate("Select a hub")</label>
                                    <select ng-model="requestParam.hub" class="form-control" ng-cloak>
                                        <option ng-repeat="hb in HubsCollection" value="{{hb.HubId}}">{{hb.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-2">
                                <div class="form-group">
                                    <label class="category-label" for="category">@Html.Translate("Select a Program")</label>
                                    <select ng-model="requestParam.program" class="form-control" ng-cloak>
                                        <option ng-repeat="pr in ProgramsCollection" value="{{pr.ProgramId}}">{{pr.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-1">
                                <div class="" style="margin: 25px 0 0 0;">
                                    <button type="button" class="btn btn-default" ng-click="getStockStatus()">@Html.Translate("Get")</button>
                                </div>
                            </div>

                   
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead style="background-color: #eee">
                            <tr>
                                <th style="text-align: center">@Html.Translate("SI No")</th>
                                <th style="text-align: center" class="cats-unit-pref">@Html.Translate("False stock") </th>
                                <th style="text-align: center" class="cats-unit-pref">@Html.Translate("True stock")</th>
                                <th style="text-align: center" class="cats-unit-pref">@Html.Translate("Balance")</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sd in stockData" ng-cloak>
                                <td>{{sd.SINo}}</td>
                                <td style="text-align: right">{{sd.FalseAmount | number:2}}</td>
                                <td style="text-align: right">{{sd.TrueAmount | number:2}}</td>
                                <td style="text-align: right">{{sd.Balance | number:2}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bold; background-color: #eee;" ng-cloak>
                                <td style="text-align: right">@Html.Translate("Total")</td>
                                <td style="text-align: right">{{FalseAmount | number:2}}</td>
                                <td style="text-align: right">{{TrueAmount | number:2}}</td>
                                <td style="text-align: right">{{BalanceAmount | number:2}}</td>
                            </tr>
                        </tfoot>

                    </table>
                </div>

              
            </div>
        </div>
    </div>
</div>



<script>
    function StockController($scope, $http) {
        $scope.requestParam = { hub: 1, program: 1, date: new Date() };
        $scope.stockData = [];
        $scope.HubsCollection = [];
        $scope.ProgramsCollection = [];

        $scope.FalseAmount = 0;
        $scope.TrueAmount = 0;
        $scope.BalanceAmount = 0;

      
        var onSuccess = function (data) {

            $scope.stockData = data;

           

            var falseA = 0;
            var trueA = 0;
            var balance = 0;

      
            for (var i = 0; i < $scope.stockData.length; i++) {
                falseA = falseA + $scope.stockData[i].FalseAmount;
                trueA = trueA + $scope.stockData[i].TrueAmount;
                balance = balance + $scope.stockData[i].Balance;
                
            }

           
            $scope.FalseAmount = falseA;
            $scope.TrueAmount = trueA;
            $scope.BalanceAmount = balance;
            
        };

        var onHubGetSuccess = function (data) {
            $scope.HubsCollection = data;
        };

        var onProgramGetSuccess = function (data) {
            $scope.ProgramsCollection = data;
        };

        $scope.getStockStatus = function () {
            //$http.post("/LogisticsStockStatus/GetStockStatus", $scope.requestParam).success(onSuccess);
            $scope.requestParam.date = $("#txtDate2").val();
            $http.post("@Url.Action("FalseAndTrueGRNStockStatus", "LogisticsStockStatus", new { Area = "Logistics" })", $scope.requestParam).success(onSuccess);
        };

        $scope.getHubs = function () {
            //$http.post("/LogisticsStockStatus/GetHubs", null).success(onHubGetSuccess);
            $http.post("@Url.Action("GetHubs", "LogisticsStockStatus", new { Area = "Logistics" })", null).success(onHubGetSuccess);
        };

        $scope.getPrograms = function () {

            // $http.post("/LogisticsStockStatus/GetPrograms", null).success(onProgramGetSuccess);
            $http.post("@Url.Action("GetPrograms", "LogisticsStockStatus", new { Area = "Logistics" })", null).success(onProgramGetSuccess);
        };

        $scope.getStockStatus();
        $scope.getHubs();
        $scope.getPrograms();
    }
</script>




