@using Cats.Areas.Logistics.Models
@using Kendo.Mvc.UI
@using Cats.Helpers
@using Cats.Models.Constant

@model IEnumerable<FreeStockStatusViewModel>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MainLayoutWide.cshtml";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Logistics Stock Status");
    ViewBag.PageTitleDescription = "";
}

<div ng-app>
    <div ng-controller="SummaryController">
        <div class="portlet light bordered bg-inverse">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="fa fa-cubes font-green-sharp"></i>
                    <span class="caption-subject bold uppercase"> @Html.Translate("Stock Status of all hubs")</span>
                    <span class="caption-helper">  </span>
                </div>
                <div class="tools">
                    <a href="#" class="collapse" data-original-title="" title=""></a>
                    <a href="javascript:;" class="remove" data-original-title="" title=""></a>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body">

                <div class="well form-horizontal">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>@Html.Translate("Select As of Date")</label>
                                    <input id="txtDate1" class="cats-datepicker2  form-control" type="text" placeholder="As of date">
                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-3">
                                <div class="form-group">
                                    <div class="toolbar">
                                        <label class="category-label" for="category">@Html.Translate("Select a Program")</label>
                                        <select ng-model="reqParam.program" class="form-control" ng-cloak>
                                            <option ng-repeat="pr in ProgramsCollection" value="{{pr.ProgramId}}">{{pr.Name}}</option>
                                        </select>
                                        @*<select ng-model="selectedProgram" ng-options="p.Name for p in ProgramsCollection">*@
                                    </div>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-3">
                                <div class="" style="margin: 25px 0 0 0;">
                                    <button type="button" class="btn btn-default" ng-click="getSummary()">@Html.Translate("Get")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed ">
                        <thead style="background-color: #eee">
                            <tr>
                                <th style="text-align: center">@Html.Translate("Hub")</th>
                                <th style="text-align: center" class="cats-unit-pref">@Html.Translate("Free Stock") </th>
                                <th style="text-align: center" class="cats-unit-pref">@Html.Translate("Physical Stock")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sd in summaryData" ng-cloak>
                                <td>{{sd.HubName}}</td>
                                <td style="text-align: right">{{sd.TotalFreestock | number:2}}</td>
                                <td style="text-align: right">{{sd.TotalPhysicalStock | number:2}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bold; background-color: #eee" ng-cloak>
                                <td style="text-align: right">Total</td>
                                <td style="text-align: right">{{freeStockSum | number:2}}</td>
                                <td style="text-align: right">{{physicalStockSum | number:2}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div id="containerNA"></div>

                <div>
                    <chart value='{{basiBarGraph}}' type="bar" height="400">

                    </chart>
                </div>

            </div>
        </div>
    </div>

    <div ng-controller="StockController">
        <div class="portlet light bordered bg-inverse">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="fa fa-cubes font-green-sharp"></i>
                    <span class="caption-subject bold uppercase"> @Html.Translate("Free Stock Status")</span>
                    <span class="caption-helper">  </span>
                </div>
                <div class="tools">
                    <a href="#" class="collapse" data-original-title="" title=""></a>
                    <a href="javascript:;" class="remove" data-original-title="" title=""></a>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="well form-horizontal ">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>@Html.Translate("Select As of Date")</label>
                                    <input id="txtDate2" class="cats-datepicker2  form-control" type="text" placeholder="As of date">
                                    @*<input id="txtDate1" class="cats-datepicker2  input-medium" type="text"  placeholder="As of date">*@
                                    @*<input ng-model="reqParam.date" class="cats-datepicker2  input-medium" type="text">*@
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-4">
                                <div class="form-group">
                                    <label class="category-label" for="category">@Html.Translate("Select a hub")</label>
                                    <select ng-model="requestParam.hub" class="form-control" ng-cloak>
                                        <option ng-repeat="hb in HubsCollection" value="{{hb.HubId}}">{{hb.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-2">
                                <div class="form-group">
                                    <label class="category-label" for="category">@Html.Translate("Select a Program")</label>
                                    <select ng-model="requestParam.program" class="form-control" ng-cloak>
                                        <option ng-repeat="pr in ProgramsCollection" value="{{pr.ProgramId}}">{{pr.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-1">
                                <div class="" style="margin: 25px 0 0 0;">
                                    <button type="button" class="btn btn-default" ng-click="getStockStatus()">@Html.Translate("Get")</button>
                                </div>
                            </div>

                            @*<div class="span3" style="vertical-align: middle">
                    <button type="button" class="btn btn-default btn-lg" onclick="show()">
                        <span class="glyphicon glyphicon-star"></span> Show
                    </button>
                   @*<button type="button" class="btn btn-default btn-lg" ng-click="getStockStatus()">Get</button>
                </div>*@
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead style="background-color: #eee">
                            <tr>
                                <th style="text-align: center">@Html.Translate("Commodity")</th>
                                <th style="text-align: center" class="cats-unit-pref">@Html.Translate("Free Stock") </th>
                                <th style="text-align: center" class="cats-unit-pref">@Html.Translate("Physical Stock")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sd in stockData" ng-cloak>
                                <td>{{sd.CommodityName}}</td>
                                <td style="text-align: right">{{sd.FreeStock | number:2}}</td>
                                <td style="text-align: right">{{sd.PhysicalStock | number:2}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bold; background-color: #eee;" ng-cloak>
                                <td style="text-align: right">@Html.Translate("Total")</td>
                                <td style="text-align: right">{{freeStockSum | number:2}}</td>
                                <td style="text-align: right">{{physicalSum | number:2}}</td>
                            </tr>
                        </tfoot>

                    </table>
                </div>

                @*<div class="chart-wrapper" style="width: 35%; float: right">
                        <div class="chart-inner">
                            <div id="pieChart-main" style="width: 100%; height: 100%;">
                            </div>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>
</div>

<script>
    function SummaryController($scope, $http) {

        $scope.reqParam = { program: 1, date: new Date() };
        $scope.requestRows = [];

        //$scope.programsCollection = [];
        //$scope.freeStockSum = 0;
        //$scope.physicalStockSum = 0;

        var onSuccess = function (data) {
            $scope.summaryData = data;
            var f = 0;
            var p = 0;
            for (var i = 0; i < $scope.summaryData.length; i++) {
                f = f + $scope.summaryData[i].TotalFreestock;
                p = p + $scope.summaryData[i].TotalPhysicalStock;
            }
            $scope.freeStockSum = f;
            $scope.physicalStockSum = p;
        };

        var onProgramGetSuccess = function (data) {
            $scope.ProgramsCollection = data;
        };

        $scope.getSummary = function () {
            //$http.post("/LogisticsStockStatus/GetStockStatusSummaryP", $scope.reqParam).success(onSuccess);
            $scope.reqParam.date = $("#txtDate1").val();
            $http.post("@Url.Action("GetStockStatusSummaryP", "LogisticsStockStatus", new { Area = "Logistics" })", $scope.reqParam).success(onSuccess);
        };

        $scope.getPrograms = function () {

            //$http.post("/LogisticsStockStatus/GetPrograms", null).success(onProgramGetSuccess);
            $http.post("@Url.Action("GetPrograms", "LogisticsStockStatus", new { Area = "Logistics" })", null).success(onProgramGetSuccess);
        };

        $scope.getSummary();
        $scope.getPrograms();
    }
</script>

<script>
    function StockController($scope, $http) {
        $scope.requestParam = { hub: 1, program: 1, date: new Date() };
        $scope.stockData = [];
        $scope.HubsCollection = [];
        $scope.ProgramsCollection = [];

        $scope.freeStockSum = 0;
        $scope.physicalSum = 0;

        var changeDate = function (data) {

        };

        var onSuccess = function (data) {

            $scope.stockData = data;

            //alert("s");
            //alert($scope.StockData[0].FreeStock);

            var f = 0;
            var p = 0;

            //var s = "h"
            //alert(s);

            for (var i = 0; i < $scope.stockData.length; i++) {
                f = f + $scope.stockData[i].FreeStock;
                p = p + $scope.stockData[i].PhysicalStock;
            }

            @*var s;
            @{
                var user = (UserIdentity)HttpContext.Current.User.Identity;
                currentUnit = user.Profile.PreferedWeightMeasurment;
                s = user;
            }
            $scope.preferedUnit = s;*@
            $scope.freeStockSum = f;
            $scope.physicalSum = p;
        };

        var onHubGetSuccess = function (data) {
            $scope.HubsCollection = data;
        };

        var onProgramGetSuccess = function (data) {
            $scope.ProgramsCollection = data;
        };

        $scope.getStockStatus = function () {
            //$http.post("/LogisticsStockStatus/GetStockStatus", $scope.requestParam).success(onSuccess);
            $scope.requestParam.date = $("#txtDate2").val();
            $http.post("@Url.Action("GetStockStatusD", "LogisticsStockStatus", new { Area = "Logistics" })", $scope.requestParam).success(onSuccess);
        };

        $scope.getHubs = function () {
            //$http.post("/LogisticsStockStatus/GetHubs", null).success(onHubGetSuccess);
            $http.post("@Url.Action("GetHubs", "LogisticsStockStatus", new { Area = "Logistics" })", null).success(onHubGetSuccess);
        };

        $scope.getPrograms = function () {

            // $http.post("/LogisticsStockStatus/GetPrograms", null).success(onProgramGetSuccess);
            $http.post("@Url.Action("GetPrograms", "LogisticsStockStatus", new { Area = "Logistics" })", null).success(onProgramGetSuccess);
        };

        $scope.getStockStatus();
        $scope.getHubs();
        $scope.getPrograms();
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {
        //var CurrentDate = new Date();
        //CurrentDate.getFullYear();
        drawBar('2013');

        $("#toolbar_button_print").click(function (e) {
            e.preventDefault();
            var url = '@Url.Action("PrintSummaryFreePhysicalStock", "LogisticsStockStatus")';

            window.open(url, "_blank");

        });
        $("#toolbar_button_export").click(function (e) {
            e.preventDefault();
            var url = '@Url.Action("ExportSummaryFreePhysicalStock", "LogisticsStockStatus")';

            window.open(url, "_blank");

        });
    });

    function drawBar(year) {

        $.getJSON('@Url.Action("BarNeedAssessmentbY", "Dashboard")' + "?year=" + year, {},
            function (data) {
                var json = data;

                var jsonRegions = [];
                var jsonBelg = [];
                var jsonMeher = [];

                for (var i in json) {
                    jsonRegions.push(json[i].RegionName);
                    jsonBelg.push(json[i].Belg_Beneficiaries);
                    jsonMeher.push(json[i].Meher_Beneficiaries);
                }

                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'containerNA',
                        type: 'column',
                    },
                    title: {
                        text: 'Total Beneficiaries'
                    },

                    xAxis: {
                        categories: jsonRegions
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Beneficiaries'
                        },
                    },

                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table><br/>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    exporting: false,
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0

                        }
                    },
                    series: [
                            {
                                name: 'Belg',
                                data: jsonBelg
                            },
                            {
                                name: 'Meher',
                                data: jsonMeher
                            }]
                });
            });
        //end of function
    }
    //    function refresh() {
    //    drawBar(this.value());
    //}
</script>


