@model IList<Cats.Models.RequisitionViewModel>

@{
    ViewBag.Title = "ApprovedRequesitions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
   
}

<fieldset>
    <legend>
        Approved Requesitions
    </legend>
</fieldset>



<script>

  
        $(document).on("click", ".alert", function(e) {
        bootbox.alert("Hello world!", function() {
        console.log("Alert Callback");
    });
    });


    $(document).ready(function() {
        $("#kGrid").kendoGrid({
            pageable: true,
            sortable: true
                
            
        });
        
    });
</script>
@using (Html.BeginForm("hubAllocation","HubAllocation",FormMethod.Post,Model))
{
    <div  class="k-content">
        <table  id="kGrid">
            
            <thead>
                <tr>
                    
                    <th>
                        @Html.Label("Select Request")
                    </th>
                    <th>
                        @Html.Label("Commodity")
                    </th>
                    <th>
                        @Html.Label("Region")
                    </th>
                    <th>
                        @Html.Label("Zone")
                    </th>
       
                    <th>
                        @Html.Label("Requisition No")
                    </th>
                   
       
                    <th>
                        @Html.Label("Amount")
                    </th>
                    <th>
                        @Html.Label("Beneficiaries")
                    </th>
                    <th>
                         @Html.Label("Requisition ID")
                    </th>
        
                </tr>
            </thead>
            @for(int i = 0;i < Model.Count;i++)

            {
                <tbody>
                    <tr>
                        <td>
                            <input type='checkbox' " +  ((item.Result == true) ? "checked" : "") + "  name="IsChecked" id="chkApprovedRequests" value="@i"/>
            
                        </td> 
                        <td>
                            @Html.DisplayFor(m=>m[i].Commodity)
                            @Html.HiddenFor(m=>m[i].Commodity)
            
                        </td>
        
                        <td>
                            @Html.DisplayFor(m=>m[i].Region)
                            @Html.HiddenFor(m=>m[i].Region)
            
                        </td>
        
                        <td>
                            @Html.DisplayFor(m=>m[i].Zone)
                            @Html.HiddenFor(m=>m[i].Zone)
            
                        </td>
        
                        <td >
           
                            @Html.DisplayFor(m=>m[i].RequisitionNo)
                            @Html.HiddenFor(m=>m[i].RequisitionNo)
            
                        </td>
        
                       
           
                        <td>
                            @Html.DisplayFor(m=>m[i].Amount)
                            @Html.HiddenFor(m=>m[i].Amount)
            
                        </td>
                        <td>
                            @Html.DisplayFor(m=>m[i].BenficiaryNo)
                            @Html.HiddenFor(m=>m[i].BenficiaryNo)
            
                        </td>
                        <td>
                            @Html.DisplayFor(m=>m[i].RequisitionId)
                            @Html.HiddenFor(m=>m[i].RequisitionId)
            
                        </td>
                    </tr>
                </tbody>
    
            }

        </table>
    </div>
    <br />
    <button type="submit" class="btn btn-success">
  <i class="icon-user icon-white"></i> Assign hub
</button>
    
    
        }


