@model IList<Cats.Models.RequisitionViewModel>

@{
    ViewBag.Title = "Allocate Hub";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
     
}
<script>
    $(document).ready(function(){
 
        $('#frmHub').validate(
            {
                rules: {
                    datepicker: {
                        required: true
                    },
                    rNumber: {
                        required: true,
                       
                    }  
                },
                highlight: function(element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                success: function(element) {
                    element
                        .text('OK!').addClass('valid')
                        .closest('.control-group').removeClass('error').addClass('success');
                }
            });
    }); // end document.ready
      </script>

<h2>Allocate Hub</h2>




   @using (Html.BeginForm("InserRequisition", "HubAllocation", FormMethod.Post, new {name = "frmHub", id = "frmHub"}))
   {
       <div>
           <fieldset>
               <legend>Hub Allocation</legend>
           </fieldset>
	    
           <div class="control-group">
               <label class="control-label">Allocation Date</label>
               <div class="controls">
                   <input type="text" class="cats-datepicker" id="datepicker" name="datepicker" >
               </div>
           </div>
           <div class="control-group ">
               <label class="control-label">Allocation Reference No</label>
               <div class="controls">
                   <input type="text" class="input-xlarge" id="rNumber" name="rNumber" placeholder="Reference Number">
               </div>
           </div>
           <div class="control-group">
               <label class="control-label">Hubs</label>
               <div class="controls">
	                
                   @Html.Hidden("Selected")
                   @Html.DropDownList("hub", ViewBag.Hubs as SelectList, "Select a hub", new {id = "HubId"})
	              
               
               </div>
           </div>
    
   
       </div>




       <script>
           $(document).ready(function() {
               $("#kGrid").kendoGrid({
                   pageable: true,
                   sortable: {
                       
                   },
               });
           });
       </script>

       <div  class="k-content">  
           <table id="kGrid">
               <thead>
                   <tr>
        
                       <th>
                           @Html.Label("Commodity")
                       </th>
                       <th>
                           @Html.Label("Region")
                       </th>
                       <th>
                           @Html.Label("Zone")
                       </th>
        
                       <th>
                           @Html.Label("ReqNo")
                       </th>
       
                       <th>
                           @Html.Label("ReqDate")
                       </th>
                       <th>
                           @Html.Label("Amount")
                       </th>
                       <th>
                           @Html.Label("Beneficiaries")
                       </th>
                       <th>
                             @Html.Label("Requisition ID")
                       </th>
        
                   </tr>
    
               </thead>

               @for (var i = 0; i < Model.Count; i++)
               {
                   <tbody>
                       <tr>
       
                           <td>
                               @Html.DisplayFor(m => m[i].Commodity)
                               @Html.HiddenFor(m => m[i].Commodity)
            
                           </td>
        
                           <td>
                               @Html.DisplayFor(m => m[i].Region)
                               @Html.HiddenFor(m => m[i].Region)
            
                           </td>
        
                           <td>
                               @Html.DisplayFor(m => m[i].Zone)
                               @Html.HiddenFor(m => m[i].Zone)
            
                           </td>
        
        
         
        
                           <td>
           
                               @Html.DisplayFor(m => m[i].RequisitionNo)
                               @Html.HiddenFor(m => m[i].RequisitionNo)
            
                           </td>
        
        
                           <td>
                               @Html.DisplayFor(m => m[i].RequisitionDate)
                               @Html.HiddenFor(m => m[i].RequisitionDate)
            
                           </td>
                           <td>
                               @Html.DisplayFor(m => m[i].Amount)
                               @Html.HiddenFor(m => m[i].Amount)
            
                           </td>
                           <td>
                               @Html.DisplayFor(m => m[i].BenficiaryNo)
                               @Html.HiddenFor(m => m[i].BenficiaryNo)
            
                           </td>
                           <td>
                               @Html.DisplayFor(m => m[i].RequisitionId)
                               @Html.HiddenFor(m => m[i].RequisitionId)
            
                           </td>
       
                       </tr>
                   </tbody>
               }

           </table>
    
       </div>
       <br/>
       <div>
           <button type="submit" class="btn btn-success">
               <i class="icon-user icon-white"></i> Assign hub
           </button>
       </div>
   }

    
    
    

<script  >
    (document).ready(function () {
        // storing selected value to hidden field
        $("#Selected").val($("#HubId").val());

        $("#HubId").change(function () {
            $.ajax({
                url: "~/HubAllocation/inserRequisition",
                type: 'POST',
                cache: false,
                data: { Selected: $("# Selected").val() },
                success: function (data) {
                    //
                }
            });
        });
    })
    
   
</script>

