@using Cats.Services.Security
@model IList<Cats.Models.RequisitionViewModel>
@using LanguageHelpers.Localization
@{
    
    Layout = "~/Views/Shared/_MainLayout.cshtml";
     
}

@{
    
    var user = (UserIdentity)System.Web.HttpContext.Current.User.Identity;
    var unitPreference = user.Profile.PreferedWeightMeasurment;
}
  
<script>
    $(document).ready(function(){
 
        $('#frmHub').validate(
            {
                rules: {
                    datepicker: {
                        required: true
                    },
                    rNumber: {
                        required: true,
                       
                    }  
                },
                highlight: function(element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                success: function(element) {
                    element
                        .text('OK!').addClass('valid')
                        .closest('.control-group').removeClass('error').addClass('success');
                }
            });
    }); // end document.ready
      </script>





<h5 align="right"> Metric: @unitPreference </h5>
   @using (Html.BeginForm("InserRequisition", "HubAllocation", FormMethod.Post, new {name = "frmHub", id = "frmHub"}))
   {
       <div>
           <fieldset>
               <legend>Hub Allocation</legend>
           </fieldset>
	    <div class="form-horizontal">
           <div class="control-group">
               <label class="control-label">Allocation Date</label>
               <div class="controls">
                   <input type="text" class="cats-datepicker" id="datepicker" name="datepicker" >
               </div>
           </div>
           <div class="control-group ">
               <label class="control-label">Allocation Reference No</label>
               <div class="controls">
                   <input type="text" class="input-xlarge" id="rNumber" name="rNumber" placeholder="Reference Number">
               </div>
           </div>
           <div class="control-group">
               <label class="control-label">Hubs</label>
               <div class="controls">
	                
                   @Html.Hidden("Selected")
                   @Html.DropDownList("hub", ViewBag.Hubs as SelectList, "Select a hub", new {id = "HubId"})
	              
               
               </div>
           </div>
    
   
       </div>

           </div>


       <script>
           $(document).ready(function() {
               $("#kGrid").kendoGrid({
                   groupable: true,
                   scrollable: true,
                   sortable: true,
                   pageable: true,
                   autoBind: true,
                   dataSource: {
                       pageSize: 10
                   }
               });
           });
       </script>

       <div  class="k-content">  
           <table id="kGrid">
               <thead>
                   <tr>
        
                       <th>
                           @Translator.Translate("Commodity")
                       </th>
                       <th>
                           @Translator.Translate("Region")
                       </th>
                       <th>
                           @Translator.Translate("Zone")
                       </th>
        
                       <th>
                           @Translator.Translate("ReqNo")
                       </th>
       
                       <th>
                           @Translator.Translate("ReqDate")
                       </th>
                       <th>
                           @Translator.Translate("Amount")
                       </th>
                       <th>
                           @Translator.Translate("Beneficiaries")
                       </th>
                       <th>
                             @Translator.Translate("Requisition ID")
                       </th>
        
                   </tr>
    
               </thead>
               <tbody>
               @for (var i = 0; i < Model.Count; i++)
               {
                   
                       <tr>
       
                           <td>
                               @Html.DisplayFor(m => m[i].Commodity)
                               @Html.HiddenFor(m => m[i].Commodity)
            
                           </td>
        
                           <td>
                               @Html.DisplayFor(m => m[i].Region)
                               @Html.HiddenFor(m => m[i].Region)
            
                           </td>
        
                           <td>
                               @Html.DisplayFor(m => m[i].Zone)
                               @Html.HiddenFor(m => m[i].Zone)
            
                           </td>
        
        
         
        
                           <td>
           
                               @Html.DisplayFor(m => m[i].RequisitionNo)
                               @Html.HiddenFor(m => m[i].RequisitionNo)
            
                           </td>
        
        
                           <td>
                               @Html.DisplayFor(m => m[i].RequisitionDate)
                               @Html.HiddenFor(m => m[i].RequisitionDate)
            
                           </td>
                           <td>
                               @Html.DisplayFor(m => m[i].Amount)
                               @Html.HiddenFor(m => m[i].Amount)
            
                           </td>
                           <td>
                               @Html.DisplayFor(m => m[i].BenficiaryNo)
                               @Html.HiddenFor(m => m[i].BenficiaryNo)
            
                           </td>
                           <td>
                               @Html.DisplayFor(m => m[i].RequisitionId)
                               @Html.HiddenFor(m => m[i].RequisitionId)
            
                           </td>
       
                       </tr>
                   
               }
                </tbody>
           </table>
    
       </div>
       <br/>
       <div>
           <button type="submit" class="btn btn-success">
               <i class="icon-user icon-white"></i> Assign hub
           </button>
       </div>
   }

    
    
    

<script  >
    (document).ready(function () {
        // storing selected value to hidden field
        $("#Selected").val($("#HubId").val());

        $("#HubId").change(function () {
            $.ajax({
                url: "~/HubAllocation/inserRequisition",
                type: 'POST',
                cache: false,
                data: { Selected: $("# Selected").val() },
                success: function (data) {
                    //
                }
            });
        });
    })
    
   
</script>

    
<script type="text/javascript">
    function message() {
        var theForm = document.forms['frmHub'];
        if (!theForm) theForm = document.form1;
        var objOne = document.getElementById("HubId");
        if (objOne.selectedIndex == 0) {
            alert("hhh");
            return false;
        }
        else {
            theForm.submit();
        }
    }
    </script>