@model IList<Cats.Models.RequisitionViewModel>

@{
    ViewBag.Title = "Allocate Hub";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
  

<h2>Allocate Hub</h2>

@section LeftBar
{
    @using (Html.BeginForm())
    {
        <div class="control-group">
            <label class="control-label">Year</label>
            <div class="controls">
                @Html.Label("Year")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Month</label>
            <div class="controls">
                @Html.Label("month")
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                
            </div>
        </div> 
    }

}


   @using (Html.BeginForm("InserRequisition", "HubAllocation", FormMethod.Post, Model))
    {
<div>
        <fieldset>
	        <legend>Hub Allocation</legend>
        </fieldset>
	    <div class="well">
	      
        
	        
            <div class="control-group">
	            <label class="control-label">Date</label>
	            <div class="controls">
	                <div class="input-prepend">
	               <span class="add-on"><i class="icon-th"></i></span>
	                    <input type="text" class="cats-datepicker" id="datepicker" name="datepicker"  >
                        @Html.ValidationMessage("datepicker")
	                </div>
	            </div>
	        </div>
	        <div class="control-group ">
	            <label class="control-label">Allocation reference No</label>
	            <div class="controls">
                <div class="input-prepend">
	                 <span class="add-on"><i class="icon-th"></i></span>
	                    <input type="text" class="small" id="rNumber" name="rNumber" placeholder="Reference Number">
                      @Html.ValidationMessage("rNumber")
	                </div>
	            </div>
	        </div>
	        <div class="control-group">
	            <label class="control-label">Hubs</label>
	            <div class="controls">
	                <div class="input-prepend">
                    @Html.Hidden("Selected")
                    @Html.DropDownList("hub",ViewBag.Hubs as SelectList,"Select a hub",new {id="HubId"})
	              
               </div>
            </div>
        </div>
    
    </div>
 </div>


<table class="table table-striped table-bordered">
    <tr>
        
        <td>
            @Html.Label("Commodity")
        </td>
        <td>
            @Html.Label("Region")
        </td>
        <td>
            @Html.Label("Zone")
        </td>
        
        <td>
            @Html.Label("ReqNo")
        </td>
       
        <td>
            @Html.Label("ReqDate")
        </td>
        <td>
            @Html.Label("Amount")
        </td>
        <td>
            @Html.Label("Beneficiaries")
        </td>
       
        
    </tr>
    
  
 @{int index = 0;}
    @for(int i = 0;i < Model.Count;i++)
 {
    <tr>
       
        <td>
            @Html.DisplayFor(m=>m[i].Commodity)
            @Html.HiddenFor(m=>m[i].Commodity)
            
        </td>
        
         <td>
            @Html.DisplayFor(m=>m[i].Region)
            @Html.HiddenFor(m=>m[i].Region)
            
        </td>
        
           <td>
            @Html.DisplayFor(m=>m[i].Zone)
            @Html.HiddenFor(m=>m[i].Zone)
            
        </td>
        
        
         
        
        <td>
           
            @Html.DisplayFor(m=>m[i].RequisitionNo)
            @Html.HiddenFor(m=>m[i].RequisitionNo)
            
        </td>
        
        
            <td>
            @Html.DisplayFor(m=>m[i].RequisitionDate)
            @Html.HiddenFor(m=>m[i].RequisitionDate)
            
        </td>
         <td>
            @Html.DisplayFor(m=>m[i].Amount)
            @Html.HiddenFor(m=>m[i].Amount)
            
        </td>
          <td>
            @Html.DisplayFor(m=>m[i].BenficiaryNo)
            @Html.HiddenFor(m=>m[i].BenficiaryNo)
            
        </td>
        <td>
            @Html.DisplayFor(m=>m[i].RequisitionId)
            @Html.HiddenFor(m=>m[i].RequisitionId)
            
        </td>
       
    </tr>
     index++;
}

</table>
    
     <button type="submit" class="btn btn-success">
        <i class="icon-user icon-white"></i> Save
    </button>
    
    }

<script  type="text/javascript">
    (document).ready(function () {
        // storing selected value to hidden field
        $("#Selected").val($("#HubId").val());

        $("#HubId").change(function () {
            $.ajax({
                url: "~/HubAllocation/inserRequisition",
                type: 'POST',
                cache: false,
                data: { Selected: $("# Selected").val() },
                success: function (data) {
                    //
                }
            });
        });
    })
</script>

