@using Cats.Helpers
@using Cats.Services.Security
@model IList<Cats.Models.RequisitionViewModel>
@using LanguageHelpers.Localization
@{
    
    Layout = "~/Views/Shared/_MainLayout.cshtml";
     
}
@section Toolbar
{
    
    <a class="btn toolbar-btn " data-submittedform="frmHub" >Assign hub</a>
}

@{
    
    var user = (UserIdentity)System.Web.HttpContext.Current.User.Identity;
    var unitPreference = user.Profile.PreferedWeightMeasurment;
}
  
<script>
    $(document).ready(function check(){
 
        $('#frmHub').validate(
            {
                rules: {
                    datepicker: {
                        required: true
                    },
                    rNumber: {
                        required: true,
                       
                    }  
                },
                highlight: function(element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                success: function(element) {
                    element
                         .addClass('valid')
                        .closest('.control-group').removeClass('error').addClass('success');
                }
            });
    }); // end document.ready
      </script>





<h5 align="right"> Metric: @unitPreference </h5>
   @using (Html.BeginForm("InserRequisition", "HubAllocation", FormMethod.Post, new {name = "frmHub", id = "frmHub"}))
   {
       <div>
           <fieldset>
               <legend>@Translator.Translate("Hub Allocation")</legend>
           </fieldset>
	    <div class="form-horizontal">
           <div class="control-group">
               <label class="control-label">@Translator.Translate("Allocation Date")</label>
               <div class="controls">
                   <input type="text" class="cats-datepicker2" id="datepicker" name="datepicker" >
               </div>
           </div>
           <div class="control-group ">
               <label class="control-label"> @Translator.Translate("Allocation Reference No")</label>
               <div class="controls">
                   <input type="text" class="input-xlarge" id="rNumber" name="rNumber" placeholder="Reference Number">
               </div>
           </div>
           <div class="control-group">
               <label class="control-label">@Translator.Translate("Hubs")</label>
               <div class="controls">
	                
                   @Html.Hidden("Selected")
                   @Html.DropDownList("hub", ViewBag.Hubs as SelectList, "Select a hub", new {id = "HubId"})
	              
               
               </div>
           </div>
    
   
       </div>

           </div>
       <fieldset>
           <legend>
               
           </legend>
       </fieldset>

       <script>
           $(document).ready(function() {
               $("#kGrid").kendoGrid({
                   groupable: true,
                   scrollable: true,
                   sortable: true,
                   pageable: true,
                   autoBind: true,
                   dataSource: {
                       pageSize: 10
                   }
               });
           });
       </script>

       <div  class="k-content">  
           <table id="kGrid">
               <thead>
                   <tr>
        
                       <th>
                           @Translator.Translate("Commodity")
                       </th>
                       <th>
                           @Translator.Translate("Region")
                       </th>
                       <th>
                           @Translator.Translate("Zone")
                       </th>
        
                       <th>
                           @Translator.Translate("ReqNo")
                       </th>
       
                       <th>
                           @Translator.Translate("ReqDate")
                       </th>
                       <th>
                           @Translator.Translate("Amount")
                       </th>
                       <th>
                           @Translator.Translate("Beneficiaries")
                       </th>
                       <th>
                           @Translator.Translate("id")
                       </th>
        
                   </tr>
    
               </thead>
               <tbody>
               @foreach(var item in Model)
               {
                   
                       <tr>
       
                           <td>
                               @Html.DisplayFor(modelItem => item.Commodity)
                               @Html.HiddenFor(modelItem => item.Commodity)
            
                           </td>
        
                           <td>
                               @Html.DisplayFor(modelItem => item.Region)
                               @Html.HiddenFor(modelItem => item.Region)
            
                           </td>
        
                           <td>
                               @Html.DisplayFor(modelItem => item.Zone)
                               @Html.HiddenFor(modelItem => item.Zone)
            
                           </td>
        
                           <td>
           
                               @Html.DisplayFor(modelItem => item.RequisitionNo)
                               @Html.HiddenFor(modelItem => item.RequisitionNo)
            
                           </td>
        
        
                           <td>
                               @*@item.RequisitionDate.ToCTSPreferedDateFormat(Html.UserCalendarPreference())*@
                               @Html.DisplayFor(modelItem => item.RequisitionDate)
                               @Html.HiddenFor(modelItem => item.RequisitionDate)
            
                           </td>
                           <td>
                               <p  class="text-right">
                                   @Html.DisplayFor(modelItem => item.Amount)
                               </p>
                               @Html.HiddenFor(modelItem => item.Amount)
            
                           </td>
                           <td>
                               <p  class="text-right">
                                   @Html.DisplayFor(modelItem => item.BenficiaryNo)
                               </p>

                               @Html.HiddenFor(modelItem => item.BenficiaryNo)
            
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => item.RequisitionId)
                               @Html.HiddenFor(modelItem => item.RequisitionId)
            
                           </td>
       
                       </tr>
                   
               }
                </tbody>
           </table>
    
       </div>
       <br/>
       
   }

    
    
    

<script  >
    (document).ready(function () {
        // storing selected value to hidden field
        $("#Selected").val($("#HubId").val());

        $("#HubId").change(function () {
            $.ajax({
                url: "~/HubAllocation/inserRequisition",
                type: 'POST',
                cache: false,
                data: { Selected: $("# Selected").val() },
                success: function (data) {
                    //
                }
            });
        });
    })
    
   
</script>

    
<script type="text/javascript">
    function message() {
        var theForm = document.forms['frmHub'];
        if (!theForm) theForm = document.form1;
        var objOne = document.getElementById("HubId");
        if (objOne.selectedIndex == 0) {
            alert("hhh");
            return false;
        }
        else {
            theForm.submit();
        }
    }
    </script>