@model IEnumerable<Cats.Models.AccountTransaction>
@using Cats.Helpers;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    List<string> gregDates = new List<string> { "9/10/2015", "9/11/2015", "9/12/2015", "9/10/2016", "9/11/2016", "9/12/2016", "1/1/1995", "2/3/2004" };
   // EthiopianDate EthData = new EthiopianDate();
   <!--
   <div class="well">
   @foreach(string ds in gregDates)
    {
         EthiopianDate EthData = new EthiopianDate(DateTime.Parse(ds));
        <div>
          <input class="eth_date" value="@ds" />:  @EthData.ToDateString()
        </div>
    }
    </div>-->
}
<script>
    $(function () {
        
        $(".eth_date").datepicker();
    });
</script>
<h2>Index</h2>
<input class="eth_date" />
<div id="15c5ec7c-7b2d-4e4f-8ddd-dc7e82322217" style="" data-role="calendar" class="k-widget k-calendar"><div class="k-header"><a href="#" role="button" class="k-link k-nav-prev" aria-disabled="false"><span class="k-icon k-i-arrow-w"></span></a><a href="#" role="button" aria-live="assertive" aria-atomic="true" class="k-link k-nav-fast" aria-disabled="false">February 2000</a><a href="#" role="button" class="k-link k-nav-next" aria-disabled="false"><span class="k-icon k-i-arrow-e"></span></a></div><table tabindex="0" role="grid" class="k-content" cellspacing="0" style="position: static; top: 0px; left: 0px; -webkit-transform-origin: 129px 60px; -webkit-transform: scale(1);" aria-activedescendant="15c5ec7c-7b2d-4e4f-8ddd-dc7e82322217_cell_selected"><thead><tr role="row"><th scope="col" title="Sunday">Su</th><th scope="col" title="Monday">Mo</th><th scope="col" title="Tuesday">Tu</th><th scope="col" title="Wednesday">We</th><th scope="col" title="Thursday">Th</th><th scope="col" title="Friday">Fr</th><th scope="col" title="Saturday">Sa</th></tr></thead><tbody><tr role="row"><td class="k-other-month k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/0/30" title="Sunday, January 30, 2000">30</a></td><td class="k-other-month"><a tabindex="-1" class="k-link" href="#" data-value="2000/0/31" title="Monday, January 31, 2000">31</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/1" title="Tuesday, February 01, 2000">1</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/2" title="Wednesday, February 02, 2000">2</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/3" title="Thursday, February 03, 2000">3</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/4" title="Friday, February 04, 2000">4</a></td><td class="k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/1/5" title="Saturday, February 05, 2000">5</a></td></tr><tr role="row"><td class="k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/1/6" title="Sunday, February 06, 2000">6</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/7" title="Monday, February 07, 2000">7</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/8" title="Tuesday, February 08, 2000">8</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/9" title="Wednesday, February 09, 2000">9</a></td><td class="k-state-focused" aria-selected="true" id="15c5ec7c-7b2d-4e4f-8ddd-dc7e82322217_cell_selected"><a tabindex="-1" class="k-link" href="#" data-value="2000/1/10" title="Thursday, February 10, 2000">10</a></td><td><a tabindex="-1" class="k-link" href="#" data-value="2000/1/11" title="Friday, February 11, 2000">11</a></td><td class="k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/1/12" title="Saturday, February 12, 2000">12</a></td></tr><tr role="row"><td class="k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/1/13" title="Sunday, February 13, 2000">13</a></td><td><a tabindex="-1" class="k-link" href="#" data-value="2000/1/14" title="Monday, February 14, 2000">14</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/15" title="Tuesday, February 15, 2000">15</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/16" title="Wednesday, February 16, 2000">16</a></td><td><a tabindex="-1" class="k-link" href="#" data-value="2000/1/17" title="Thursday, February 17, 2000">17</a></td><td><a tabindex="-1" class="k-link" href="#" data-value="2000/1/18" title="Friday, February 18, 2000">18</a></td><td class="k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/1/19" title="Saturday, February 19, 2000">19</a></td></tr><tr role="row"><td class="k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/1/20" title="Sunday, February 20, 2000">20</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/21" title="Monday, February 21, 2000">21</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/22" title="Tuesday, February 22, 2000">22</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/23" title="Wednesday, February 23, 2000">23</a></td><td class=""><a tabindex="-1" class="k-link" href="#" data-value="2000/1/24" title="Thursday, February 24, 2000">24</a></td><td><a tabindex="-1" class="k-link" href="#" data-value="2000/1/25" title="Friday, February 25, 2000">25</a></td><td class="k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/1/26" title="Saturday, February 26, 2000">26</a></td></tr><tr role="row"><td class="k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/1/27" title="Sunday, February 27, 2000">27</a></td><td><a tabindex="-1" class="k-link" href="#" data-value="2000/1/28" title="Monday, February 28, 2000">28</a></td><td><a tabindex="-1" class="k-link" href="#" data-value="2000/1/29" title="Tuesday, February 29, 2000">29</a></td><td class="k-other-month"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/1" title="Wednesday, March 01, 2000">1</a></td><td class="k-other-month"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/2" title="Thursday, March 02, 2000">2</a></td><td class="k-other-month"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/3" title="Friday, March 03, 2000">3</a></td><td class="k-other-month k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/4" title="Saturday, March 04, 2000">4</a></td></tr><tr role="row"><td class="k-other-month k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/5" title="Sunday, March 05, 2000">5</a></td><td class="k-other-month"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/6" title="Monday, March 06, 2000">6</a></td><td class="k-other-month"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/7" title="Tuesday, March 07, 2000">7</a></td><td class="k-other-month"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/8" title="Wednesday, March 08, 2000">8</a></td><td class="k-other-month"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/9" title="Thursday, March 09, 2000">9</a></td><td class="k-other-month"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/10" title="Friday, March 10, 2000">10</a></td><td class="k-other-month k-weekend"><a tabindex="-1" class="k-link" href="#" data-value="2000/2/11" title="Saturday, March 11, 2000">11</a></td></tr></tbody></table><div class="k-footer" style=""><a href="#" class="k-link k-nav-today" title="Thursday, August 08, 2013">Thursday, August 08, 2013</a></div></div>
<div>
    @ViewBag.RegionalPSNPPlanID
     @using (Html.BeginForm("PostHRD", "TransactionTest", FormMethod.Post))
    {
   <splan>PSNP Plan </splan>@Html.DropDownList("RegionalPSNPPlanID", String.Empty) 
   <splan>Ration</splan>  @Html.DropDownList("RationID", String.Empty) 
    <input type="submit" />
    }
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartitionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionGroupID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LedgerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HubOwnerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HubID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectCodeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingInstructionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCommodityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommodityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommodityGradeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityInMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityInUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartitionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionGroupID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LedgerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HubOwnerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HubID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectCodeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingInstructionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCommodityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommodityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommodityGradeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityInMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityInUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountTransactionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountTransactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountTransactionID })
        </td>
    </tr>
}

</table>
