@model Cats.Models.NeedAssessmentDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_needassessment"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "NeedAssessment")"></a>
}

<h2 class="well">Create Need Assessment</h2>

@using (Html.BeginForm("Create", "NeedAssessment", FormMethod.Post, new { id = "frm_create_needassessment" }))
    {
    @Html.ValidationSummary(true)
    @Html.ValidationSummary()
    <fieldset>
        <legend> </legend>
        
        <div class="form-horizontal">
            <div id="Region">
                <div class="control-group">
                    <div class="control-label">
                        @Html.Label("Region")
                    </div>
                    <div class="controls">
                        @Html.Hidden("Region")
                        @Html.DropDownList("RegionID", ViewBag.Regions as SelectList, new { id = "Region" })
                    </div>
                </div>
            </div>
            <div id="Zone">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.NeedAssessmentHeader.Zone, "Zones")
                    </div>
                    <div class="controls">
                        @Html.Hidden("Zone")
                        @Html.DropDownList("ZoneID", ViewBag.Zones as SelectList, new { id = "Zone" })
                    </div>
                </div>

            </div>
            <div id="Woreda">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Woreda, "Woredas")
                    </div>
                    <div class="controls">
                        @Html.Hidden("Woreda")
                        @Html.DropDownList("WoredaID", ViewBag.Woredas as SelectList, new { id = "Woreda" })
                    </div>
                </div>


            </div>
        
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.NeedAssessmentHeader.NeedAssessment.Season)
                </div>
                <div class="controls">
                    @Html.DropDownList("SeasonID", ViewBag.Season as SelectList, new {id = "Season"})
                    @Html.ValidationMessageFor(model => model.NeedAssessmentHeader.NeedAssessment.Season)
                </div>

            </div>

           
        
            @*<div class="control-label">
            @Html.LabelFor(model => model.NAId)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.NAId)
            @Html.ValidationMessageFor(model => model.NAId)
        </div>

        <div class="control-label">
            @Html.LabelFor(model => model.NeedAId)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.NeedAId)
            @Html.ValidationMessageFor(model => model.NeedAId)
        </div>
            <div class="form-horizontal">
                <div class="control-group">
                    
                    <div class="control-label">
                        @Html.LabelFor(model => model.Woreda)
                    </div>
                    <div class="controls">
                        @Html.EditorFor(model => model.Woreda)
                        @Html.ValidationMessageFor(model => model.Woreda)
                    </div>
                </div>
            </div>*@
            
            <div class="control-group">
                <div class="control-label">
                        @Html.LabelFor(model => model.ProjectedMale)
                    </div>
                    <div class="controls">
                        @Html.EditorFor(model => model.ProjectedMale)
                        @Html.ValidationMessageFor(model => model.ProjectedMale)
                    </div>
                </div>
           
            
        
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.ProjectedFemale)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.ProjectedFemale)
            @Html.ValidationMessageFor(model => model.ProjectedFemale)
        </div>
    </div>
    
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RegularPSNP)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.RegularPSNP)
                    @Html.ValidationMessageFor(model => model.RegularPSNP)
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.PSNP)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.PSNP)
                    @Html.ValidationMessageFor(model => model.PSNP)
                </div>
           </div>
            
           <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.NonPSNP)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.NonPSNP)
                    @Html.ValidationMessageFor(model => model.NonPSNP)
                </div>
           </div>
            
           
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Contingencybudget)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Contingencybudget)
                    @Html.ValidationMessageFor(model => model.Contingencybudget)
                </div>
            </div>
            
            <div class="control-group">
            <div class="control-label">
                    @Html.LabelFor(model => model.TotalBeneficiaries)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.TotalBeneficiaries)
                    @Html.ValidationMessageFor(model => model.TotalBeneficiaries)
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.PSNPFromWoredasMale)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.PSNPFromWoredasMale)
                    @Html.ValidationMessageFor(model => model.PSNPFromWoredasMale)
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.PSNPFromWoredasFemale)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.PSNPFromWoredasFemale)
                    @Html.ValidationMessageFor(model => model.PSNPFromWoredasFemale)
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.PSNPFromWoredasDOA)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.PSNPFromWoredasDOA)
                    @Html.ValidationMessageFor(model => model.PSNPFromWoredasDOA)
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.NonPSNPFromWoredasMale)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.NonPSNPFromWoredasMale)
                    @Html.ValidationMessageFor(model => model.NonPSNPFromWoredasMale)
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.NonPSNPFromWoredasFemale)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.NonPSNPFromWoredasFemale)
                    @Html.ValidationMessageFor(model => model.NonPSNPFromWoredasFemale)
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.NonPSNPFromWoredasDOA)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.NonPSNPFromWoredasDOA)
                    @Html.ValidationMessageFor(model => model.NonPSNPFromWoredasDOA)
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Remark)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Remark)
                    @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>
    </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script  >
    (document).ready(function () {
        // storing selected value to hidden field
        $("#Region").val($("#regionId").val());

        $("#regionId").change(function () {
            $.ajax({
                url: "~/NeedAssessment/Create",
                type: 'POST',
                cache: false,
                data: { Selected: $("# Region").val() },
                success: function (data) {
                    //
                }
            });
        });
    })
    
   
</script>
    
   
