@using Cats.Models
@using Kendo.Mvc.UI
@using Cats.Helpers
@using LanguageHelpers.Localization
@model Cats.Models.NeedAssessment

@{
    ViewBag.Title = Html.Translate("Add New Need Assessment");
    Layout = "~/Views/Shared/_CATSLayout.cshtml";
    const string pageName = "EarlyWarning.NeedAssessment.CreateNeedAssessment";
}

@section Title
{
@Html.Translate("Add Need Assessment") 
}

@section PageTitle
{
    <h1 class="hdr-blck big col-md-6">@Html.Translate("Add Need Assessment") </h1>
}

<div class="row">
    @Html.Partial("_NeedAssessmentMainLeftBar")
    <div class="col-md-10  col-sm-9">
        @using (Html.BeginForm("CreateNeedAssessment", "NeedAssessment", FormMethod.Post, new { id = "frm_add_region" }))
        {
            @Html.ValidationSummary(true)
            <div class="box box-primary">
                <div class="box-body ">

                    <div class="col-md-6 col-sm-6 form-horizontal">

                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(m => m.Plan.PlanName, Html.Translate("Plan"))
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Plan.PlanName, new { @class = " form-control" })
                                @Html.ValidationMessageFor(m => m.Plan.PlanName)
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(m => m.Season, Html.Translate("Season"))
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownList("SeasonID", ViewBag.Season as SelectList, new { id = "Season", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Season)
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.Label(Translator.Translate("Assessment Type"))
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownList("TypeOfNeedID", ViewBag.TypeOfNeed as SelectList, new { id = "TypeOfNeed", @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.TypeOfNeedAssessment1.TypeOfNeedAssessmentID)
                            </div>

                        </div>


                    </div>
                    <div class="col-md-6 col-sm-6 form-horizontal">

                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(m => m.Region,@Html.Translate("Region"))
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownList("RegionID", ViewBag.Regions as SelectList, new { id = "Region", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Region)
                            </div>

                        </div>


                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.Label(Translator.Translate("Assessment From"), new { @class = "cats-date-pref" })
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Plan.StartDate, new { @class = "form-control cats-datepicker2" })
                                @Html.ValidationMessageFor(m => m.Plan.StartDate)
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-4 control-label">

                                @Html.LabelFor(m => m.Plan.Duration, Translator.Translate("Duraton"))
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Plan.Duration, new { @class = " form-control" })
                                @Html.ValidationMessageFor(m => m.Plan.Duration)
                                <a id="btnDateinterval">View Date Interval</a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="box-footer text-center">
                    <button class="btn btn-primary" data-buttontype="btn_save" type="submit" data-submittedform="frm_add_region"><span class="fa fa-save"></span>@Html.Translate("Save") </button>
                    <a class="btn  btn-default"  data-buttontype="btn_cancel"  href="@Url.Action("Index", "NeedAssessment")"><span class="fa fa-lg fa-times-circle"></span> @Html.Translate("Cancel"))</a>
                </div>
            </div>
   
          }
    </div>
</div>
<div id="cats-modal"></div>
<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });



        $('#btnDateinterval').on('click',
             function (e) {
                 $('#cats-modal').remove();
                 e.preventDefault();
                 var startDate = new Date($('#Plan_StartDate').val());
                 //var startDate = $('#Plan_StartDate').val();
                 var duration = $('#Plan_Duration').val();

                 var fullDate = startDate.getMonth() + 1 + '/' + startDate.getDate() + '/' + startDate.getFullYear();
                 var url = '@Url.Action("DateInterval", "HRD")?duration=' + duration + '&startDate=' + fullDate;
                 var $modal = $('<div class="modal" id="cats-modal"><div class="modal-body"></div></div>');
                 console.log(url);
                 $('body').append($modal);
                 $modal.modal({ backdrop: 'static', keyboard: false });
                 $modal.load(url);
             }
           );

    });
</script>

<div id='dialogDiv' class='modal hide fade in' style="width: 620px; margin-right: 10px">
    <div id='dialogContent'></div>
</div>


@*<script>
    function onOpen() {
        if ("kendoConsole" in window) {
            kendoConsole.log("event :: open");
        }
    }

    function onClose() {
        if ("kendoConsole" in window) {
            kendoConsole.log("event :: close");
        }
    }

    function onChange() {
        if ("kendoConsole" in window) {
            kendoConsole.log("event :: change");
        }
    }

    function onSelect(e) {
        if ("kendoConsole" in window) {
            var dataItem = this.dataItem(e.item.index());
            kendoConsole.log("event :: select (" + dataItem + ")");
        }
    }

    function onDataBound(e) {
        if ("kendoConsole" in window) {
            kendoConsole.log("event :: dataBound");
        }
    }
</script>*@