@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@model Cats.Models.NeedAssessment
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{

    <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("AddNeedAssessment", "NeedAssessment" ,new {id=Model.PlanID})"></a>

}

<h4>list of Need Assessments</h4>

<div class="control-group form-horizontal well">
    <div class="row">
        <div class="span6">
            <div class="control-group">
                <div class="control-label">
                    @Html.Label(Translator.Translate("Assessment Name"))
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Plan.PlanName,new {Disabled=true})
                   @Html.ValidationMessageFor(m =>m.Plan.PlanName)
                </div>
            </div>
        </div>

        <div class="span6">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.Year)
                </div>
                <div class="controls">
                   @Html.TextBoxFor(m=>m.Year,new {Disabled=true})
                    @Html.ValidationMessageFor(model => model.Region)
                </div>

            </div>
        </div>
    </div>
   <div class="row">
       @* <div class="span6">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.Season)
                </div>
                <div class="controls">
                   @Html.DropDownList("SeasonID", ViewBag.Season as SelectList, new { id = "Season" })
                    @Html.ValidationMessageFor(model => model.Season)
                </div>
            </div>
        </div>*@

@*        <div class="span4">
            <div class="control-group">
                <div class="control-label">
                    @Html.Label(Translator.Translate("Assessment Type"))
                </div>
                <div class="controls">
                   @Html.DropDownList("TypeOfNeedID", ViewBag.TypeOfNeed as SelectList, new { id = "TypeOfNeed" })
                    
                    @Html.ValidationMessageFor(model => model.TypeOfNeedAssessment1.TypeOfNeedAssessmentID)
                </div>

            </div>
        </div>*@
    </div>
    <div class="row">
        <div class="span6">
            <div class="control-group">
                <div class="control-label">
                    @Html.Label(Translator.Translate("Assessment From"), new { @class = "cats-date-pref" })
                </div>
                <div class="controls">
                     @Html.TextBoxFor(m => m.Plan.StartDate, new { @class = "cats-datepicker2" })
                    @Html.ValidationMessageFor(m => m.Plan.StartDate)
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="control-group">
                <div class="control-label">
                    @Html.Label(Translator.Translate("To"), new { @class = "cats-date-pref" })
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Plan.EndDate, new { @class = "cats-datepicker2" })
                    @Html.ValidationMessageFor(m => m.Plan.EndDate)
                </div>

            </div>
        </div>
    </div>
</div>



@(Html.Kendo().Grid<Cats.Models.NeedAssessmentHeaderViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.RegionName).Title("Region");
        columns.Bound(p => p.SeasonName).Visible(true).Width(100).Title("Season");
        columns.Bound(p => p.Date).Title(Translator.Translate("Need Assessment Created Date")).HeaderHtmlAttributes(new {@class="cats-date-pref-grid", style = "overflow: visible; white-space: normal;", title = "Need Assessment Created Date" });
        columns.Bound(p => p.NeedACreaterName).Width(100).Title("Created By").HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal;", title = "Created By" });
        columns.Command(p =>
        {
            p.Custom("Edit").Click("NeedAssessmentEdit");
            p.Custom("Approve").Click("approveNeedAssessment");
            p.Custom("Delete").Click("DeleteNeedAssessment");

        });
    })
    .HtmlAttributes(new { style = "height: 300px" })
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Model(model => model.Id(p => p.NeedAID))
        .Read(read=>read.Action("PlannedNeedAssessmentInfo_Read","NeedAssessment",new {id=Model.PlanID}))
    )
)

<script>
    function NeedAssessmentEdit(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = null;
        window.location = "@Url.Action("EditNeedAssessment", "NeedAssessment")" + "?id=" + dataItem.NeedAID;
    }

    function DeleteNeedAssessment(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        wn.center().open();
        $("#yesDelete").click(function () {
            window.location = "@Url.Action("DeleteNeedAssessment", "NeedAssessment")" + "?id=" + dataItem.NeedAID;
            wn.close();
        });

        $("#noDelete").click(function () {
            wn.close();
        });
    }


    function approveNeedAssessment(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        wnd.center().open();
        $("#yes").click(function () {
            window.location = null;
            window.location = "@Url.Action("ApproveNeedAssessment", "NeedAssessment")" + "?id=" + dataItem.NeedAID;
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>
<div id="modalWindow">
    <h6>Approve Need Assessment?</h6>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Approve confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });


</script>

<div id="modalWindowDelete">
    <h6>Delete Need Assessment?<br />
        This will delete all the related records with this Region!</h6>
    <button id="yesDelete" class="k-button">Yes</button>
    <button id="noDelete" class="k-button">No</button>
</div>
<script>
    var wn;
    $(document).ready(function () {
        wn = $("#modalWindowDelete").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });


</script>