@model Cats.Models.NeedAssessmentDetail

@{
    ViewBag.Title = "EditDetail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>EditDetail</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NeedAssessmentDetail</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NAId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NAId)
            @Html.ValidationMessageFor(model => model.NAId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NeedAId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NeedAId)
            @Html.ValidationMessageFor(model => model.NeedAId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Woreda)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Woreda)
            @Html.ValidationMessageFor(model => model.Woreda)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectedMale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProjectedMale)
            @Html.ValidationMessageFor(model => model.ProjectedMale)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectedFemale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProjectedFemale)
            @Html.ValidationMessageFor(model => model.ProjectedFemale)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegularPSNP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegularPSNP)
            @Html.ValidationMessageFor(model => model.RegularPSNP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSNP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSNP)
            @Html.ValidationMessageFor(model => model.PSNP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NonPSNP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NonPSNP)
            @Html.ValidationMessageFor(model => model.NonPSNP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contingencybudget)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contingencybudget)
            @Html.ValidationMessageFor(model => model.Contingencybudget)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalBeneficiaries)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalBeneficiaries)
            @Html.ValidationMessageFor(model => model.TotalBeneficiaries)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSNPFromWoredasMale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSNPFromWoredasMale)
            @Html.ValidationMessageFor(model => model.PSNPFromWoredasMale)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSNPFromWoredasFemale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSNPFromWoredasFemale)
            @Html.ValidationMessageFor(model => model.PSNPFromWoredasFemale)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PSNPFromWoredasDOA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PSNPFromWoredasDOA)
            @Html.ValidationMessageFor(model => model.PSNPFromWoredasDOA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NonPSNPFromWoredasMale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NonPSNPFromWoredasMale)
            @Html.ValidationMessageFor(model => model.NonPSNPFromWoredasMale)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NonPSNPFromWoredasFemale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NonPSNPFromWoredasFemale)
            @Html.ValidationMessageFor(model => model.NonPSNPFromWoredasFemale)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NonPSNPFromWoredasDOA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NonPSNPFromWoredasDOA)
            @Html.ValidationMessageFor(model => model.NonPSNPFromWoredasDOA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remark)
            @Html.ValidationMessageFor(model => model.Remark)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
