@model IEnumerable<Cats.Models.Hubs.Commodity>
@using Cats.Web.Hub.Helpers

@{
    ViewBag.Title =  Html.Translate("Commodities");
}
<img id="ajax_loading" src="/images/ajax-loader.gif" style="display: none" />
<script type="text/javascript">
    var selectedParentCommodityID = @ViewBag.SelectedCommodityID;
    $(function () {

        var value = $('#ParentID').data('tComboBox').value();
        selectedParentCommodityID = value;
        var url = 'Commodity/SubCommodityListPartial/' + value;
        $('#childrenCommodity').load(url);
        $('#UniqueId').attr("href", '@Url.Action("Create", new { type = 0 })' + "&Parent=" + value); //return with parent set in the actions
        RefreshSubCommodities();
    });

    function RefreshSubCommodities() {
        var url = 'Commodity/SubCommodityListPartial/' + selectedParentCommodityID;
        $('#ajax_loading').show();
        $('#childrenCommodity').load(url);
        $('#ajax_loading').hide();
        $('#UniqueId').attr("href", '@Url.Action("Create", new { type = 0 })' + "&Parent=" + selectedParentCommodityID); //return with parent set in the actions

    }

    function RefreshCommodities() {
        var url = 'Commodity/CommodityListPartial/';
        $('#ajax_loading').show();
        $('#parentCommodity').load(url);
        $('#ajax_loading').hide();
        getParents();
    }
    
    function RefreshSubCommoditiesById(count)
    {
        var url = 'Commodity/SubCommodityListPartial/' + count;
        $('#ajax_loading').show();
        $('#childrenCommodity').load(url);
        $('#ajax_loading').hide();
        $('#UniqueId').attr("href", '@Url.Action("Create", new { type = 0 })' + "&Parent=" + count); //return with parent set in the actions

    }

    function getParents() {
       
        var url = 'Commodity/GetParentList/';
        $.getJSON(url, function (result) {
            var options = $("#ParentID");
            var children = $('#ParentID').children();
            var childvals= [];
            var i = 0;
            $.each(children, function(child) {
                childvals[i] = children[child].value;
                i++;
            });

            $("#ParentID").empty();
            var count = result[0].Value;
            $.each(result, function (item) {
                if((jQuery.inArray((result[item].Value),childvals)) == -1) {  //jQuery.inArray((result[item].Value),childvals))) {
                    count = result[item].Value;
                    options.append($("<option selected='selected'/>").attr('value', result[item].Value).text(result[item].Text)); //attr('selected'="selected")
                    $('#ParentID').val(count);
                    //value = count;
                    selectedParentCommodityID = count;
                    // alert(count);
                } else {
                    options.append($("<option/>").attr('value', result[item].Value).text(result[item].Text));     
                }
            });
            RefreshSubCommoditiesById(count);
        });

    }

</script>
<h2>List Of Commodities</h2>

<div id="everything">
    
    @**@
    @{ Html.Telerik().TabStrip()
           .Name("TabStrip")
           .Items(tabstrip =>
           {
               tabstrip.Add()
                   .Text(Html.Translate("Parent Commodities"))
                   .Content(@<text>
                                            
                    <table class="borderless">
                        <tr>
                            <td style="width: 150px">@Html.Translate("Commodity Type")</td>
                            <td>
                                @(Html.Telerik().ComboBox().Name("CommodityType")
                                    .BindTo(new SelectList(ViewBag.CommodityTypes,"CommodityTypeID","Name",1)).ClientEvents(cEvents => cEvents.OnChange("OnCommodityTypeChanged")))
                            </td>
                            <td>
                                @Html.DialogFormLink(Html.Translate("Create New Parent Commodity"), Url.Action("Create") + "?type=1", "Create Commodity", "parentCommodity", "javascript:RefreshCommodities()", "uniqueId")
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    <div id="parentCommodity">
                        @{ViewBag.ShowParentCommodity = false;}
                        @Html.Partial("_CommodityPartial", @Model.Where(c => c.ParentID == null && c.CommodityTypeID == 1))  
                    </div>
                </text>);
                tabstrip.Add()
                   .Text(Html.Translate("Sub Commodities"))
                   .Content(@<text>

                            @using (Html.BeginForm())
                            {
                           
                                <table class="borderless">
                                <tr>
                                    <td style="width: 150px">@Html.Translate("Commodity Type")</td>
                                    <td>
                                        @(Html.Telerik().ComboBox().Name("CommodityTypeID")
                                                .BindTo(new SelectList(ViewBag.CommodityTypes,"CommodityTypeID","Name",1)).CascadeTo("ParentID"))
                                    </td>
                                    <td>
                                        @Html.Translate("Commodity Category")
                                    </td>
                                    <td>@(Html.Telerik().ComboBox().DataBinding(d=>d.Ajax().Select("ParentCommodities","Commodity")).ClientEvents(e=>e.OnChange("OnCommodityChanged")).Name("ParentID").BindTo((SelectList)ViewBag.ParentID))</td>
                                    <td></td>
                                </tr>
                                </table>
                                                
                                               
                          
                            }  
                            <p>
                                @{ ViewBag.ShowParentCommodity = true;}
                                @Html.DialogFormLink(Html.Translate("Create Sub Commodities"), Url.Action("Create", new { type = 0 }), Html.Translate("Create Commodity"), "childrenCommodity", "javascript:RefreshSubCommodities()", "UniqueId")
                       
                            </p>  
                           
                            <div id="childrenCommodity">
                                @Html.Partial("_CommodityPartial", @Model.Where(c => c.ParentID == ViewBag.SelectedCommodityID))
                            </div> 
                        </text>);

                      })
           .SelectedIndex(0)
           .Render();
    } 
</div>
<script type="text/javascript">
    
    function OnCommodityTypeChanged(e) {
        var url = 'Commodity/CommodityListPartial?type=' + e.value;
        $('#parentCommodity').load(url);
    }
    
    function OnCommodityChanged(e) {
        var value = e.value;
        selectedParentCommodityID = value;
        RefreshSubCommodities();
    }
</script>