
@model Cats.Areas.Settings.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgetPassword";
   // Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_forget_password"></a>
}
@section LeftBar
{
    
}





<html>
    <head>
        <meta charset="utf-8">
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/ico" href="~/Content/images/CATS_Blue.ico">
        <!-- Le styles -->
        <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/Login/App.css" rel="stylesheet">
        <link href="~/Content/Login/Login.css" rel="stylesheet">

        <link href="~/Content/assets/css/bootstrap-responsive.css" rel="stylesheet">
     
    </head>

    <body>
        <div id="login-container">
            <div></div>
            <div id="logo">
                <img src="~/Content/images/CATS.png">
            </div>

            <div id="login">
                <div>
                    <h4>Change Password</h4>
                </div>

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <i class="icon-exclamation-sign"></i>
                        <h4>Error</h4>
                        @ViewBag.ErrorMessage
                    </div>
                }

               @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { id = "frm_forget_password" }))
               {
                   @Html.ValidationSummary(true)
                   @Html.HiddenFor(m => m.UserAccountID)
                   
                   <div class="form-group">
                       @Html.PasswordFor(m => m.Password,new { @class = "form-control", @placeholder = "Password", @required = "required", @id = "login-username" })
                       @Html.ValidationMessageFor(m => m.Password)
                   </div>
                       
                  
                   <div class="form-group">
                       @Html.PasswordFor(m => m.ConfirmPassword,new { @class = "form-control", @placeholder = "Confirm Password", @required = "required", @id = "login-username" })
                       @Html.ValidationMessageFor(m => m.ConfirmPassword)
                   </div>
                           

              <div class="form-group">
                        <button type="submit" id="login-btn" class="btn btn-tertiary">Reset Password &nbsp;  <i class="ui-icon-power"></i></button>
                    </div> 
                  
               }
                <div class="align-right widget-table"> 
                    <div class="align-right " ><a style="font-weight: bold" href="@Url.Action("Login","Account")">Login</a></div>
                </div> 
            </div>

        </div>
    </body>
</html>
