
@model Cats.Areas.Settings.Models.ForgetPasswordRequestModel
@{
    ViewBag.Title = "ForgetPasswordRequest";
   
}

<link rel="shortcut icon" type="image/ico" href="~/Content/images/CATS_Blue.ico">
        <!-- Le styles -->
        <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet">
        @*<link href="~/Content/bootstrap.min.css" rel="stylesheet">*@
        <link href="~/Content/Login/App.css" rel="stylesheet">
        <link href="~/Content/Login/Login.css" rel="stylesheet">
<link href="~/Content/assets/css/bootstrap-responsive.css" rel="stylesheet">
        
<div class="well align-right widget-table"> 
    <div class="span12 align-right " ><a href="@Url.Action("Login","Account")">Login</a></div>
</div>



        
<div id="login-container">
    <div id="login">
        <h3>CATS.</h3>
        <h5>Please Enter your user name and an email will be sent to you to reset your password.</h5>

        
        @using (Html.BeginForm("ForgetPasswordRequest", "Account", FormMethod.Post, new { id = "frm_forget_password" }))
        {
        
            @Html.ValidationSummary(true)
        
            <div class="form-group">
                <label for="username"> @Html.LabelFor(m => m.UserName)</label>
                @Html.EditorFor(m=>m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
             
                    
            
            <div class="form-group">
                <button type="submit" id="login-btn" class="btn btn-tertiary">Reset Password &nbsp;  <i class="ui-icon-power"></i></button>
            </div>     
        }
    </div>
</div>


