@model Cats.Models.ViewModels.LoginModel
@{
    ViewBag.Title = "Login";
}

<html>
<head>
    <meta charset="utf-8">
    <title>Sign in CATS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">
    <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet">
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/Login/App.css" rel="stylesheet">
    <link href="~/Content/Login/Login.css" rel="stylesheet">

    <!--
        <style type="text/css">
        body {
            padding-top: 100px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }

        .form-signin .form-signin-heading {
            text-align:center;
        }

        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
    </style>
        -->
    <link href="~/Content/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="~/Content/assets/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div id="login-container">
        <div id="logo">
            <img src="~/Content/images/CATS.png">
        </div>

        <div id="login">
            <h3>Welcome to CATS.</h3>
            <h5>Please sign in to get access.</h5>


            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form", @id = "login-form" }))
            {
                <!--<h2 class="form-signin-heading">Sign in to CATS</h2>  -->
                <div class="form-group">
                    <label for="login-username">Username</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username", @required = "required", @id = "login-username" })
                </div>  
             
                <div class="form-group">
                    <label for="login-password">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "required", @id = "login-password" })
                </div> 
            
                <div class="form-group">
                    <button type="submit" id="login-btn" class="btn btn-primary btn-block">Sign in &nbsp;  <i class="ui-icon-power"></i></button>

                </div>  
                        
                <div class="form-group">
                    
                    <label class="checkbox">
                    
                    </label>   
                        @Html.CheckBoxFor(m => m.RememberMe)
                        Remember me
                        @*<a href="@Url.Action("ForgetPassword", "Users", new { Area = "Settings" })">  Forget Password</a>*@
                    </div> 
                 
                //<button class="btn btn-large btn-primary" type="submit">Sign in</button>

            }
            <a href="javascript::" class="btn btn-default">Forgot Password?</a>

        </div>


        @if (ViewBag.HasError)
        {
            <div class="alert alert-error">
                <h4>Error</h4>
                @*@LanguageHelpers.Localization.Translator.Translate(ViewBag.ErrorMesssage)*@
                @ViewBag.ErrorMessage
            </div>
        }
    </div>
    @*<script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Content/Login/bootstrab.min.js"></script>
    <script src="~/Content/Login/App.js"></script>
    <script src="~/Content/Login/App.js"></script>*@
</body>
</html>
