@using Cats.Web.Hub.Helpers
@model IEnumerable<Cats.Models.Hubs.Role>
 
@{
    ViewBag.Title = Html.Translate("Roles");
}

<h2>Manage Roles</h2>

<p>
    @Html.DialogFormLink(Html.Translate("Create New"), Url.Action("Create"),Html.Translate("Create New Role"),"list",Url.Action("Update"))
</p>
<div id="list">
<table width="60%">
    <tr>
        <th style="width: 20px"></th>
        <th>
            @Html.Translate("Name")
        </th>
        <th>
            @Html.Translate("Description")
        </th>
        <th>
            @Html.Translate("Sort Order")
        </th>
        
        <th></th>
    </tr>
     @{
         var i = 1;
    }
    @foreach (var item in Model) {
        <tr>
            <td>@i</td>
            <td>
                @Html.DialogFormLink(@item.Name, Url.Action("Edit/" + item.RoleID ), Html.Translate("Edit Role"), "list", Url.Action("Update") ) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id=item.RoleID })
            </td>
        </tr>
        i++;
    }

</table>
</div>
