@model Cats.Models.Hub.ViewModels.Report.DistributionViewModel
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Dispatches");
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="../../Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<link href="../../Content/TestStyle.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/ReportFileter.js" type="text/javascript"></script>

@using (Html.BeginForm("DistributionReportPartial", "Reports"))
{
    
        <div>
            <div class="filterPanel">
                <ul class="formelts">
                  

                    <li>
                        <label>@Html.Translate("Period")</label>
                    </li>
                    <li>
                        <div>@(Html.Telerik().ComboBox()
           .Name("PeriodId")
           .AutoFill(false)
           .BindTo(new SelectList(Model.Periods, "PeriodId", "PeriodName"))
           .SelectedIndex(0)
           .ClientEvents(e => e.OnChange("onPeriodReportFilterChange"))
                                   )
                        </div>
                    </li>
                    <li>
                        <div id="dateDetail"></div>
                    </li>
                    @*  <li>
                        <label>@Html.Translate("Codes")</label>
                    </li>
                    <li>
                        <div>@(Html.Telerik().ComboBox()
                   .Name("CodesId")
                   .AutoFill(false)
                   .SelectedIndex(0)
                   .BindTo(new SelectList(Model.Cods, "CodesId", "CodesName"))
                   .ClientEvents(e => e.OnChange("onCodesReportFileterChange"))

                                   )
                        </div>
                    </li>
                    <li>
                        <div id="codeDetail"></div>
                    </li>
                    <li>
                        <label>@Html.Translate("Commodity Type")</label>
                    </li>
                    <li>
                        <div>@(Html.Telerik().ComboBox()
                   .Name("CommodityTypeId")
                   .AutoFill(false)
                   .SelectedIndex(0)
                   .BindTo(new SelectList(Model.CommodityTypes, "CommodityTypeId", "CommodityTypeName"))
                   .ClientEvents(e => e.OnChange("onReportFileterChange"))
                   .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                   .HighlightFirstMatch(true)
                                   )
                        </div>
                    </li>*@
                    <li>
                        <label>@Html.Translate("Program ")</label>
                    </li>
                    <li>
                        <div>@(Html.Telerik().ComboBox()
           .Name("ProgramId")
           .AutoFill(false)
           .SelectedIndex(0)
           .BindTo(new SelectList(Model.Programs, "ProgramId", "ProgramName"))
           .ClientEvents(e => e.OnChange("onReportFileterChange"))
           .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
           .HighlightFirstMatch(true)
                                   //.Placeholder("All")
                                   )
                        </div>
                    </li>
                    @*       <li>
                        <label>@Html.Translate("Store ")</label>
                    </li>
                    <li>
                        <div>@(Html.Telerik().ComboBox()
                   .Name("StoreId")
                   .AutoFill(false)
                   .SelectedIndex(0)
                   .BindTo(new SelectList(Model.Stores, "StoreId", "StoreName"))
                   .ClientEvents(e => e.OnChange("onReportFileterChange"))
                   .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                   .HighlightFirstMatch(true)
                                   )
                        </div>
                    </li>*@
                    @Html.Partial("AreaPartial")
                    <br />
                    <p style="clear: both">
                        <input id="showReport" style="width: 80px; height: 20px; horiz-align: center" class="t-button" value="@Html.Translate("Filter")" onclick="return SubmitFilters(this)" />
                    </p>

                </ul>
            </div>
            @*        <div class="contentPanel">
            <div id="content"></div>
        </div>*@
        </div>


@*    <input id="showReport" style="display:none" type="submit" value="@Html.Translate("Show")"/>*@
}

<script type="text/javascript">
    function SubmitFilters(button) {
        var form = $(button).closest("form");
        // var theNewSi = null;//$('#SINumber').val();

        if (form.valid()) {

            ReportViewer1.Refresh();

            params = { };
            if( $('#CommodityId').val()!= undefined) {
                params['CommodityId'] = $('#CommodityId').val();
            }

            if ($('#bidRefId').val() != undefined) {
                params['bidRefId'] = $('#bidRefId').val();
            }
            
            if ($('#PeriodId').val() != undefined) {
                params['PeriodId'] = $('#PeriodId').val();
            }

            if ($('#StartDate').val() != undefined) {
                params['StartDate'] = $('#StartDate').val();
            }

            if ($('#EndDate').val() != undefined) {
                params['EndDate'] = $('#EndDate').val();
            }
            
            if( $('#ProgramId').val()!= undefined) {
                params['ProgramId'] = $('#ProgramId').val();
            }

            if ($('#AreaId').val() != undefined) {
                params['AreaId'] = $('#AreaId').val();
            }
            
            
            ReportViewer1.formHelper.customArgs = params;

        }
        return false;
    }
</script>

