@using Telerik.Web.Mvc
@using Telerik.Web.Mvc.UI
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Arrivals Vs Receipts");
}
<script src="../../Scripts/ReportFileter.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

<link href="../../Content/TestStyle.css" rel="stylesheet" type="text/css" />


@Html.Partial("DisplayHub") 

@using (Ajax.BeginForm("ArrivalsVsReceiptsReport", "StockManagement", new AjaxOptions { UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }))
{
 
    <div>
        <div class="filterPanel">
            <ul>
                <li>
                    <label>@Html.Translate("Period")</label>
                </li>
                <li>
                    <div>@(Html.Telerik().ComboBox()
                                    .Name("PeriodId")
                                    .AutoFill(false)
                                    .BindTo(new SelectList(Model.Periods, "PeriodId", "PeriodName"))
                                    .SelectedIndex(0)
                                    .ClientEvents(e => e.OnChange("onReportFileterChange"))
                                
                    )
                    </div>
                </li>
                <li>  
                    <label>@Html.Translate("Commodity Source")</label>
                </li>
                <li>
                    <div>@(Html.Telerik().ComboBox()
                                    .Name("CommoditySourceId")
                                    .AutoFill(false)
                                    .SelectedIndex(0)
                                    .BindTo(new SelectList(Model.CommoditySources, "CommoditySourceId", "CommoditySourceName"))
                                    .ClientEvents(e => e.OnChange("onReportFileterChange"))
                                    .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                                    .HighlightFirstMatch(true)
                    )
                    </div>
                </li>
                <li>
                    <label>@Html.Translate("Port")</label>
                </li>
                <li>
                    <div>@(Html.Telerik().ComboBox()
                                    .Name("PortId")
                                    .AutoFill(false)
                                    .SelectedIndex(0)
                                    .BindTo(new SelectList(Model.Ports, "PortId", "PortName"))
                                    .ClientEvents(e => e.OnChange("onReportFileterChange"))
                                    .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                                    .HighlightFirstMatch(true)
                    )
                    </div>
                </li>
                <li>
                    <label>@Html.Translate("Codes")</label>
                </li>
                <li>
                    <div>@(Html.Telerik().ComboBox()
                                    .Name("CodesId")
                                    .AutoFill(false)
                                    .SelectedIndex(0)
                                    .BindTo(new SelectList(Model.Cods, "CodesId", "CodesName"))
                                    .ClientEvents(e => e.OnChange("onCodesReportFileterChange"))
                    )
                    </div>
                </li>
                <li>
                    <div id ="codeDetail"></div>
                </li>
                <li>
                    <label>@Html.Translate("Commodity Type")</label>
                </li>
                <li>
                    <div>@(Html.Telerik().ComboBox()
                                    .Name("CommodityTypeId")
                                    .AutoFill(false)
                                    .SelectedIndex(0)
                                    .BindTo(new SelectList(Model.CommodityTypes, "CommodityTypeId", "CommodityTypeName"))
                                    .ClientEvents(e => e.OnChange("onReportFileterChange"))
                    )
                    </div>
                </li>
                <li>
                    <label>@Html.Translate("Program ")</label>
                </li>
                <li>
                    <div>@(Html.Telerik().ComboBox()
                                    .Name("ProgramId")
                                    .AutoFill(false)
                                    .SelectedIndex(0)
                                    .BindTo(new SelectList(Model.Programs, "ProgramId", "ProgramName"))
                                    .ClientEvents(e => e.OnChange("onReportFileterChange"))
                                    .Placeholder("All")
                    )
                    </div>
                </li>
            </ul>
        </div>
        <div class="contentPanel">
            <div id="content"></div>
        </div>
    </div>

    <input id="showReport" style="display:none" type="submit" value="@Html.Translate("Show")"/>
}




