@using Cats.Helpers

@model  System.Data.DataTable

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    const string PAGE_NAME = "Logistics.Index";
}

@{
    var ben = new[] { 0.0, 0.0, 0.0, 0.0, 0.0, 0.0 };
    int index = 0;
}

@section styles
{
    <link href="~/Content/Dashboard/dashboardcomponents.css" rel="stylesheet" />
}
<div ng-app="myApp">
    <div class="container" style="display:none;">
        <div ng-controller="Regions" class="container row">
            limit

            <div class="span12">
                <h4>Region:</h4>
                <select ng-change="onChange(regionName)" ng-model="regionName" ng-options="r.name as r.name for r in regions">
                    <option> Choose a Region </option>
                </select>
                <pre>Region: {{regionName}}</pre>
            </div>
            <hr />
        </div>
    </div>
    <div class="container">
        <div ng-controller="ImportantNumbers" class="container row">
            <div class="span12">
                <a href="javascript:;" class="dashboard-stat">
                    <div class="visual">
                        @*<i class="icon-star"></i>*@
                    </div>
                    <!-- /.visual -->

                    <div class="details column-divider-regional center">
                        <span class="content">Approved Requests</span>
                        <span class="value">{{totalApproved }}</span>
                    </div>

                    <div class="details column-divider-regional center">
                        <span class="content">Hub Assigned</span>
                        <span class="value">{{pendingHubAloocation}}</span>
                    </div>

                    <div class="details column-divider-regional center">
                        <span class="content">SI/PC Assigned</span>
                        <span class="value">{{pendingSIPCAllocation}} </span>
                    </div>

                    <div class="details column-divider-regional center">
                        <span class="content">transport Requisition(s)</span>
                        <span class="value">{{pendingTransportOrder}} </span>
                    </div>
                    
                     <div class="details column-divider-regional center">
                        <span class="content">Donation(s)</span>
                        <span class="value">{{DonationAmount}} </span>
                    </div>
                    <div ng-controller="Regions">
                        <div>
                            <span class="content">Region</span>
                            <div class="value">
                                <select ng-change="onChange(regionName)" ng-model="regionName" ng-options="r.name as r.name for r in regions">
                                    <option> Choose a Region </option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <span class="content">Program</span>
                            <div class="value">
                                <select ng-change="onRequestTypeChange(requestName)" ng-model="requestName" ng-options="p.name as p.name for p in requestType">
                                    <option value=''> All </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <!-- /.details -->

                </a>
                <!-- /.dashboard-stat -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="dashboard-widget">
            <div class="header"> </div>
        </div>

        <div>
            <!--
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Approved Requests</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id ="ApprovedRequestHeader"type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>
                -->
            <div id="ApprovedRequestContent" class="row">
                <div>&nbsp;</div>
                <div ng-controller="ApprovedRequestsController" class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>

                                <i class=""></i>
                                Approved Requests
                            </h3>
                            <ul class="portlet-tools pull-right">
                                <li>
                                    <button ng-click="Detail()" class="btn btn-sm btn-default">
                                        Detail
                                    </button>

                                </li>
                            </ul>
                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Number</th>
                                            <th>Req No</th>
                                            <th>Zone</th>
                                            <th>Round</th>
                                            <th>Year</th>
                                            <th>Month</th>
                                            <th class="number">Beneficiaries</th>
                                            <th class="number">Amount(mt)</th>
                                            <th>Commodity</th>

                                            <th class="align-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="req in requests.request   | filter:{RegionName:regionName  }  | limitTo:5">
                                            <td class="hidden-xs">{{$index + 1}}</td>
                                            <td>{{req.reqNo}}</td>
                                            <td>{{req.zone}}</td>
                                            <td>{{req.round}}</td>
                                            <td>{{req.year}}</td>
                                            <td>{{req.month}}</td>
                                            <td class="number">{{req.beneficiaries | number}}</td>
                                            <td class="number">{{req.amount | number}}</td>
                                            <td>{{req.commodity}}</td>


                                            <td><span class="label label-danger">Pending</span></td>
                                            <td class="align-center">

                                                <a class="btn btn-sm btn-default" data-original-title="Approve" ng-click="assignHub(req)"> Assign Hub </a>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>

                        </div>

                    </div>  <!-- /.portlet-content -->

                </div>

            </div>
        </div>

        <div>
            <!--
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Current HRD</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="CurrentHRDHeader"type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>
                -->
            <div id="CurrentHRDContent" class="row">
                <div>&nbsp;</div>

                <div ng-controller="CurrentHRDController" class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Current HRD
                            </h3>

                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table id="" class="table table-striped table-checkable">

                                    <thead>
                                        <tr>

                                            @foreach (System.Data.DataColumn col in Model.Columns)
                                            {
                                                if (col.IsNumeric())
                                                {
                                            <th class="number">@col.Caption </th>
                                                }
                                                else
                                                {
                                            <th>@col.Caption </th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (System.Data.DataRow row in Model.Rows)
                                        {
                                        <tr>
                                            @{ index = 0; }
                                            @foreach (var cell in row.ItemArray)
                                                {
                                                    if (cell is decimal || cell is int)
                                                    {
                                                        ben[index] = ben[index] + double.Parse(@String.Format("{0:n0}", @cell));
                                                        index++;
                                                <td class="number">@String.Format("{0:n0}", @cell)</td>
                                                    }
                                                    else
                                                    {
                                                <td>@String.Format("{0:n0}", @cell)</td>

                                                    }

                                                }
                                        </tr>

                                        }

                                    </tbody>
                                    <tr>
                                        <th class="number">Total:</th>
                                        @foreach (double t in @ben)
                                        {
                                        <th class="number">@String.Format("{0:n0}", @t) </th>
                                        }
                                    </tr>
                                </table>

                            </th>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>

                <!-- /.portlet -->
            </div>
        </div>

        <div>
            <!--
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Bid</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="BidWinnersHeader"type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>
                -->
            <div id="BidWinnerContent" class="row">
                <div>&nbsp;</div>

                <div ng-controller="BidWinnersController" class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Bid Winners 
                            </h3>

                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>


                                            Bid:
                                            <select ng-change="onChange(bid)" ng-model="bid" ng-options="bid.BidNo as bid.BidNo for bid in bids">
                                                <option> Choose a Bid </option>
                                            </select>
                                            <pre>Bid: {{bid}}</pre>



                                        </tr>
                                        <tr>
                                            <th class="hidden-xs">Number</th>
                                            <th>Transporter Name</th>
                                            <th>Capital</th>
                                            <th>Sub City</th>
                                            <th>Mobile No</th>
                                            <th>FDP</th>
                                            <th>Zone</th>
                                            <th>Region</th>





                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="req in bidWinners.bid | filter:{RegioName:regionName}">
                                            <td class="hidden-xs">{{$index + 1}}</td>
                                            <td>{{req.Name}}</td>
                                            <td>{{req.Capital}}</td>
                                            <td>{{req.SubCity}}</td>
                                            <th>{{req.MobileNo}}</th>
                                            <th>{{req.Fdp}}</th>
                                            <th>{{req.ZoneName}}</th>
                                            <th>{{req.RegioName}}</th>



                                        </tr>

                                    </tbody>
                                </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>

                <!-- /.portlet -->
            </div>
        </div>
        
        
        <!--UI Region for bid winners with date expired without signing a contract-->
         <div>
       
             <div id="UnContractedBidWinnersContent" 
                
                  class="row">
                <div>&nbsp;</div>

                <div ng-controller="UnContractedBidWinnersController" class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Un Contracted Bid Winners 
                            </h3>

                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>

                                            Bid:
                                            <select ng-change="onChange(bid)" ng-model="bid" ng-options="bid.BidNo as bid.BidNo for bid in bids">
                                                <option> Choose a Bid </option>
                                            </select>
                                            <pre>Bid: {{bid}}</pre>
                                            

                                        </tr>
                                        <tr>
                                            <th class="hidden-xs">Number</th>
                                            <th>Transporter Name</th>
                                            <th>Capital</th>
                                            <th>Sub City</th>
                                            <th>Mobile No</th>
                                            <th>FDP</th>
                                            <th>Zone</th>
                                            <th>Region</th>





                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="req in bidWinners.bid | filter:{RegioName:regionName}">
                                            <td class="hidden-xs">{{$index + 1}}</td>
                                            <td>{{req.Name}}</td>
                                            <td>{{req.Capital}}</td>
                                            <td>{{req.SubCity}}</td>
                                            <th>{{req.MobileNo}}</th>
                                            <th>{{req.Fdp}}</th>
                                            <th>{{req.ZoneName}}</th>
                                            <th>{{req.RegioName}}</th>



                                        </tr>

                                       @* <tr>
                                        <td>
                                            <div data-pagination="" 
                                                 data-num-pages="numPages()" 
                                                 data-current-page="currentPage" 
                                                 data-max-size="maxSize"  
                                                 data-boundary-links="true">  </div>
                                        </td>
                                    </tr>*@
                                    </tbody>
                                    
                                </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>

                <!-- /.portlet -->
            </div>
        </div>
        

        <div>
            <!--
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>SI Allocation</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="SIPCHeader" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>
                -->
            <div id="SIPCContent" class="row">
                <div>&nbsp;</div>

                <div ng-controller="SIPCController" class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Requistions to be SI Allocated
                            </h3>
                            <ul class="portlet-tools pull-right">
                                <li>
                                    <button class="btn btn-sm btn-default">
                                        Show more
                                    </button>
                                    @*<a class="btn btn-sm btn-default" href="@Url.Action("Index", "DeliveryReconcile", new { Area="Logistics", regionID= ViewBag.RegionID })">FDP Commodity Receipt</a>*@
                                </li>
                            </ul>
                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Number</th>
                                            <th>Req No</th>
                                            <th>Program</th>
                                            <th>Zone</th>
                                            <th class="number">Beneficiaries</th>
                                            <th class="number">Amount</th>
                                            <th>Commodity</th>
                                            <th>Allocation Type</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="req in requestsSIPCAllocated.request  |  filter:{RegionName:regionName} | limitTo:2 ">
                                            <td class="hidden-xs">{{$index + 1}}</td>
                                            <td>{{req.reqNo}}</td>
                                            <td>{{req.program}}</td>
                                            <td>{{req.zone}}</td>
                                            <th class="number">{{req.beneficiaries | number}}</th>
                                            <th class="number">{{req.amount | number}}</th>
                                            <th>{{req.commodity}}</th>
                                            <th>{{req.allocationType}}</th>



                                            <td><span class="label label-danger">Pending</span></td>
                                            @*<td class="align-center">
                                                    <a class="btn btn-sm btn-default" data-original-title="Approve">Create Transport Requisition</a>
                                                </td>*@
                                        </tr>


                                    </tbody>
                                </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>

                <!-- /.portlet -->
            </div>
        </div>

        <div>
            <!--
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Transporters with transport orders</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="TransportOrderHeader"type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>
                -->
            <div id="TransportOrderContent" class="row">
                <div>&nbsp;</div>

                <div ng-controller="TransportOrderController" class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Transporters
                            </h3>

                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <label>Search by Transport order</label>
                            <input type="text" ng-model="search.transportOrderNo" />
                            <table id="" class="table table-striped table-checkable">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">Number</th>

                                        <th>Transporter</th>
                                        <th>Tranport Order</th>
                                        <th>Region</th>
                                        <th>Zone</th>
                                        <th>Mobile No</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="req in TransportOrder | filter:search ">
                                        <td class="hidden-xs">{{$index + 1}}</td>

                                        <td>{{req.name}}</td>
                                        <td>{{req.transportOrderNo}}</td>
                                        <th>{{req.region}}</th>
                                        <th>{{req.zone}}</th>
                                        <th>{{req.mobileNo}}</th>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>


                </div>



            </div>
        </div>
        
        <div>
            <!--
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Transporters with transport orders</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="TransportOrderHeader"type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>
                -->
            <div id="DelayedTransportContent" class="row">
                <div>&nbsp;</div>

                <div ng-controller="DelayedTransportController" class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Delayed Transporters
                            </h3>
                            
                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <table id="" class="table table-striped table-checkable">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">Number</th>

                                        <th>Transporter</th>
                                        <th>Transport Order</th>
                                        <th>Signed Date</th>
                                        <th>Order Expired Date</th>
                                        <th>Days Passed After Signed</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="req in DelayedTransportOrders.request | orderBy:'-DaysPassedAfterSigned'">
                                        <td class="hidden-xs">{{$index + 1}}</td>

                                        <td>{{req.TransporterName}}</td>
                                        <td>{{req.TransportOrderNo}}</td>
                                        <th>{{req.SignedDate}}</th>
                                        <th>{{req.OrderExpiryDate}}</th>
                                        <th>{{req.DaysPassedAfterSigned | number}}</th>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>


                </div>



            </div>
        </div>
        
        <div>
            <!--
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Transporters with transport orders</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="TransportOrderHeader"type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>
                -->
            <div id="NonReportedTransportContent" class="row">
                <div>&nbsp;</div>

                <div ng-controller="NonReportedTransportController" class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Transporters which did not report back completely to DRMFSS
                            </h3>
                            
                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <table id="" class="table table-striped table-checkable">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">Number</th>

                                        <th>Transporter</th>
                                        <th>Bid Number</th>
                                        <th>FDP</th>
                                        <th>Dispatched Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="req in NonReportedTransporters.request | orderBy:'-DaysPassedAfterSigned'">
                                        <td class="hidden-xs">{{$index + 1}}</td>

                                        <td>{{req.TransporterName}}</td>
                                        <td>{{req.BidNo}}</td>
                                        <td>{{req.FDPName}}</td>
                                        <td>{{req.DispatchedDate}}</td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>


                </div>



            </div>
        </div>

        <div>
            <!--
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Transport Requisition</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="TransportRequisitionHeader"type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>
                -->
            <div id="TransportRequisitionContent" class="row">
                <div>&nbsp;</div>

                <div ng-controller="TransportRequisitionController" class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Current Transport Requisition
                            </h3>
                            <ul class=" pull-right portlet-tools ">
                                <li>
                                    <button class="btn btn-sm btn-default">
                                        Show more
                                    </button>

                                </li>
                            </ul>
                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <th class="table-responsive">
                            <table id="" class="table table-striped table-checkable">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">Number</th>

                                        <th>Req No</th>
                                        <th>Zone</th>
                                        <th class="number">Beneficiaries</th>
                                        <th class="number">Amount</th>
                                        <th>Commodity</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="req in TransportRequestion.request | filter:{RegionName:regionName} | limitTo:2">
                                        <td class="hidden-xs">{{$index + 1}}</td>
                                        <td>{{req.reqNo}}</td>
                                        <td>{{req.zone}}</td>
                                        <th class="number">{{req.beneficiaries}}</th>
                                        <th class="number">{{req.amount}}</th>
                                        <th>{{req.commodity}}</th>


                                        <td><span class="label label-default">On process</span></td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-sm btn-default">
                                                View <i class="icon-chevron-right"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>


                <!-- /.portlet -->
            </div>
               <div id="DispatchAllocationContent" class="row">
                <div>&nbsp;</div>

                <div ng-controller="SummaryController" class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Hubs Diapatch Allocation
                            </h3>
                           @* <ul class=" pull-right portlet-tools ">
                                <li>
                                    <button class="btn btn-sm btn-default">
                                        Show more
                                    </button>

                                </li>
                            </ul>*@
                        </div>


                        <div class="portlet-content">
                            <th class="table-responsive">
                                
                      <div class="row-fluid form-horizontal ">
                    <div class="form-control span12">
                        <div class="span3">

                            <label>Select As of Date</label>
                            <input id="txtDate1" class="cats-datepicker2  input-medium" type="text" placeholder="As of date">
                        </div>

                        <div class="span3">
                            <div class="control-group">
                                <div class="toolbar">
                                    <label class="category-label" for="category">Select a Program</label>
                                    <select ng-model="reqParam.program">
                                        <option ng-repeat="pr in ProgramsCollection" value="{{pr.ProgramId}}">{{pr.Name}}</option>
                                    </select>
                                    @*<select ng-model="selectedProgram" ng-options="p.Name for p in ProgramsCollection">*@
                                </div>
                                <div class="controls">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <button type="button" class="btn btn-default btn-lg" style="margin-top: 23px;" ng-click="getSummary()">Get</button>
                        </div>
                    </div>
                </div>
                                <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th>HUb</th>
                                            <th class="number">Total Free Stock</th>
                                             <th class="number">Total Physical Stock</th>
                                             <th class="number">Dispatched</th>
                                             <th class="number">Remaining</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sd in summaryData">
                                           
                                            <td>{{sd.HubName}}</td>
                                            <td class="number">{{sd.TotalFreestock |number:2}}</td>
                                            <td class="number">{{sd.TotalPhysicalStock |number:2}}</td>
                                            <td class="number">{{sd.DispatchedAmount |number:2}}</td>
                                            <td class="number">{{sd.Remaining |number:2}}</td>

                                        </tr>
                                    </tbody>
                                </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>


                <!-- /.portlet -->
            </div>
        </div>

    </div>
</div>
<style>
    .portlet .collapser .down {
        display: none;
    }

    .portlet-collapsed .collapser .down {
        display: inline-block;
    }

    .portlet-collapsed .collapser .up {
        display: none;
    }

    .collapser, .collapser :hover, .collapser:active, .collapser:visited {
        text-decoration: none;
    }

    .collapser :hover {
        /*background:#ffd800;*/
    }

    .portlet-collapsed .portlet-content {
    }

    .hovered {
    }
</style>


        <script>
    
  



            $(".portlet").hover(function () { $(this).addClass("hovered"); });
            $(".portlet").mouseleave(function () { $(this).removeClass("hovered"); });

            $(".portlet-header h3").each(function (elem) {
                $(this).html("<a class='collapser' href=''><i class='icon-chevron-down down'/><i class='icon-chevron-up up'/></a>" + $(this).html());

            });
            $(".portlet-header .collapser").click(function (elem) {
                //alert();
                $(".hovered").toggleClass("portlet-collapsed");
                $(".hovered .portlet-content").slideToggle("slow", "linear");;

            });

            $("#ApprovedRequestHeader").click(function () {
                $("#ApprovedRequestContent").slideToggle("slow", "linear");
            });

            $("#CurrentHRDHeader").click(function () {
                $("#CurrentHRDContent").slideToggle("slow", "linear");
            });



            $("#BidWinnersHeader").click(function () {
                $("#BidWinnerContent").slideToggle("slow", "linear");
            });
    
            $("#UnContractedBidWinnersHeader").click(function () {
                $("#UnContractedBidWinnersContent").slideToggle("slow", "linear");
            });

    $("#DelayedTransportHeader").click(function () {
        $("#DelayedTransportContent").slideToggle("slow", "linear");
    });
    
    $("#NonReportedTransportHeader").click(function () {
        $("#NonReportedTransportContent").slideToggle("slow", "linear");
    });


            $("#SIPCHeader").click(function () {
                $("#SIPCContent").slideToggle("slow", "linear");
            });

            $("#TransportRequisitionHeader").click(function () {
                $("#TransportRequisitionContent").slideToggle("slow", "linear");
            });

            $("#TransportOrderHeader").click(function () {
                $("#TransportOrderContent").slideToggle("slow", "linear");
            });

            $("#DelayedTransportHeader").click(function () {
                $("#TransportOrderContent").slideToggle("slow", "linear");
            });

        </script>

<script>


    var myApp = angular.module('myApp', []);

    myApp.controller('ImportantNumbers', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {
        $rootScope.totalRequisitions = 0;
        $rootScope.totalApproved = 0;
        $rootScope.pendingHubAloocation = 0;
        $rootScope.pendingSIPCAllocation = 0;
        $rootScope.pendingTransportOrder = 0;
        $rootScope.DonationAmount = 0;
    }]);

    myApp.controller('CurrentHRDController', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

        $scope.qty = 6;
        $scope.currentHRD = {};
        $http({ method: 'GET', url: '@Url.Action("CurrentHrdRead","Home")' }).success(function (data, status, headers, config) {
            $.each(data, function (i, item) {

                $scope.currentHRD[i] = item;
            });

        });
        $rootScope.regionName = "";
    }]);

    myApp.controller('BidWinnersController', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {


        $scope.bidWinners = {};
        $rootScope.regionName = "";

        $scope.bids = [];
        $http({ method: 'GET', url: '@Url.Action("GetBids","Home")' }).success(function (data, status, headers, config) {
            $scope.bids = data;
        });



        $scope.onChange = function (bidId) {

            $http({ method: 'GET', params: { id: bidId }, url: '@Url.Action("GetListOfBidWinners","Home")' }).success(function (data, status, headers, config) { $scope.bidWinners.bid = data; });
        };

    }]);



    myApp.controller('UnContractedBidWinnersController', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {


        $scope.bidWinners = {};
        $rootScope.regionName = "";

        $scope.bids = [];
        $http({ method: 'GET', url: '@Url.Action("GetBids","Home")' }).success(function (data, status, headers, config) {
            $scope.bids = data;
        });



        $scope.onChange = function (bidId) {

            $http({ method: 'GET', params: { id: bidId }, url: '@Url.Action("GetListOfUnContractedBidWinners","Home")' }).success(function (data, status, headers, config) { $scope.bidWinners.bid = data; });
        };

    }]);






    myApp.controller('ApprovedRequestsController', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

        $scope.qty = 6;
        $scope.requests = {};
        $http({ method: 'GET', url: '@Url.Action("GetRequisitions","Home", new {id = 2})' })
            .success(function (data, status, headers, config) { $scope.requests.request = data; console.log($scope.requests.request); });
        $rootScope.regionName = "";
        $rootScope.requestType = "";
        

        $scope.assignHub = function (url) {

            window.location = "@Url.Action("AssignHubFromLogisticsDashboard", "DispatchAllocation", new {Area = "Logistics" })" + "?paramRegionId=" + url.regionId;
        };

        $scope.Detail = function () {
            window.location = "@Url.Action("Index", "DispatchAllocation", new {Area = "Logistics" })";
        };
    }]);

    myApp.controller('HubAllocationController', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {
        $scope.qty = 6;
        $scope.requestsApproved = {};
        $http({ method: 'GET', url: '@Url.Action("GetRequisitions","Home", new {id = 3})' }).success(function (data, status, headers, config) { $scope.requestsApproved.request = data; })
        $rootScope.regionName = "";
    }]);
    myApp.controller('SIPCController', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

        $scope.qty = 6;
        $scope.requestsSIPCAllocated = {};
        $http({ method: 'GET', url: '@Url.Action("GetSiPcAllocation","Home")' }).success(function (data, status, headers, config) {
            $scope.requestsSIPCAllocated.request = data;
            console.log(data);
        })
            .error(function (data, status, headers, config) {
            });


        $rootScope.regionName = "";
    }]);


    myApp.controller('TransportOrderController', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {


        $scope.TransportOrder = [];
        $http({ method: 'GET', url: '@Url.Action("GetTransporters","Home")' }).success(function (data, status, headers, config) {
            $.each(data, function (i, item) {

                $scope.TransportOrder[i] = item;

            });

        });

    }]);
    
    myApp.controller('DelayedTransportController', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {


        $scope.qty = 6;
        $scope.DelayedTransportOrders = {};
        $http({ method: 'GET', url: '@Url.Action("GetDelayedTOs","Home")' }).success(function (data, status, headers, config) { $scope.DelayedTransportOrders.request = data; })
            .error(function (data, status, headers, config) {

            });
        
        $rootScope.regionName = "";
    }]);

    myApp.controller('NonReportedTransportController', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {


        $scope.qty = 6;
        $scope.NonReportedTransporters = {};
        $http({ method: 'GET', url: '@Url.Action("GetNonReportedTransporters","Home")' }).success(function (data, status, headers, config) { $scope.NonReportedTransporters.request = data; })
        .error(function (data, status, headers, config) {

        });

        $rootScope.regionName = "";
    }]);

    myApp.controller('TransportRequisitionController', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

        $scope.qty = 6;
        $scope.TransportRequestion = {};
        $http({ method: 'GET', url: '@Url.Action("GetRequisitions","Home", new {id = 5})' }).success(function (data, status, headers, config) { $scope.TransportRequestion.request = data; })
            .error(function (data, status, headers, config) {

            });

        $rootScope.regionName = "";
    }]);


    myApp.controller('Regions', ['$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

        $scope.regions = [];
        $scope.requestType = [];
        $rootScope.DonationAmount = [];
        $rootScope.DonationAmount = 0;
        $http({ method: 'GET', url: '@Url.Action("GetRegions","Home")' }).success(function (data, status, headers, config) { $scope.regions = data; })
            .error(function (data, status, headers, config) {

            });
        
        

        $http({ method: 'GET', url: '@Url.Action("GetDonation", "Home")' })
            .success(function (data, status, headers, config) { $rootScope.DonationAmount = data; })
            .error(function (data, status, headers, config) {

            });
        
        $http({ method: 'GET', url: '@Url.Action("GetRequestType", "Home")' })
            .success(function (data, status, headers, config) { $scope.requestType = data; })
            .error(function (data, status, headers, config) {

            });

        $scope.onChange = function (name) {
            $rootScope.regionName = name;

            $http({ method: 'GET', params: { id: name }, url: '@Url.Action("ImportantNumbers","Home")' }).success(function (data, status, headers, config) {

                $rootScope.totalRequisitions = 0;
                $rootScope.totalApproved = 0;
                $rootScope.pendingHubAloocation = 0;
                $rootScope.pendingSIPCAllocation = 0;
                $rootScope.pendingTransportOrder = 0;
            
                $.each(data, function (i, item) {

                    switch (item.Status) {
                    case 1:
                        $rootScope.totalRequisitions = item.Count;
                        break;
                    case 2:
                        $rootScope.totalApproved = item.Count;
                        break;
                    case 3:
                        $rootScope.pendingHubAloocation = item.Count;
                        break;
                    case 4:
                        $rootScope.pendingSIPCAllocation = item.Count;
                        break;
                    case 5:
                        $rootScope.pendingTransportOrder = item.Count;
                        break;
                    case 6:
                        break;
                    default:
                    }

                });



            })
                .error(function (data, status, headers, config) {

                });
        };

        $scope.onRequestTypeChange = function (name) {
            $rootScope.requestName = name;

            $http({ method: 'GET', params: { id: $rootScope.regionName, requestName: name }, url: '@Url.Action("ImportantNumbers","Home")' }).success(function (data, status, headers, config) {

                $rootScope.totalRequisitions = 0;
                $rootScope.totalApproved = 0;
                $rootScope.pendingHubAloocation = 0;
                $rootScope.pendingSIPCAllocation = 0;
                $rootScope.pendingTransportOrder = 0;
            
                $.each(data, function (i, item) {

                    switch (item.Status) {
                    case 1:
                        $rootScope.totalRequisitions = item.Count;
                        break;
                    case 2:
                        $rootScope.totalApproved = item.Count;
                        break;
                    case 3:
                        $rootScope.pendingHubAloocation = item.Count;
                        break;
                    case 4:
                        $rootScope.pendingSIPCAllocation = item.Count;
                        break;
                    case 5:
                        $rootScope.pendingTransportOrder = item.Count;
                        break;
                    case 6:
                        break;
                    default:
                    }

                });



            })
                .error(function (data, status, headers, config) {

                });
        };

    }]);



    function SummaryController($scope, $http) {

        $scope.reqParam = { program: 1, date: new Date() };
        $scope.requestRows = [];


        var onSuccess = function (data) {
            $scope.summaryData = data;
            var f = 0;
            var p = 0;
            for (var i = 0; i < $scope.summaryData.length; i++) {
                f = f + $scope.summaryData[i].TotalFreestock;
                p = p + $scope.summaryData[i].TotalPhysicalStock;
            }
            $scope.freeStockSum = f;
            $scope.physicalStockSum = p;
        };

        var onProgramGetSuccess = function (data) {
            $scope.ProgramsCollection = data;
        };

        $scope.getSummary = function () {
            
            $scope.reqParam.date = $("#txtDate1").val();
            $http.post("@Url.Action("GetDispatchAllocation", "Home", new { Area = "Logistics" })", $scope.reqParam).success(onSuccess);
        };

        $scope.getPrograms = function () {

           
            $http.post("@Url.Action("GetPrograms", "LogisticsStockStatus", new { Area = "Logistics" })", null).success(onProgramGetSuccess);
        };

        $scope.getSummary();
        $scope.getPrograms();
    }

</script>

