@model Cats.Areas.EarlyWarning.Models.SearchRequsetViewModel
@using Cats.Helpers;

@{
    const string PAGE_NAME = "Requisitions.Index.RequestFilter";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-md-line-input">
                <input id="search" type="text" class="form-control" placeholder="Search by Reference Number "/>
                <label for="search" >Reference Number</label>
                @*<span class="help-block">Some help goes here...</span>*@
            </div>
        </div>

        <div class="col-md-9">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-3 control-label add-on">Start</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.DateFrom, new {@class = "form-control cats-datepicker2  ", @type = "text"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-3 control-label add-on">End</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.DateTo, new {@class = "form-control cats-datepicker2  ", @type = "text"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label class="col-md-3 control-label add-on">Region</label>
                            <div class="col-md-9">
                                @Html.DropDownList("RegionID", null, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-3 control-label add-on">Program</label>
                            <div class="col-md-9">
                                @Html.DropDownList("ProgramID", null, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-3 control-label add-on">Status</label>
                            <div class="col-md-9">
                                @Html.DropDownList("StatusID", null, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="submit" class="btn btn-success btn-block pull-right" value="Search"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
}

