@model Cats.Areas.EarlyWarning.Models.SearchRequsetViewModel
@using Cats.Helpers;

@{
    const string PAGE_NAME = "Request.Index.RequestFilter";
}

@using (Html.BeginForm())
{
    <div class="form-vertical">

        <div class="span3 form-vertical">

            <div class="control-group">
                <div class="control-label">
                    <label>Request Date Between:</label>
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.DateFrom, new { @class = "cats-datepicker2  input-small", @type = "text" })
                    and
                    @Html.TextBoxFor(m => m.DateTo, new { @class = "cats-datepicker2  input-small", @type = "text" })
                    <!--<input name="dateFrom" type="" class="" /> and <input type="text" class="cats-datepicker2 input-small" />-->
                </div>
            </div>

        </div>
        <div class="span2 form-vertical">
            <div class="control-group">
                <div class="control-label">
                    <label>Region:</label>
                </div>
                <div class="controls ">
                    @Html.DropDownList("RegionID", null, new { @class = "input-large" })
                </div>
            </div>

        </div>

        <div class="span2 form-vertical">
            <div class="control-group">
                <div class="control-label">
                    <label>Program:</label>
                </div>
                <div class="controls ">
                    @Html.DropDownList("ProgramID", null, new { @class = "input-large" })
                </div>
            </div>
        </div>
        <div class="span2 form-vertical">
            <div class="control-group">
                <div class="control-label">
                    <label>Status:</label>
                </div>
                <div class="controls ">
                    @Html.DropDownList("StatusID", null, new { @class = "input-large" })
                </div>
            </div>
        </div>
        <div class="span2 form-vertical">
            <div class="control-group">
                <div class="control-label">
                    <label>&nbsp;</label>
                </div>
                <div class="controls">
                    <button type="submit" class="btn btn-sm" value="Search"><i class="icon-search"></i></button>
                </div>
            </div>

        </div>

        <div style="clear:both;">

        </div>
    </div>

}
