@using Cats.Areas.EarlyWarning.Models

@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Regional Relief Requests";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="well">
    <h4>Region:   @ViewBag.Region</h4>
    <h5 class="page-header">Regional Monthly @ViewBag.Program Request Resource Allocation
        <br />For month of @ViewBag.Month/@ViewBag.Year </h5>
</div>
@section LeftBar
{


}
@Html.ActionLink("Back To Regional Request","Index","Request")
@(Html.Kendo().Grid<RegionalRequestDetailViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.FDP).Width(100).HtmlAttributes(new {style="background-color:whitesmoke"}); ;
        columns.Bound(p => p.Beneficiaries).Width(100);
        columns.Bound(p => p.Grain).Width(100);
        columns.Bound(p => p.Pulse).Width(100);
        columns.Bound(p => p.CSB).Width(100);
        columns.Bound(p => p.Oil).Width(100);

    })
    .ToolBar(toolbar => toolbar.Save())
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        //.Events(events => events.Error("error_handler"))
            .Model(model =>
            {
                model.Id(p => p.RegionalRequestDetailID);
                model.Field(detail => detail.FDP).Editable(false);
            })
        .Create(update => update.Action("Allocation_Create", "Request"))
        .Read(read => read.Action("Allocation_Read", "Request",new {id=ViewBag.RequestID}))
        .Update(update => update.Action("Allocation_Update", "Request"))
        .Destroy(update => update.Action("Allocation_Destroy", "Request"))
    )
)
@*<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>*@
