@using Cats.Areas.EarlyWarning.Models
@model RegionalRequestViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Regional Relief Requests";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="row-fluid">
    <div>
        <div class="form-horizontal well">
            <table class="table-condensed">
                <tr>
                    <td>

                        <p>
                            <b>@Html.DisplayNameFor(model => model.ReferenceNumber) :</b>
                        @Html.DisplayFor(model => model.ReferenceNumber)


                    </td>
                    <td>
                        <p>
                            <b>@Html.DisplayNameFor(model => model.Region)
                                :</b>
                        @Html.DisplayFor(model => model.Region)

                    </td>
                 <td>
                        <p>
                            <b>@Html.DisplayNameFor(model => model.Month)
                                :</b>
                            @Cats.Helpers.RequestHelper.MonthName(Model.Month)
                           <b>Year:</b> @Model.Year 
                        </p>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <p>
                            <b>@Html.DisplayNameFor(model => model.RequestDateEt)
                                :</b>
                            @Html.DisplayFor(model => model.RequestDateEt)
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>@Html.DisplayNameFor(model => model.Program)
                                :</b>
                            @Html.DisplayFor(model => model.Program)
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>Status
                                   :</b>
                            @Html.DisplayFor(model => model.Status)
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><a href="@Url.Action("Index", "Request", new { Area = "EarlyWarning" })"><i class="icon-chevron-left"></i>Back</a>


                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new {Controller="Request", Area = "EarlyWarning", id = Model.RegionalRequestID })
                                </td>
                                <td>
                                    @Html.ActionLink("Approve", "ApproveRequest", new { id = Model.RegionalRequestID })
                                </td>
                                <td>
                                    <a href="@Url.Action("CreateRequisiton", "ReliefRequisition", new { Area = "EarlyWarning",id=Model.RegionalRequestID })">Create Requisition</a>
                                   
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>
@section LeftBar
{
    @Html.Partial("_RegionalRequestLeftBar")

}



@(Html.Kendo().Grid<RegionalRequestDetailViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Template(t => { }).Title("No").ClientTemplate("#= renderNumber(data) #").Width(30);
                       columns.Bound(p => p.Zone).Width(100).HtmlAttributes(new { style = "background-color:lightgray" });
                       columns.Bound(p => p.Woreda).Width(100).HtmlAttributes(new { style = "background-color:lightgray" });
                       columns.Bound(p => p.FDP).Width(100).HtmlAttributes(new { style = "background-color:lightgray" }); 
                       columns.Bound(p => p.Beneficiaries).Width(100);
                       columns.Bound(p => p.Grain).Width(100);
                       columns.Bound(p => p.Pulse).Width(100);
                       columns.Bound(p => p.CSB).Width(100);
                       columns.Bound(p => p.Oil).Width(100);

                   })
      .ToolBar(toolbar => toolbar.Save())
      .Editable(editable => editable.Mode(GridEditMode.InCell))
      .Events(events => events.DataBound("onDataBound"))
      .Pageable()
      .Sortable()
      .Scrollable()
      .Selectable(t=>t.Mode(GridSelectionMode.Single	))
      .Navigatable()
      .HtmlAttributes(new { style = "height:430px;" })
      .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(20)
                                
                                    .Model(model =>
                                               {
                                                   model.Id(p => p.RegionalRequestDetailID);
                                                   model.Field(detail => detail.FDP).Editable(false);
                                               })
                                    .Create(update => update.Action("Allocation_Create", "Request"))
       
                                    .Read(read => read.Action("Allocation_Read", "Request",new {id=ViewBag.RequestID}))
                                    .Update(update => update.Action("Allocation_Update", "Request"))
                                    .Destroy(update => update.Action("Allocation_Destroy", "Request"))
      ))
<script type="text/javascript">
   
    function onDataBound(e) {
        rowNumber = 0;
        var grid = $("#grid").data("kendoGrid");
        $(grid.tbody).on("change", "td", function (e) {
            var row = $(this).closest("tr");
            var rowIdx = $("tr", grid.tbody).index(row);
            var firstItem = $('#grid').data().kendoGrid.dataSource.data()[rowIdx];
            var benficiery = firstItem.get('Beneficiaries');
           
         
         
            $.getJSON('/Request/GetRation', function (data) {
               

                $.each(data, function (key, val) {
                    if (val.Name == "CSB") {
                       firstItem.set('CSB', val.Value * benficiery);
                      
                    }
                    else if (val.Name == "Grain") {
                        firstItem.set('Grain', val.Value * benficiery);

                    } else if (val.Name == "Oil") {
                        firstItem.set('Oil', val.Value * benficiery);

                    } else if (val.Name == "Pulse") {
                        firstItem.set('Pulse', val.Value * benficiery);

                    }
                   
                 
                });

               
            });         


        });
    }

    
</script>
