@using Cats.Areas.EarlyWarning.Models
@model System.Data.DataTable
@using Cats.Helpers
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization

@{
    ViewBag.Title = "Regional Relief Requests";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@{
    var modelRequest = (RegionalRequestViewModel)ViewData["Request_main_data"];
}
@section Toolbar
{

    <a class="btn toolbar-btn " href="@Url.Action("Index", "Request", new { Area = "EarlyWarning" })" data-buttontype="btn_back_to_list"></a>
    @if (modelRequest.StatusID == (int)Cats.Models.Constant.RegionalRequestStatus.Draft)
    {
        <a class="btn toolbar-btn " href="@Url.Action("Edit", "Request", new { Area = "EarlyWarning", id = modelRequest.RegionalRequestID })" data-buttontype="btn_edit"></a>
        <a class="btn toolbar-btn " href="@Url.Action("Allocation", "Request", new { Area = "EarlyWarning", id = modelRequest.RegionalRequestID })"  data-buttontype="">Allocation</a>
        <a class="btn toolbar-btn " href="@Url.Action("ApproveRequest", "Request", new { id = modelRequest.RegionalRequestID })" data-buttontype="">Approve</a>
    }
    
    @if(modelRequest.Program != "PSNP"){
        <a class="btn toolbar-btn " href="@Url.Action("ReconcileRequest", "Request", new {Area = "EarlyWarning", id = modelRequest.RegionalRequestID})" data-buttontype="">Reconcile</a>
    }

     @if (modelRequest.StatusID == (int)Cats.Models.Constant.RegionalRequestStatus.Approved)
    {
        <a class="btn toolbar-btn "   href="@Url.Action("CreateRequisiton", "ReliefRequisition", new { Area = "EarlyWarning", id = modelRequest.RegionalRequestID })" data-buttontype=""><i class="icon-plus"></i>Requisiton</a>
    }


}
<h4 class="page-header">Regional Request Allocaiton</h4>
<div class="
    ">
    <div>
        <div class="form-horizontal well">
            <table class="table-condensed">
                <tr>
                    <td>

                        <p>
                            <b>@Translator.Translate("Reference Number:")</b>
                        @modelRequest.ReferenceNumber


                    </td>
                    <td>
                        <p>
                            <b>@Translator.Translate("Region")
                                :</b>
                        @modelRequest.Region

                    </td>
                    <td>
                        <p>
                            <b>@Translator.Translate("Month")
                                :</b>
                              @modelRequest.MonthName
                            <b>@Translator.Translate("Year"):</b> @modelRequest.Year
                        </p>
                    </td>
                </tr>
                <tr>

                    <td>
                        <p>
                            <b>@Html.Translate("Request Date")
                                :</b>
                            @modelRequest.RequestDate
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>Program
                                :</b>
                            @modelRequest.Program
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>Ration:</b>
                            <a href="@Url.Action("Details", "Ration", new { id = modelRequest.RationID })">@modelRequest.Ration</a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>Status
                                   :</b>
                            @modelRequest.Status
                        </p>
                    </td>
                </tr>
            
            </table>

        </div>
    </div>

</div>
@section LeftBar
{
    @Html.Partial("_RegionalRequestLeftBar")

}



@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        foreach (System.Data.DataColumn column in Model.Columns)
        {
            if (column.DataType == typeof(decimal))
            { columns.Bound(column.ColumnName).HtmlAttributes(new { align = "right" }).Format("{0:N0}"); }
            else
            {
                columns.Bound(column.ColumnName);
            }

        }
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .Groupable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
            {
                foreach (System.Data.DataColumn column in Model.Columns)
                {
                    model.Field(column.ColumnName, column.DataType);
                }
            })
        .Read(read => read.Action("Details_Read", "Request"))
    )
)


