@model  Cats.Models.RegionalRequest


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="well">
    <h3> Edit Regional Request</h3>
</div>
@section LeftBar
{
    @Html.Partial("_RegionalRequestLeftBar")

}
 @*<a href="@Url.Action("Allocation", "Request", new { Area = "EarlyWarning" ,id=Model.RegionalRequestID})"><i class="icon-chevron-left"></i>Back</a>*@
@using (Html.BeginForm())
{
    <div class="form-horizontal well">
        <fieldset>
            <legend></legend>
            @Html.HiddenFor(m=>m.RegionalRequestID)
            @Html.HiddenFor(m => m.Status);
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RegionID, "Region")
                </div>
                <div class="controls">
                    @Html.DropDownList("RegionID", String.Empty)
                    @Html.ValidationMessageFor(model => model.RegionID)
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ProgramId, "Program")
                </div>
                <div class="controls">
                    @Html.DropDownList("ProgramId", String.Empty)
                    @Html.ValidationMessageFor(model => model.ProgramId)
                </div>
            </div>

          
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Month, "Month")
                </div>
                <div class="controls">
                     @Html.DropDownList("Month", String.Empty)
                     @Html.ValidationMessageFor(model => model.Month)
                </div>
            </div>

            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Year)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Year)
                    @Html.ValidationMessageFor(model => model.Year)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ReferenceNumber)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model => model.ReferenceNumber)
                    @Html.ValidationMessageFor(model => model.ReferenceNumber)
                </div>
            </div>
             <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RationID, "Ration")
                </div>
                <div class="controls">
                    @Html.DropDownList("RationID", String.Empty)
                    @Html.ValidationMessageFor(model => model.RationID)
                </div>
            </div>
              <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RequistionDate)
                   
                </div>
                <div class="controls">
                     <input class="cats-datepicker2" type="text" id="RequistionDate" name="RequistionDate"/>
                    @Html.ValidationMessageFor(model => model.RequistionDate)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Remark)
                </div>
                <div class="controls">
                    @Html.TextAreaFor(model => model.Remark)
                    @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Save Changes" class="btn btn-success"/>
                    <a class="btn btn-success" href="@Url.Action("Allocation", "Request", new { Area = "EarlyWarning",id=Model.RegionalRequestID})">Cancel</a>
                    </div>
            </div>
        </fieldset>



    </div>
    
   
}
