@using Cats.Models
@using Kendo.Mvc.UI
@model IEnumerable<RegionalRequestDetail>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";    
}

@section LeftBar
{
    <li class="nav-header">Request Summary</li>
    <li>Region: @ViewBag.CurrentRegion</li>
    <li>Year: @ViewBag.CurrentYear</li>
    <li>Month: @ViewBag.CurrentMonth</li>
    <li>Round: @ViewBag.CurrentRound</li>
    <li class="nav-header">Tasks</li>
    <li><a href="@Url.Action("Index", "Request", new { Area = "EarlyWarning" })"><i class="icon-chevron-left"></i>Back to requests</a></li>
}

<div class="well">
    <h4 class="page-header">Monthly request for @ViewBag.CurrentRegion for the month of @ViewBag.CurrentMonth  @ViewBag.CurrentYear</h4>
</div>


@(Html.Kendo().Grid<RegionalRequestDetail>().Name("Request").Columns(columns =>
                                                                             {
                                                                                 columns.Bound(detail => detail.Fdpid);
                                                                                 columns.Bound(detail => detail.Beneficiaries);
                                                                                 columns.Bound(detail => detail.Grain);
                                                                                 columns.Bound(detail => detail.Pulse);
                                                                                 columns.Bound(detail => detail.CSB);
                                                                                 columns.Bound(detail => detail.Oil);
                                                                                 columns.Command(command => command.Edit()).Width(200);

                                                                             })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .DataSource(datasource=>datasource
      .Server()
      .Model(model=>model.Id(r=>r.RegionalRequestDetailID))
      .Read(read => read.Action("Edit", "Request"))
      .Update(update=>update.Action("Edit","Request"))
      )
      
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
