@model  Cats.Models.RegionalRequest
@using Cats.Helpers

@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = "Edit Regional Request";
    ViewBag.PageTitleDescription = "";
}
@if (ViewBag.program != "PSNP")
{
    @section LeftBar
    {
        @Html.Partial("_RegionalRequestLeftBar")

    }
}

@section Toolbar
{
    @*<a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frmEdit"></a>*@
    <a class="btn btn-fit-height grey-salt" data-buttontype="btn_cancel" href="@Url.Action("Details","Request",new {id=Model.RegionalRequestID})"><i class="fa fa-list"></i> @Html.Translate("Back to List")</a>
}
<div class="portlet light bordered" style="display: block;">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-list font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> @Html.Translate("Edit Details")</span>
            <span class="caption-helper">  </span>
        </div>
        @*<div class="tools">
                <a href="#" class="collapse" data-original-title="" title=""></a>
                <a href="javascript:;" class="remove" data-original-title="" title=""></a>
            </div>*@
        <div class="actions">
            <a class="btn btn-circle btn-default blue-sharp-stripe toolbar-btn loading-btn" data-loading-text="Saving..." data-buttontype="btn_save" data-submittedform="frmEdit" title="" data-original-title="Save Change"><i class="fa fa-save"></i> @Html.Translate("Save")</a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body">
        @*<a href="@Url.Action("Allocation", "Request", new { Area = "EarlyWarning" ,id=Model.RegionalRequestID})"><i class="icon-chevron-left"></i>Back</a>*@
        @using (Html.BeginForm("Edit", "Request", FormMethod.Post, new {id = "frmEdit"}))
        {
            <div class="form-horizontal ">

                @Html.HiddenFor(m => m.RegionalRequestID)
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.PlanID)
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.RegionID, "Region", new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.HiddenFor(m => m.RegionID)
                                @Html.TextBoxFor(m => m.AdminUnit.Name, new {Disabled = true, @class = "form-control"})
                                @* @Html.ValidationMessageFor(model => model.RegionID)*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProgramId, "Program", new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.HiddenFor(m => m.ProgramId)
                                @Html.TextBoxFor(m => m.Program.Name, new { @class = "disabled form-control", @Disabled = true })
                                <span class="help-block">@Html.ValidationMessageFor(model => model.ProgramId)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Month, "Month", new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.DropDownList("Month", null, String.Empty, new {@class = "form-control"})
                                <span class="help-block">@Html.ValidationMessageFor(model => model.Month)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Year, new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Year, new {@class = "form-control"})
                                <span class="help-block">@Html.ValidationMessageFor(model => model.Year)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReferenceNumber, new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.ReferenceNumber, new {@class = "form-control"})
                                <span class="help-block">@Html.ValidationMessageFor(model => model.ReferenceNumber)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RationID, "Ration", new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.DropDownList("RationID", null, String.Empty, new {@class = "form-control"})
                                <span class="help-block">@Html.ValidationMessageFor(model => model.RationID)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RequistionDate, new {@class = "cats-date-pref control-label col-md-4"})
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.RequistionDate, new {@class = " cats-datepicker2 form-control", @placeholder = "0"})
                                <span class="help-block">@Html.ValidationMessageFor(model => model.RequistionDate)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remark, new {@class = "col-md-4 control-label"})
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.Remark, new {@class = "form-control"})
                                <span class="help-block">@Html.ValidationMessageFor(model => model.Remark)</span>
                            </div>
                        </div>

                    </div>
                </div>
                @if (Model.ProgramId == 1)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Round, new {@class = "col-md-4 control-label"})
                                <div class="col-md-6">
                                    @Html.DropDownList("Round", null, string.Empty, new {@class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.Round)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>