@using Cats.Areas.EarlyWarning.Models
@using Cats.Models.Constant
@using Kendo.Mvc.UI



@{
    ViewBag.Title = "Regional Relief Requests";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="well">
    <h4 class="page-header">Regional Monthly Requests</h4>
</div>
@section LeftBar
{
    @Html.Partial("_RegionalRequestLeftBar")

}
@section Toolbar
{
    <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("New", "Request")"></a>
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="~/">Home</a> <span class="divider">/</span></li>
        <li class="active">Request</li>
    </ul>
}
@using Cats.Areas.EarlyWarning.Models
@using Cats.Models.Constant
@using Kendo.Mvc.UI
@(Html.Kendo().Grid<RegionalRequestViewModel>()
    .Name("grid")
    .Columns(columns =>
                 {
                     columns.Template(t => { }).Title("No").ClientTemplate("#= renderNumber(data) #").Width(30);
                     columns.Bound(request => request.ReferenceNumber).ClientTemplate("<a href='" + Url.Action("Details", "Request", new {id = "#=RegionalRequestID#"}) + " '>#=ReferenceNumber#</a>  ");
                     columns.Bound(request => request.Region);
                     columns.Bound(request => request.Year);
                     columns.Bound(request => request.Month);
                     columns.Bound(request => request.Program);
                     columns.Bound(request => request.RequestDateEt);
                     columns.Bound(requst => requst.ReferenceNumber);
                     columns.Bound(request => request.Status).Template(


                         @<text>
@if (item.StatusID == (int)RegionalRequestStatus.Draft)
{
    @Html.ActionLink("Approve", "ApproveRequest", "Request", new { Area = "EarlyWarning", id = @item.RegionalRequestID })
}
else
{
    @item.Status
    @Html.ActionLink("Approve", "ApproveRequest", "Request", new { Area = "EarlyWarning", id = @item.RegionalRequestID })
}
</text>);
               
                     
                     //columns.Command(command =>
                     //                    {
                     //                        command.Edit().Text(" ");
                     //                        //command.Destroy().Text(" ");
                     //                    }).Width(60);

                 })
                 
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .Events(ev => ev.DataBound("resetRowNumber"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)

            .Model(model =>
            {
                model.Id(p => p.RegionalRequestID);

                //  model.Field(r => r.Status).Editable(false);
                model.Field(r => r.RegionalRequestID).Editable(false);
                model.Field(r => r.StatusID).Editable(false).DefaultValue(1);
                model.Field(r => r.RequestDateEt).Editable(false);
            })
        .Create(update => update.Action("Request_Create", "Request"))
        .Read(read => read.Action("Request_Read", "Request"))
        .Update(update => update.Action("Request_Update", "Request"))
        .Destroy(update => update.Action("Request_Destroy", "Request"))
    ).Pageable()
)