@using System.Collections
@using LanguageHelpers.Localization
@model  Cats.Models.HRDPSNPPlan


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4>New Regional Request</h4>

@section LeftBar
{
    @Html.Partial("_RegionalRequestLeftBar")

}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_forward" data-submittedform="frm_create_request"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "Request")" title="save"></a>
}

@using (Html.BeginForm("New", "Request", FormMethod.Post, new { id = "frm_create_request" }))
{
    <div class="form-horizontal ">
        <div class="control-group pull-left">
            <div class="control-label">
                @Html.LabelFor(model => model.ProgramID, "Program")
            </div>
            <div class="controls">
                @Html.DropDownList("ProgramID", null, new { @id = "cmb_programId" })
                @Html.ValidationMessageFor(model => model.ProgramID)
            </div>
        </div>
        <div class="control-group pull-left" id="Relief_Plan">
            <div class="control-label">
                @Html.LabelFor(model => model.PlanID, Translator.Translate("Plan"))
            </div>
            <div class="controls">
                @Html.DropDownList("PlanID", null, new { @id = "cmb_planID" })
                @Html.ValidationMessageFor(model => model.PlanID)
            </div>
        </div>
        <div class="control-group pull-left" id="PSNP_Plan">
            <div class="control-label">
                @Html.LabelFor(model => model.PlanID, Translator.Translate("Plan"))
            </div>
            <div class="controls">
                @Html.DropDownList("Plan", null, new { @id = "cmb_planID" })
                @Html.ValidationMessageFor(model => model.PlanID)
            </div>
        </div>
            <div class="control-group pull-left">
                <div class="control-label">
                    @Html.LabelFor(model => model.RegionID, "Region")
                </div>
                <div class="controls">
                    @Html.DropDownList("RegionID", string.Empty)
                    @Html.ValidationMessageFor(model => model.RegionID)
                </div>
           
           </div>
      
            <div class="control-group pull-left" id="div_month">
                <div class="control-label">
                    @Html.LabelFor(model => model.Month, "Month")
                </div>
                <div class="controls">
                    @Html.DropDownList("Month", String.Empty)
                    @Html.ValidationMessageFor(model => model.Month)
                </div>
            </div>
        
  
        <div class="control-group pull-left" id="div_round">
            <div class="control-label">
                @Html.LabelFor(model => model.Round, "Round")
            </div>
            <div class="controls">
                @Html.DropDownList("Round", String.Empty)
                @Html.ValidationMessageFor(model => model.Round)
            </div>
        </div>
        

        <div class="control-group pull-left">
            <div class="control-label">
                @Html.LabelFor(model => model.Year,"Year")
            </div>
            <div class="controls">
                @Html.TextBoxFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
               @* <p id="Year_description">As specified on the current HRD</p>*@
            </div>
        </div>

        <div class="control-group pull-left" id="div_season">
            <div class="control-label">
                @Html.LabelFor(model => model.SeasonID, "Season")
            </div>
            <div class="controls">
                @Html.DropDownList("SeasonID", string.Empty)
                @Html.ValidationMessageFor(model => model.SeasonID)
            </div>
        </div>
        <div class="control-group pull-left" id="div_donor">
            <div class="control-label">
                @Html.LabelFor(model => model.DonorID, "Donor")
            </div>
            <div class="controls">
                @Html.DropDownList("DonorID", string.Empty)
                @Html.ValidationMessageFor(model => model.DonorID)
            </div>
        </div>
    </div>
  
}
<script>


    $(function () {

        $("#cmb_programId").change(function () {
            //$this = $(this);
            // $this.attr(label, "");
            var div_season = $("#div_season");
            var div_donor = $("#div_donor");
            var div_month = $("#div_month");
            var div_round = $("#div_round");
            var Relief_Plan = $("#Relief_Plan");
            var PSNP_Plan = $("#PSNP_Plan");
           
            
            //var div_desc = $("#Year_description");
            
            var prog = this.options[this.selectedIndex].innerHTML;

            if (prog == "Relief") {
                div_season.show();
                div_donor.hide();
                div_month.show();
                div_round.show();
                Relief_Plan.show();
                PSNP_Plan.hide();
                var htm = "<p id ='Year_description'>As specified on the current HRD</p>";
                $("#Year_description").html(htm);
            }
            else if (prog == "PSNP") {
                Relief_Plan.hide();
                PSNP_Plan.show();
                div_season.hide();
                div_donor.show();
                div_month.show();
                div_round.hide();
                var htm = "<p id ='Year_description'>As specified on the current PSNP</p>";
                $("#Year_description").html(htm);
            }
        });
        $("#cmb_programId").change();
    });
</script>