@using System.Collections
@model  Cats.Models.HRDPSNPPlan


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div >
    <h6>New Regional Request</h6>
</div>
@section LeftBar
{
    @Html.Partial("_RegionalRequestLeftBar")

}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_request"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "Request")" title="save"></a>
}

@using (Html.BeginForm("New", "Request", FormMethod.Post, new { id = "frm_create_request" }))
{
    <div class="form-horizontal well">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ProgramID, "Program")
                </div>
                <div class="controls">
                    @Html.DropDownList("ProgramID", null, new { @id = "cmb_programId" })
                    @Html.ValidationMessageFor(model => model.ProgramID)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RegionID, "Region")
                </div>
                <div class="controls">
                    @Html.DropDownList("RegionID", string.Empty)
                    @Html.ValidationMessageFor(model => model.RegionID)
                </div>
            </div>


            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Month, "Month")
                </div>
                <div class="controls">
                    @Html.DropDownList("Month", String.Empty)
                    @Html.ValidationMessageFor(model => model.Month)
                </div>
            </div>


            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Year)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Year)
                    @Html.ValidationMessageFor(model => model.Year)
                </div>
            </div>

            <div class="control-group" id="div_season">
                    <div class="control-label">
                        @Html.LabelFor(model => model.SeasonID, "Season")
                    </div>
                    <div class="controls">
                        @Html.DropDownList("SeasonID", string.Empty)
                        @Html.ValidationMessageFor(model => model.SeasonID)
                    </div>
            </div>
    </div>
  
}
<script>
    $(function () {
      
        $("#cmb_programId").change(function () {
            //$this = $(this);
            // $this.attr(label, "");
            var div_season = $("#div_season");
            var prog = this.options[this.selectedIndex].innerHTML;

            if (prog == "Relief") {
                div_season.show();
            }
            else if (prog == "PSNP") {
                div_season.hide();
            }
            
        });
        $("#cmb_programId").change();
    });
</script>
