@model  Cats.Models.RegionalRequest


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="well">
    <h3>Regional Request</h3>
</div>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <fieldset>
            <legend></legend>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RegionID, "Region")
                </div>
                <div class="controls">
                    @Html.DropDownList("RegionID", String.Empty)
                    @Html.ValidationMessageFor(model => model.RegionID)
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ProgramId, "Program")
                </div>
                <div class="controls">
                    @Html.DropDownList("ProgramID", String.Empty)
                    @Html.ValidationMessageFor(model => model.ProgramId)
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RequistionDate)
                   
                </div>
                <div class="controls">
                    @Html.HiddenFor(model => model.RequistionDate)
                     <input class="cats-datepicker" type="text" id="requestDate" name="requestDate"/>
                    @Html.ValidationMessageFor(model => model.RequistionDate)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Round, "Round")
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Round)
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ReferenceNumber)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.ReferenceNumber)
                    @Html.ValidationMessageFor(model => model.ReferenceNumber)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Year)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Year)
                    @Html.ValidationMessageFor(model => model.Year)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Remark)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Remark)
                    @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                <input type="submit" value="Create" class="btn btn-success"/></div>
            </div>
        </fieldset>



    </div>
    
   
}
