@using System.Collections
@model  Cats.Models.RegionalRequest


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <h4 class="page-header">New Regional Request</h4>
</div>
@section LeftBar
{
    @Html.Partial("_RegionalRequestLeftBar")

}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_request"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "Request")" title="save"></a>
}

@using (Html.BeginForm("New", "Request", FormMethod.Post, new { id = "frm_create_request" }))
{
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.RegionalRequestID)
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.RegionID, "Region")
            </div>
            <div class="controls">
                @Html.DropDownList("RegionID", string.Empty)
                @Html.ValidationMessageFor(model => model.RegionID)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.ProgramId, "Program")
            </div>
            <div class="controls">
                @Html.DropDownList("ProgramID", String.Empty)
                @Html.ValidationMessageFor(model => model.ProgramId)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Month, "Month")
            </div>
            <div class="controls">
                @Html.DropDownList("Month", String.Empty)
                @Html.ValidationMessageFor(model => model.Month)
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Year)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.ReferenceNumber)
            </div>
            <div class="controls">
                @Html.TextBoxFor(model => model.ReferenceNumber)
                @Html.ValidationMessageFor(model => model.ReferenceNumber)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.RationID, "Ration")
            </div>
            <div class="controls">
                @Html.DropDownList("RationID", String.Empty)
                @Html.ValidationMessageFor(model => model.RationID)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.RequistionDate)

            </div>
            <div class="controls">
                @Html.HiddenFor(model => model.RequistionDate)
                <input class="cats-datepicker" type="text" id="requestDate" name="requestDate" />
                @Html.ValidationMessageFor(model => model.RequistionDate)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Remark)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Remark)
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>
            <div class="control-group" id="div_donor">
                    <div class="control-label">
                        @Html.LabelFor(model => model.DonorID, "Donor")
                    </div>
                    <div class="controls">
                        @Html.DropDownList("DonorID", string.Empty)
                        @Html.ValidationMessageFor(model => model.DonorID)
                    </div>
            </div>
    </div>
  
}
<script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jgeez.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var name = $('#Remark');
        name.jGeez();
            var div_donor = $("#div_donor");
                div_donor.hide();
                div_donor.show();
    });

</script>
