@using System.Collections
@using Cats.Helpers
@model Cats.Models.HRDPSNPPlan


@{
    ViewBag.Title = "New Requistions";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = "New Request";
    ViewBag.PageTitleDescription = "";
}
@*@section Title
{
    Requistions
}

@section PageTitle
{
    <h1 class="hdr-blck big ">    New  Request  </h1>
}*@

@if (@ViewBag.program != "PSNP")
{
    @section LeftBar
    {
        @Html.Partial("_RegionalRequestLeftBar")
    }
}




<style type="text/css">
    .cats_info, .cats_success, .cats_warning, .cats_error {
        margin: 10px 0px;
        padding: 8px 10px 8px 50px;
        background-repeat: no-repeat;
        background-position: 10px center;
        -moz-border-radius: .5em;
        -webkit-border-radius: .5em;
        border-radius: .5em;
    }

    .cats_error {
        color: #D8000C;
        background-color: #FFBABA;
        background-image: url('../../Content/images/error.png');
    }
</style>
<script>

    //$(function () {

    //    var timer = 7000; // the message last for 7 seconds
    //    clearTimeout(timer);
    //    timer = setTimeout(function () {
    //        $(".message-window").fadeOut("slow");
    //    }, 10000);
    //    //alert(timer);

    //});
    
</script>

<div class="row">
    
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="fa fa-magic font-green-sharp"></i>
                <span class="caption-subject bold uppercase"> @Html.Translate("Fill the detail")</span>
                <span class="caption-helper">  </span>
            </div>
            @*<div class="tools">
                <a href="#" class="collapse" data-original-title="" title=""></a>
                <a href="javascript:;" class="remove" data-original-title="" title=""></a>
            </div>*@
            <div class="actions">
                <a id="headersubmit" class="btn btn-circle btn-default btn-sm green-stripe loading-btn" data-loading-text="Saving..."><span class="fa fa-save"></span> @Html.Translate("Save")</a>
                <a class="btn btn-circle btn-default btn-sm red-stripe" href="@Url.Action("Index", "Request")"><span class="fa fa-times"></span> @Html.Translate("Cancel")</a>
                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
            </div>
        </div>
        <div class="portlet-body">
            @using (Html.BeginForm("New", "Request", FormMethod.Post, new {id = "frm_create_request", @class = "form-horizontal"}))
            {
                if (@ViewData.ModelState.IsValid == false)
                {
                    @*<div style="clear: both;" class="message-window">
                        <div class="cats_error">@ViewData.ModelState["Errors"].Errors[0].ErrorMessage</div>
                    </div>*@
                }
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProgramID, "Program", new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.DropDownList("ProgramID", null, new {@id = "cmb_programId", @class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.ProgramID)</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Year, "Year (Specify it in EC)", new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Year, new {@class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.Year)</span>
                                    @* <p id="Year_description">As specified on the current HRD</p>*@
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="psnp_relif_Plan" class="row">
                        <div class="col-md-6">
                            <div id="Relief_Plan" class="form-group">
                                @Html.LabelFor(model => model.PlanID, Html.Translate("Plan"), new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.DropDownList("PlanID", null, new {@id = "cmb_planId", @class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.PlanID)</span>
                                </div>
                            </div>
                            <div id="PSNP_Plan" class="form-group">
                                @Html.LabelFor(model => model.PlanID, Html.Translate("Plan"), new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.DropDownList("PSNPPlanID", null, new {@id = "cmb_psnpPlanId", @class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.PlanID)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="div_round" class="form-group">
                                @Html.LabelFor(model => model.Round, "Round", new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.DropDownList("Round", null, new {@class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.Round)</span>
                                </div>
                            </div>
                            <div id="div_donor" class="form-group">
                                @Html.LabelFor(model => model.DonorID, "Donor", new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.DropDownList("DonorID", null, new {@class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.DonorID)</span>
                                </div>
                            </div>




                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RegionID, "Region", new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.DropDownList("RegionID", null, new {@class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.RegionID)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="div_season">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SeasonID, "Season", new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.DropDownList("SeasonID", null, new {@class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.SeasonID)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="div_month">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Month, "Month", new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.DropDownList("Month", null, new {@class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.Month)</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row" id="IDPS_Ration">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RationID, Html.Translate("Ration"), new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.DropDownList("RationID", null, new {@class = "form-control"})
                                    <span class="help-block">@Html.ValidationMessageFor(model => model.RationID)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="Plan">
                        <div class="form-group">
                            <label class="col-md-4 control-label"> @Html.Translate("Plan")</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Plan" placeholder="Plan">
                            </div>

                        </div>

                    </div>
                    <div class="row" id="StartDate">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label"> @Html.Translate("Start Date")</label>
                                <div class="col-md-8">
                                    <input type="text" class="cats-datepicker2" name="StartDate">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="EndDate">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label"> @Html.Translate("End Date")</label>
                                <div class="col-md-8">
                                    <input type="text" class="cats-datepicker2" name="EndDate">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="form-footer" style="display: none;">
                    <button class="btn btn-primary" id="formsubmit" type="submit" data-submittedform="frm_create_request"><span class="fa fa-save"></span> Save</button>
                    <a class="btn  btn-default" href="@Url.Action("Index", "Request")"><span class="fa fa-lg fa-times-circle"></span> Cancel</a>
                </div>
            }
        </div>

    </div>
</div>


<script>


    $(function () {

        $("#cmb_programId").change(function () {
            //$this = $(this);
            // $this.attr(label, "");
            var div_season = $("#div_season");
            var div_donor = $("#div_donor");
            var div_month = $("#div_month");
            var div_round = $("#div_round");
            var Relief_Plan = $("#Relief_Plan");
            var PSNP_Plan = $("#PSNP_Plan");
            var IDPS_Ration = $("#IDPS_Ration");

            var EndDate = $("#EndDate");
            var StartDate = $("#StartDate");
            var Plan = $("#Plan");

            var psnp_relif_Plan = $("#psnp_relif_Plan");
            var prog = this.options[this.selectedIndex].innerHTML;

            if (prog == "Relief") {
                div_season.show();
                div_donor.hide();
                div_month.show();
                div_round.show();
                psnp_relif_Plan.show();
                Relief_Plan.show();
                PSNP_Plan.hide();
                IDPS_Ration.hide();
                EndDate.hide();
                StartDate.hide();
                Plan.hide();
                var htm = "<p id ='Year_description'>As specified on the current HRD</p>";
                $("#Year_description").html(htm);
            }
            else if (prog == "PSNP") {
                Relief_Plan.hide();
                psnp_relif_Plan.show();
                PSNP_Plan.show();
                div_season.hide();
                div_donor.show();
                div_month.show();
                div_round.hide();
                IDPS_Ration.hide();
                EndDate.hide();
                StartDate.hide();
                Plan.hide();

                var htm = "<p id ='Year_description'>As specified on the current PSNP</p>";
                $("#Year_description").html(htm);
            }
            else if (prog=="IDPS") {
                Relief_Plan.hide();
                PSNP_Plan.hide();
                div_season.show();
                div_donor.show();
                div_month.show();
                div_round.show();
                IDPS_Ration.show();
                EndDate.show();
                StartDate.show();
                Plan.show();
                psnp_relif_Plan.hide();
            }
        });
        $("#cmb_programId").change();
    });
</script>
<script type="text/javascript">
    $("#headersubmit").click(function () {
        $("#frm_create_request").submit();
    });
</script>