@using System.Collections
@model  Cats.Models.RegionalRequest


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="well">
    <h3> New Regional Request</h3>
</div>
@section LeftBar
{
    @Html.Partial("_RegionalRequestLeftBar")

}

@using (Html.BeginForm())
{
    <div class="form-horizontal well">
        <fieldset>
            <legend></legend>
               @Html.HiddenFor(model => model.RegionalRequestID)
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RegionID, "Region")
                </div>
                <div class="controls">
                    @Html.DropDownList("RegionID",string.Empty)
                    @Html.ValidationMessageFor(model => model.RegionID)
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ProgramId, "Program")
                </div>
                <div class="controls">
                    @Html.DropDownList("ProgramID", String.Empty)
                    @Html.ValidationMessageFor(model => model.ProgramId)
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Month, "Month")
                </div>
                <div class="controls">
                     @Html.DropDownList("Month", String.Empty)
                     @Html.ValidationMessageFor(model => model.Month)
                </div>
            </div>

            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Year)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Year)
                    @Html.ValidationMessageFor(model => model.Year)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ReferenceNumber)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model => model.ReferenceNumber)
                    @Html.ValidationMessageFor(model => model.ReferenceNumber)
                </div>
            </div>
               <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RationID, "Ration")
                </div>
                <div class="controls">
                    @Html.DropDownList("RationID", String.Empty)
                    @Html.ValidationMessageFor(model => model.RationID)
                </div>
            </div>
              <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RequistionDate)
                   
                </div>
                <div class="controls">
                    @Html.HiddenFor(model => model.RequistionDate)
                     <input class="cats-datepicker" type="text" id="requestDate" name="requestDate"/>
                    @Html.ValidationMessageFor(model => model.RequistionDate)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Remark)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Remark)
                    @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                <input type="submit" value="Create" class="btn btn-success"/></div>
            </div>
        </fieldset>



    </div>
    
   
}
