@using Cats.Models.Constant
<ul class="nav nav-list">
    <li class="nav-header">Bid Management</li>
    <li><a href="@Url.Action("index", "Bid",new {id=(int)BidStatus.Open})"><i class="icon-envelope"></i> Draft</a></li>
    <li><a href="@Url.Action("Index","Bid",new {id=(int)BidStatus.Approved})"><i class="icon-check"></i>Approved Bids</a></li>
    <li><a href="@Url.Action("Index", "Bid",new {id=(int)BidStatus.Active})"><i class="icon-inbox"></i> Active Bids </a></li>
     <li><a href="@Url.Action("Index", "Bid",new {id=(int)BidStatus.Closed})"><i class="icon-inbox"></i> Closed Bids </a></li>
    <li class="divider"></li>
    <li><a href="@Url.Action("Create","Bid")"><i class="icon-plus"></i> New Bid</a></li>
    
    

</ul>
