@model IEnumerable<Cats.Models.Hub.Commodity>
@using Cats.Web.Hub.Helpers

<script type="text/javascript">
    var selectedParentCommodityID = @ViewBag.SelectedCommodityID;
    $(function () {

        var value = $('#ParentID').find('option:selected').val();
        var url = 'Commodity/SubCommodityListPartial/' + value;
        $('#childrenCommodity').load(url);
        $('#UniqueId').attr("href", '@Url.Action("Create", new { type = 0 })' + "&Parent=" + value); //return with parent set in the actions
        selectedParentCommodityID = value;

        $('#ParentID').change(function () {
            var value = $(this).find('option:selected').val();
            selectedParentCommodityID = value;
            RefreshSubCommodities();
        });
    });

    function RefreshSubCommodities() {
        var url = 'Commodity/SubCommodityListPartial/' + selectedParentCommodityID;
        $('#ajax_loading').show();
        $('#childrenCommodity').load(url);
        $('#ajax_loading').hide();
        $('#UniqueId').attr("href", '@Url.Action("Create", new { type = 0 })' + "&Parent=" + selectedParentCommodityID); //return with parent set in the actions

    }

    function RefreshCommodities() {
        var url = 'Commodity/CommodityListPartial/';
         $('#ajax_loading').show();
        $('#parentCommodity').load(url);
         $('#ajax_loading').hide();
        getParents();
    }
    
     function RefreshSubCommoditiesById(count)
    {
        var url = 'Commodity/SubCommodityListPartial/' + count;
        $('#ajax_loading').show();
        $('#childrenCommodity').load(url);
        $('#ajax_loading').hide();
        $('#UniqueId').attr("href", '@Url.Action("Create", new { type = 0 })' + "&Parent=" + count); //return with parent set in the actions

    }
    function getParents() {
       
        var url = 'Commodity/GetParentList/';
        $.getJSON(url, function (result) {
            var options = $("#ParentID");
            var children = $('#ParentID').children();
            var childvals= [];
            var i = 0;
            $.each(children, function(child) {
                childvals[i] = children[child].value;
                i++;
            });

            $("#ParentID").empty();
            var count = result[0].Value;
            $.each(result, function (item) {
                if((jQuery.inArray((result[item].Value),childvals)) == -1) {  //jQuery.inArray((result[item].Value),childvals))) {
                    count = result[item].Value;
                    options.append($("<option selected='selected'/>").attr('value', result[item].Value).text(result[item].Text)); //attr('selected'="selected")
                    $('#ParentID').val(count);
                    //value = count;
                    selectedParentCommodityID = count;
                   // alert(count);
                } else {
                    options.append($("<option/>").attr('value', result[item].Value).text(result[item].Text));     
                }
             });
             RefreshSubCommoditiesById(count);
            });

   }
</script>

<div id="everything">
@{ Html.Telerik().TabStrip()
       .Name("TabStrip")
        .Items(tabstrip =>
        {
            tabstrip.Add()
                .Text(Html.Translate("Parent Commodities"))
                .Content(@<text>
                    <p>
                       @*@Html.ActionLink("Create New Parent Commodity", "Create", new { type = 1 })*@
                       @Html.DialogFormLink("Create New Parent Commodity", Url.Action("Create") + "?type=1", Html.Translate("Create Commodity"), "parentCommodity", "javascript:RefreshCommodities()", "uniqueId")
                    </p>
                    <div id="parentCommodity">
                        @{ViewBag.ShowParentCommodity = false;}
                        @Html.Partial("_CommodityPartial", @Model.Where(c=>c.ParentID == null) )  
                    </div>
                </text>);
            tabstrip.Add()
                .Text("Sub Commodities")
                .Content(@<text>

                        @using (Html.BeginForm()) {
                            @Html.ValidationSummary(true)

                                <div class="editor-field">
                                    @Html.DropDownList("ParentID")
                                </div>
                        }
                    
                    <p>
                        @{ ViewBag.ShowParentCommodity = true;}
                        @*@Html.ActionLink("Create New Sub Commodity", "Create", new { type = 0  })*@
                       @Html.DialogFormLink("Create Sub Commodities", Url.Action("Create", new { type = 0 }), Html.Translate("Create Commodity"), "childrenCommodity", "javascript:RefreshSubCommodities()", "UniqueId")
                    </p>    
                    <div id="childrenCommodity">
                         @Html.Partial("_CommodityPartial", @Model.Where(c => c.ParentID == ViewBag.SelectedCommodityID))
                    </div> 
                </text>);
           
        })
        .SelectedIndex(ViewBag.index)
        .Render();
} 
</div>
