@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    const string PAGE_NAME = "EarlyWarning.Index";
}

@section styles
{
    @*<link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Dashboard/dashboardcomponents.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">*@
}

<div ng-app="myApp">
    <div class="container" ng-controller="RecentBidsController">
        <div class="row container">
            <div class="span12">
                <div class="heading">
                    <h3>Procurement Dashboard</h3>
                </div>
                <div class="center">
                    <div class="span4">
                        <a href="@Url.Action("Index", "Bid", new { id = 5 })" class="dashboard-stat align-center" >
                            <div class="details" style="float: right">
                                <span class="content number">Active Bids</span>
                                <span class="value number">@ViewBag.ActiveBids</span>
                            </div>
                        </a>
                    </div>
                    <div class="span4">
                        <a href="@Url.Action("Index", "Transporter")" class="dashboard-stat">
                            <div class="details" style="float: right">
                                <span class="content number">Transporters</span>
                                <span class="value number">@ViewBag.Transporters</span>
                            </div>
                        </a>
                    </div>

                    <div class="span4">
                        <a href="@Url.Action("Index", "TransportBidPlan")" class="dashboard-stat">
                            <div class="details" style="float: right">
                                <span class="content number">Current bid plan</span>
                                <span class="value number">@ViewBag.CurrentBidPlan</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container" style="margin-top: 15px">
            <div class="span12">
                <div class="portlet">
                    <div id="BidHeader" class="portlet-header">
                        <h3 id="bar-title">Active Bids</h3>
                        <ul style="display: none" id="back" class="portlet-tools pull-right">
                            <li>
                                <a class="btn btn-sm btn-default">
                                    <i class="icon-chevron-sign-left">Back</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                                    

                    <div id="BidContent" class="portlet-content" style="padding-top: 2px">
                        <div ng-show="(RecentBids).length==0" class="align-center">
                            <br />
                            <p style="font-size: 15px">There are no active bids</p>
                        </div>

                        <table ng-show="(RecentBids).length" class="table table-hover table-condensed" style="margin-bottom: 2px">
                            <thead>
                                <tr class="">
                                    <th># No.</th>
                                    <th>Bid Number</th>
                                    <th>Start Date</th>
                                    <th>Opening Date</th>
                                    <th>Opening Time</th>
                                    <th class="align-center">Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="item in RecentBids">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.BidNumber}}</td>
                                    <td>{{item.OpeningDate}}</td>
                                    <td>{{item.OpeningDate}}</td>
                                    <td>{{item.Time}}</td>
                                    <td><span class="label label-success">{{states[item.StatusID-1]}}</span></td>
                                    <td>
                                        <a ng-click="viewBidDetail(item)" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="center" id="biddetailContent" style="display: none">
                       
                    <div class="container row" style="margin-top: 10px;">
                        <div class="span5">
                            <div class="portlet">
                                <div class="portlet-header">
                                    <h3>
                                        <i class=""></i>
                                        Price Quotations
                                    </h3>
                                </div>
                                <div class="portlet-content">
                                    <div id="contain2" class="chartWrap2" draw-pie-chart=""></div> 
                                    
                                    @*<div id="containerRequisition" class="chartWrap" ></div>*@
                                </div>
                            </div>

                        </div>
                        <div class="span7">
                            <div class="portlet">
                                <div class="portlet-header">
                                    <h3>
                                        <i class=""></i>
                                        Price Quotations
                                    </h3>
                                    <ul ng-show="(PriceQuotatitons).length" class="portlet-tools pull-right">
                                        <li>
                                            <button class="btn btn-sm btn-default">
                                                Show more
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <div class="portlet-content" style="min-height: 240px">

                                    <div ng-show="(PriceQuotatitons).length==0" class="align-center">
                                        <p style="font-size: 15px">No price quotations</p>
                                        <a class="btn btn-default" href="@Url.Action("BidProposalHeader", "PriceQuotation")">Add Price Qoutation <i class="icon-caret-right"></i></a>
                                    </div>
                                    <table ng-show="(PriceQuotatitons).length" class="table table-condensed table-hover tight-table">
                                        <thead style="text-align: right">
                                            <tr>
                                                <th>Trasnporter</th>
                                                <th>Woredas</th>
                                                <th>Status</th>
                                                <th>Entered By</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="" ng-repeat="item in PriceQuotatitons">
                                                <td>{{item.Transporter}}</td>
                                                <td>{{item.OffersCount}}</td>
                                                <td>{{item.Status}}</td>
                                                <td>{{item.EnteredBy}}</td>
                                                <td>
                                                    <a ng-click="viewPQDetail(item)" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container row" style="margin-top: 10px;">
                        <div class=" span6">
                            <div class="portlet">
                                <div class="portlet-header">
                                    <h3>
                                        <i class=""></i>
                                        First winners
                                    </h3>
                                    <ul ng-show="(Firstwinners).length" class="portlet-tools pull-right">
                                        <li>
                                            <button class="btn btn-sm btn-default">
                                                Show more
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <div class="portlet-content">
                                    <div ng-show="(Firstwinners).length==0" class="align-center">
                                        <p>There are no first winners for this bid</p>
                                        <a class="btn btn-default" href="@Url.Action("GenerateWinners", "PriceQuotation")">Generate Winners now <i class="icon-caret-right"></i></a>
                                    </div>

                                    <table ng-show="(Firstwinners).length" class="table table-hover tight-table">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">Transporter</th>
                                                <th>Woredas</th>
                                                <th>Min offer (ETB)</th>
                                                <th>Max offer (ETB)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="item in Firstwinners">
                                                <td>{{item.Name}}</td>
                                                <td>{{item.Count}}</td>
                                                <td>{{item.minoffer | number:2}}</td>
                                                <td>{{item.maxoffer | number:2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="portlet">
                                <div class="portlet-header">
                                    <h3>
                                        <i class=""></i>
                                        Second winners
                                    </h3>
                                    <ul ng-show="(SecondWinners).length" class="portlet-tools pull-right">
                                        <li>
                                            <button class="btn btn-sm btn-default">
                                                Show more
                                            </button>
                                        </li>
                                    </ul>

                                </div>
                                <div class="portlet-content">
                                    <div ng-show="(SecondWinners).length==0" class="align-center">
                                        <p>There are no second winners for this bid</p>
                                        <a class="btn btn-default" href="@Url.Action("GenerateWinners", "PriceQuotation")">Generate Winners now <i class="icon-caret-right"></i></a>
                                    </div>
                                    <table ng-show="(SecondWinners).length" class="table table-hover tight-table">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">Transporter</th>
                                                <th>Woredas</th>
                                                <th>Min offer (ETB)</th>
                                                <th>Max offer (ETB)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="item in SecondWinners">
                                                <td>{{item.Name}}</td>
                                                <td>{{item.Count}}</td>
                                                <td>{{item.minoffer | number:2}}</td>
                                                <td>{{item.maxoffer | number:2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container row" style="margin-top: 10px">
                        <div class="span12">
                            <div class="portlet">
                                <div class="portlet-header">
                                    <h3>
                                        <i class=""></i>
                                        Woredas without offer
                                    </h3>
                                    <ul class="portlet-tools pull-right">
                                        <li>
                                            <button class="btn btn-sm btn-default">
                                                Show more
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portlet-content">
                                    @*<div id="contain" class="chartWrap" draw-pie-chart=""></div>*@ 
                                    @* <table id="" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Transporter</th>
                                            <th>Woredas</th>
                                            <th>Min offer</th>
                                            <th>Max offer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="item in Firstwinners">
                                            <td>{{item.Name}}</td>
                                            <td>{{item.Count}}</td>
                                            <td>{{item.minoffer}}</td>
                                            <td>{{item.maxoffer}}</td>
                                        </tr>
                                    </tbody>
                             </table>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        $("#BidHeader").click(function () {
            $("#BidContent").slideDown("slow");
            $("#bar-title").text("Active bids");
            $("#biddetailContent").hide("fast", "linear");
            $("#back").hide();
        });
        $("#back").click(function () {
            $("#BidContent").slideDown("slow");
            $("#bar-title").text("Active bids");
            $("#biddetailContent").hide("fast", "linear");
            $("#back").hide();
        });
    </script>
</div>

<script>
    

    // Declare app level module which depends on filters, and services
    angular.module('myApp', ['myApp.directives']);

    /* Controllers */
    function RecentBidsController($scope, $http) {
        $scope.RecentBids = [];
        $scope.PriceQuotatitons = [];
        $scope.Firstwinners = [];
        $scope.SecondWinners = [];
        $scope.WoredasWithoutoffer = [];
        $scope.reqParam = { bidId: 14, rank: 1 };

        $scope.states = ["Draft", "Approved", "Closed", "Closed1", "Active", "Closed3"];

        var onSuccessRecentBids = function (data) {
            $scope.RecentBids = data;
        };

        var onSuccesspqs = function (data) {
            $scope.PriceQuotatitons = data;
            $scope.QuotationPIE = [];
            
            for (var i in $scope.PriceQuotatitons) {
                var key = $scope.PriceQuotatitons[i].Transporter;
                //var value = $scope.PriceQuotatitons[i].OffersCount;
                //$scope.QuotationPIE.push['key'] = value;
                $scope.QuotationPIE.push([  key,  $scope.PriceQuotatitons[i].OffersCount ]);
            }
        };

        var firstwinners = function (data) {
            $scope.Firstwinners = data;
        };

        var secondwinners = function (data) {
            $scope.SecondWinners = data;
        };

        $scope.getRecentBids = function () {
            $http.post("@Url.Action("RecentBids", "FetchData", new { Area = "Procurement" })").success(onSuccessRecentBids);
        };

        $scope.viewBidDetail = function (item) {
            $("#BidContent").hide("fast", "linear");
            $("#bar-title").text(item.BidNumber + " Detail");
            $("#biddetailContent").show("fast", "linear");
            $("#back").show();
            var firstparam = { bidid: item.BidID, rank: 1 };
            $http.post("@Url.Action("GroupedWinners", "FetchData", new { Area = "Procurement" })", firstparam).success(firstwinners);
            var secondparam = { bidid: item.BidID, rank: 2 };
            $http.post("@Url.Action("GroupedWinners", "FetchData", new { Area = "Procurement" })", secondparam).success(secondwinners);
            $http.post("@Url.Action("PriceQoutation", "FetchData", new { Area = "Procurement" })", { bidID: item.BidID }).success(onSuccesspqs);
        };

        $scope.viewPQDetail = function (item) {
            // alert("Show Detail");
            var id = item.TransportBidQuotationHeaderID;
            window.open("@Url.Action("Details","PriceQuotation")"+"/"+id, "_blank");
        };

       $scope.getRecentBids();
    }

    /* Directives */
    angular.module('myApp.directives',[]).
       directive('drawPieChart', function () {
           // return the directive link function. (compile function not needed)
           return function (scope, element, attrs) {
               var container = $(element).attr("id");
               // watch the expression, and update the UI on change.
               scope.$watch('PriceQuotatitons', function () {
                   drawPlot();
               }, true);
               var drawPlot = function () {
                   var chart;
                   chart = new Highcharts.Chart({
                       chart: {
                           renderTo: container
                       },
                       credits: {
                           enabled: false
                       },
                       title: {
                           text: ''
                       },
                       exporting: {
                           enabled: false
                       },
                       tooltip: {
                           pointFormat: '{series.name}: <b>{point.percentage}</b>% <b>({point.y})</b> Requests',
                           percentageDecimals: 1
                       },
                       plotOptions: {
                           pie: {
                               allowPointSelect: true,
                               cursor: 'pointer',
                               dataLabels: {
                                   enabled: false
                               },
                               showInLegend: true
                           }
                       },
                       series: [{
                           type: 'pie',
                           name: 'Percentage',
                           data: scope.QuotationPIE
                       }]
                   });
               }
           }
       });
    

   

</script>


<script>
   

</script>
