@model Cats.Models.Hub.CommodityGrade
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Details");
}

<h2>Details</h2>

<fieldset>
    <legend>@Html.Translate("CommodityGrade")</legend>

    <div class="display-label">@Html.Translate("Name")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.Translate("Description")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">@Html.Translate("SortOrder")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Html.Translate("Edit"), "Edit", new { id = Model.CommodityGradeID }) |
    @Html.ActionLink(Html.Translate("Back to List"), "Index")
</p>
