@using Cats.Models;
@model Cats.Models.BusinessProcess
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_promot_bp"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "RegionalPSNPPlan")"></a>
    <!--
    <a href="#" class="btn toolbar-btn "><i class="icon-star"></i>Custom</a>
    -->
        <a class="btn toolbar-btn " data-buttontype="btn_new_record"></a>
        <a class="btn toolbar-btn " data-buttontype="btn_save"></a>
       
}

@section LeftBar
{
   
    @Html.Partial("_PSNPLeftBar");
   
}

<div>Process @Model.ProcessType.Name</div>
<div>Status @Model.CurrentStateID : @Model.CurrentState.BaseStateTemplate.Name</div>
    
<br />

<div class="form-horizontal">
@using (Html.BeginForm("Edit", "BusinessProcess", FormMethod.Post, new { id = "frm_promot_bp" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Promote @Model.ProcessType.Name</legend>

        <input type="hidden" name="ParentBusinessProcessID" value="@Model.BusinessProcessID" />

        <div class="control-group">
            <div class="control-label">Date</div>
            <div class="controls"><input name="DatePerformed" class = "input-xlarge cats-datepicker2" value="10/10/2013" /></div>
        </div>

         <div class="control-group">
            <div class="control-label">State</div>
            <div class="controls"><input name="StateID" class = "input-xlarge " /></div>
        </div>

        <div class="control-group">
            <div class="control-label">PerformedBy</div>
            <div class="controls"><input name="PerformedBy" class = "input-xlarge" /></div>
        </div>
        <div class="control-group">
            <div class="control-label">Comment</div>
            <div class="controls"><input name="Comment" class = "input-xlarge" /></div>
        </div>
    </fieldset>
}
</div>

<br /><br />
<div><br />History</div>
<table class="table table-striped table-bordered">
    <tr>
        <th>Date</th>
        <th> State</th>
        <th> User</th>
        <th>Comment</th>
    </tr>

    @foreach (BusinessProcessState item in Model.BusinessProcessStates)
    {
        
        <tr>
            <td> @item.DatePerformed</td>
            <td> @item.BaseStateTemplate.Name</td>
            <td>@item.PerformedBy</td>
            <td>@item.Comment</td>
        </tr>
    }

</table>
