@using LanguageHelpers.Localization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<fieldset>
    <legend>
        @Translator.Translate("Dispatch allocation")
    </legend>
</fieldset> 

@section LeftBar{
    
    @Html.Partial("_AllocationLeftBar")
}

<fieldset>
    <legend>
        @Translator.Translate("Approved Requisitions to be hub allocated")
    </legend>
</fieldset>

<div id ="HubAllocationPartial">
    @Html.Partial("HubAllocation")
</div>
<br/>
<br/>

<fieldset>
    <legend>
        @Translator.Translate("Hub allocated requisitions")
    </legend>
</fieldset>
<fieldset>
    <legend>
       <span style="font-size: small"> @Translator.Translate(" Requisition to be allocated PC/SI code")</span>
    </legend>
</fieldset>

<div id="ProjectCodeAllocationPartial">
    @Html.Partial("AllocateProjectCode")
</div>


