@using Kendo.Mvc.UI
@using Cats.Helpers
@{
    ViewBag.ViewWidth = "Wide";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    #tab0 {
    height: 400px;
}

       #tab1 {
    height: 400px;
}
          #tab2 {
    height: 400px;
}

</style>

<fieldset>
    <legend>
        @Html.Translate("Dispatch allocation")
    </legend>
</fieldset>

@section Toolbar
{
    <!-- 
    <div class="input-prepend" style="margin-top:10px; margin-right:5px; ">
        <span class="add-on">Region</span>
        <select>
            <option value="1">One</option>
            <option value="2">One</option>
            <option value="3">One</option>
            <option value="4">One</option>
        </select>
    </div>-->
    <div class="btn-group">
        <button class="btn">Action</button>
        @{
            if (ViewBag.regionId != -1)
            {
            <button class="btn dropdown-toggle " data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            }
            else
            {
            <button class="btn dropdown-toggle disabled" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            }
        }


        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Hub", "DispatchAllocation", new { regionid = ViewBag.regionId })">Hub allocation</a></li>
            <!--<li><a href="@Url.Action("Index", "SIAllocation", new { Area = "Logistics", regionid = ViewBag.regionId })">PC/SI code allocation</a></li>-->
            <li><a href="@Url.Action("CreateTransportRequisition", "TransportRequisition", new { regionId = ViewBag.regionId })">Generate Transport Requisition</a></li>

            <li><a href="#"></a></li>
        </ul>

    </div>

}



@{


    var ddl = Html.Kendo().DropDownList()
        .Name("Region")
        .OptionLabel("Select a Region...")
        .DataTextField("Name")
        .DataValueField("AdminUnitID")
        .HtmlAttributes(new { style = "width:200px" })
        .Events(e => e.Change("regionsChange"))
        .DataSource(source => source.Read("GetRegions", "DispatchAllocation"));


    ddl.Render(); //displays the dropdown list

    var selected = ddl.ToComponent().Value;//gets the selected value
}


<div style="float: right; margin-right: 100px">
    
</div>

<div class="row-fluid">
    <div class="span3 column-divider">
        <div id="HubAllocationPartial">
            @Html.Partial("HubAllocation", (int)ViewBag.regionId)
        </div>
    </div>
    <div class="span9">
        <div class="row-fluid">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab0" data-toggle="tab"><b>@Html.Translate("Approved Requisitions")</b></a>
            </li>

            <li>
                <a href="#tab1" data-toggle="tab"><b>@Html.Translate("Hub Allocated Requisitions")</b></a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab"><b>@Html.Translate("Project /SI Code Allocated")</b></a>
            </li>

        </ul>
        <div class="tab-content ">
            <div id="tab0" class="tab-pane active">
                <div id="ApprovedRequisitionPartial">
                    @Html.Partial("_ApprovedRequisitions", new List<int?>() { { ViewBag.regionId }, { (int)Cats.Models.Constant.ReliefRequisitionStatus.Approved } })
                </div>
            </div>
            <div id="tab1" class="tab-pane">
                <div id="HubAllocatedPartial">
                    @Html.Partial("AllocateProjectCode", new List<int?>() { { ViewBag.regionId }, { (int)Cats.Models.Constant.ReliefRequisitionStatus.HubAssigned } })
                </div>
            </div>
            <div id="tab2" class="tab-pane">
                <div id="ProjectCodeAllocatedPartial">
                    @Html.Partial("AllocateProjectCode", new List<int?>() { { ViewBag.regionId }, { (int)Cats.Models.Constant.ReliefRequisitionStatus.ProjectCodeAssigned } })
                </div>
            </div>
        </div>
</div>
        
    </div>
</div>

<script>

    $(document).ready(function () {
        var regionId = '@ViewBag.regionId';

        var dropdownlist = $("#Region").data("kendoDropDownList");
        dropdownlist.value(regionId);
    });


    function regionsChange(e) {
        e.preventDefault();


        var value = this.value();

        if (value == "") {

            window.location = null;
            window.location = "@Url.Action("RegionId", "DispatchAllocation")" + "?id=" + -1;

        }
        else {
            window.location = null;
            window.location = "@Url.Action("RegionId", "DispatchAllocation")" + "?id=" + value;
        }

    }
    


</script>

