@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<fieldset>
    <legend>
        @Translator.Translate("Dispatch allocation")
    </legend>
</fieldset> 

@section LeftBar{
    
    @Html.Partial("_AllocationLeftBar")
}



@{
    var ddl = Html.Kendo().DropDownList()
        .Name("category")
        .OptionLabel("Select a Region...")
        .DataTextField("Name")
        .DataValueField("AdminUnitID")
        .HtmlAttributes(new {style = "width:200px"})
        .Events(e => e.Change("regionsChange"))
        .DataSource(source => source.Read("GetRegions", "DispatchAllocation"));
        
            
    ddl.Render(); //displays the dropdown list

    var selected = ddl.ToComponent().Value;//gets the selected value
}
<div style="float: right; margin-right: 100px">
    <div class="btn-group">
  <button class="btn">Action</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
            <li>  <a href="@Url.Action("Hub", "DispatchAllocation",new {regionid =  ViewBag.regionId})">hub allocation</a></li>
            <li><a href="@Url.Action("Index", "SIAllocation", new { Area = "Logistics", regionid =  ViewBag.regionId })">PC/SI code allocation</a></li>
            <li><a href="#">Generate TR</a></li>
            <li><a href="#"></a></li>
        </ul>

    </div>
</div>
<fieldset>
    <legend>
        @Translator.Translate("Allocated amount  by Region and Hub")
    </legend>
</fieldset>

<div id ="HubAllocationPartial">
    @Html.Partial("HubAllocation",(int)ViewBag.regionId)
</div>
<br/>
<br/>

<fieldset>
    <legend>
        @Translator.Translate("Hub allocated requisitions")
    </legend>
</fieldset>
<fieldset>
    <legend>
       <span style="font-size: small"> @Translator.Translate(" Requisition to be allocated PC/SI code")</span>
    </legend>
</fieldset>

<div id="ProjectCodeAllocationPartial">
    @Html.Partial("AllocateProjectCode",(int)ViewBag.regionId)
</div>


<script>
   
    function regionsChange(e) {
        e.preventDefault();

        var value = this.value();
        window.location = null;
        window.location = "@Url.Action("RegionId", "DispatchAllocation")" + "?id=" + value;
    }
</script>