@using Kendo.Mvc.UI
@using Cats.Helpers
@{
    ViewBag.ViewWidth = "Wide";
    ViewBag.Title = @Html.Translate("Index");
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Dispatch allocation");
    ViewBag.PageTitleDescription = "";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-list font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> @Html.Translate("Dispatch Allocation Details")</span>
            <span class="caption-helper">  </span>
        </div>
        <div class="tools">
            @*<a href="#" class="collapse" data-original-title="" title=""></a>*@
            @*<a href="javascript:;" class="remove" data-original-title="" title=""></a>*@
        </div>
        <div class="actions">
            <div class="btn-group">
                @if (ViewBag.regionId != -1)
                {
                    <button type="button" class="btn green dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-horizontal"></i> @Html.Translate("Action") <i class="fa fa-angle-down"></i>
                    </button>
                }
                <ul class="dropdown-menu pull-right">
                    <li><a class="btn green-haze-stripe" href="@Url.Action("Hub", "DispatchAllocation", new { regionid = ViewBag.regionId })">@Html.Translate("Hub allocation")</a></li>
                    <!--<li><a  class="btn green-haze-stripe" href="@Url.Action("Index", "SIAllocation", new { Area = "Logistics", regionid = ViewBag.regionId })">PC/SI code allocation</a></li>-->
                    <li><a class="btn green-haze-stripe" href="@Url.Action("CreateTransportRequisition", "TransportRequisition", new { regionId = ViewBag.regionId })">@Html.Translate("Generate Transport Requisition")</a></li>
                </ul>
            </div>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="well">
                    @{var ddl = Html.Kendo().DropDownList().Name("Region").OptionLabel(@Html.Translate("Select a Region...")).DataTextField("Name").DataValueField("AdminUnitID")
                            .HtmlAttributes(new { style = "width:200px" }).Events(e => e.Change("regionsChange")).DataSource(source => source.Read("GetRegions", "DispatchAllocation"));
                    ddl.Render(); //displays the dropdown list
                    var selected = ddl.ToComponent().Value;//gets the selected value
                    }
                </div>
                <div id="HubAllocationPartial">
                    @Html.Partial("HubAllocation", (int)ViewBag.regionId)
                </div>
            </div>
            <div class="col-sm-9">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab" aria-expanded="false">
                                @Html.Translate("Approved Requisitions")
                            </a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab" aria-expanded="false">
                                @Html.Translate("Hub Allocated Requisitions")
                            </a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab" aria-expanded="true">
                                @Html.Translate("Project /SI Code Allocated")
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane active">
                            <div id="ApprovedRequisitionPartial">
                                @Html.Partial("_ApprovedRequisitions", new List<int?>() { { ViewBag.regionId }, { (int)Cats.Models.Constant.ReliefRequisitionStatus.Approved } })
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane">
                            <div id="HubAllocatedPartial">
                                @Html.Partial("AllocateProjectCode", new List<int?>() { { ViewBag.regionId }, { (int)Cats.Models.Constant.ReliefRequisitionStatus.HubAssigned } })
                            </div>
                        </div>
                        <div id="tab3" class="tab-pane">
                            <div id="ProjectCodeAllocatedPartial">
                                @Html.Partial("_AllocateProjectCode", new List<int?>() { { ViewBag.regionId }, { (int)Cats.Models.Constant.ReliefRequisitionStatus.ProjectCodeAssigned } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        var regionId = '@ViewBag.regionId';

        var dropdownlist = $("#Region").data("kendoDropDownList");
        dropdownlist.value(regionId);
    });


    function regionsChange(e) {
        e.preventDefault();


        var value = this.value();

        if (value == "") {

            window.location = null;
            window.location = "@Url.Action("RegionId", "DispatchAllocation")" + "?id=" + -1;

        }
        else {
            window.location = null;
            window.location = "@Url.Action("RegionId", "DispatchAllocation")" + "?id=" + value;
        }

    }



</script>

