@using Cats.Helpers
@using Kendo.Mvc.UI
@model  System.Data.DataTable

@{
    ViewBag.Title = "Index";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    const string pageName = "EarlyWarning.Index";
}
@*
<link href="~/Content/DashboardWidget.css" rel="stylesheet">
<html>
<body>
    <div class="span12">
    <div class="row">
        
        <div class="span6">
            <div class="widget stacked">
                <div class="widget-header">
                    <i class="icon-bookmark"></i>
                    <h3>Welcome to Early Warning</h3>
                </div>
                <div class="widget-content">
                    <div class="shortcuts">
                        <a href="@Url.Action("Index", "Contribution", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-list-alt"></i>
                            <span class="shortcut-label">@Html.Translate2(PAGE_NAME,"Contribution")</span>
                        </a>

                        <a href="@Url.Action("Index", "GiftCertificate", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-signal"></i>
                            <span class="shortcut-label">@Html.Translate2(PAGE_NAME,"Gift Certificate")</span>
                        </a>

                        <a href="@Url.Action("Index", "HRD", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-inbox"></i>
                            <span class="shortcut-label">@Html.Translate2(PAGE_NAME,"HRD")</span>
                        </a>

                        <a href="@Url.Action("Index", "NeedAssessment", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-tasks"></i>
                            <span class="shortcut-label">@Html.Translate2(PAGE_NAME,"Need Assessment")</span>
                        </a>

                        <a href="@Url.Action("Index", "Ration", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-bell"></i>
                            <span class="shortcut-label">@Html.Translate2(PAGE_NAME,"Ration")</span>
                        </a>

                        <a href="@Url.Action("Index", "ReliefRequisition", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-cog"></i>
                            <span class="shortcut-label">@Html.Translate2(PAGE_NAME,"Relief Requisition")</span>
                        </a>

                        <a href="@Url.Action("Index", "Request", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-cog"></i>
                            <span class="shortcut-label">@Html.Translate2(PAGE_NAME,"Request")</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="span6">
            <div class="widget stacked">
                <div class="widget-header">
                    <i class="icon-bookmark"></i>
                    <h3></h3>
                </div>
                <div class="widget-content">
                    <h4></h4>
                </div>
            </div>
        </div>
        
    </div>
</div>
</body>
</html>
*@


@section styles
{
    @*<link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Dashboard/dashboardcomponents.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">*@
}
<div ng-app>
    <div class="container">
        <h3>Early Warning Dahsboard</h3>
        <hr />
        <div ng-controller="ImportantNumbers" class="container row">
            <div class="span6">
                <a href="javascript:;" class="dashboard-stat">
                    <div class="visual">
                        @*<i class="icon-star"></i>*@
                    </div>
                    <!-- /.visual -->

                    <div class="details column-divider-regional center">
                        <span class="content">Total Requests</span>
                        <span class="value">8,547</span>
                    </div>

                    <div class="details column-divider-regional center">
                        <span class="content">Total Requisitions</span>
                        <span class="value">521</span>
                    </div>

                    <div class="details column-divider-regional center">
                        <span class="content">Required Commodity</span>
                        <span class="value">5,000 QT </span>
                    </div>


                    <!-- /.details -->
                    
                </a>
                <!-- /.dashboard-stat -->
            </div>
            <!-- /.col-md-3 -->

            <div class="span3">

                <a href="javascript:;" class="dashboard-stat">
                    <div class="visual">
                        @*<i class="icon-shopping-cart"></i>*@
                    </div>
                    <!-- /.visual -->

                    <div class="details">
                        <span class="content">Total Number of FDPS</span>
                        <span class="value">58</span>
                    </div>
                    <!-- /.details -->

                </a>
                <!-- /.dashboard-stat -->

            </div>
            <!-- /.col-md-3 -->

            <div class="span3">

                <a href="javascript:;" class="dashboard-stat">
                    <div class="visual">
                        @*<i class="icon-money"></i>*@
                    </div>
                    <!-- /.visual -->

                    <div class="details">
                        <span class="content">People in Need</span>
                        <span class="value">56,000</span>
                    </div>
                    <!-- /.details -->

                    

                </a>
                <!-- /.dashboard-stat -->

            </div>
            <!-- /.col-md-9 -->
        </div>
        <hr />
    </div>

    <div class="container">
        
        <div>
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Current HRD</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="DispatchHeader" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i> 
                            <i class="icon-arrow-down"></i> 
                        </button>

                    </div>
                </div>
            </div>
            @*
            @(Html.Kendo().Grid(Model)
          
    .Name("grid")
    .Columns(columns =>
    {
        foreach (System.Data.DataColumn column in Model.Columns)
        {
            if (column.DataType == typeof(decimal))
            { columns.Bound(column.ColumnName).HtmlAttributes(new { align = "right" }).Format("{0:N2}"); }
            else if (column.DataType == typeof(int))
            {
                columns.Bound(column.ColumnName).HtmlAttributes(new { align = "right" }).Format("{0:N0}"); 
            }
            else{
                columns.Bound(column.ColumnName);
            }

        }
    })
       
    )
            *@
            <div id="DispatchContent"class="row">
                <div>&nbsp;</div>

                <div ng-controller="RecentRequestsController" class="span8">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Belege 2006 
                                
                            </h3>
                            <ul class="portlet-tools pull-right">
                                <li>
                                    <button class="btn btn-sm btn-default">
                                        Show more
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <!-- /.portlet-header -->
                        <div class="portlet-content" style="height:240px;  overflow: scroll" >
                            <th class="table-responsive" >
                            <table id="" class="table table-striped table-checkable"  > 
                                                         
                                <thead>
                                    <tr>
                                         @foreach (System.Data.DataColumn col in Model.Columns)
                                         {
                                           <th>@col.Caption</th>
                                        }
                                        @*<th>Region</th>
                                        <th>Number of Beneficiary</th>
                                        <th>Pulse</th>
                                        <th>Oil</th>
                                        <th>Cereal</th>
                                        <th>Wheat</th>
                                        <th>Total </th>*@
                                    </tr>
                                </thead>
                                <tbody >
                                     @foreach(System.Data.DataRow row in Model.Rows)
                                         {
              <tr>
      @foreach (var cell in row.ItemArray)
      {
         <td>@cell.ToString()</td>
      }
   </tr>
} 
                                   @* <tr class="">
                                        <td class="hidden-xs">Afar</td>
                                        <td>20.05</td>
                                        <td>20.36</td>
                                        <td>485.58</td>
                                        <td>85.36</td>
                                        <td>85.36</td>
                                        <td>15420.00</td>
                                    </tr>
                                    <tr class="">
                                        <td class="hidden-xs">Amhara</td>
                                        <td>789.26</td>
                                        <td>785.89</td>
                                        <td>745.68</td>
                                        <td>568.25</td>
                                        <td>85.36</td>
                                        <td>75896.25</td>
                                    </tr>
                                    <tr class="">
                                        <td class="hidden-xs">Tigray</td>
                                        <td>20.05</td>
                                        <td>20.36</td>
                                        <td>485.58</td>
                                        <td>85.36</td>
                                        <td>85.36</td>
                                        <td>15420.00</td>
                                    </tr>
                                    <tr class="">
                                        <td class="hidden-xs">Orimia</td>
                                        <td>789.26</td>
                                        <td>785.89</td>
                                        <td>745.68</td>
                                        <td>568.25</td>
                                        <td>85.36</td>
                                        <td>75896.25</td>
                                    </tr>
                                    <tr class="">
                                        <td class="hidden-xs">Somali</td>
                                        <td>789.26</td>
                                        <td>785.89</td>
                                        <td>745.68</td>
                                        <td>568.25</td>
                                        <td>85.36</td>
                                        <td>75896.25</td>
                                    </tr>*@
                                    

                                </tbody>
                            </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>
           
                <div class="span3">

                    <div class="portlet">
                        <!-- /.portlet-header -->

                       @* <div class="">
                            <a href="javascript:;" class="dashboard-stat">
                                <div class="details ">
                                    <span class="content">Total Number of Beneficaries</span>
                                    <span class="value">123456 </span>
                                </div>
                            </a>
                            <br>
                        </div>*@
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                               Ration Detail
                            </h3>
                        </div>
                        <div class="portlet-content">
                            <th class="table-responsive">
                        <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Commodity</th>
                                           <th>Amount in KG</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="">
                                            <td class="hidden-xs">Pulse</td>
                                            <td>15.00</td>
                                            
                                            
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">CSB</td>
                                           <td>15.00</td>
                                            
                                           
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">Oil</td>
                                            <td>15.00</td>
                                            
                                            
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">Cearal</td>
                                           <td>15.00</td>
                                            
                                            
                                        </tr>
                                         <tr class="">
                                            <td class="hidden-xs">Wheat</td>
                                            <td>15.00</td>
                                            
                                        </tr>

                                    </tbody>
                        </table>
                                </div>
                        <!-- /.portlet-content -->

                    </div>
                    <!-- /.portlet -->
                </div>
                <!-- /.portlet -->
            </div>
        </div>
        <div>
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4> Requests</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id ="RequestHeader"type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i> 
                            <i class="icon-arrow-down"></i> 
                        </button>

                    </div>
                </div>
            </div>
            <div id="RequestContent"class="row">
                <div>&nbsp;</div>
                <div ng-controller="RecentRequestsController" class="span8">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Recent Requests
                            </h3>
                            <ul class="portlet-tools pull-right">
                                <li>
                                    <button class="btn btn-sm btn-default">
                                        Show more
                                    </button>
                                    <button class="btn btn-sm btn-default">
                                        New Request
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Region</th>
                                            <th>No of Beneficaries</th>
                                            <th>Total Number of FDPS</th>
                                            <th>Round</th>
                                            <th>Month</th>
                                            <th>Status</th>
                                            <th class="align-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="">
                                            <td class="hidden-xs">Afar</td>
                                            <td>2802</td>
                                            <td>52</td>
                                            <th>2</th>
                                             <th>January</th>
                                            @*<th>
                                                <a href="javascript:;" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i>
                                                </a>
                                            </th>*@
                                            <td><span class="label label-success">Approved</span></td>
                                            <td class="align-center">
                                                @*<a class="btn btn-sm btn-default" data-original-title="Approve">
                                                    <i class="icon-upload"></i>Approve
                                                </a>*@
                                            </td>
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">Oromia</td>
                                            <td>320</td>
                                            <td>52</td>
                                            <th>2</th>
                                             <th>January</th>
                                           @* <th>
                                                <a href="javascript:;" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i>
                                                </a>
                                            </th>*@
                                            <td><span class="label label-danger">Pending</span></td>
                                            <td class="align-center">
                                                <a class="btn btn-sm btn-default" data-original-title="Approve">Allocate
                                                </a>
                                            </td>
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">Tigray</td>
                                            <td>2800</td>
                                            <td>21</td>
                                            <th>2</th>
                                            <th>January</th>
                                           @* <th>
                                                <a href="javascript:;" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i>
                                                </a>
                                            </th>*@
                                            <td><span class="label label-warning">Allocated</span></td>
                                            <td class="align-center">
                                                <a class="btn btn-sm btn-default" data-original-title="Approve">Approve
                                                </a>
                                            </td>
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">Amhara</td>
                                            <td>8500</td>
                                            <td>63</td>
                                            <th>2</th>
                                             <th>January</th>
                                           @* <th>
                                                <a href="javascript:;" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i>
                                                </a>
                                            </th>*@
                                            <td><span class="label label-warning">Allocated</span></td>
                                            <td class="align-center">
                                                <a class="btn btn-sm btn-default" data-original-title="Approve">Approve
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>
                <div class="span3">

                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                               Requested So far
                            </h3>
                        </div>

                        <!-- /.portlet-header -->
                         <div class="portlet-content">
                            <th class="table-responsive">
                        <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Region</th>
                                           <th>Requested</th>
                                           <th>Remainig</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="">
                                            <td class="hidden-xs">Afar</td>
                                            <td>4</td>
                                            <td>2</td>
                                            
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">Oromia</td>
                                            <td>3</td>
                                            <td>3</td>
                                           
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">Tigray</td>
                                            <td>2</td>
                                            <td>4</td>
                                            
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">Amhara</td>
                                            <td>6</td>
                                            <td>0</td>
                                            
                                        </tr>
                                         <tr class="">
                                            <td class="hidden-xs">Somali</td>
                                            <td>0</td>
                                            <td>0</td>
                                            
                                        </tr>

                                    </tbody>
                        </table>
                                </div>
                        
                        
                       
                        <!-- /.portlet-content -->

                    </div>
                    <!-- /.portlet -->
                </div>
                <!-- /.portlet -->
            </div>
        </div>

        <div>
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Requisitions</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="RequisitionHeader"type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                             <i class="icon-arrow-up"></i> 
                            <i class="icon-arrow-down"></i> 
                        </button>

                    </div>
                </div>
            </div>
            <div id="RequisitionContent" class="row">
                <div>&nbsp;</div>
                <div class="span4">

                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Requisitions Percentage by Status 
                            </h3>
                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <div class="progress-stat">

                                <div class="stat-header">

                                    <div class="pull-left">
                                        Approved Requisitions
                                    </div>
                                    <!-- /.stat-label -->

                                    <div class="pull-right">
                                        33%
                                    </div>
                                    <!-- /.stat-value -->

                                </div>
                                <!-- /stat-header -->

                                <div class="progress progress-success">
                                    <div class="bar" style="width: 33%"></div>
                                </div>
                                <!-- /.progress -->

                            </div>
                            <!-- /.progress-stat -->

                            <div class="progress-stat">

                                <div class="stat-header">

                                    <div class="pull-left">
                                        Pending Requisitions
                                    </div>
                                    <!-- /.stat-label -->

                                    <div class="pull-right">
                                        42%
                                    </div>
                                    <!-- /.stat-value -->

                                </div>
                                <!-- /stat-header -->

                                <div class="progress progress-danger">
                                    <div class="bar" style="width: 42%"></div>
                                </div>
                                <!-- /.progress -->

                            </div>
                            <!-- /.progress-stat -->

                            <div class="progress-stat">

                                <div class="stat-header">

                                    <div class="pull-left">
                                        Hub Assigned
                                    </div>
                                    <!-- /.stat-label -->

                                    <div class="pull-right">
                                        25%
                                    </div>
                                    <!-- /.stat-value -->

                                </div>
                                <!-- /stat-header -->

                                <div class="progress progress-warning">
                                    <div class="bar" style="width: 25%"></div>
                                </div>
                                <!-- /.progress -->

                            </div>
                            <!-- /.progress-stat -->

                            <br>
                        </div>
                        <!-- /.portlet-content -->

                    </div>
                    <!-- /.portlet -->
                </div>
                <div ng-controller="RecentRequestsController" class="span7">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Recent Requisitions
                            </h3>
                            <ul class="portlet-tools pull-right">
                                <li>
                                    <button class="btn btn-sm btn-default">
                                        Show more
                                    </button>

                                </li>
                            </ul>
                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Number</th>
                                            <th>Commodity</th>
                                            <th>Beneficiaries</th>
                                            <th>Amount(QT)</th>
                                            <th>Status</th>
                                            <th class="align-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="">
                                            <td class="hidden-xs">REQ-1206</td>
                                            <td>Pulse</td>
                                            <td>{{8000|number}}</td>
                                            <th>{{120|number}} QT</th>
                                            <td><span class="label label-success">Approved</span></td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i>
                                                </a>

                                            </td>
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">REQ-1824</td>
                                            <td>Cereal</td>
                                            <td>{{7500|number}}</td>
                                            <th>{{142|number}} QT</th>
                                            <td><span class="label label-danger">Pending</span></td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i>
                                                </a>
                                                <a class="btn btn-sm btn-default" data-original-title="Approve">
                                                    <i class="icon-upload"></i>Approve
                                                </a>
                                            </td>
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">REQ-1325</td>
                                            <td>Oil</td>
                                            <td>{{5824|number}}</td>
                                            <th>{{546|number}} QT</th>
                                            <td><span class="label label-success">Approved</span></td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i>
                                                </a>

                                            </td>
                                        </tr>

                                        <tr class="">
                                            <td class="hidden-xs">REQ-0026</td>
                                            <td>Wheat</td>
                                            <td>{{9251|number}}</td>
                                            <th>{{280|number}} QT</th>
                                            <td><span class="label label-danger">Pending</span></td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i>
                                                </a>
                                                <a class="btn btn-sm btn-default" data-original-title="Approve">
                                                    <i class="icon-upload"></i>Approve
                                                </a>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>

                <!-- /.portlet -->
            </div>
        </div>

        

        

    </div>
</div>

<script>
    $("#RequestHeader").click(function () {
        $("#RequestContent").slideToggle("slow", "linear");
    });
    
    $("#RequisitionHeader").click(function () {
        $("#RequisitionContent").slideToggle("slow", "linear");
    });
    
    $("#DispatchHeader").click(function () {
        $("#DispatchContent").slideToggle("slow", "linear");
    });
    
   
</script>
