@using Cats.Helpers

@{
    ViewBag.Title = "Index";
    ViewBag.ViewWidth = "Wide";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<link href="~/Content/DashboardWidget.css" rel="stylesheet">

                
                    <a href="@Url.Action("Index", "Contribution", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-list-alt"></i>
                        <span class="shortcut-label">Contribution</span>
                    </a>

                    <a href="@Url.Action("Index", "GiftCertificate", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-signal"></i>
                        <span class="shortcut-label">Gift Certificate</span>
                    </a>

                    <a href="@Url.Action("Index", "HRD", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-inbox"></i>
                        <span class="shortcut-label">HRD</span>
                    </a>

                    <a href="@Url.Action("Index", "NeedAssessment", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-tasks"></i>
                        <span class="shortcut-label">Need Assessment</span>
                    </a>

                    <a href="@Url.Action("Index", "Ration", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-bell"></i>
                        <span class="shortcut-label">Ration</span>
                    </a>

                    <a href="@Url.Action("Index", "ReliefRequisition", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-cog"></i>
                        <span class="shortcut-label">Relief Requisition</span>
                    </a>

                    <a href="@Url.Action("Index", "Request", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-cog"></i>
                        <span class="shortcut-label">Request</span>
                    </a>