@using System.Data
@using Cats.Helpers
@using Kendo.Mvc.UI
@model  System.Data.DataTable

@{
    ViewBag.Title = "Index";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    const string pageName = "EarlyWarning.Index";
}

@{
    var ben = new[] { 0.0, 0.0, 0.0, 0.0, 0.0, 0.0 };
    int index = 0;
}


@section styles
{
    @*<link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Dashboard/dashboardcomponents.css" rel="stylesheet" />
}

<style>
    .chartWrap {
        margin: 0 auto;
        width: 100%;
        height: 240px;
    }

    .table td.rightAlign {
        /*padding: 8px;
    line-height: 20px;*/
        text-align: center;
        /*vertical-align: top;
    border-top: 1px solid rgb(221, 221, 221);*/
    }
</style>
<div ng-app="myApp">
    <div ng-controller="ImportantNumbersController" class="container">
        <h3>@Html.Translate("Early Warning Dashboard")</h3>
        <hr />

        <div class="container row">
            <div class="span5">
                <a href="javascript:;" class="dashboard-stat">
                    <div class="visual">
                        @*<i class="icon-star"></i>*@
                    </div>
                    <!-- /.visual -->
                    <div class="details column-divider-regional center">
                        <span class="content">@Html.Translate("Total Requests")</span>
                        <span class="value">{{RequiredNumber.TotalRequest}}</span>
                    </div>

                    <div class="details column-divider-regional center">
                        <span class="content">@Html.Translate("Total Requisitions")</span>
                        <span class="value">{{RequiredNumber.TotalRequisitionNumber}}</span>
                    </div>
                    <!-- /.details -->
                </a>
                <span class="text-info text-xl align-center"><i class="icon-info-sign"></i> All the figures above are for the current HRD</span>
                <!-- /.dashboard-stat -->
            </div>
    

            <div class="span6">

                <a href="javascript:;" class="dashboard-stat">
                    <div class="visual">
                        @*<i class="icon-money"></i>*@
                    </div>
                    <!-- /.visual -->
                    
                     <div class="details column-divider-regional center">
                        <span class="content">@Html.Translate("Required Commodity") (MT)</span>
                        <span class="value">{{RequiredNumber.HrdTotalCommodity|number:0}}</span>
                    </div>

                    <div class="details column-divider-regional center">
                        <span class="content">@Html.Translate("People in Need in Current HRD")</span>
                        <span class="value">{{RequiredNumber.TotalHrdBeneficaryNumber|number}}</span>
                    </div>
                    
                    <!-- /.details -->
                </a>
                <!-- /.dashboard-stat -->

            </div>
            <!-- /.col-md-9 -->
        </div>
        <hr />
    </div>

    <div ng-controller="EWDashboardController" class="container">

        <div>
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>@Html.Translate("Current HRD")</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="DispatchHeader" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>

            <div id="DispatchContent" class="row">
                <div>&nbsp;</div>

                <div class="span8">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                @ViewBag.HRDName

                            </h3>
                            <ul class="portlet-tools pull-right">
                                @*<li>
                                    <button class="btn btn-sm btn-default">
                                        @Html.Translate("Show more")
                                    </button>
                                </li>*@
                            </ul>
                        </div>

                        <!-- /.portlet-header -->
                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table id="" class="table table-striped table-checkable">

                                <thead>
                                    <tr>
                                        @foreach (System.Data.DataColumn col in Model.Columns)
                                            {
                                                 if(col.IsNumeric()){
                                                        <th class="number">@col.Caption </th>
                                                  }else{
                                                        <th>@col.Caption </th>
                                                  }
                                            }

                                    </tr>
                                </thead>
                                    <tbody>

                                        @foreach (System.Data.DataRow row in Model.Rows)
                                        {
                                            <tr>
                                                @{ index = 0; }
                                                @foreach (var cell in row.ItemArray)
                                                {
                                                    if (cell is decimal || cell is int)
                                                    {
                                                        ben[index] = ben[index] + double.Parse(@String.Format("{0:n0}", @cell));
                                                        index++;
                                                         <td class="number">@String.Format("{0:n0}",@cell)</td>
                                                    }
                                                    else
                                                    {
                                                    <td>@String.Format("{0:n0}", @cell)</td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                    <tr>
                                        <th>Total:</th>
                                        @foreach (double t in @ben)
                                        {
                                             <th class="number">@String.Format("{0:n0}",@t) </th>
                                        }
                                    </tr>
                                </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>


                <div class="span3">

                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Requisitions Percentage 
                            </h3>
                        </div>
                        <div class="portlet-content" ng-controller="stageController">
                            <div id="container" class="chartWrap" draw-requisitions-chart=""></div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="span3">

                    <div class="portlet" style="margin-top: 5px">
                        <!-- /.portlet-header -->
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                @Html.Translate("Ration Detail")
                            </h3>
                        </div>
                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table id="" class="table table-checkable" style="margin-bottom: 5px">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Commodity</th>
                                            <th>Ration (Kg/Beneficiary)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ration in Rations" class="">
                                            <td class="hidden-xs">{{ration.Commodity}}</td>
                                        <td class="number">{{ration.Amount}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span class="text-success text-xl align-center"><i class="icon-info-sign"></i>For blended food the ration is calculated as 35%*0.45Kg</span>
                        </div>
                        <!-- /.portlet-content -->

                    </div>
                    <!-- /.portlet -->
                </div>
                <div class="span11" style="padding-top: 20px;">

                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                @Html.Translate("HRD Percentage")
                            </h3>
                        </div>

                        <div class="portlet-content" ng-controller="stageController">
                            <div id="containerHRD" class="chartWrap" draw-percentage-chart=""></div>
                        </div>

                    </div>
                </div>

                <!-- /.portlet -->

            </div>
        </div>
        <div>
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Requests</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="RequestHeader" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="RequestContent" class="row">
                <div>&nbsp;</div>
                <div class="span8">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Recent Requests
                            </h3>
                            <ul class="portlet-tools pull-right">
                                @* <li>
                                    <button class="btn btn-sm btn-default">
                                        Show more
                                    </button>
                                </li>*@
                            </ul>
                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <div>
                                <table class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Region</th>
                                            <th class="number">No of Beneficaries</th>
                                            <th class="number">Total Number of FDPS</th>
                                            <th class="number">Round</th>
                                            <th>Month</th>
                                            <th>Status</th>
                                            <th class="align-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="request in Requests" class="">
                                            @*<td class="hidden-xs"><a ng-href="@Url.Action("Allocation", "Request", new { Area = "EarlyWarning", id = "{{request.Region}}"})"> {{request.Region}} </a> </td>*@
                                            <td class="hidden-xs"><a ng-href="@Url.Content("~/EarlyWarning/Request/Allocation/{{request.RegionalRequestID}}")">{{request.Region}}  </a></td>
                                            <td class="number">{{request.Beneficiary|number}}</td>
                                            <td class="number">{{request.NumberOfFDPS|number}}</td>
                                            <th class="number">{{request.Round}}</th>
                                            <th>{{request.MonthName}}</th>
                                            <td><span class="label label-success">{{request.Status}}</span></td>
                                            <td class="align-center">
                                                @*<a class="btn btn-sm btn-default" data-original-title="Approve">
                                                    <i class="icon-upload"></i>Approve
                                                </a>*@
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>
                </div>
                <div class="span3">

                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Requested So far
                            </h3>
                        </div>

                        <!-- /.portlet-header -->
                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Region</th>
                                            <th>Requested</th>
                                            <th>Remaining</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="requested in RequestedAmount">
                                            <td class="hidden-xs">{{requested.RegionName}}</td>
                                            <td class="number">{{requested.NoOfRequests| number}}</td>
                                            <td class="number">{{requested.Remaining | number}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </th>
                        </div>
                        <!-- /.portlet -->
                    </div>
                    <!-- /.portlet -->

                </div>
              </div>  
            <div>
                <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">
                    <div class="pull-left">
                        <h4>Requisitions</h4>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button id="RequisitionHeader"type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                 <i class="icon-arrow-up"></i> 
                                <i class="icon-arrow-down"></i> 
                            </button>
                        </div>
                    </div>
                </div>
                <div id="RequisitionContent" class="row">
                    <div>&nbsp;</div>
                    <div class="span11">
                        <div class="portlet">
                            <div class="portlet-header">
                                <h3>
                                    <i class=""></i>
                                    Recent Requisitions
                                </h3>
                                <ul class="portlet-tools pull-right">
                                @*<li>
                                        <button class="btn btn-sm btn-default">
                                            Show more
                                        </button>

                                </li>*@
                                </ul>
                            </div>

                            <!-- /.portlet-header -->

                            <div class="portlet-content">
                                <th class="table-responsive">
                                    <table id="" class="table table-striped table-checkable">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">Requisition Number</th>
                                                <th>Region</th>
                                                <th>Zone</th>
                                                <th>Commodity</th>
                                                <th class="number">Beneficiaries</th>
                                                <th class="number">Amount(MT)</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="requisition in Requisitions" class="">
                                                 <td class="hidden-xs"><a ng-href= "@Url.Content("~/EarlyWarning/ReliefRequisition/Allocation/{{requisition.RequisitionID}}")"> {{requisition.RequisitonNumber}} </a> </td>
                                                <td>{{requisition.Region}}</td>
                                                <td>{{requisition.Zone}}</td>
                                                <td>{{requisition.Commodity}}</td>
                                                <td class="number">{{requisition.Beneficiary|number}}</td>
                                                <td class="number">{{requisition.Amount|number}} </td>
                                                <td><span class="label label-success">{{requisition.Status}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>

                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.portlet-content -->

                    </div>
                  </div>
             
            </div>

        <div>
            <div class="row" style="border-bottom-width: thin; border-bottom-color: #666; border-bottom-style: inset; margin-top: 5px">

                <div class="pull-left">
                    <h4>Recent Gift Certificates</h4>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button id="GiftCertificateHeader" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-arrow-up"></i>
                            <i class="icon-arrow-down"></i>
                        </button>

                    </div>
                </div>
            </div>
            <div id="GiftCertificateContent" class="row">
                <div>&nbsp;</div>

                <div class="span11">
                    <div class="portlet">
                        <div class="portlet-header">
                            <h3>
                                <i class=""></i>
                                Recent Gift Certificates
                            </h3>
                            <ul class="portlet-tools pull-right">
                                @*<li>
                                    <button class="btn btn-sm btn-default">
                                        Show more
                                    </button>

                                </li>*@
                            </ul>
                        </div>

                        <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <th class="table-responsive">
                                <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">SI Number</th>
                                            <th>Donor</th>
                                            <th>Gift Date</th>
                                            <th>Declaration Number</th>
                                            @* <th>Commodity</th>*@
                                            <th class="number">Total Weight in MT</th>
                                            <th class="number">Total Estimated Price(in Birr)</th>
                                            <th class="number">Total Estimated Tax(in Birr)</th>
                                            <th>Status</th>
                                            @*  <th class="align-center">Action</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="giftCertificate in GiftCertificates" class="">
                                            <td class="hidden-xs"><a ng-href= "@Url.Content("~/EarlyWarning/GiftCertificate/Edit/{{giftCertificate.GiftCertificateID}}")">{{giftCertificate.SINumber}}</a></td>
                                            <td>{{giftCertificate.DonorName}}</td>
                                            <td>{{giftCertificate.GiftDate}}</td>
                                            <td>{{giftCertificate.DclarationNumber}}</td>
                                            @*<td>{{giftCertificate.Commodity}}</td>*@
                                            <td class="number">{{giftCertificate.Wieght|number}} </td>
                                            <td class="number">{{giftCertificate.EstimatedPrice|number}} </td>
                                            <td class="number">{{giftCertificate.TotalEstimatedTax|number}} </td>
                                            <td><span class="label label-success">{{giftCertificate.Status}}</span></td>
                                            @* <td>
                                                <a href="javascript:;" class="btn btn-sm btn-default">View <i class="icon-chevron-right"></i>
                                                </a>

                                            </td>*@
                                        </tr>


                                    </tbody>
                                </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet-content -->

                </div>

                <!-- /.portlet -->
            </div>
        </div>
    </div>


</div>


<script>
    $("#RequestHeader").click(function () {
        $("#RequestContent").slideToggle("slow", "linear");
    });

    $("#RequisitionHeader").click(function () {
        $("#RequisitionContent").slideToggle("slow", "linear");
    });

    $("#DispatchHeader").click(function () {
        $("#DispatchContent").slideToggle("slow", "linear");
    });
    $("#GiftCertificateHeader").click(function () {
        $("#GiftCertificateContent").slideToggle("slow", "linear");
    });


</script>

<script>
    function EWDashboardController($scope, $http) {

        $scope.Rations = [];
        $scope.Requests = [];
        $scope.Requisitions = [];
        $scope.RequestedAmount = [];
        $scope.RequestStatus = [];
        $scope.RequisitionStatus = [];
        $scope.Regions = [];
        $scope.GiftCertificates = [];

        var onRequestsSuccess = function (data) {
            $scope.Requests = data;
        };

        var onRationSuccess = function (data) {
            $scope.Rations = data;
        };

        var onRequisitionSuccess = function (data) {
            $scope.Requisitions = data;
        };

        var onRequestedAmoutSuccess = function (data) {
            $scope.RequestedAmount = data;
        };

        //var onRequestStatusSuccess = function (data) {
        //    $scope.RequestStatus = data;
        //};
        //var onRequisitionStatusSuccess = function (data) {
        //    $scope.RequisitionStatus = data;
        //};
        var onRegionTotalSuccess = function (data) {
            $scope.Regions = data;
        };
        var onGiftCertificateSuccess = function (data) {
            $scope.GiftCertificates = data;
        };

        $scope.getRequests = function () {
            $http.post("@Url.Action("GetRegionalRequests", "EWDashboard", new { Area = "EarlyWarning" })").success(onRequestsSuccess);
        };

        $scope.getRations = function () {
            $http.post("@Url.Action("GetRation", "EWDashboard", new { Area = "EarlyWarning" })").success(onRationSuccess);

        };
        $scope.getRequisitions = function () {
            $http.post("@Url.Action("GetRequisition", "EWDashboard", new { Area = "EarlyWarning" })").success(onRequisitionSuccess);

        };
        $scope.getRequestedInfo = function () {
            $http.post("@Url.Action("GetRequestedInfo", "EWDashboard", new { Area = "EarlyWarning" })").success(onRequestedAmoutSuccess);

        };
        @*$scope.getStatusInPercentage = function () {
            $http.post("@Url.Action("GetStatusInPercentage", "EWDashboard", new { Area = "EarlyWarning" })").success(onRequestStatusSuccess);

        };*@
        @*$scope.getRequisitionStatusInPercentage = function () {
            $http.post("@Url.Action("GetRequisitionStatusPercentage", "EWDashboard", new { Area = "EarlyWarning" })").success(onRequisitionStatusSuccess);

        };*@
        $scope.getHrdRegionPercentage = function () {
            $http.post("@Url.Action("GetHrdRegionPercentage", "EWDashboard", new { Area = "EarlyWarning" })").success(onRegionTotalSuccess);

        };
        $scope.getRecentGiftCertificates = function () {
            $http.post("@Url.Action("GetRecentGiftCertificates", "EWDashboard", new { Area = "EarlyWarning" })").success(onGiftCertificateSuccess);

        };
        $scope.getRations();
        $scope.getRequests();
        $scope.getRequisitions();
        $scope.getRequestedInfo();
        //$scope.getStatusInPercentage();
        //$scope.getRequisitionStatusInPercentage();
        //$scope.getHrdRegionPercentage();
        $scope.getRecentGiftCertificates();
    }

    function ImportantNumbersController($scope, $http) {

        $scope.RequiredNumber = [];

        var onRequirednumberSuccess = function (data) {
            $scope.RequiredNumber = data;
        };

        $scope.getRequiredNumber = function () {
            $http.post("@Url.Action("GetEarlyWarningRequiredNumbers", "EWDashboard", new { Area = "EarlyWarning" })").success(onRequirednumberSuccess);

        };

        $scope.getRequiredNumber();
    }

</script>
<script>

    angular.module('myApp', ['myApp.directives']);


    /* Controllers */
    function stageController($scope, $http) {
        $scope.type = 'Requests Percentage';
        var onRequestStatusSuccess = function (d) {
            $scope.data = [
                ['Pending', d["Pending"]],
                ['Approved', d["Approved"]],
                ['Requisition Created', d["RequisitionCreated"]]
            ];

        };
        var onRequisitonStatusSucess = function (d) {
            $scope.dataRequisition = [
               ['Pending', d["Pending"]],
               ['Approved', d["Approved"]],
               ['Hub Assigned', d["HubAssigned"]],
               ['Project Code Assigned', d['ProjectCodeAssigned']],
               ['Transport Requistion Created', d['TransportRequistionCreated']],
               ['Transport Order Created', d['TransportOrderCreated']]
            ];
        };

        var onRegionTotalSuccess = function (d) {

            $scope.dataP = d;

            $scope.Regions = [];

            $scope.Figure = [];

            for (var i in $scope.dataP) {
                $scope.Regions.push($scope.dataP[i].RegionName);
                $scope.Figure.push($scope.dataP[i].TotalBeneficary);
            }
        };

        $scope.getStatusInPercentage = function () {
            $http.post("@Url.Action("GetStatusInPercentage", "EWDashboard", new { Area = "EarlyWarning" })").success(onRequestStatusSuccess);
        };

        $scope.getRequisitionStatusInPercentage = function () {
            $http.post("@Url.Action("GetRequisitionStatusPercentage", "EWDashboard", new { Area = "EarlyWarning" })").success(onRequisitonStatusSucess);

        };

        $scope.getHrdRegionPercentage = function () {
            $http.post("@Url.Action("GetHrdRegionPercentage", "EWDashboard", new { Area = "EarlyWarning" })").success(onRegionTotalSuccess);

        };

        $scope.getStatusInPercentage();
        $scope.getRequisitionStatusInPercentage();
        $scope.getHrdRegionPercentage();
    }
    angular.module('myApp.directives', []).
    directive('drawPieChart', function () {
        // return the directive link function. (compile function not needed)
        return function (scope, element, attrs) {
            var container = $(element).attr("id");
            // watch the expression, and update the UI on change.
            scope.$watch('data', function () {
                drawPlot();
            }, true);
            var drawPlot = function () {
                var chart;
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: container
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    exporting: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
                        percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Requests Percentage',
                        data: scope.data
                    }]
                });
            };
        };
    });

    angular.module('myApp.directives').
    directive('drawRequisitionsChart', function () {
        // return the directive link function. (compile function not needed)
        return function (scope, element, attrs) {

            var container = $(element).attr("id");
            // watch the expression, and update the UI on change.
            scope.$watch('dataRequisition', function () {
                drawPlot();
            }, true);

            var drawPlot = function () {
                var chart;
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: container
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    exporting: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
                        percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Requisitions Percentage',
                        data: scope.dataRequisition
                    }]
                });
            }
        }
    });

    angular.module('myApp.directives').
    directive('drawPercentageChart', function () {
        // return the directive link function. (compile function not needed)
        return function (scope, element, attrs) {

            var container = $(element).attr("id");
            // watch the expression, and update the UI on change.
            scope.$watch('dataP', function () {
                drawPlot();
                //alert("Here");
            }, true);

            var drawPlot = function () {
                var chart;
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: container,
                        type: 'column'
                    },
                    title: {
                        text: 'Beneficiaries Comparision'
                    },
                    //subtitle: {
                    //    text: 'Source: WorldClimate.com'
                    //},
                    credits: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    xAxis: {
                        categories: scope.Regions
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Beneficiaries'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y} </b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'Beneficiaries Number',
                        data: scope.Figure
                    }]
                });
            };
        };
    });

</script>
