@model Cats.Models.Hub.UserHub
@using Cats.Web.Hub.Helpers

@using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.UserHubID)

    <table>
        <tr><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileID, Html.Translate("UserProfile"))
        </div></td><td>
        <div class="editor-field">
            @Html.DropDownList("UserProfileID")
            @Html.ValidationMessageFor(model => model.UserProfileID)
        </div>
        </td>
        </tr><tr><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserHubID, Html.Translate("Warehouse"))
        </div></td><td>
        <div class="editor-field">
            @Html.DropDownList("WarehouseID")
            @Html.ValidationMessageFor(model => model.UserHubID)
        </div>
        </td></tr><tr><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsDefault)
        </div></td><td>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDefault)
            @Html.ValidationMessageFor(model => model.IsDefault)
        </div>
        </td></tr>
    </table>
}

