@using Cats.Web.Hub.Helpers
@model IEnumerable<Cats.Models.Hub.UserHub>

@{
    ViewBag.Title = Html.Translate("User Warehouses");
}

<h2>@Html.Translate("User Warehouses")</h2>

<p>
    @Html.ActionLink(Html.Translate("Create New"), "Create")
</p>
<div id="userwarehouselist">
<table width="100%">
    <tr><th></th>
        <th>
            @Html.Translate("User Profile")
        </th>
        <th>
            @Html.Translate("Warehouse")
        </th>
        <th>
            @Html.Translate("Default")
        </th>
        <th></th>
    </tr>
   @{
        var i = 1;
    }
@foreach (var item in Model) {
    <tr>
        <td>@i</td>
        <td>            
            @Html.DialogFormLink(@Html.DisplayFor(modelItem => item.UserProfile.UserName).ToString(), Url.Action("Edit/" + item.UserWarehouseID), Html.Translate("Edit warehouse"), "userwarehouselist", Url.Action("Update"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouse.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDefault)
        </td>
        <td>
@*            @Html.ActionLink("Edit", "Edit", new { id=item.UserWarehouseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserWarehouseID }) |*@
            @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id=item.UserWarehouseID })
        </td>
    </tr>
    i = i + 1;
}

</table>
</div>