
@using Kendo.Mvc.UI
@model LanguageHelpers.Localization.Models.Language

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_language"></a>
     <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "Language")" title="save"></a>
}
@section LeftBar
{
   
@Html.Partial("LanguageLeftBar");
     
}
<div><h4>Create new Language</h4></div>
    @using (Html.BeginForm("Create", "Language", FormMethod.Post, new { id = "frm_create_language" }))
    {
        @Html.ValidationSummary(true)

        <div class="well form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.LanguageCode)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m=>m.LanguageCode)
                    <span class="field-validation-error">
                        @ViewBag.Error
                    </span>
                    @Html.ValidationMessageFor(m=>m.LanguageCode)
                </div>
        
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.LanguageName)
                </div>
                <div class="controls">
                   @Html.TextBoxFor(m => m.LanguageName)
                    @Html.ValidationMessageFor(m=>m.LanguageName)
                </div>
        
            </div>     
                   
        </div>
    }
 


