@model LanguageHelpers.Localization.Models.LocalizedText

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section LeftBar
{
   @Html.Partial("LanguageLeftBar");
}
<div>
<div class="well"><h3>Edit</h3></div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="well form-horizontal">
            @Html.HiddenFor(m=>m.LocalizedTextId)
             <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.LanguageCode)
                </div>
                <div class="controls">
                    @Html.HiddenFor(m => m.LanguageCode)
                    @Html.TextBoxFor(m=>m.LanguageCode,new {disabled="true"})
                    @Html.ValidationMessageFor(m=>m.LanguageCode)
                </div>
        
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.TextKey)
                </div>
                <div class="controls">
                    @Html.HiddenFor(m=>m.TextKey)
                    @Html.TextBoxFor(m => m.TextKey,new { disabled="true"})
                    @Html.ValidationMessageFor(m=>m.TextKey)
                </div>
        
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.Value)
                </div>
                <div class="controls">
                    @* <input id="amharicText" name="amharicText" style="font-family: Visual Geez Unicode;" 
                           onkeypress="return AmharicPhoneticKeyPress(event,this);" maxlength="100" type="text" value="@Model.Value">
                   *@  
                    @Html.EditorFor(m => m.Value)
                    @Html.ValidationMessageFor(m=>m.Value)
                </div>
        
            </div>
            
            <div class="control-group">      
                <div class="controls">
                    <input type="submit" value="SaveChanges" class="btn btn-success" />
                </div>
            </div>

        </div>
    }
 <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jgeez.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var name = $('#Value');
            name.jGeez();
        });

    </script>
 
</div>

