
@using Kendo.Mvc.UI
@model LanguageHelpers.Localization.Models.Language

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section LeftBar
{
  @Html.Partial("LanguageLeftBar");
}
<div><h3>Edit</h3></div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m=>m.LanguageID)
        <div class="well form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.LanguageCode)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m =>m.LanguageCode)
                    @Html.ValidationMessageFor(m=>m.LanguageCode)
                </div>
        
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.LanguageName)
                </div>
                <div class="controls">
                   @Html.TextBoxFor(m => m.LanguageName)
                    @Html.ValidationMessageFor(m=>m.LanguageName)
                </div>
        
            </div>
            <div class="control-group">      
                <div class="controls">
                    <input type="submit" value="SaveChanges" class="btn btn-success" />
                </div>
            </div>

        </div>
    }
 


