@model Cats.Areas.Settings.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_change_password"></a>
}
@section LeftBar
{
    
}
<div>
    <h4>Change Password</h4>
</div>
@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { id = "frm_change_password" }))
{
    @Html.ValidationSummary(true)
    <div class="well form-horizontal">
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="controls">
                @Html.PasswordFor(m=>m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
    </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="controls">
                @Html.PasswordFor(m=>m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

        </div>
          <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="controls">
                @Html.PasswordFor(m=>m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

        </div>
    </div>
}


