@model Cats.Models.Security.UserProfile
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

@*@section MainMenu
{
    @Html.Partial("_AdminMenuBar")
}*@

@section Leftbar
{
    @Html.Partial("_AdminLeftBar")
}
<fieldset>
    <legend>
        Edit User 
    </legend>
</fieldset> 


@using (Html.BeginForm("EditUser", "Users", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.UserProfileID)
    @Html.HiddenFor(m=>m.Password)
     
    <div class="control-group form-horizontal">
        <div class="row">
            <div class="span4">
                <div class="control-group">
                    @Html.LabelFor(m => m.UserName, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(m => m.UserName, new {@size = 50})
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                <div class="control-group">
                    @Html.LabelFor(m => m.FirstName, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(m => m.FirstName, new {@size = 200})
                         @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                <div class="control-group">
                    @Html.LabelFor(m => m.LastName, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(m => m.LastName, new {@size = 200})
                         @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="span6">
                <div class="control-group">
                    @Html.LabelFor(m => m.GrandFatherName, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(m => m.GrandFatherName, new {@size = 200})
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                <div class="control-group">
                    @Html.LabelFor(m => m.MobileNumber, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(m => m.MobileNumber, new {@size = 200})
                    </div>
                </div>
            </div>
        </div>*@

        <div class="row">
            <div class="span6">
                <div class="control-group">
                    @Html.LabelFor(m => m.Email, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Email, new {@size = 200})
                        @Html.ValidationMessageFor(m=>m.Email)
                    </div>
                </div>
            </div>
        </div>
        
   @*     <div class="row" style="visibility: hidden">
            <div class="span6">
                <div class="control-group">
                    
                    @Html.Label("Program", new {@class = "control-label"})
                    <div class="controls">
                        @(Html.DropDownListFor(model => model.ProgramId, new SelectList(ViewBag.Programs, "ProgramID", "Name",ViewBag.ProgramSelected),"No Program", new { @id = "Program" }))
                        @Html.ValidationMessageFor(m=>m.ProgramId)
                    </div>
                </div>
            </div>
        </div>*@

       
        
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    @Html.Label("User Type", new {@class = "control-label"})
                    <div class="controls">
                        @(Html.DropDownList("UserType",new SelectList(ViewBag.userTypes, "Text", "Value",ViewBag.Selected),new { @id = "UserType"}))

                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="div_hubs" style="display: none">
            <div class="span6">
                <div class="control-group">
                    @Html.Label("Hub", new {@class = "control-label"})
                    <div class="controls">
                        @Html.DropDownListFor(model => model.DefaultHub, new SelectList(ViewBag.hubs, "HubID", "Name"),"Select Hub")
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="div_regions" style="display: none">
            <div class="span6">
                <div class="control-group">
                    @Html.Label("Region", new {@class = "control-label"})
                    <div class="controls">
                        @Html.DropDownListFor(model => model.RegionID, new SelectList(ViewBag.regions, "AdminUnitID", "Name"))
                        @Html.HiddenFor(m=>m.RegionalUser)
                    </div>
                </div>
            </div>
        </div>

        
        
        <div class="row" id="div_caseTeam" style="display: none">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">Case Team</label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.CaseTeam, new SelectList(ViewBag.CaseTeams, "ID","CaseTeamName"),"Select case Team")
                    </div>
                </div>
            </div>
        </div>
        
        <div id="div_caseTeam_Procurement" class="control-group">
            <label class="control-label">Tariff Entry</label>
            <div class="controls">
                @Html.CheckBoxFor(m => m.TariffEntry)
            </div>
        </div>

        <div class="row">
            <div class="span6">
                <div class="control-group">
                    
                    <div class="controls">
                        <button class="btn btn-primary" type="submit" value="Update" id="btnSave"> Save </button>
                        <a class="btn" href="@Url.Action("Index", "Users")">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    $(document).ready(function() {

        if (document.getElementById("UserType").value == "1")
        {
            $("#div_regions").show();
            $("#div_hubs").hide();
            $("#div_caseTeam").hide();
            
            $("#div_caseTeam_Procurement").hide();
            document.getElementById("RegionalUser").value = true;
            document.getElementById("DefaultHub").value = '';
            document.getElementById("CaseTeam").value = '';
            
        }
        else if (document.getElementById("UserType").value == "2") {
           
            $("#div_regions").hide();
            $("#div_hubs").show();
            $("#div_caseTeam").hide();
            $("#div_caseTeam_Procurement").hide();
            document.getElementById("RegionalUser").value = false;
            document.getElementById("RegionID").value = '';
            document.getElementById("CaseTeam").value = '';
            
        } else if (document.getElementById("UserType").value == "3") {
            
            $("#div_regions").hide();
            $("#div_hubs").hide();
            $("#div_caseTeam").show();
            $("#div_caseTeam_Procurement").hide();
            
            document.getElementById("RegionalUser").value = false;
            document.getElementById("DefaultHub").value = '';
            document.getElementById("RegionID").value = '';
            
        
        }
    });


    $('#UserType').change(function () {
        
        if (this.value == "1") {
            
            $("#div_regions").show();
            $("#div_hubs").hide();
            $("#div_caseTeam").hide();
            $("#div_caseTeam_Procurement").hide();
            
            document.getElementById("RegionalUser").value = true;
            document.getElementById("DefaultHub").value = '';
            document.getElementById("CaseTeam").value = '';
            document.getElementById("IsAdmin").value = false;
           
        } else if (this.value == "2") {
            
            $("#div_regions").hide();
            $("#div_hubs").show();
            $("#div_caseTeam").hide();
            $("#div_caseTeam_Procurement").hide();
            
            document.getElementById("RegionalUser").value = false;
            document.getElementById("RegionID").value = '';
            document.getElementById("CaseTeam").value = '';
            document.getElementById("IsAdmin").value = false;
            
        } else if (this.value == "3") {
            
            $("#div_regions").hide();
            $("#div_hubs").hide();
            $("#div_caseTeam").show();
            
            document.getElementById("RegionalUser").value = false;
            document.getElementById("DefaultHub").value = '';
            document.getElementById("RegionID").value = '';
            document.getElementById("IsAdmin").value = false;
            
        }
        else if (this.value == "4") {
            $("#div_regions").hide();
            $("#div_hubs").hide();
            $("#div_caseTeam").hide();
            $("#div_caseTeam_Procurement").hide();

            document.getElementById("IsAdmin").value = true;
            document.getElementById("RegionalUser").value = false;
            document.getElementById("DefaultHub").value = '';
            document.getElementById("RegionID").value = '';


        }
        else {
            $("#div_regions").hide();
            $("#div_hubs").hide();
            $("#div_caseTeam").hide();
        }
       
    });
    
    $("#CaseTeam").change(function () {

       
        if ($("option:selected", "#CaseTeam").text() == "Procurement") {
            $("#div_caseTeam_Procurement").show();
        } else {

            $("#div_caseTeam_Procurement").hide();
        }
    });
</script>