@using Kendo.Mvc.UI
@model IEnumerable<Cats.Models.Security.UserInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

@*@section MainMenu
{
    @Html.Partial("_AdminMenuBar")
}*@

@section Toolbar
{
    <a href="@Url.Action("New", "Users")" class="btn btn-default">Create new user</a>
}
@section Leftbar
{
    @Html.Partial("_AdminLeftBar")
}

@{
    if (ViewData["error"]!=null)
    {
        <div>
            
            <br/>
            @ViewData["error"]
        </div>
    }
}

@*<div class="row">
    
    <div class="pull-left">
    <h4 class="page-header">User Accounts</h4>
    </div>
    <div class="pull-right">
      
    </div>
</div>
<br />*@

<div>
    <h4>Manage Users</h4>
</div>
@(Html.Kendo().Grid(Model)
    .Name("Users")
    .Columns(columns =>
    {
        columns.Bound(u => u.UserName).Title("User Name").ClientTemplate(
        "<a href='" + Url.Action("UserProfile", "Users", new { id = "#=UserProfileID#" }) + " '>#=UserName#</a> "
        );
        columns.Bound(u => u.FullName).Title("Full Name");
        columns.Bound(u => u.Disabled).Title("Account").ClientTemplate("# if (Disabled == true) { #" + @Html.Label("Disabled") + "# }else {#" + @Html.Label("Enabled") + "#} #").HtmlAttributes(new { @style = "text-align:center" });
        columns.Bound(u => u.LogginDate).Title("Last Logged In").Format("{0:MMM dd yyyy}");
        columns.Bound(u => u.NumberOfLogins).Title("Total Logins");
        columns.Bound(u => u.LanguageCode).Title("UI Language");
        columns.Bound(u => u.Keyboard).Title("Keyboard Language");
        columns.Bound(u => u.DatePreference).Title("Calendar Preference");
        columns.Bound(u => u.UserName).Title("User Name").ClientTemplate(


           "<a href='" + Url.Action("EditUserRoles", "Users", new { UserName = "#=UserName#" }) + " '>Edit Role</a> "
           );
        columns.Bound(u => u.UserName).Title("User Name").ClientTemplate(


           "<a href='" + Url.Action("EditUser", "Users", new { userId = "#=UserProfileID#" }) + " '>Edit User</a> "
           );
    })
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "width:100%; height:450px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("UsersList", "Users"))
    )
)


@*<div class="btn-group">
    <button class="btn"><i class="icon-cog"></i></button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Disable Account</a></li>
        <li><a href="#">Reset</a></li>
        <li class="divider"></li>
        <li><a href="#">Delete</a></li>
    </ul>

</div>*@


