@model IEnumerable<Cats.Models.TransportBidPlanDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BidPlan.TransportBidPlanID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BidPlan.TransportBidPlanID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransportBidPlanDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransportBidPlanDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransportBidPlanDetailID })
        </td>
    </tr>
}

</table>
