@model Cats.Models.Hubs.CommodityType
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Delete");
}

<h2>@Html.Translate("Delete")</h2>

@if (ViewBag.ERROR != null)
    {
    <div class="ui-state-error ui-corner-all" style="margin:1em; padding:10px;">
        
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            @ViewBag.ERROR_MSG
        
    </div>
    }

<h3>@Html.Translate("Are you sure you want to delete this?")</h3>
<fieldset>
    <legend>@Html.Translate("CommodityType")</legend>

    <div class="display-label">@Html.Translate("Name")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm())
    {
    <p>
        <input type="submit" value="@Html.Translate("Delete")" /> |
        @Html.ActionLink(Html.Translate("Back to List"), "Index")
    </p>
}
