@model IEnumerable<Cats.Models.Hub.CommoditySource>
@using Cats.Web.Hub.Helpers

@{
    ViewBag.Title = Html.Translate("Commodity Sources");
}

<h2>@Html.Translate("List Of Commodity Sources")</h2>

<p>
    @Html.DialogFormLink(Html.Translate("Create New"), Url.Action( "Create"),Html.Translate("Create New Commodity Source"),"list", Url.Action("Update"))
</p>

<div id="list">
<table width="60%">
    <tr>
        <th style="width: 20px">
        </th>
        <th>
            @Html.Translate("Name")
        </th>
        <th></th>
    </tr>
     @{
         var i = 1;
    }
@foreach (var item in Model)
{
    <tr>
        <td>@i</td>
        <td>
            @Html.DialogFormLink(@Html.DisplayFor(modelItem => item.Name).ToString(), Url.Action("Edit/" + item.CommoditySourceID), "Edit Commodity Source", "list", Url.Action("Update"))
            @*@Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td>
          
            @Html.ActionLink(@Html.Translate("Delete"), "Delete", new { id = item.CommoditySourceID })
        </td>
    </tr>
    i++;
}

</table>
</div>