@using Kendo.Mvc.UI
@using Cats.Models.PSNP
@using Cats.Models
@model IEnumerable<RegionalPSNPPlan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar
{
   
    @Html.Partial("_PSNPLeftBar");
   
}
<h2>Index</h2>

<p>
     <a href="@Url.Action("Create", "RegionalPSNPPlan")" class="btn btn-success">New PSNP Plan</a>
</p>

<div>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            Program
        </th>
        <th>Status
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (RegionalPSNPPlan item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Name)
            </td>
            <td>
              PSNP
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>

                @if (item.Status.AllowedAccessLevel > 1)
                {
                    <a class="btn " href="@Url.Action("index", "RegionalPSNPPlanDetail", new { Area = "PSNP",id=item.RegionalPSNPPlanID })">Edit</a>
                    
                }
            </td><td>
                @if (item.Status.AllowedAccessLevel >= 1)
                {
                    <a class="btn edit_button" href="@Url.Action("index", "RegionalPSNPPlanDetail", new { Area = "PSNP",id=item.RegionalPSNPPlanID })">Detail</a>
                   
                }
            </td>
            <td>
                <div class="btn-group">
                <button class="btn edit_button">Workflow</button>
                <button class="btn  dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    @foreach (FlowTemplate actions in item.Status.InitialStateFlowTemplates)
        {
            <li class="edit_button"> @Html.ActionLink(actions.Name, "promotWorkflow", new {id=item.RegionalPSNPPlanID, nextState=actions.FinalStateID }) </li>
        }
                    <li class="divider"></li>
@if (item.Status.AllowedAccessLevel > 1)
                {
                    <li>@Html.ActionLink("Edit", "#")</li>
                }
                @if (item.Status.AllowedAccessLevel >= 1)
                {
                    <li>@Html.ActionLink("Details", "#")</li>
                }
                  
                </ul>
              </div>

                
            </td>
        </tr>
    }

</table>

</div>
