@using Kendo.Mvc.UI
@model IEnumerable<Cats.Models.PSNP.RegionalPSNPPlanViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<p>
   <!--
        @Html.ActionLink("Create New", "Create")
    -->
     <a href="@Url.Action("Create", "RegionalPSNPPlan")" class="btn btn-success">New PSNP Plan</a>
</p>
@(Html.Kendo().Grid(Model)    
    .Name("Grid")
    .Columns(columns => {
        columns.Bound(p => p.RegionName).Groupable(false).Width(200);
        columns.Bound(p => p.Year).Width(200);
        columns.Bound(p => p.Duration);
        columns.Command(command =>
        {
            command.Custom("Edit").Click("editRecord");
            command.Custom("Detail Plan").Click("detailEdit");
            command.Custom("Approve").Click("approveRecord");
            command.Custom("Delete").Click("deleteRecord");
        });
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model => model.Id(p => p.RegionalPSNPPlanID))
        .Read(read => read.Action("GetListAjax", "RegionalPSNPPlan"))
        )
    .Pageable()
    .Sortable()
    .Scrollable() 
    .Filterable()
    .Groupable()
)
    <script>
        function approveRecord(e) {
        }
        function editRecord(e) {
            e.preventDefault();


            var edit_url = '@Url.Action("Edit", "RegionalPSNPPlan", new { Area = "PSNP",id="" })'
        //alert(edit_url);
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = edit_url + "/" + dataItem.RegionalPSNPPlanID;
    }
    function detailEdit(e) {
        var edit_url = '@Url.Action("index", "RegionalPSNPPlanDetail", new { Area = "PSNP",id="0" })'
            //alert(edit_url);
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            window.location = edit_url + "" + dataItem.RegionalPSNPPlanID;
        }
        function deleteRecord(e) {
        }

</script>

