@using Kendo.Mvc.UI
@using Cats.Models.PSNP
@using Cats.Models
@using Cats.Services.Security;
@using Cats.Helpers
@model IEnumerable<RegionalPSNPPlan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    //var index = 0;
    //var user = (UserIdentity)HttpContext.Current.User.Identity;
    ViewBag.TargetController = "RegionalPSNPPlan";
    // string userPreference = userAccountService.GetUserInfo(HttpContext.User.Identity.Name).DatePreference;
}

@section LeftBar
{
    @Html.Partial("_PSNPLeftBar")
}

@section Toolbar
{
    <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("Create", "RegionalPSNPPlan")"></a>
}

<h4>List of Regional PSNP Plans</h4>

<div class="k-content">
    <table id="grid" class="table-striped">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
        </colgroup>

        <thead>
            <tr>
                <th data-field="Id">@Html.DisplayNameFor(model => model.RegionalPSNPPlanID)</th>
                <th data-field="from">From</th>
                <th data-field="to">To</th>
                <th data-field="status">Status</th>
                <th data-field="actions">Actions</th>
            </tr>
        </thead>

        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.RegionalPSNPPlanID)
            </th>

            <th colspan="2">Period</th>

            <th>Status</th>
            <th></th>

            <th></th>
        </tr>*@
        <tbody>

            @foreach (RegionalPSNPPlan item in Model)
            {
                StateTemplate state = item.AttachedBusinessProcess.CurrentState.BaseStateTemplate;
                //index++;
                
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "RegionalPSNPPlanDetail", new { Area = "PSNP", id = item.RegionalPSNPPlanID })">@Html.DisplayFor(modelItem => item.Plan.PlanName)</a>
                    </td>

                    <td>
                        @item.Plan.StartDate.ToCTSPreferedDateFormat("gc")
                    </td>

                    <td>
                        @item.Plan.EndDate.ToCTSPreferedDateFormat("gc")
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AttachedBusinessProcess.CurrentState.BaseStateTemplate.Name)
                    </td>

                    <td>
                        <a data-buttontype="btn_print"  class="btn toolbar-btn " href="@Url.Action("Print", "RegionalPSNPPlan", new { Area = "PSNP", id = item.RegionalPSNPPlanID })"><i class="icon-print"></i></a>
                        @if (state.AllowedAccessLevel >= 1)
                        {
                            <a data-buttontype="btn_detail"  class="btn toolbar-btn " href="@Url.Action("Index", "RegionalPSNPPlanDetail", new { Area = "PSNP", id = item.RegionalPSNPPlanID })"></a>
                   
                        }
                        @if (state.AllowedAccessLevel >= 2)
                        {
                            <a data-buttontype="btn_edit"  class="btn toolbar-btn "href="@Url.Action("Edit", "RegionalPSNPPlanDetail", new { Area = "PSNP", id = item.RegionalPSNPPlanID })"></a>
                    
                        }
                        @if (state.AllowedAccessLevel >= 3)
                        {
                            <a data-buttontype="btn_delete"  class="btn toolbar-btn "href="@Url.Action("Delete", "RegionalPSNPPlan", new { Area = "PSNP", id = item.RegionalPSNPPlanID })"></a>
                    
                        }

                    </td>
                    @*<td>
                        <div class="btn-group">
                            <button class="btn edit_button" id="action_@index">Workflow</button>
                            <button class="btn  dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                @foreach (FlowTemplate actions in state.InitialStateFlowTemplates)
                                {
                                    <li class="edit_button"><a href="javascript:promot_workflow(@item.AttachedBusinessProcess.BusinessProcessID ,@actions.FinalStateID,'@actions.Name',@item.RegionalPSNPPlanID)" title="@actions.Name">@actions.Name</a></li>            
                                }
                                <li class="divider"></li>
                                <li class="edit_button"><a href="javascript:workflow_history(@item.AttachedBusinessProcess.BusinessProcessID)">History</a></li>
                            </ul>
                        </div>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>

</div>
<div id="modalHistory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="width: 600px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="modalHistoryLabel">Activity History</h4>
    </div>
    <div class="modal-body" id="modalHistoryBody">History</div>
    @*    <div class="modal-footer">
            <a href="@Url.Action("Details", "BusinessProcess", new { Area = "WorkflowManager", id = "0" })">View In New Window</a>
        </div>*@
</div>
@Html.Partial("~/Views/Shared/_PromotWorkflow.cshtml")
<script>
    var history_link = "@Url.Action("History", "BusinessProcess", new { Area = "WorkflowManager", id = "0" })";

    function promot_workflow(BusinessProcessID, nextstate, actionname) {
        $('#ParentBusinessProcessID').val(BusinessProcessID);
        $('#stateID').val(nextstate);
        $('#modalPromotionLabel').html(actionname);

        $('#modalPromotion').modal();
    }
    function workflow_history(BusinessProcessID) {
        $('#modalHistory').modal();
        $.post(history_link + BusinessProcessID, {},
            function (data) {
                $("#modalHistoryBody").html(data);
            }
        );

    }
</script>

<script>
    $(document).ready(function () {
        $("#grid").kendoGrid({
            height: 460,
            sortable: false
        });
    });
</script>
