@using LanguageHelpers.Localization
@using Cats.Helpers
@model Cats.Areas.Logistics.Models.LoanReciptPlanViewModel
@{
    ViewBag.Title = "Create";
    const string PAGE_NAME = "Logistics.ReciptPlanForLoanAndOthers.Create";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Html.Translate("New Receipt Plan from Loan")</h3>
</div>
@using (Html.BeginForm("Create", "ReciptPlanForLoan", FormMethod.Post, new { @class = "modal-form",id="myForm1" }))
{
    @Html.ValidationSummary(true)
     <table border="0" class="form-horizontal">
        <tr style="width: 300px">
            <td style="width:50%">
                <div class="control-label">
                    @Html.LabelFor(m=>m.SiNumber,@Html.Translate("SI Number"))
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m=>m.SiNumber)
                    @Html.ValidationMessageFor(m=>m.SiNumber)
                </div>
            </td>
             <td style="width: 50%">
                 <div class="control-label">
                    @Html.LabelFor(m=>m.CommodityID,@Html.Translate("Commodity Type"))
                </div>
                <div class="controls">
                    @Html.DropDownList("CommodityTypeID")
                    @Html.ValidationMessageFor(m=>m.CommodityID)
                </div>
                
            </td>
           @* <td style="width: 50%">
                <div class="control-label">
                    @Html.LabelFor(m=>m.HubID,@Html.Translate("Hub"))
                </div>
                <div class="controls">
                    @Html.DropDownList("HubID")
                    @Html.ValidationMessageFor(m=>m.HubID)
                </div>
            </td>*@
        </tr>
        <tr style="width: 300px">
            <td style="width: 50%">
                <div class="control-label">
                    @Html.LabelFor(m=>m.LoanSource,@Html.Translate("Loan Source"))
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m=>m.LoanSource)
                    @Html.ValidationMessageFor(m=>m.LoanSource)
                </div>
            </td>
            <td>
               <div class="control-label">
                    @Html.LabelFor(m=>m.ParentCommodityID,@Html.Translate("Parent Commodity"))
                </div>
                 <div class="controls">
                     <select id="ParentCommodityID" name="ParentCommodityID"></select>
                    
                 </div>
            </td>
            
        </tr>
        <tr>
            <td>
                <div class="control-label">
                    @Html.LabelFor(m=>m.ProgramID,@Html.Translate("Program"))
                </div>
                <div class="controls">
                    @Html.DropDownList("ProgramID")
                    @Html.ValidationMessageFor(m=>m.ProgramID)
                </div>
            </td>
             <td>
               <div class="control-label">
                    @Html.LabelFor(m=>m.CommodityID,@Html.Translate("Commodity"))
                </div>
                <div class="controls">
                    <select id="CommodityID" name="CommodityID"></select>
                    
                </div>
            </td>
           
        </tr>
        <tr>
            <td>
                <div class="control-label">
                    @Html.LabelFor(m=>m.CommoditySourceID,@Html.Translate("Commodity Source"))
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m=>m.CommoditySourceName,new {Disabled=true})
                    @Html.ValidationMessageFor(m=>m.CommoditySourceID)

                </div>
            </td>
             <td>
                <div class="control-label">
                    @Html.LabelFor(m=>m.RefeenceNumber,@Html.Translate("Reference Number"))
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m=>m.RefeenceNumber)
                    @Html.ValidationMessageFor(m=>m.RefeenceNumber)
                </div>
            </td>
           
        </tr>
        <tr>
            <td>
                <div class="control-label">
                    @Html.LabelFor(m=>m.ProjectCode,@Html.Translate("Project Code"))
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m=>m.ProjectCode)
                    @Html.ValidationMessageFor(m=>m.ProjectCode)
                </div>
               
            </td>
            <td>
                <div class="control-label">
                    @Html.LabelFor(m=>m.Quantity,@Html.Translate("Quantity in MT"))
                </div> 
                <div class="controls">
                    @Html.TextBoxFor(m=>m.Quantity)
                    @Html.ValidationMessageFor(m=>m.Quantity)
                </div>
            </td>
            @*<td>
                <div class="control-label">
                    @Html.LabelFor(m=>m.Quantity,@Html.Translate("Quantity in MT"))
                </div> 
                <div class="controls">
                    @Html.TextBoxFor(m=>m.Quantity)
                    @Html.ValidationMessageFor(m=>m.Quantity)
                </div>
            </td>*@
        </tr>
    </table>
    
    <div class="modal-footer"> <button class="btn btn-primary" type="submit">@Html.Translate("Save")</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">@Html.Translate("Cancel")</button>
       
    </div>
}
<script>
$(document).ready(function () {
 
        var allValidationRules = {
            RefeenceNumber: "required",
            ProjectCode: "required",
            Quantity: "required",
            SiNumber: "required",
            LoanSource:"required"
            
        };
        $("#myForm1").validate({
            rules: allValidationRules,
            showErrors: function (element, errorClass, validClass) {
                for (var i in errorClass) {
                    $(errorClass[i].element).popover('show');
                }
            }
        });
        $.getJSON('@Url.Action("JsonParentCommodities","Transfer")', { commodityTypeID: 1, editModval: '@Model.CommodityID' }, function (result) {
            //for (var i = 0; i < 2; i++)
            //    alert(result[i].Text);
            if (result != "" && result != null) {
                //$('#StoreID').data('tComboBox').value(result[0]);
                var options = '<option value="">-- @Html.Translate("Select a Parent Commodity")</option>';
                for (var i = 0; i < result.length; i++) {
                    options += '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                }
                $("#ParentCommodityID").html(options);

            }
        });
    $('#CommodityTypeID').change(function () {
        var url = '@Url.Action("JsonParentCommodities","Transfer")';
        $.getJSON(url, { commodityTypeID: $('#CommodityTypeID').val(), editModval: '@Model.CommodityID' }, function (result) {
             //for (var i = 0; i < 2; i++)
             //    alert(result[i].Text);
             if (result != "" && result != null) {
                 //$('#StoreID').data('tComboBox').value(result[0]);
                 var options = '<option value="">-- @Html.Translate("Select a Parent Commodity")</option>';
                 for (var i = 0; i < result.length; i++) {
                     options += '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                 }
                 $("#ParentCommodityID").html(options);

             }
         });
         $("#CommodityID").html('');
    });
    $('#ParentCommodityID').change(function () {
        var url = '@Url.Action("JsonCommodities","Transfer")';
         $.getJSON(url, { parentCommodityID: $('#ParentCommodityID').val(), editModval: '@Model.ParentCommodityID' }, function (result) {
             //for (var i = 0; i < 2; i++)
             //    alert(result[i].Text);
             if (result != "" && result != null) {
                 //$('#StoreID').data('tComboBox').value(result[0]);
                 var options = '<option value="">-- @Html.Translate("Select a Commodity")</option>';
                 for (var i = 0; i < result.length; i++) {
                     options += '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                 }
                 $("#CommodityID").html(options);

             }
         });
     });

});
    </script>