@using Cats.Areas.Logistics.Models
@using Kendo.Mvc.UI
@using Cats.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    const string pageName = "Logistics.ReciptPlanForLoanAndOthers.Index";
    
}
@section Toolbar
{
    <a id="btnAddReciptPlan" data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "ReciptPlanForLoan")"></a>
}

<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnAddReciptPlan').click(function () {

            // alert("");
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
            });
            return false;
        });

    });
</script>

<div id='dialogDiv' class='modal hide fade in' style="width: 820px;margin-right: 10px">
    <div id='dialogContent'></div>
</div>
<h4>@Html.Translate("List of Receipt Plan From Loan")</h4>
 @(Html.Kendo().Grid<LoanReciptPlanViewModel>()
              .Name("grid")
              .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
              .Columns(columns =>
                  {
                      columns.Bound(m => m.SiNumber).Title(@Html.Translate("SI Number")).ClientTemplate("<a href='" + Url.Action("Detail", "ReciptPlanForLoan", new { id = "#=LoanReciptPlanID#" }) + " '>#=SiNumber#</a>  ").Width(100);
                      columns.Bound(m => m.LoanSource).Width(200).Title(@Html.Translate("Loan Source")).Width(100);
                      columns.Bound(m => m.ProgramName).Title(@Html.Translate("Program")).Width(100);
                      columns.Bound(m => m.CommodityName).Width(200).Title(@Html.Translate("Commodity")).Width(100);
                      columns.Bound(m => m.CommoditySourceName).Width(200).Title(@Html.Translate("Commodity Source")).Width(100);
                      columns.Bound(m => m.Quantity).HtmlAttributes(new { align = "right" }).Title(@Html.Translate("Quantity in MT")).Width(100);
                      columns.Bound(m => m.CreatedDate).Title(Html.Translate("Created Date")).Width(100);
                      columns.Bound(m => m.IsFalseGRN).Title(Html.Translate("False GRN")).Width(100).ClientTemplate("# if (IsFalseGRN) { # False GRN # }else {#  #} #").HtmlAttributes(new { @style = "text-align:center" }); ;
                      columns.Bound(m => m.Status).Title(Html.Translate("Status")).Width(100);
                      columns.Command(p =>
                      {
                          p.Custom("Revert").Click("OnRevert");
                          p.Custom("Delete").Click("OnDelete");
                      }).Width(250);


                  }

              )

              .Navigatable()
             
              .Events(e=>e.DataBound("onDataBound"))
              .HtmlAttributes(new { style = "height:430px;" })
              .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model =>model.Id(m=>m.LoanReciptPlanID))
                                            .Read(read => read.Action("LoanReciptPlan_Read", "ReciptPlanForLoan"))
              //.Update(update => update.Action("Commodity_Update", "Request"))
              
              )
              .Resizable(resize => resize.Columns(true))
       )

<div id='dialogDivSmall' class='modal hide fade in'>
    <div id='dialogContentSmall'></div>
</div>
@*<script>
    function Edit(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var url = "@Url.Action("Edit", "ReciptPlanForLoan")" + "/" + dataItem.LoanReciptPlanID;
        $('#dialogContent').load(url, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
           
        });
        return false;

    }

    function Recieve(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var url = "@Url.Action("ReciptPlan", "ReciptPlanForLoan")" + "/" + dataItem.LoanReciptPlanID;
        $('#dialogContentSmall').load(url, function () {
            $('#dialogDivSmall').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');

        });
        return false;
    }
</script>*@


<script>

    function onDataBound(e) {
        //alert("show");
        var grid = $("#grid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        //alert(gridData.length);
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            //alert(gridData[i].Status);
            if (gridData[i].Status == "Draft") {
                var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                var revertButton = $(currentRow).find(".k-grid-Revert");
                revertButton.hide();

            }
        }
    }


    function OnDelete(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        wnd.center().open();

        $("#yes").click(function () {

            window.location = "@Url.Action("Delete", "ReciptPlanForLoan")" + "/" + dataItem.LoanReciptPlanID;
            wnd.close();
        });

        $("#no").click(function () {
            window.wnd.close();
        });
    }

    function OnRevert(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        wndRevert.center().open();

        $("#yesRevert").click(function () {

            window.location = "@Url.Action("Revert", "ReciptPlanForLoan")" + "/" + dataItem.LoanReciptPlanID;
            wndRevert.close();
        });

        $("#noRevert").click(function () {
            wndRevert.close();
        });
    }
</script>

<div id="modalWindow">
    <h4>Are You Sure You Want to Delete this Loan?</h4>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>

<div id="modalWindowRevert">
    <h4>Are You Sure You Want to Revert this Loan ?</h4>
    <button id="yesRevert" class="k-button">Yes</button>
    <button id="noRevert" class="k-button">No</button>
</div>
<script>
    var wndRevert;
    $(document).ready(function () {
        wndRevert = $("#modalWindowRevert").kendoWindow({
            title: "Revert confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>