@model Cats.Areas.Logistics.Models.LoanReciptPlanWithDetailViewModel
@using Cats.Helpers
@{
    ViewBag.Title = "ReciptPlan";
    const string pageName = "Logistics.ReciptPlanForLoanAndOthers.ReciptPlan";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Html.Translate2(pageName,"New Recipt plan for Loan")</h3>
</div>
@using (Html.BeginForm("ReciptPlan", "ReciptPlanForLoan", FormMethod.Post, new { @class = "modal-form", id="myForm"}))
{
    @Html.HiddenFor(m=>m.LoanReciptPlanID)
    <div class="form-horizontal">
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.MemoRefrenceNumber)
            </div>
            <div class="controls">
                @Html.TextBoxFor(m => m.MemoRefrenceNumber)
                @Html.ValidationMessageFor(m => m.MemoRefrenceNumber) 
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.HubID, @Html.Translate2(pageName, "Hub"))
            </div>
            <div class="controls">
                @Html.DropDownList("HubID")
                @Html.ValidationMessageFor(m => m.HubID) 
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.Amount, @Html.Translate2(pageName, "Amount"))
            </div>
            <div class="controls">
                @Html.TextBoxFor(m => m.Amount)
                @Html.ValidationMessageFor(m => m.Amount) 
                @if (Model.Amount > Model.Remaining)
                {
                    <span class="alert alert-error">
                        @ViewBag.Errors
                    </span>
                }
            </div>
        </div>
    
        <div class="modal-footer"> <button class="btn btn-primary" type="submit">Recieve </button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
       
        </div>
    </div>
}
@*<script>
function ValidateAmount(){
    var remaining;
    var amount;
    remaining = document.getElementById("Remaining").value;
    amount = document.getElementById("Amount").value;
    if (amount > remaining) {
        alert(amount - remaining);
        document.body.style.background = "orange";
    }

}
    </script>*@