@using Cats.Web.Hub.Helpers
@model IEnumerable<Cats.Models.Hubs.Donor>
           
<table width="60%">
    <tr>
        <th style="width: 20px"></th>
        <th>
            @Html.Translate("Name")
        </th>
        <th>
            @Html.Translate("Responsible Donor")
        </th>
        <th>
            @Html.Translate("Source Donor")
        </th>
        <th></th>
    </tr>
     @{
         var i = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td style="width: 250px">
                @Html.DialogFormLink(@item.Name, Url.Action("Edit/" + item.DonorID), Html.Translate("Edit Donor"), "list", Url.Action("ListPartial")) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsResponsibleDonor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSourceDonor)
            </td>
            <td>
          
                @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id = item.DonorID })
            </td>
        </tr>
        i++;
    }

</table>