@model IEnumerable<Cats.Models.Hub.LetterTemplate>
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title =Html.Translate("Gift Certificate Letter Templates");
}

<h2>@Html.Translate("Gift Certificate Letter Templates")</h2>
<p>
   @Html.Translate(" Please use this form to create / Manage gift certificate letter templates. Note that the gift certificate templates are prepared one page at a time.")
</p>
<p>
    @Html.ActionLink(Html.Translate("Create New"), "Create")
</p>
<table width="60%">
    <tr>
        <th>
            @Html.Translate("Name")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(Html.Translate("Edit"), "Edit", new { id = item.LetterTemplateID }) |
            @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id = item.LetterTemplateID })
        </td>
    </tr>
}

</table>
