
@model Cats.Areas.Settings.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_forget_password"></a>
}
@section LeftBar
{
    
}
<div>
    <h4>Change Password</h4>
</div>
@using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { id = "frm_forget_password" }))
{
    @Html.ValidationSummary(true)
     @Html.HiddenFor(m => m.UserAccountID)
    <div class="well form-horizontal">
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="controls">
                @Html.PasswordFor(m=>m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
    </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="controls">
                @Html.PasswordFor(m=>m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

        </div>
    </div>
}



