@using Cats.Helpers
@using Cats.Security
@using Cats.Services.Security
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.PageTitle = "Bid Proposals";
    ViewBag.PageTitleDescription = "";
}
@section Styles{
    <style type="text/css">
        .k-window-titlebar {
            height: 30px;
        }
        .k-window-action .k-link {
            width: 100%;
            height: 1.2em;
        }
    </style>
}

@section Toolbar
{
    @*@Html.ProcurementOperationButton(
        @Url.Action("Create", "HRD", new { Area = "EarlyWarning" }),
        EarlyWarningConstants.Operation.New_HRD, "<i class=\"icon-plus\"></i>", "btn", "btn_new_record")*@

    @*@Html.ProcurementOperationButton(

        @Url.Action("Create", "PriceQuotation", new { Area = "Procurement" }),
        ProcurementCheckAccess.Operation.Create_New_Bid_Proposal,
        "<i class=\"icon-plus\"></i>", "btn", "btn_new_record"
        )*@

    <a id="btnAddProposal" data-buttontype="btn_new_record" class="btn btn-fit-height grey-salt" href="@Url.Action("Create", "PriceQuotation")"><i class="fa fa-plus-circle"></i> @Html.Translate("Create New Bid")</a>
}


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-list font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> @Html.Translate("List of Bid Proposals")</span>
            <span class="caption-helper">  </span>
        </div>
        <div class="tools">
            <a href="#" class="collapse" data-original-title="" title=""></a>
            <a href="javascript:;" class="remove" data-original-title="" title=""></a>
        </div>
        <div class="actions">
            @*<a class="btn btn-circle btn-default btn-sm green-stripe" id="btnAddProposal" data-buttontype="btn_new_record" href="@Url.Action("Create", "PriceQuotation")"><i class="fa fa-plus-circle"></i> @Html.Translate("Create New Bid")</a>*@
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            @(Html.Kendo().Grid<Cats.Areas.Procurement.Models.TransportBidQuotationHeaderViewModel>()
                  .Name("grid")
                  .Columns(columns =>
                  {
                      //columns.Bound(p => p.BidNumber).ClientTemplate("<a href='" + Url.Action("Details", "PriceQuotation", new {id = "#=TransportBidQuotationHeaderID#"}) + " '>#=BidNumber#</a>  "); ;

                      columns.Bound(p => p.BidNumber).Title(Html.Translate("Bid Number")).ClientTemplate(
                          @Html.EarlyWarningOperationButton(
                              @Url.Action("Details", "PriceQuotation", new {id = "#=TransportBidQuotationHeaderID#"}),
                              (EarlyWarningConstants.Operation) ProcurementConstants.Operation.Edit_bid_proposal_details, "#=BidNumber#").ToString());

                      columns.Bound(p => p.Region);
                      columns.Bound(p => p.Transporter);
                      // columns.Bound(p => p.BidBondAmount).Title("Bid Bond Amount(ETB)").HtmlAttributes(new { align = "Right" }).Format("{0:N}");;
                      columns.Bound(p => p.OffersCount);
                      columns.Bound(p => p.Status);

                      columns.Command(p =>
                      {
                          p.Custom("Edit").Click("edit_Proposal");
                          p.Custom("Approve").Click("approve_Proposal");
                          // p.Custom("Delete").Click("delete_proposal");

                      }).Width(250);
                      //columns.Command(command =>command.Custom("Delete").Click("OnDelete"));
                  })
                  //.ToolBar(toolbar => toolbar.Create())
                  //.Editable(editable => editable.Mode(GridEditMode.PopUp))
                  .Sortable()
                  .Events(e => e.DataBound("onDataBound"))
                  .Filterable()
                  //.Groupable()
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      // .Group(group =>
                      // {
                      //   group.Add(m => m.BidNumber);
                      //  group.Add(m => m.Region);
                      //})
                      //.Events(events => events.Error("error_handler"))
                      .Model(model => model.Id(p => p.TransportBidQuotationHeaderID))
                      .Read(read => read.Action("Read_BidProposals", "PriceQuotation", new {Area = "Procurement"}))
                  //.Update(update => update.Action("BidProposalHeader_update", "PriceQuotation", new{id=12}))
                  //.Create(create => create.Action("BidProposalHeader_create", "PriceQuotation"))
                  )
                  )
        </div>
    </div>
</div>

@*<div id='dialogDiv' class='modal fade in'>
    <div id='dialogContent'></div>
</div>*@
<div id='dialogDiv' class='modal fade bs-modal-md' tabindex="-1" aria-hidden="true">
    <div id='dialogContent'></div>
</div>
<div id="modalWindow" style="display: none; margin-top: 17px;">
    <div class="alert alert-warning"><strong>Warning!</strong> Are you sure u want to approve this bid proposal?</div>
    <hr/>
    <div class="pull-right">
        <button id="yes" class="btn btn-success">Yes</button>
        <button id="no" class="btn btn-danger">No</button>
    </div>
</div>
        <script>
            function edit_Proposal(e) {
                e.preventDefault();

                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                //window.location = "@Url.Action("Edit_proposal", "PriceQuotation")" + "/" + dataItem.TransportBidQuotationHeaderID;

                var url = "@Url.Action("Edit_proposal", "PriceQuotation")" + "/" + dataItem.TransportBidQuotationHeaderID;

                // alert("");
                $('#dialogContent').load(url, function () {
                    $('#dialogDiv').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');
                    //bindForm(this);
                });
                return false;


                //alert("Editing");
            }
        </script>

        <script>
            function onSuccessRecentBids() {
                window.location = "@Url.Action("Index", "PriceQuotation")";
                wnd.close();
            }

            function approve_Proposal(e) {
                e.preventDefault();
                var grid = this;
                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                var row = $(e.currentTarget).closest("tr");
                wnd.center().open();

                $("#yes").click(function () {
                    $.post("@Url.Action("ApproveProposal", "PriceQuotation", new { Area = "Procurement" })"+ "/" + dataItem.TransportBidQuotationHeaderID).success                  (onSuccessRecentBids);
                });

                $("#no").click(function () {
                    wnd.close();
                });
            }

            function onDataBound(e) {
                var grid = $("#grid").data("kendoGrid");
                var gridData = grid.dataSource.view();
                //alert(gridData.length);
                for (var i = 0; i < gridData.length; i++) {
                    var currentUid = gridData[i].uid;
                    //alert(gridData[i].Status);
                    if (gridData[i].Status == "Winner Generated" || gridData[i].Status == "Approved") {
                        var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                        var approveButton = $(currentRow).find(".k-grid-Approve");
                        approveButton.hide();
                        var editButton = $(currentRow).find(".k-grid-Edit");
                        editButton.hide();
                    }


                    if (gridData[i].Status == "Approved") {

                        var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                        var editButton = $(currentRow).find(".k-grid-Edit");
                        editButton.show();

                        if (!gridData[i].CanApprove) {

                        }
                    }
                }
            }

        </script>


<script type="text/javascript">
    $('#btnAddProposal').on('click',
             function (e) {
                 //$('#cats-modal').remove();
                 e.preventDefault();
                 var $remote = $(this).attr('href');
                 //var $modal = $('<div class="modal fade" id="cats-modal"  tabindex="-1" role="basic" aria-hidden="true"><div class="modal-body"></div></div>');
                 //$('#cats-modal-container').append($modal);
                 //$modal.modal({ backdrop: 'static', keyboard: false });
                 //$modal.load($remote);

                 $('#dialogContent').load($remote, function () {
                     $('#dialogDiv').modal({
                         backdrop: 'static',
                         keyboard: false
                     }, 'show');
                     //bindForm(this);
                     $(".modal-dialog").removeClass("modal-sm").addClass("modal-md");
                 });
                 return false;
             }
           );
</script>


<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Approve confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 'inherit'
        }).data("kendoWindow");
    });
</script>


