@using Cats.Helpers
@using Cats.Security
@using Cats.Services.Security
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}


@section Toolbar
{
    @*@Html.ProcurementOperationButton(
                        @Url.Action("Create", "HRD", new { Area = "EarlyWarning" }),
                        EarlyWarningConstants.Operation.New_HRD, "<i class=\"icon-plus\"></i>", "btn", "btn_new_record")*@

    @*@Html.ProcurementOperationButton(
                       
                        @Url.Action("Create", "PriceQuotation", new { Area = "Procurement" }),
                        ProcurementCheckAccess.Operation.Create_New_Bid_Proposal,
                        "<i class=\"icon-plus\"></i>", "btn", "btn_new_record"
                        )*@

    <a id="btnAddProposal" data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "PriceQuotation")"></a>
}
<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnAddProposal').click(function () {

            // alert("");
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
            });
            return false;
        });
    });
</script>

<div id='dialogDiv' class='modal hide fade in'>
    <div id='dialogContent'></div>
</div>
<div id="modalWindow">
    <h4>Are you sure u want to approve this bid proposal?</h4>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>

<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Approve confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>

<div>
    <h4>Bid Proposals</h4>
</div>

@(Html.Kendo().Grid<Cats.Areas.Procurement.Models.TransportBidQuotationHeaderViewModel>()
      .Name("grid")
      .Columns(columns =>
          {
              //columns.Bound(p => p.BidNumber).ClientTemplate("<a href='" + Url.Action("Details", "PriceQuotation", new {id = "#=TransportBidQuotationHeaderID#"}) + " '>#=BidNumber#</a>  "); ;

              columns.Bound(p => p.BidNumber).Title(Html.Translate("Bid Number")).ClientTemplate(
                @Html.EarlyWarningOperationButton(
                    @Url.Action("Details", "PriceQuotation", new { id = "#=TransportBidQuotationHeaderID#" }),
                    (EarlyWarningConstants.Operation)ProcurementConstants.Operation.Edit_bid_proposal_details, "#=BidNumber#").ToString());

              columns.Bound(p => p.Region);
              columns.Bound(p => p.Transporter);
              // columns.Bound(p => p.BidBondAmount).Title("Bid Bond Amount(ETB)").HtmlAttributes(new { align = "Right" }).Format("{0:N}");;
              columns.Bound(p => p.OffersCount);
              columns.Bound(p => p.Status);

              columns.Command(p =>
              {
                  p.Custom("Edit").Click("edit_Proposal");
                  p.Custom("Approve").Click("approve_Proposal");
                  // p.Custom("Delete").Click("delete_proposal");

              }).Width(250);
              //columns.Command(command =>command.Custom("Delete").Click("OnDelete"));
          })
        //.ToolBar(toolbar => toolbar.Create())
        //.Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Sortable()
        .Events(e => e.DataBound("onDataBound"))
        .Filterable()
        .Groupable()
        .DataSource(dataSource => dataSource
               .Ajax()
               .Group(group =>
                {
                    group.Add(m => m.BidNumber);
                    group.Add(m => m.Region);
                })
            //.Events(events => events.Error("error_handler"))
               .Model(model => model.Id(p => p.TransportBidQuotationHeaderID))
               .Read(read => read.Action("Read_BidProposals", "PriceQuotation", new { Area = "Procurement" }))
        //.Update(update => update.Action("BidProposalHeader_update", "PriceQuotation", new{id=12}))
        //.Create(create => create.Action("BidProposalHeader_create", "PriceQuotation"))
         )
      )

<script>
    function edit_Proposal(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //window.location = "@Url.Action("Edit_proposal", "PriceQuotation")" + "/" + dataItem.TransportBidQuotationHeaderID;

        var url = "@Url.Action("Edit_proposal", "PriceQuotation")" + "/" + dataItem.TransportBidQuotationHeaderID;

        // alert("");
        $('#dialogContent').load(url, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
        });
        return false;


        //alert("Editing");
    }
</script>

<script>
    function onSuccessRecentBids() {
        window.location = "@Url.Action("Index", "PriceQuotation")";
        wnd.close();
    }
    
    function approve_Proposal(e) {
        e.preventDefault();
        var grid = this;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var row = $(e.currentTarget).closest("tr");
        wnd.center().open();

        $("#yes").click(function () {
            $.post("@Url.Action("ApproveProposal", "PriceQuotation", new { Area = "Procurement" })"+ "/" + dataItem.TransportBidQuotationHeaderID).success                  (onSuccessRecentBids);
        });

        $("#no").click(function () {
            wnd.close();
        });
    }

    function onDataBound(e) {
        var grid = $("#grid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        alert(gridData.length);
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            alert(gridData[i].Status);
            if (gridData[i].Status == "Approved") {
               
                var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");

                var approveButton = $(currentRow).find(".k-grid-Approve");
                approveButton.hide();
                var editButton = $(currentRow).find(".k-grid-Edit");
                editButton.hide();
            }
        }
    }

</script>




