@using Cats.Helpers

@model Cats.Models.TransportBidQuotationHeader

@*@{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_MainLayout.cshtml";
    }
    @section LeftBar
    {

    }

    @section Toolbar
    {
        <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_plan"></a>
        <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "Plan")" title="save"></a>
    }*@
<div class="modal-dialog ">
    <div class="modal-content">

        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 id="myModalLabel" class="modal-title">@Html.Translate("Create New Bid Proposal")</h4>
        </div>


        @using (Html.BeginForm("Create", "PriceQuotation", FormMethod.Post, new { id = "frmPriceQuotation", @class = "modal-form" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-3 control-label">
                            @Html.LabelFor(m => m.BidId, "BID")
                        </div>
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.BidId, ViewBag.BIDS as SelectList, new { @class = "form-control" })
                            <span class="help-block"> @Html.ValidationMessageFor(m => m.BidId)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 control-label">
                            @Html.LabelFor(m => m.RegionID, "Region")
                        </div>
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.RegionID, ViewBag.Regions as SelectList, new {disabled = "true", @class = "form-control" })
                            @Html.HiddenFor(m => m.RegionID)
                            <span class="help-block">@Html.ValidationMessageFor(m => m.RegionID)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 control-label">
                            @Html.LabelFor(m => m.TransporterId, Html.Translate("Transporter"))
                        </div>
                        <div class="col-md-8">
                            @* <input class="cats-datepicker" type="text" id="create" name="create" />*@
                            @Html.DropDownListFor(m => m.TransporterId, ViewBag.Transporters as SelectList, new { @class = "form-control" })
                            <span class="help-block">@Html.ValidationMessageFor(m => m.TransporterId)</span>
                        </div>

                    </div>
                    @* <div class="form-group">
                            <div class="col-md-3 control-label">
                                @Html.LabelFor(m => m.BidBondAmount, Html.Translate("Bid Bond"))
                            </div>
                            <div class="col-md-5">

                                @Html.TextBoxFor(m => m.BidBondAmount)
                                @Html.ValidationMessageFor(m => m.BidBondAmount)
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-md-3 control-label">
                            @Html.LabelFor(m => m.EnteredBy)
                        </div>
                        <div class="col-md-5">
                            @* <input class="cats-datepicker" type="text" id="create" name="create" />*@
                            @Html.TextBoxFor(m => m.EnteredBy, new { @readonly = "readonly", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EnteredBy)
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" type="submit">Save</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        }
    </div>
</div>

<script>

    $("#frmPriceQuotation").submit(function () {
        $('#RegionID').removeAttr('disabled');
    });

    $("#BidId").change(function () {

        var value = $("#BidId").val();


        $.getJSON('@Url.Action("ReturnRegionId", "PriceQuotation")' + "?id=" + value, function (data) {

            $("#RegionID").val(data);

        });


    });
</script>
