@model  Cats.Models.TransportBidQuotationHeader
@using Cats.Helpers

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Bid Proposal</h3>
</div>


@using (Html.BeginForm("Edit_proposal", "PriceQuotation", FormMethod.Post, new { id = "modal-form" }))
{
    <div class="modal-body">
        <div class="well form-horizontal">
            
            @Html.HiddenFor(m => m.TransportBidQuotationHeaderID)
            @Html.HiddenFor(m => m.Status)
            
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.BidId, "BID")
                </div>
                <div class="controls">
                    @Html.DropDownListFor(m => m.BidId, ViewBag.BIDS as SelectList, new { Disabled = true })
                    @Html.ValidationMessageFor(m => m.BidId)
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.RegionID, "Region")
                </div>
                <div class="controls">
                    @Html.DropDownListFor(m => m.RegionID, ViewBag.Regions as SelectList, new { Disabled = true })
                    @Html.ValidationMessageFor(m => m.AdminUnit)
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.TransporterId, Html.Translate("Transporter"))
                </div>
                <div class="controls">
                    @Html.DropDownListFor(m => m.TransporterId, ViewBag.Transporters as SelectList, new { Disabled = true })
                    @Html.ValidationMessageFor(m => m.TransporterId)
                </div>

            </div>
            
           @* <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.BidBondAmount, Html.Translate("Bid Bond"))
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.BidBondAmount)
                    @Html.ValidationMessageFor(m => m.BidBondAmount)
                </div>

            </div>*@

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.EnteredBy,new { Disabled = true })
                </div>
                <div class="controls">
                    @Html.TextAreaFor(m => m.EnteredBy)
                    @Html.ValidationMessageFor(m => m.EnteredBy)
                </div>
            </div>

        </div>
         <div>
                <a style="text-align: center" data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Details", "PriceQuotation", new { id = Model.TransportBidQuotationHeaderID })">Edit the details</a>
                <button class="btn btn-primary" type="submit">Update</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
    </div>
}