@model  Cats.Models.TransportBidQuotationHeader
@using Cats.Helpers
<div class="modal-dialog ">
    <div class="modal-content">

        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 id="myModalLabel" class="modal-title">@Html.Translate("Edit Bid Proposal")</h4>            
        </div>


        @using (Html.BeginForm("Edit_proposal", "PriceQuotation", FormMethod.Post, new { id = "modal-form" }))
{
    <div class="modal-body">
        <div class="form-horizontal">

            @Html.HiddenFor(m => m.TransportBidQuotationHeaderID)
            @Html.HiddenFor(m => m.Status)

            <div class="form-group">
                <div class="col-md-3 control-label">
                    @Html.LabelFor(m => m.BidId, "BID")
                </div>
                <div class="col-md-5">
                    @Html.DropDownListFor(m => m.BidId, ViewBag.BIDS as SelectList, new {Disabled = true, @class = "form-control"})
                    <span class="help-block">@Html.ValidationMessageFor(m => m.BidId)</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 control-label">
                    @Html.LabelFor(m => m.RegionID, "Region")
                </div>
                <div class="col-md-5">
                    @Html.DropDownListFor(m => m.RegionID, ViewBag.Regions as SelectList, new {Disabled = true, @class = "form-control"})
                    <span class="help-block"> @Html.ValidationMessageFor(m => m.AdminUnit)</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 control-label">
                    @Html.LabelFor(m => m.TransporterId, Html.Translate("Transporter"))
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.TransporterId, ViewBag.Transporters as SelectList, new {Disabled = true, @class = "form-control"})
                    <span class="help-block"> @Html.ValidationMessageFor(m => m.TransporterId)</span>
                </div>
            </div>

            @* <div class="form-group">
                    <div class="col-md-3 control-label">
                        @Html.LabelFor(m => m.BidBondAmount, Html.Translate("Bid Bond"))
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.BidBondAmount)
                        @Html.ValidationMessageFor(m => m.BidBondAmount)
                    </div>

                </div>*@

            <div class="form-group">
                <div class="col-md-3 control-label">
                    @Html.LabelFor(m => m.EnteredBy, new {Disabled = true})
                </div>
                <div class="col-md-5">
                    @Html.TextAreaFor(m => m.EnteredBy, new { @class = "form-control", Disabled = true })
                    <span class="help-block"> @Html.ValidationMessageFor(m => m.EnteredBy)</span>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <a data-buttontype="btn_new_record" class="btn green-haze toolbar-btn " href="@Url.Action("Details", "PriceQuotation", new {id = Model.TransportBidQuotationHeaderID})">@Html.Translate("Edit the details")</a>
        </div>
        <div class="pull-right">
            <button class="btn btn-default" type="submit">Update</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
</div>
}
    </div>
</div>
