@using Cats.Models.Constant
@using Cats.Helpers
<ul class="nav nav-list">
    <li class="nav-header">@Html.Translate("Transport Request")</li>
    <li><a href="@Url.Action("Index", "TransportRequisition", new { Area = "Logistics" , id=(int)TransportRequisitionStatus.Draft})">
            <i class="icon-inbox"></i>@Html.Translate("Draft Requsition")</a>
    </li>
    <li><a href="@Url.Action("Index", "TransportRequisition", new { Area = "Logistics" , id=(int)TransportRequisitionStatus.Approved})">
            <i class="icon-inbox"></i>@Html.Translate("Approved Requsition")</a>
    </li>
    <li><a href="@Url.Action("Index", "TransportRequisition", new { Area = "Logistics" , id=(int)TransportRequisitionStatus.Closed})">
            <i class="icon-inbox"></i> @Html.Translate("Closed Requsition")</a>
    </li>
    <li><a href="@Url.Action("Index", "TransportRequisition", new { Area = "Logistics" , id=-1})"><i class="icon-check"></i>@Html.Translate("All Request")</a></li>
</ul>