@model Cats.Areas.Logistics.Models.TransportRequisitionViewModel
@using Cats.Helpers

@*@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section LeftBar
{
    @Html.Partial("_AllocationLeftBar")
}*@

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel" class="modal-title">@Html.Translate("Approve Transport Requisition")</h3>
        </div>

        <div class="alert alert-warning"><strong>Warning! </strong>@Html.Translate("Are you sure you want to approve selected Transport Requisition?")</div>
        @using (Html.BeginForm("ApproveConfirmed", "TransportRequisition", FormMethod.Post, new { @class = "modal-form" }))
        {
            <div class="modal-body form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.DisplayNameFor(model => model.TransportRequisitionNo)
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.TransportRequisitionNo,new {disabled="disabled" ,@class="span12"})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.DisplayNameFor(model => model.RequestedBy)
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.RequestedBy,new {disabled="disabled",@class="span12"})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(model => model.DateRequested,new {@class="cats-date-pref"})
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.DateRequested,new {disabled="disabled",@class="span12"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(model => model.CertifiedBy)
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.CertifiedBy,new {disabled="disabled",@class="span12"})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(model => model.DateCertified,new {@class="cats-date-pref"})
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.DateCertified,new {disabled="disabled",@class="span12"})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.DisplayNameFor(model => model.Remark)
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Remark,new {@class="span12"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.TransportRequisitionID)
            <div class="modal-footer">
                @if (Model.StatusID == (int)Cats.Models.Constant.TransportRequisitionStatus.Draft)
                {
                    <button class="btn btn-primary" type="submit">Yes</button>
                }
                <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>

            </div>

        }
    </div>
</div>

