@model Cats.Areas.Logistics.Models.TransportRequisitionViewModel
@using Cats.Helpers

@{
    ViewBag.Title = "Approve";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Generate Transport Order");
    ViewBag.PageTitleDescription = "";
}

@*@section LeftBar
    {
        @Html.Partial("_AllocationLeftBar")
    }*@
<div class="">
    <div class="modal-dialog modal-lg" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                <h4 class="modal-title" id="myModalLabel">@Html.Translate("Generate Transport Order")</h4>
            </div>

            <div class="note note-info">@Html.Translate("Are you sure you want to generate transported order for selected Transport Requisition?")</div>
            @if (ViewBag.Msg != null)
            {
                <h5 class="offset1">@ViewBag.Msg</h5>
            }


            @using (Html.BeginForm("CreateTransportOrder", "TransportOrder", new { Area = "Procurement", id = @ViewBag.RequisistionId }, FormMethod.Post, new { @class = "modal-form" }))
            {

                <div class="modal-body form-horizontal">

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="control-label col-md-5">
                                @Html.DisplayNameFor(model => model.TransportRequisitionNo)
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.TransportRequisitionNo, new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="control-label col-md-5">
                                @Html.DisplayNameFor(model => model.RequestedBy)
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.RequestedBy, new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="control-label col-md-5">
                                @Html.LabelFor(model => model.DateRequested, new { @class = "cats-date-pref" })
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.DateRequested, new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="control-label col-md-5">
                                @Html.LabelFor(model => model.CertifiedBy)
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.CertifiedBy, new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="control-label col-md-5">
                                @Html.LabelFor(model => model.DateCertified, new { @class = "cats-date-pref" })
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.DateCertified, new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="control-label col-md-5">
                                @Html.DisplayNameFor(model => model.Remark)
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.Remark, new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                </div>

                @Html.HiddenFor(model => model.TransportRequisitionID)
                <div class="modal-footer">

                    <button class="btn green" id="btnSave" name="saveButton" onclick="setTimeout(disableFunction, 1);" type="submit">Yes</button>
                    <button class="btn red" data-dismiss="modal" name="cancelButton" aria-hidden="true">No</button>

                </div>

            }

        </div>
    </div>
</div>
<script>
        function disableFunction() {
            document.getElementById("btnSave").disabled = 'true';
        }

    </script>
