@model Cats.Models.TransportRequisition

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section LeftBar
{
    @Html.Partial("_AllocationLeftBar")
}
<h4>Edit Transport Requisition</h4>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.TransportRequisitionID)
        @Html.HiddenFor(model=>model.Status)
        <div class="form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.TransportRequisitionNo)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model => model.TransportRequisitionNo)
                    @Html.ValidationMessageFor(model => model.TransportRequisitionNo)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RequestedBy)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model => model.RequestedBy)
                    @Html.ValidationMessageFor(model => model.RequestedBy)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RequestedDate,new {@class="cats-date-pref"})
                </div>
                <div class="controls">
                     @Html.TextBoxFor(model => model.RequestedDate, new { @class = " cats-datepicker2", @placeholder = "0" })
                    @Html.ValidationMessageFor(model => model.RequestedDate)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.CertifiedBy)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model => model.CertifiedBy)
                    @Html.ValidationMessageFor(model => model.CertifiedBy)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.CertifiedDate,new {@class="cats-date-pref"})
                </div>
                <div class="controls">
                   @Html.TextBoxFor(model => model.CertifiedDate, new { @class = " cats-datepicker2", @placeholder = "0" })
                    @Html.ValidationMessageFor(model => model.CertifiedDate)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Remark)
                </div>
                <div class="controls">
                    @Html.TextAreaFor(model => model.Remark)
                    @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>
            

            <div class="controls">
                <input type="submit" value="Save" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
