@model IEnumerable<Cats.Models.TransportRequisition>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransportRequisitionNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransportRequisitionNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CertifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CertifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransportRequisitionID }) 
           
        </td>
    </tr>
}

</table>
