@using Cats.Areas.Logistics.Models
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section LeftBar
{
    @Html.Partial("_AllocationLeftBar")
}
@section Toolbar
{
    <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("Requisitions","TransportRequisition",new {Area="Logistics"})"></a>
}
<h4 class="page-header">Transport Requisition</h4>
@(Html.Kendo().Grid<TransportRequisitionViewModel>().Name("Grid").Columns(columns =>
{

    columns.Bound(requisition => requisition.TransportRequisitionNo).ClientTemplate("<a href='" + Url.Action("Details", "TransportRequisition", new { Area = "Logistics", id = "#=TransportRequisitionID#" }) + " '>#=TransportRequisitionNo#</a>  ");
    columns.Bound(requisition => requisition.RequestedBy);
    columns.Bound(requisition => requisition.RequestedDateET);
    columns.Bound(requisition => requisition.CertifiedBy);
    columns.Bound(requisition => requisition.CertifiedDateET);
    columns.Bound(requisiton => requisiton.Status);
})
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model =>model.Id(p => p.TransportRequisitionID))
        .Read(read => read.Action("TransportRequisition_Read", "TransportRequisition"))
    ).Pageable()
)




@*@(Html.Kendo().Grid(Model).Name("Grid")
      .Columns(columns =>
                   {

                       columns.Bound(requisition => requisition.TransportRequisitionNo).ClientTemplate("<a href='" + Url.Action("Details", "TransportRequisition", new { Area="Logistics",id = "#=TransportRequisitionID#" }) + " '>#=TransportRequisitionNo#</a>  ");
                       columns.Bound(requisition => requisition.RequestedBy);
                       columns.Bound(requisition => requisition.RequestedDate);
                       columns.Bound(requisition => requisition.CertifiedBy);
                       columns.Bound(requisition => requisition.CertifiedDate);
                       columns.Bound(requisition => requisition.Status); 
                                      


                   } )
                   
      .Pageable());*@
@*<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransportRequisitionNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransportRequisitionNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedDate,new {@class="cats-datepicker"})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CertifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CertifiedDate,new {@class="cats-datepicker"})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @{
              var status=  item.Status == 1 ? "Draft" : item.Status == 2 ? "Approved" : "Closed";
              
            }
            @status 
          
        </td>
        <td>
          @if(item.Status==1){
           @Html.ActionLink("Edit", "Edit", new {id = item.TransportRequisitionID},new {@class="btn btn-info"}) 
              
             @Html.ActionLink("Approve", "Approve", new { id=item.TransportRequisitionID },new {@class="btn btn-warning"})
          } 
          
           
        </td>
    </tr>
}

</table>*@
