@using Cats.Web.Hub.Helpers

@model  Cats.Models.Hub.SMTPInfo

@{
    ViewBag.Title = Html.Translate("SMTP Configuration");
}

<h2>@Html.Translate("SMTP Server Configuration")</h2>
<p>
    @Html.Translate("Change settings to the SMTP server's address.")
</p>
<div id="ConfigContainer">
<fieldset>
    <legend>@Html.Translate("SMTP Setting")</legend>
 
      
    <div class="display-field">
        @Html.Translate("Name: ")@Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-field">
        @Html.Translate("SMTP Server: ")@Html.DisplayFor(model => model.SMTPServer)
    </div>
    
    <div class="display-field">
        @Html.Translate("Port: ")@Html.DisplayFor(model => model.Port)
    </div>
    
 
        <div class="right">        
            @Html.DialogFormLink(Html.Translate("Edit"), Url.Action("EditConfigSMTP"), Html.Translate("SMTP Configuration"), "ConfigContainer", Url.Action("ConfigSMTP"))
        </div>
    
</fieldset>
</div>