@using System.Threading
@using Cats.Web.Hub
@using Cats.Web.Hub.Helpers


<!-- CSS styles for the datepicker (there are other themes included with the zip package) -->
<link href="@Url.Content("~/Scripts/js/humanity.calendars.picker.css")" rel="stylesheet" type="text/css" />
<!-- The datepicker required the base and the "plus" module -->
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.calendars.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.calendars.plus.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.calendars.picker.js")"> </script>
<!-- The ethiopian calendar -->
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.calendars.ethiopian.js")"> </script>
<!-- The localization files for the datepicker and the ethiopian calendar -->
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.calendars.picker-am.js")"> </script>
@using Cats.Web.Hub.Helpers
<script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.calendars.ethiopian-am.js")"> </script>


<div>
    
    <h2>@Html.Translate("Transportation Reports")</h2>
    <p>
    @Html.Translate("Reports on transportation rates for receive and dispatch")
    </p>
    <table class="borderless" style="padding: 0px; margin: 0px;">
        <tr>
            <td style="width: 100px"><b>Operation:</b></td>
            <td style="width: 100px"><input type="radio" checked="checked" name="operation" value="1" title="Receive">@Html.Translate("Receive")</td>
            <td style="width: 10px"><input type="radio" name="operation" value="0" title="Dispatch"/>@Html.Translate("Dispatch")</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td style="width: 100px"><b>@Html.Translate("Period Type:")</b></td>
            <td>
    
                <div align="left" class="holder ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
                    <div class="mode" style="">
                        <ul class="classDateMode ui-state-default">
                            @if (@Html.GetCurrentUser().DatePreference == "am")
                            {
                                <li><a href="javascript:void(0);" id="Daily">በቀን</a></li>
                                <li><a href="javascript:void(0);" id="Month">በወር</a></li>
                                <li><a href="javascript:void(0);" id="Quarter">በወቅት</a></li>
                                <li id="yearLink" class="selectedDateMode">
                                    <a href="javascript:void(0);" id="Year">በአመት</a>
                                </li>
                            }else
                            {
                                <li><a href="javascript:void(0);" id="Daily">Daily</a></li>
                                <li><a href="javascript:void(0);" id="Month">Monthly</a></li>
                                <li><a href="javascript:void(0);" id="Quarter">Quarterly</a></li>
                                <li id="yearLink" class="selectedDateMode">
                                    <a href="javascript:void(0);" id="Year">Yearly</a>
                                </li>
                                
                                
                            } 
                        </ul>
                        <div class="ui-datepicker-header ui-widget-header  ui-corner-all outputHolder">
                            <a title="Prev" id="datePrev" class="ui-daterangepicker-prev ui-corner-all" style="left: 2px" href="javascript:void(0);">
                                <span class="ui-icon ui-icon-circle-triangle-w">@Html.Translate("Prev")</span></a>
                            <a title="Next" id="dateNext" style="right: 2px"
                               class="ui-daterangepicker-next ui-corner-all" href="javascript:void(0);"><span class="ui-icon ui-icon-circle-triangle-e">
                                                                                     @Html.Translate("Next")</span>
                            </a>
                            <div class="ui-datepicker-title">
                                <input type="text" id="dateFilter" readonly="readonly" style="font-size: 12px; background: transparent; font-weight: bold; border: 0px; text-align: center; height: 14px; padding-top: 2px; width: 200px;" value="2011" class="date ui-rangepicker-input ui-widget-content" />
                            </div>
                        </div>
                        @*<input class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only show" id="Show" type="button" value="Show" />*@
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            @if (@Html.GetCurrentUser().DatePreference == "am")
            {
                <td style="width: 100px"><b>Duration - From:</b></td> @*<b></b>*@
                <td style="width: 100px"><input id="FromDateAm" class="calendarspicker t-input" type="input" data-gregorian-field="input[name=FromDate]" /></td>
                <td style="width: 100px"><b> To : </b></td>
                <td style="width: 100px"><input id="ToDateAm" class="calendarspicker t-input" type="input" data-gregorian-field="input[name=ToDate]" /></td>
                <td><input type="button" name="Go" onclick="OnShowReport()" value="Show Report" class="t-button" /></td>
            
                <!-- the form element that brings up the date picker and shows the localized date -->
                <!-- the actual value that gets passed along the form post to the backend -->
                @Html.Telerik().DatePicker().Name("FromDate").OpenOnFocus(false).ShowButton(false).InputHtmlAttributes(new { @readonly = "readonly", @type = "hidden", @name = "FromDate" }).Format(Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern)
                @*<input id="FromDate" name="FromDate" type="hidden" />*@
                
                <!-- the form element that brings up the date picker and shows the localized date -->
                <!-- the actual value that gets passed along the form post to the backend -->              
                @Html.Telerik().DatePicker().Name("ToDate").OpenOnFocus(false).ShowButton(false).InputHtmlAttributes(new { @readonly = "readonly", @type = "hidden", @name = "ToDate" }).Format(Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern).ClientEvents(events => events.OnLoad("DatePicker_onLoad"))
                @*<input id="ToDate" name="ToDate" type="hidden" />*@
                
            }
            else
            {
                <td style="width: 100px"><b>@Html.Translate("Duration - From:")</b></td> @*<b></b>*@
                <td style="width: 100px">@Html.Telerik().DatePicker().Name("FromDate").OpenOnFocus(false).ShowButton(true).InputHtmlAttributes(new { @readonly = "readonly" }).Format(Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern)</td>
                <td style="width: 100px"><b> @Html.Translate("To : ") </b></td>
                <td style="width: 100px">@Html.Telerik().DatePicker().Name("ToDate").OpenOnFocus(false).ShowButton(true).InputHtmlAttributes(new { @readonly = "readonly" }).Format(Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern).ClientEvents(events => events.OnLoad("DatePicker_onLoad"))</td>
                <td><input type="button" name="Go" onclick="OnShowReport()" value="@Html.Translate("Show Report")" class="t-button" /></td>
            }
        </tr>
    </table>
    <div id="report_area_time_line">
        
    </div>
    <div id="report_area">
            
    </div>

   
</div>


<script type="text/javascript">
    var datePattern = 'dd-M-yy';
    var localeLang = '@Html.GetCurrentUser().DatePreference';

    function OnShowReport() {
        $('#report_area').html('Loading ...');
        // var period = $('input:radio[name=period]:checked').val();
        var operation = $('input:radio[name=operation]:checked');
        var from = $("#FromDate").val();
        var to = $("#ToDate").val();
        var params = {};
        params["Operation"] = operation.val();
        if (from) {
            params["from"] = from;
        }
        if (to) {
            params["to"] = to;
        }
        //$('#report_area_time_line').html(" <b> " + $(operation).attr("title") + '</b> Reports ' + ' from <b>' + from + '</b> to <b>' + to + '</b>');
        $('#report_area').load('@Url.Action("ReceiveTrend", "TransportationReport")', params);

    }
    function DatePicker_onLoad() { }
</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/ReportingDateFilters.js")"> </script>

<style type="text/css">
            .classDateMode li a {
                
            }
            .mode ul li.selectedDateMode, .mode ul li.selectedDateMode a, .mode ul li.selectedDateMode
            {
                background-color: #2CA7D1;
                color: white;
            }
            .classDateMode, .ui-state-default p, ul
            {
                line-height: 1.4em;
            }
            .holder
            {
                background: repeat scroll 0 0 #EDEDED;
                margin: 2px auto;
                padding:5px;
                border: 1px solid #C4C4C4;
                width: 250px;/**/
                height: 80px; /*height: 130px;*/
            }
            .mode ul
            {
                background: none repeat scroll 0 0 #E0E0E0;
                border: 1px solid #81D1F4;
                height: 30px;
                margin: 7px 3px 3px;
                padding: 0;
                position: relative;
                border-right: none;
                width: auto;
            }
            .mode ul li
            {
                display: inline;
                list-style: none outside none;
            }
            .mode ul li a
            {
                background:transparent;
                border-right: 1px solid gray;
                float: left;
                font-family: Arial;
                font-size: 12.5px;
                margin-left: 0px;
                padding: 7px;
                text-decoration: none;
            }
            .mode ul li a:hover
            {
                text-decoration: underline;
            }
            .outputHolder{
                position:relative;
                height:18px;
                margin:15px auto;
                width:200px;
            }
            .outputHolder a{
                height: 1.8em;
                position: absolute;
                top: 2px;
                width: 1.8em;
            }
            .show
            {
                padding-bottom: 2px;
                padding-top: 2px;
                width: 75px;
            } 
        
    </style>
