@using Cats.Areas.Logistics.Models
@using Kendo.Mvc.UI
@using Cats.Helpers
@using Cats.Models.Constant

@model IEnumerable<FreeStockStatusViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@*<script type="text/javascript" src="~/Scripts/js/exporting.js"></script>*@
<script type="text/javascript" src="~/Scripts/js/highcharts.js"></script>

<script type="text/javascript">
    $(function () {
        //$.getJSON('@Url.Action("PieRequests", "Dashboard")', {}, function (data) {
        $.getJSON('/Dashboard/PieRequests', {}, function (data) {
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'pieChart-main',
                    type: 'pie',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false

                },
                title: {
                    text: null
                },

                plotOptions: {
                    pie: {
                        showInLegend: true,
                        animation: false,
                        allowPointSelect: true,
                        cursor: 'pointer',

                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function () {
                                var percent = this.percentage;
                                return /* '<b>' + this.point.name + '</b>: ' + */percent.toFixed(2) + ' %';
                            }
                        }
                    }
                },
                legend: {
                    enabled: true
                },
                series: [{
                    name: 'Requests',
                    type: 'pie',
                    data: [
                        ['Free', 42],
                        ['Physical', 58]
                    ]
                }],

                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        //$.getJSON('@Url.Action("PieRequests", "Dashboard")', {}, function (data) {
        $.getJSON('/Dashboard/PieRequests', {}, function (data) {
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'pieChart-adama',
                    type: 'pie',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false

                },
                title: {
                    text: null
                },

                exporting: {
                    enabled: false
                },

                credits: {
                    enabled: false
                },

                plotOptions: {
                    pie: {
                        showInLegend: false,
                        animation: false,
                        allowPointSelect: true,
                        cursor: 'pointer',

                        dataLabels: {
                            enabled: false,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function () {
                                var percent = this.percentage;
                                return /*'<b>' + this.point.name + '</b>: ' +*/ percent.toFixed(2) + ' %';
                            }
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: 'Requests',
                    type: 'pie',
                    data: [75, 25]
                }]
            });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        //$.getJSON('@Url.Action("PieRequests", "Dashboard")', {}, function (data) {
        $.getJSON('/Dashboard/PieRequests', {}, function (data) {
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'pieChart-dire',
                    type: 'pie',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false

                },
                title: {
                    text: null
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },

                plotOptions: {
                    pie: {
                        showInLegend: false,
                        animation: false,
                        allowPointSelect: true,
                        cursor: 'pointer',

                        dataLabels: {
                            enabled: false,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function () {
                                var percent = this.percentage;
                                return '<b>' + this.point.name + '</b>: ' + percent.toFixed(2) + ' %';
                            }
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: 'Requests',
                    type: 'pie',
                    data: [15, 85]
                }]
            });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        //$.getJSON('@Url.Action("PieRequests", "Dashboard")', {}, function (data) {
        $.getJSON('/Dashboard/PieRequests', {}, function (data) {
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'pieChart-meke',
                    type: 'pie',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false

                },
                title: {
                    text: null
                },
                credits: {
                    enabled: false
                },

                plotOptions: {
                    pie: {
                        showInLegend: false,
                        animation: false,
                        allowPointSelect: true,
                        cursor: 'pointer',

                        dataLabels: {
                            enabled: false,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function () {
                                var percent = this.percentage;
                                return '<b>' + this.point.name + '</b>: ' + percent.toFixed(2) + ' %';
                            }
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: 'Requests',
                    type: 'pie',
                    data: [40, 60]
                }]
            });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        //$.getJSON('@Url.Action("PieRequests", "Dashboard")', {}, function (data) {
        $.getJSON('/Dashboard/PieRequests', {}, function (data) {
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'pieChart-komb',
                    type: 'pie',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false

                },
                title: {
                    text: null
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        showInLegend: false,
                        animation: false,
                        allowPointSelect: true,
                        cursor: 'pointer',

                        dataLabels: {
                            enabled: false,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function () {
                                var percent = this.percentage;
                                return '<b>' + this.point.name + '</b>: ' + percent.toFixed(2) + ' %';
                            }
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: 'Stock Status',
                    type: 'pie',
                    data: [90, 10]
                }]
            });
        });
    });
</script>

<style>
    .panel {
        margin-bottom: 20px;
        background-color: #ffffff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .panel-body {
        padding: 15px;
    }

        .panel-body:before,
        .panel-body:after {
            display: table;
            content: " ";
        }

        .panel-body:after {
            clear: both;
        }

        .panel-body:before,
        .panel-body:after {
            display: table;
            content: " ";
        }

        .panel-body:after {
            clear: both;
        }

    .panel > .list-group {
        margin-bottom: 0;
    }

        .panel > .list-group .list-group-item {
            border-width: 1px 0;
        }

            .panel > .list-group .list-group-item:first-child {
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            .panel > .list-group .list-group-item:last-child {
                border-bottom: 0;
            }

    .panel-heading + .list-group .list-group-item:first-child {
        border-top-width: 0;
    }

    .panel > .table,
    .panel > .table-responsive {
        margin-bottom: 0;
    }

    .panel > .panel-body + .table,
    .panel > .panel-body + .table-responsive {
        border-top: 1px solid #dddddd;
    }

    .panel > .table-bordered,
    .panel > .table-responsive > .table-bordered {
        border: 0;
    }

        .panel > .table-bordered > thead > tr > th:first-child,
        .panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
        .panel > .table-bordered > tbody > tr > th:first-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
        .panel > .table-bordered > tfoot > tr > th:first-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
        .panel > .table-bordered > thead > tr > td:first-child,
        .panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
        .panel > .table-bordered > tbody > tr > td:first-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
        .panel > .table-bordered > tfoot > tr > td:first-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
            border-left: 0;
        }

        .panel > .table-bordered > thead > tr > th:last-child,
        .panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
        .panel > .table-bordered > tbody > tr > th:last-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
        .panel > .table-bordered > tfoot > tr > th:last-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
        .panel > .table-bordered > thead > tr > td:last-child,
        .panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
        .panel > .table-bordered > tbody > tr > td:last-child,
        .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
        .panel > .table-bordered > tfoot > tr > td:last-child,
        .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
            border-right: 0;
        }

        .panel > .table-bordered > thead > tr:last-child > th,
        .panel > .table-responsive > .table-bordered > thead > tr:last-child > th,
        .panel > .table-bordered > tbody > tr:last-child > th,
        .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
        .panel > .table-bordered > tfoot > tr:last-child > th,
        .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th,
        .panel > .table-bordered > thead > tr:last-child > td,
        .panel > .table-responsive > .table-bordered > thead > tr:last-child > td,
        .panel > .table-bordered > tbody > tr:last-child > td,
        .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
        .panel > .table-bordered > tfoot > tr:last-child > td,
        .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td {
            border-bottom: 0;
        }

    .panel-heading {
        padding: 3px 10px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

        .panel-heading > .dropdown .dropdown-toggle {
            color: inherit;
        }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: lighter;
    }

        .panel-title > a {
            color: inherit;
        }

    .panel-footer {
        padding: 10px 15px;
        background-color: #f5f5f5;
        border-top: 1px solid #dddddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .panel-group .panel {
        margin-bottom: 0;
        overflow: hidden;
        border-radius: 4px;
    }

        .panel-group .panel + .panel {
            margin-top: 5px;
        }

    .panel-group .panel-heading {
        border-bottom: 0;
    }

        .panel-group .panel-heading + .panel-collapse .panel-body {
            border-top: 1px solid #dddddd;
        }

    .panel-group .panel-footer {
        border-top: 0;
    }

        .panel-group .panel-footer + .panel-collapse .panel-body {
            border-bottom: 1px solid #dddddd;
        }

    .panel-default {
        border-color: #dddddd;
    }

        .panel-default > .panel-heading {
            color: #333333;
            background-color: #f5f5f5;
            border-color: #dddddd;
        }

            .panel-default > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #dddddd;
            }

            .panel-default > .panel-heading > .dropdown .caret {
                border-color: #333333 transparent;
            }

        .panel-default > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #dddddd;
        }

    .panel-primary {
        border-color: #428bca;
    }

        .panel-primary > .panel-heading {
            color: #ffffff;
            background-color: #428bca;
            border-color: #428bca;
        }

            .panel-primary > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #428bca;
            }

            .panel-primary > .panel-heading > .dropdown .caret {
                border-color: #ffffff transparent;
            }

        .panel-primary > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #428bca;
        }

    .panel-success {
        border-color: #d6e9c6;
    }

        .panel-success > .panel-heading {
            color: #468847;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

            .panel-success > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #d6e9c6;
            }

            .panel-success > .panel-heading > .dropdown .caret {
                border-color: #468847 transparent;
            }

        .panel-success > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #d6e9c6;
        }

    .panel-warning {
        border-color: #faebcc;
    }

        .panel-warning > .panel-heading {
            color: #c09853;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }

            .panel-warning > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #faebcc;
            }

            .panel-warning > .panel-heading > .dropdown .caret {
                border-color: #c09853 transparent;
            }

        .panel-warning > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #faebcc;
        }

    .panel-danger {
        border-color: #ebccd1;
    }

        .panel-danger > .panel-heading {
            color: #b94a48;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

            .panel-danger > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #ebccd1;
            }

            .panel-danger > .panel-heading > .dropdown .caret {
                border-color: #b94a48 transparent;
            }

        .panel-danger > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #ebccd1;
        }

    .panel-info {
        border-color: #bce8f1;
    }

        .panel-info > .panel-heading {
            color: #3a87ad;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }

            .panel-info > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #bce8f1;
            }

            .panel-info > .panel-heading > .dropdown .caret {
                border-color: #3a87ad transparent;
            }

        .panel-info > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #bce8f1;
        }
</style>

<style>
    .chart-wrapper {
        position: relative;
        padding-bottom: 25%;
        width: 50%;
        float: left;
    }

    .chart-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        float: right;
    }

    .gridStyle {
        width: 100%;
        height: 100%;
    }

    .ng-table {
        border: 1px solid #000;
    }
</style>

<script>
    var app = angular.module('myApp', ['ngGrid']);
    app.controller('MyCtrl', function ($scope) {
        $scope.myData = [
                             { Commodity: "Cereal", PhysicalStock: 50, FreeStock: 50 },
                             { Commodity: "Wheat Flour", PhysicalStock: 43, FreeStock: 14 },
                             { Commodity: "CSB/Famix", PhysicalStock: 27, FreeStock: 25 },
                             { Commodity: "Pulses", PhysicalStock: 29, FreeStock: 39 },
                             { Commodity: "V.Oil", PhysicalStock: 34, FreeStock: 58 }
        ];

        $scope.gridOptions = {
            data: 'myData',
            columnDefs: [
                { field: 'Commodity', displayName: 'Commodity' },
                { field: 'PhysicalStock', displayName: 'Physical Stock' },
                { field: 'FreeStock', displayName: 'Free Stock' },
            ],
            jqueryUITheme: false,
        };
    });
</script>

<script>
    var app = angular.module('main', ['ngTable']).
    controller('DemoCtrl', function ($scope) {

        $scope.users = [
                { name: "Moroni", age: 50 },
                { name: "Tiancum", age: 43 },
                { name: "Jacob", age: 27 },
                { name: "Nephi", age: 29 },
                { name: "Enos", age: 34 }
        ];

    })
</script>

<div class="row-fluid form-horizontal ">
    <div class="well span12">
        <div class="span5 ">
            <div class="control-group">
                <div class="toolbar">
                    <label class="category-label" for="category">Show Zones by Region:</label>
                    @(Html.Kendo().DropDownList()
                                        .Name("regions")
                                        .OptionLabel("All")
                                        .DataTextField("Name")
                                        .DataValueField("AdminUnitID")
                                        .AutoBind(false)
                                        .Events(e => e.Change("regionsChange"))
                                        .DataSource(ds =>
                                        {
                                            ds.Read("GetRegions", "NeedAssessment");
                                        })
                        )
                </div>
            </div>
        </div>

        <div class="span5">
            <div class="control-group">
                <div class="control-label">
                    Select
                </div>
                <div class="controls">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="font: normal">Free Stock Status of all hubs</h3>
    </div>
    <div class="panel-body">
        <div style="float: left; width: 65%">
            <div ng-app="myApp">
                <div ng-controller="MyCtrl">
                    @*<div class="gridstyle" ng-grid="gridOptions"></div>*@
                    <table class="table table-striped" style="height: auto" ng-grid="gridOptions"></table>
                </div>
            </div>
            @*   <div ng-app="main" ng-controller="DemoCtrl">
                    <table ng-table class="table">
                        <tr ng-repeat="user in users">
                            <td data-title="'Name'">{{user.name}}</td>
                            <td data-title="'Age'">{{user.age}}</td>
                            <td data-title="'Age'">{{user.age}}</td>
                        </tr>
                    </table>
              </div>*@
        </div>

        <div class="chart-wrapper" style="width: 35%; float: right">
            <div class="chart-inner">
                <div id="pieChart-main" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="panel panel-default" style="float: left; width: 49%">
        <div class="panel-heading">
            <h3 class="panel-title">Adamahub</h3>
        </div>
        <div class="panel-body">
            <div style="float: left; width: 50%">
                <div ng-app="main" ng-controller="DemoCtrl">
                    <table ng-table class="table">
                        <tr ng-repeat="user in users">
                            <td data-title="'Name'">{{user.name}}</td>
                            <td data-title="'Age'">{{user.age}}</td>
                            <td data-title="'Age'">{{user.age}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="chart-wrapper">
                <div class="chart-inner">
                    <div id="pieChart-adama" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="float: right; width: 49%">
        <div class="panel-heading">
            <h3 class="panel-title" style="font: normal">Diredawa hub</h3>
        </div>
        <div class="panel-body">
            <div style="float: left; width: 50%">
                Table
            </div>
            <div class="chart-wrapper">
                <div class="chart-inner">
                    <div id="pieChart-dire" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="panel panel-default" style="float: left; width: 49%">
        <div class="panel-heading">
            <h3 class="panel-title">Kombolcha hub</h3>
        </div>
        <div class="panel-body">
            <div style="float: left; width: 50%">
                Table
            </div>
            <div class="chart-wrapper">
                <div class="chart-inner">
                    <div id="pieChart-komb" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="float: right; width: 49%">
        <div class="panel-heading">
            <h3 class="panel-title">Mekele hub</h3>
        </div>
        <div class="panel-body">
            <div style="float: left; width: 50%">
                Table
            </div>
            <div class="chart-wrapper">
                <div class="chart-inner">
                    <div id="pieChart-meke" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="panel panel-default" style="float: left; width: 49%">
        <div class="panel-heading">
            <h3 class="panel-title">Sodo hub(EFSRA)</h3>
        </div>
        <div class="panel-body">
            <div style="float: left; width: 50%">
                Table
            </div>
            <div class="chart-wrapper">
                <div class="chart-inner">
                    <div id="pieChart-sodo" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="float: right; width: 49%">
        <div class="panel-heading">
            <h3 class="panel-title">Shashemene hub(EFSRA)</h3>
        </div>
        <div class="panel-body">
            <div style="float: left; width: 50%">
                Table
            </div>
            <div class="chart-wrapper">
                <div class="chart-inner">
                    <div id="pieChart-shas" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="panel panel-default" style="float: left; width: 49%">
        <div class="panel-heading">
            <h3 class="panel-title">Woreta hub(EFSRA)</h3>
        </div>
        <div class="panel-body">
            <div style="float: left; width: 50%">
                Table
            </div>
            <div class="chart-wrapper">
                <div class="chart-inner">
                    <div id="pieChart-wore" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>