@model IEnumerable<Cats.Models.Hub.AdminUnit>
@using Cats.Web.Hub.Helpers

<div id="zoneList">
    <table class="borderless">
        <tr>
            <td>
                Region
            </td>
            <td>
                @(Html.Telerik().ComboBox().Name("SelectedRegionId")
                            .BindTo(new SelectList((IEnumerable<Cats.Models.Hub.AdminUnit>)ViewBag.Regions, "AdminUnitID", "Name"))
                            .AutoFill(true)
                            .OpenOnFocus(true)
                            .ClientEvents(ev => ev.OnChange("onZonesRegionChange"))
            )
            </td>
            <td>
                <p class="hidden-command" style="display:none">
                    @Html.DialogFormLink(Html.Translate("Create New Zone"), Url.Action("CreateZone"), "Create New Zone", "zoneList", Url.Action("AdminUnits") + "?id=3")
                </p>
            </td>
        </tr>
 </table>
 
@(Html.Telerik().Grid(Model).Name("zones")
    .Columns(col =>
        {
            col.Template
                (
                @<text>
                    @Html.DialogFormLink(item.Name, Url.Action("Edit", new { id = item.AdminUnitID }), Html.Translate("Edit Zone"), "woredaList", Url.Action("AdminUnits") + "?id=3")
                </text>
                ).ClientTemplate(
                "<a href='/AdminUnit/Edit/<#= AdminUnitID #>'" +
                "data-update-url='/AdminUnit/AdminUnits/3?id=3'"+
                "data-update-target-id='woredaList' data-dialog-title='Edit Zone'"+
                "class='dialogLink'>" +
                "<#= Name #>"+
                "</a>"
                ).Title(Html.Translate("Name"));
                col.Bound(model => model.NameAM).Title(Html.Translate("Name (Amharic)"));
                col.Bound(model => model.AdminUnit2.Name).Title(Html.Translate("Region"));
            col.Template
                (
                    @<text>
                    @Html.ActionLink(Html.Translate("Delete"),"Delete",new {id = item.AdminUnitID})
                    </text>
                ).ClientTemplate(
                "<a href='/AdminUnit/Delete/<#= AdminUnitID #>'>Delete" +
                "</a>"
                );
        })
                .DataBinding(bind =>
                    bind.Ajax()
                          .Select("GetZonesByParent", "AdminUnit")
                                            ).Pageable(page => page.PageSize(50))

)


</div>