@model IEnumerable<Cats.Models.Hub.AdminUnit>
@using Cats.Web.Hub.Helpers

<div id="woredaList">
 
    <table class="borderless">
        <tr>
            <td>
                Region
            </td>
            <td>
                @(Html.Telerik().ComboBox().Name("SelectedRegionId2")
                    //.DataBinding(binding => binding.Ajax().Select("GetRegions", "AdminUnit"))
                    .BindTo(new SelectList((IEnumerable<Cats.Models.Hub.AdminUnit>)ViewBag.Regions, "AdminUnitID","Name"))
                    .CascadeTo("zones2")
                    .AutoFill(true)
                    .OpenOnFocus(true)
                    .ClientEvents(ev => ev.OnChange("onRegionChange"))
            )
            </td>
            <td>
                Zone
            </td>
            <td>
                @(Html.Telerik().ComboBox().Name("zones2")
                    .DataBinding(bind => bind.Ajax().Select("GetZones", "AdminUnit"))
                    .AutoFill(true)
                    .OpenOnFocus(true)
                    .ClientEvents(ev => ev.OnChange("onZoneChange"))
                )
            </td>
            <td>
                 <div class="hidden-command" style="display:none">
                    @Html.DialogFormLink(Html.Translate("Create New Woreda"), Url.Action("CreateWoreda"), Html.Translate("Create New Woreda"), "woredaList", Url.Action("AdminUnits") + "?id=3")
                 </div>
            </td>
        </tr>
    </table>

                  

<script type="text/javascript">

    
</script>


@(Html.Telerik().Grid(Model).Name("woredas")
    .Columns(col =>
        {
            col.Template
                (
                @<text>
                    @Html.DialogFormLink(item.Name, Url.Action(Html.Translate("Edit"), new { id = item.AdminUnitID }), Html.Translate("Edit Woreda"), "woredaList", Url.Action("AdminUnits") + "?id=3")
                </text>
                ).ClientTemplate(
                "<a href='/AdminUnit/Edit/<#= AdminUnitID #>'" +
                "data-update-url='/AdminUnit/AdminUnits/4?id=3'"+
                "data-update-target-id='woredaList' data-dialog-title='Edit Woreda'"+
                "class='dialogLink'>" +
                "<#= Name #>"+
                "</a>"
                ).Title(Html.Translate("Name"));
                col.Bound(model => model.NameAM).Title(Html.Translate("Name (Amharic)"));
                col.Bound(model => model.AdminUnit2.AdminUnit2.Name).Title("Region");
                col.Bound(model => model.AdminUnit2.Name).Title("Zone");
           
                col.Template
                (
                    @<text>
                    @Html.ActionLink(Html.Translate("Delete"),"Delete",new {id = item.AdminUnitID})
                    </text>
                ).ClientTemplate(
                "<a href='/AdminUnit/Delete/<#= AdminUnitID #>'>Delete" +
                "</a>"
                );
        })
                .DataBinding(bind =>
                    bind.Ajax()
                    .Select("GetWoredasByParent", "AdminUnit"))

)

</div>