@model Cats.Areas.Logistics.Models.DistributionViewModel
@using Cats.Areas.Logistics.Models
@using Cats.Models
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@{
    ViewBag.Title = "ReceiveGRN";
    Layout = "~/Views/Shared/_MainLayoutWide.cshtml";
}

@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frmCreate"></a>

}


@using (Html.BeginForm("SaveDiscripancy", "Distribution", new { Area = "Logistics" }, FormMethod.Post, new { id = "frmCreate" }))
{

    @Html.HiddenFor(model => model.DistributionID)
    @Html.HiddenFor(model => model.DispatchID)
    var TO = Request.QueryString["transportOrderId"];
    @Html.Hidden(TO)
    <div class="control-group form-horizontal well">
        <div class="row">
            <div class="span4">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.ReceivingNumber)

                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.ReceivingNumber,new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.InvoiceNo)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.InvoiceNo, new { Disabled = true })
                    </div>
                </div>


                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.WayBillNo)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.WayBillNo,new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.RequisitionNo)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.RequisitionNo, new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.ReceivedBy)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.ReceivedBy,new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.ReceivedDate, new { @class = "cats-date-pref" , Disabled =true})
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.ReceivedDate, new { @class = "cats-datepicker2",Disabled = true })
                    </div>
                </div>

            </div>
            <div class="span4">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Transporter)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Transporter, new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.DriverName)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.DriverName,new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.PlateNoPrimary)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.PlateNoPrimary,new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.PlateNoTrailler)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.PlateNoTrailler,new { Disabled = true })
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.DeliveryBy)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.DeliveryBy,new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.DeliveryDate, new { @class = "cats-date-pref" ,Disabled=true})
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.DeliveryDate, new { @class = "cats-datepicker2",Disabled=true })
                    </div>
                </div>

            </div>
            <div class="span4">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Region)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Region, new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Zone)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Zone, new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Woreda)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Woreda, new { Disabled = true })
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(model => model.FDP)
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.FDP, new { Disabled = true })
                    </div>
                </div>
                <div class="control-group ">
                    <div class="control-label">
                        @Html.LabelFor(model => model.DocumentReceivedDate, new { @class = "cats-date-pref" })
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.DocumentReceivedDate, new { @class = "cats-datepicker2" })
                    </div>

                </div>

            </div>
        </div>


    </div>

    <fieldset>
        <legend>
            Action to be taken

        </legend>
        
        <div class="form-horizontal well">

            <table style="width: 100px;">
            <tr>
                <td >
                        
                    <div class="control-label">
                        @Html.Label("Action")
                    </div>
                    <div class="controls">
                        @Html.DropDownList("ActionType", ViewBag.ActionTypes as SelectList)
                           
                    </div>
                   
                </td>
            </tr>
                <tr>
                        <td>
                   
                        <div>
                            <div class="control-label">
                                @Html.Label("Remark")
                            </div>
                            <div class="controls">
                                @Html.TextArea("Remark")
                             
                            </div>
                        </div>
             
                    </td>
                </tr>
            </table>
        </div>


    </fieldset>
    
}

