@using Cats.Areas.Logistics.Models
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@model Cats.Areas.Procurement.Models.TransportOrderViewModel

@{
    ViewBag.Title = "Dispatches";
    Layout = "~/Views/Shared/_MainLayoutWide.cshtml";
    
}
<html ng-app="DispatchManagementModule">
    <head>
        <style>
            .selected {
                background-color: #006DCC;
            }
        </style>
    </head>
    <body ng-controller="DispatchManagementController">
        <h4 class="page-header">@Translator.Translate("Transport Order Dispatches")</h4>
        <div class="control-group form-horizontal well">
            <div class="row">
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(model => model.TransportOrderNo)
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.TransportOrderNo, new { Disabled = true })
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(model => model.Transporter)
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Transporter, new { Disabled = true })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(model => model.ContractNumber)
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.ContractNumber, new { Disabled = true })
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(model => model.OrderDateET)
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.OrderDateET, new { Disabled = true })
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(model => model.RequestedDispatchDateET, new { @class = "cats-date-pref" })
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.RequestedDispatchDateET, new { Disabled = true })
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(model => model.OrderExpiryDateET, new { @class = "cats-date-pref" })
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.OrderExpiryDateET, new { Disabled = true })
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(model => model.StartDate, new { @class = "cats-date-pref" })
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.StartDate, new { Disabled = true })
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(model => model.EndDate, new { @class = "cats-date-pref" })
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.EndDate, new { Disabled = true })
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div >
            <div class="row-fluid" style="width:800px;float: left;">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab0" data-toggle="tab"><b>@Translator.Translate("Dispatch Waiting Receiving Note")</b></a>
                    </li>
                    <li>
                        <a href="#tab1" data-toggle="tab"><b>@Translator.Translate("Dispatch With Receiving Note")</b></a>
                    </li>
                    <li>
                        <a href="#tab2" data-toggle="tab"><b>@Translator.Translate("Receiving Notes")</b></a>
                    </li>

                </ul>
                <div class="tab-content ">
                    <div id="tab0" class="tab-pane active">
                        <div id="gridWithoutGRN" class="k-widget k-grid" data-role="grid" style="">
                            <div class="k-grid-header" style="padding-right: 17px;">
                                <div class="k-grid-header-wrap">
                                    <table cellspacing="0" role="grid">
                                        <colgroup><col><col><col><col><col><col><col><col><col><col></colgroup>
                                        <thead>
                                            <tr>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="GIN" data-field="GIN" class="k-header">
                                                    <span class="k-link">GIN</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Requisition No" data-field="RequisitionNo" class="k-header">
                                                    <span class="k-link">Requisition No</span>
                                                </th>
                                                <th scope="col" data-title="Program" data-field="Program" class="k-header">
                                                    <span class="k-link">Program</span>
                                                </th>
                                                <th scope="col" data-title="FDP" data-field="FDP" class="k-header">
                                                    <span class="k-link">FDP</span>
                                                </th>
                                                <th scope="col" data-title="Bid Number" data-field="BidNumber" class="k-header">
                                                    <span class="k-link">Bid Number</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Plate No. Prime" data-field="PlateNo_Prime" class="k-header">
                                                    <span class="k-link">Plate No. Prime</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Plate No. Trailer" data-field="PlateNo_Trailer" class="k-header">
                                                    <span class="k-link">Plate No. Trailer</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Received By (Driver Name)" data-field="DriverName" class="k-header">
                                                    <span class="k-link">Received By (Driver Name)</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Dispatched Date" data-field="DispatchDatePref" class="k-header cats-date-pref-grid">
                                                    <span class="k-link">Dispatched Date</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Created Date" data-field="CreatedDatePref" class="k-header cats-date-pref-grid">
                                                    <span class="k-link">Created Date</span>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div style="height:720px" class="k-grid-content">
                                <table cellspacing="0" role="grid">
                                    <colgroup><col><col><col><col><col><col><col><col><col><col></colgroup>
                                    <tbody>
                                        <tr ng-repeat="item in GetGINsWithoutGRN">
                                            <td><a class="clickableLoader" data-dispatchID ="{{item.DispatchID}}" style="cursor:pointer;" data-ng-click="loadGRNPartial(item.DispatchID)">{{item.GIN}}</a></td>
                                            <td>{{item.RequisitionNo}}</td>
                                            <td>{{item.Program}}</td>
                                            <td>{{item.FDP}}</td>
                                            <td>{{item.BidNumber}}</td>
                                            <td>{{item.PlateNo_Prime}}</td>
                                            <td>{{item.PlateNo_Trailer}}</td>
                                            <td>{{item.DriverName}}</td>
                                            <td>{{item.DispatchDatePref}}</td>
                                            <td>{{item.CreatedDatePref}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="tab1" class="tab-pane">
                        <div id="gridWithGRN" class="k-widget k-grid" data-role="grid" style="">
                            <div class="k-grid-header" style="padding-right: 17px;">
                                <div class="k-grid-header-wrap">
                                    <table cellspacing="0" role="grid">
                                        <colgroup><col><col><col><col><col><col><col><col><col><col></colgroup>
                                        <thead>
                                            <tr>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="GIN" data-field="GIN" class="k-header">
                                                    <span class="k-link">GIN</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Requisition No" data-field="RequisitionNo" class="k-header">
                                                    <span class="k-link">Requisition No</span>
                                                </th>
                                                <th scope="col" data-title="Program" data-field="Program" class="k-header">
                                                    <span class="k-link">Program</span>
                                                </th>
                                                <th scope="col" data-title="FDP" data-field="FDP" class="k-header">
                                                    <span class="k-link">FDP</span>
                                                </th>
                                                <th scope="col" data-title="Bid Number" data-field="BidNumber" class="k-header">
                                                    <span class="k-link">Bid Number</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Plate No. Prime" data-field="PlateNo_Prime" class="k-header">
                                                    <span class="k-link">Plate No. Prime</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Plate No. Trailer" data-field="PlateNo_Trailer" class="k-header">
                                                    <span class="k-link">Plate No. Trailer</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Received By (Driver Name)" data-field="DriverName" class="k-header">
                                                    <span class="k-link">Received By (Driver Name)</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Dispatched Date" data-field="DispatchDatePref" class="k-header cats-date-pref-grid">
                                                    <span class="k-link">Dispatched Date</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Created Date" data-field="CreatedDatePref" class="k-header cats-date-pref-grid">
                                                    <span class="k-link">Created Date</span>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div style="height:720px" class="k-grid-content">
                                <table cellspacing="0" role="grid">
                                    <colgroup><col><col><col><col><col><col><col><col><col><col></colgroup>
                                    <tbody>
                                        <tr ng-repeat="item in GetGINsWithGRN">
                                            <td>
                                                <a class="clickableLoader" style="cursor:pointer;" data-ng-click="loadGRNPartial(item.DispatchID)">{{item.GIN}}</a>
                                            </td>
                                            <td>{{item.RequisitionNo}}</td>
                                            <td>{{item.Program}}</td>
                                            <td>{{item.FDP}}</td>
                                            <td>{{item.BidNumber}}</td>
                                            <td>{{item.PlateNo_Prime}}</td>
                                            <td>{{item.PlateNo_Trailer}}</td>
                                            <td>{{item.DriverName}}</td>
                                            <td>{{item.DispatchDatePref}}</td>
                                            <td>{{item.CreatedDatePref}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane">
                        <div id="grid" class="k-widget k-grid" data-role="grid" style="">
                            <div class="k-grid-header" style="padding-right: 17px;">
                                <div class="k-grid-header-wrap">
                                    <table cellspacing="0" role="grid">
                                        <colgroup><col><col><col><col><col><col><col><col><col><col></colgroup>
                                        <thead>
                                            <tr>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="GIN" data-field="GIN" class="k-header">
                                                    <span class="k-link">GIN</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Requisition No" data-field="RequisitionNo" class="k-header">
                                                    <span class="k-link">Requisition No</span>
                                                </th>
                                                <th scope="col" data-title="Program" data-field="Program" class="k-header">
                                                    <span class="k-link">Program</span>
                                                </th>
                                                <th scope="col" data-title="FDP" data-field="FDP" class="k-header">
                                                    <span class="k-link">FDP</span>
                                                </th>
                                                <th scope="col" data-title="Bid Number" data-field="BidNumber" class="k-header">
                                                    <span class="k-link">Bid Number</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Plate No. Prime" data-field="PlateNo_Prime" class="k-header">
                                                    <span class="k-link">Plate No. Prime</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Plate No. Trailer" data-field="PlateNo_Trailer" class="k-header">
                                                    <span class="k-link">Plate No. Trailer</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Received By (Driver Name)" data-field="DriverName" class="k-header">
                                                    <span class="k-link">Received By (Driver Name)</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Dispatched Date" data-field="DispatchDatePref" class="k-header cats-date-pref-grid">
                                                    <span class="k-link">Dispatched Date</span>
                                                </th>
                                                <th style="overflow: visible; white-space: normal;" scope="col" data-title="Created Date" data-field="CreatedDatePref" class="k-header cats-date-pref-grid">
                                                    <span class="k-link">Created Date</span>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div style="height:720px" class="k-grid-content">
                                <table cellspacing="0" role="grid">
                                    <colgroup><col><col><col><col><col><col><col><col><col><col></colgroup>
                                    <tbody>
                                        @*<tr role="row" data-uid="fc1fa826-1d46-4983-80a4-b7dc0ec37c27" class="alert-danger">*@
                                        <tr role="row" data-ng-repeat="item in DeliveryNotes">
                                            <td>
                                                <a class="clickableLoader" style="cursor:pointer;" data-ng-click="loadGRNPartial(item.DispatchID)">{{item.GIN}}</a>
                                            </td>
                                            <td>{{item.RequisitionNo}}</td>
                                            <td>{{item.Program}}</td>
                                            <td>{{item.FDP}}</td>
                                            <td>{{item.BidNumber}}</td>
                                            <td>{{item.PlateNo_Prime}}</td>
                                            <td>{{item.PlateNo_Trailer}}</td>
                                            <td>{{item.DriverName}}</td>
                                            <td>{{item.DispatchDatePref}}</td>
                                            <td>{{item.CreatedDatePref}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
           
                </div>
            </div>
    
            <div class="form-horizontal well" style=" padding-left: 50px;margin-left:0px;width:420px;height:750px;float: right;margin-top:57px;">
                <div class="row" style="padding-left:50px;">
                    <h3>Edit Goods Receiving Note (GRN)</h3>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_GIN">GIN</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.InvoiceNo}}" name="DistributionViewModel.GIN" id="DistributionViewModel_GIN" data-ng-model="GRNDetail.InvoiceNo" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_ReceivingNumber">Receiving Number</label>

                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.ReceivingNumber}}" name="DistributionViewModel.ReceivingNumber" id="DistributionViewModel_ReceivingNumber" data-ng-model="GRNDetail.ReceivingNumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_WaybillNo">Way Bill No.</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.WayBillNo}}" name="DistributionViewModel.WaybillNo" id="DistributionViewModel_WaybillNo" data-ng-model="GRNDetail.WayBillNo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_ReceivedBy">Received By</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.ReceivedBy}}" name="DistributionViewModel.ReceivedBy" id="DistributionViewModel_ReceivedBy" data-ng-model="GRNDetail.ReceivedBy">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_ReceivedDate" class="cats-date-pref">Received Date</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.ReceivedDate}}" name="DistributionViewModel.ReceivedDate" id="DistributionViewModel_ReceivedDate" data-ng-model="GRNDetail.ReceivedDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_DeliveryBy">Delivery By</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.DeliveryBy}}" name="DistributionViewModel.DeliveryBy" id="DistributionViewModel_DeliveryBy" data-ng-model="GRNDetail.DeliveryBy">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_DeliveryDate"  class="cats-date-pref">Delivery Date</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.DeliveryDate}}" name="DistributionViewModel.DeliveryDate" id="DistributionViewModel_DeliveryDate" data-ng-model="GRNDetail.DeliveryDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_Commodity">Commodity</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.Commodity}}" name="DistributionViewModel.Commodity" id="DistributionViewModel_Commodity" data-ng-model="GRNDetail.Commodity" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_SentQuantity">Sent Qty.</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.SentQuantity}}" name="DistributionViewModel.SentQuantity" id="DistributionViewModel_SentQuantity" data-ng-model="GRNDetail.SentQuantity" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_ReceivedQuantity">Received Qty.</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.ReceivedQuantity}}" name="DistributionViewModel.ReceivedQuantity" id="DistributionViewModel_ReceivedQuantity" data-ng-model="GRNDetail.ReceivedQuantity">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_Unit">Unit</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.Unit}}" name="DistributionViewModel.Unit" id="DistributionViewModel_Unit" data-ng-model="GRNDetail.Unit" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="DistributionViewModel_DocumentReceivedDate"  class="cats-date-pref">Document Received Date</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{GRNDetail.DocumentReceivedDate}}" name="DistributionViewModel.DocumentReceivedDate" id="DistributionViewModel_DocumentReceivedDate" data-ng-model="GRNDetail.DocumentReceivedDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6" style="width:400px;">
                        <div class="control-group" style="float: right;">
                            <button class="btn btn-large btn-primary" ng-click="editGRN()">Update GRN</button>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </body>
</html>
                                           
<script>
    angular.module('DispatchManagementModule', []).controller('DispatchManagementController', function ($scope, $http) {
        //$scope.TransportOrderID = @*@ViewBag.TransportOrderId*@;
        $scope.GetGINsWithGRN = [];
        $scope.GetGINsWithoutGRN = [];
        $scope.DeliveryNotes = [];
        $scope.GRNDetail = [];
        
        

        $scope.loadGRNPartial = function(id) {
            var dispatchId = { "id": id };
            $http.post('/Distribution/LoadGRN/', dispatchId).
                success(function(data, status, headers, config) {
                    //alert(data["ReceivedBy"]);
                    $scope.GRNDetail = data;
                    //$scope.GRNDetail.DispatchID = id;
                }).
                error(function(data, status, headers, config) {
                    alert("#ERROR - Can't load the GRN for the selected dispatch.");
                });
        };

        $scope.editGRN = function(id) {
            alert("ReceivedBy: " + $scope.GRNDetail.ReceivedBy);
            if ($scope.GRNDetail != null) {
                $http.post('/Distribution/EditGRN/', $scope.GRNDetail).
                    success(function(data, status, headers, config) {
                        //alert(data["ReceivedBy"]);
                        $scope.GRNDetail = data;
                        $http({
                            method: 'GET',
                            url: '/Distribution/GetGINsWithGRN/' + @ViewBag.TransportOrderId
                        }).success(function(result) {
                            $scope.GetGINsWithGRN = result;
                        });
                        $http({
                            method: 'GET',
                            url: '/Distribution/GetGINsWithoutGRN/' + @ViewBag.TransportOrderId
                        }).success(function(result) {
                            $scope.GetGINsWithoutGRN = result;
                        });
                        $http({
                            method: 'GET',
                            url: '/Distribution/ReadDeliveryNotesDiscripancy/' + @ViewBag.TransportOrderId
                        }).success(function(result) {
                            $scope.DeliveryNotes = result;
                        });
                    }).
                    error(function(data, status, headers, config) {
                        alert("#ERROR - Couldn't edit the selected dispatch.");
                    });
            } else {
                alert("#ERROR - Select a dispatch first.");
            }
        };

        $http({
            method: 'GET',
            url: '/Distribution/GetGINsWithGRN/' + @ViewBag.TransportOrderId

        }).success(function (result) {
            $scope.GetGINsWithGRN = result;
        });


        $http({
            method: 'GET',
            url: '/Distribution/GetGINsWithoutGRN/' + @ViewBag.TransportOrderId

        }).success(function (result) {
            $scope.GetGINsWithoutGRN = result;
        });

        $http({
            method: 'GET',
            url: '/Distribution/ReadDeliveryNotesDiscripancy/' + @ViewBag.TransportOrderId

        }).success(function (result) {
            $scope.DeliveryNotes = result;
        });
        
    });
    
    $(function () {
        //$(".clickableLoader").on("click",function () {
        //    alert();
        //    $(this).parent().Parent().addClass("selected");
        //});
        //alert();
        //$( ".GINHavingGRN").on( "click", function(e) {
        //    alert();
        //    //preventDefault();
        //    var dispatchId = $(this).attr("data-dispatchID");
        
        //    loadGRNPartialView(dispatchId);
        //});

    });
    
    function loadGRNPartialView(id) {

        var dispatchId = new Array();
        dispatchId[0] = id;
        $.ajax({
            type: "POST",
            url: "/Distribution/LoadGRN/",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(dispatchId),
            dataType: "json",
            beforeSend:BeforeGRNLoadActivity,
            success: GRNLoadCompleted,
            error: GRNLoadFailed
        });
    }   
    
    function BeforeGRNLoadActivity() {
        
    }
    function GRNLoadCompleted(results) {
        alert(results[0]);
    }
    function GRNLoadFailed(request, status, error) {
        
    }
    
    function onDataBound(e) {
        check_planned();
        var grid = $("#grid").data("kendoGrid");
        $(grid.tbody).on("change", "td", function (e) {

            var row = $(this).closest("tr");
            var rowIdx = $("tr", grid.tbody).index(row);
            update_ui(rowIdx, row);
        }
        );
    }

    function update_ui(rowIdx, row) {
        
        var grid = $("#grid").data("kendoGrid");
        var firstItem = $('#grid').data().kendoGrid.dataSource.data()[rowIdx];
        var cd = firstItem.get('ContainsDiscripancy').toString();
 
        if (cd==="true") {
        
            row.addClass("alert-danger");
       
        } else  {
            row.removeClass("alert-danger");
            //   row.addClass("alert-danger");
        }
       
    }
    
   
    function check_planned() {
        var grid = $("#grid").data("kendoGrid");
        var rowIdx = 0;
        $(grid.tbody).find("tr").each(function () {
            //$(this).addClass("surplus");
            update_ui(rowIdx, $(this));
            rowIdx++;
        });
    }
</script>

<script type="text/javascript">
    //$(function () {

    //    //Optional: turn the chache off
    //    $.ajaxSetup({ cache: false });

    //    $('#btnAction').click(function () {

    //        alert("yes");
    //        $('#dialogContent').load(this.href, function () {
    //            $('#dialogDiv').modal({
    //                backdrop: 'static',
    //                keyboard: true
    //            }, 'show');
    //            //bindForm(this);
    //        });
    //        return false;
    //    });

       
    //});
</script>

<div id='dialogDiv' class='modal hide fade in'>
    <div id='dialogContent'></div>
</div>
