@using System.Collections
@using Telerik.Web.Mvc.Examples
@using Cats.Web.Hub.Helpers
@model Cats.Models.Hubs.RPT_MonthlyGiftSummary_Result

@{
    ViewBag.Title = Html.Translate("Monthly Gift Certificate Report");
}

<h2>@Html.Translate("Monthly Gift Certificate Report")</h2>
@*1	Cereal
2	Pulse
3	Blended food
4	Oil
5	Wheat
6	Sorghm
8	CSB*@
<p>
    @Html.Translate("This page shows the amount of commodity DRMFSS has received a gift certificate for.")
</p>

@Html.Telerik().TabStrip().Name("Tab").Items(items =>
{
    


    items.Add().Text(Html.Translate("ETA")).Content(@<text>
                <div>
                    <p>
                    @Html.Translate("Amount in Metric Ton Expected to arrive on port on each of the months listed.")
                    </p>
                                        @(Html.Telerik().Grid((List<Cats.Models.Hubs.RPT_MonthlyGiftSummary_Result>)ViewBag.MonthlySummaryETA)
                                        .Name("MonthlySummaryETA")
                                        .Columns(col =>
                                        {
                                            col.Bound(c => c.MonthName);
                                            col.Bound(c => c.C1).Title(Html.Translate("Cereal")).Width(140).Format("{0:N3}").HtmlAttributes(new { align = "right" });
                                            col.Bound(c => c.C2).Title(Html.Translate("Pulse")).Width(140).Format("{0:N3}").HtmlAttributes(new { align = "right" });
                                            col.Bound(c => c.C3).Title(Html.Translate("Blended food")).Width(140).Format("{0:N3}").HtmlAttributes(new { align = "right" });
                                            col.Bound(c => c.C4).Title(Html.Translate("Oil")).Width(140).Format("{0:N3}").HtmlAttributes(new { align = "right" });
                                        }))
                                        </div>
                                    </text>);

    items.Add().Text(Html.Translate("Gift Date")).Content(@<text>
        <div>
        <p>
            @Html.Translate("Amount in Metric tone gift certificate received for in each month.")
        </p>
        @(Html.Telerik().Grid((List<Cats.Models.Hubs.RPT_MonthlyGiftSummary_Result>)ViewBag.MonthlySummary)
            .Name("MonthlySummary")
            .Columns(col =>
            {

                col.Bound(c => c.MonthName);
                col.Bound(c => c.C1).Title(Html.Translate("Cereal")).Width(140).Format("{0:N3}").HtmlAttributes(new { align = "right" });
                col.Bound(c => c.C2).Title(Html.Translate("Pulse")).Width(140).Format("{0:N3}").HtmlAttributes(new { align = "right" });
                col.Bound(c => c.C3).Title(Html.Translate("Blended food")).Width(140).Format("{0:N3}").HtmlAttributes(new { align = "right" });
                col.Bound(c => c.C4).Title(Html.Translate("Oil")).Width(140).Format("{0:N3}").HtmlAttributes(new { align = "right" });
            }))
    </div>
    </text>);


}).SelectedIndex(0)

<p>
   <b>@Html.Translate("Note:")</b> @Html.Translate("All Amounts shown in this table reprsent the weight of commodities donated in Metric Tones (MT).")
</p>