@model Cats.Models.TransportOrder

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";    
}
<style>
    .matrix input
    {
        width:100%;
        margin:0;
        font-size:15px;
        padding:0px;
        background:none;
        border:none;
        padding-left:4px;
    }
    .matrix td
    {
       
        padding:4px;
    }
    .matrix th
    {
        color:#04b0bb;
         padding:4px;
    }
</style>
@section LeftBar
{
    <li class="nav-header">Bid Winners Informaation</li>
    <li>Region: @ViewBag.Region</li>
    <li>Transporter: @ViewBag.Transporter</li>
    <li>Bid Number: @ViewBag.BidNumber</li>
    <li class="nav-header">Tasks</li>
    <li><a href="@Url.Action("Index", "DispatchLocations", new { Area = "Procurement" })"><i class="icon-chevron-left"></i>Back to Winners List</a></li>
}
<div class="well">
    <h2 class="page-header">Transport Requisitions Winner by Transporter</h2>
</div>

@using (Html.BeginForm("Details", "DispatchLocations", FormMethod.Post))
{
    <table class="table table-bordered table-condensed table-striped matrix">
        <tr>
            
            <th>
              Requisition Number
            </th>
            <th>
                Warehouse
            </th>
            <th>
                Zone
            </th>
            <th>
                Woreda
            </th>
            <th>
               Destinaiton
            </th>
            <th>
              Item
            </th>
            <th>
                Quantity
            </th>
            <th>
                Tariff
            </th>
            <th>Total</th>
        </tr>
        @{ int index = 0;
            var grandTotal = 0;
           }
        @foreach (var transportOrderDetail in Model.TransportOrderDetails)
        {
            <tr>
                
                <td >
                    <b>@transportOrderDetail.ReliefRequisition.RequisitionNo</b>
                </td>
 
                <td>
                      @transportOrderDetail.Hub.Name
                </td>
                <td>
                     @transportOrderDetail.FDP.AdminUnit.AdminUnit2.Name
                </td>
                <td>
                    @transportOrderDetail.FDP.AdminUnit.Name
                </td>
                <td>
                    @transportOrderDetail.FDP.AdminUnit.Name
                </td>
                <td>
                    @transportOrderDetail.Commodity.Name
                </td>
                <td>
                      @transportOrderDetail.QuantityQtl
                </td>
                <td>
                     @transportOrderDetail.TariffPerQtl
                </td>
                <td>
                    @{
            var total = transportOrderDetail.QuantityQtl * transportOrderDetail.TariffPerQtl;
                        grandTotal = (int) (grandTotal + total);
                    }
                    @total
                </td>

            </tr>
            index++;
           
        }
        <tr>
            <td colspan="6" class="border-box">
                <p align="center">Summary For  :<b class="k-info-colored">@ViewBag.Transporter</b></p>
            </td>
            <td>
                <b class="k-info-colored">Sub Total Quintal : @ViewBag.TotalAmount</b>
            </td>
            <td colspan="2">
               <p align="center"><b class="k-info-colored">Sub Total Tariff : Birr @grandTotal</b></p>
            </td>
        </tr>
    </table>
}






