@{
  @* @model Cats.Models.TransportBidPlan
  *@
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar
{
    @using (Html.BeginForm())
    {
        <div class="control-group">
            <label class="control-label">Bid</label>
            <div class="controls">
               @Html.DropDownList("BidPlanID");
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Region</label>
            <div class="controls">
               @* @Html.ListBox("myListBox", new SelectList(new[] {""})); @Html.ListBox("RegionID");*@
                @Html.DropDownList("RegionID");
                
            </div>
        </div>
        <input type="submit" value="Select" class="btn btn-primary"/>
    }
}
<style>
     th
    {
        text-align:center;
    }
</style>
<h2 style="text-align:center;">Disaster Risk Management and Food Security Sector <br />REQUEST FOR QUOTATION</h2>
<p>Transport Quotation Delivery Datasheet for Region <b>@ViewBag.SelectedRegion.Name</b></p> 
<p>Transporter Name:_________________________________</p>
<div>
    <div class="span3">City: _________________</div>


    <div class="span3">Woreda: _________________</div>
    

    <div class="span3">Kebele: _________________</div>


    <div class="span3">House No: _________________</div>


</div>
<div>
    <div class="span4">Tel No: __________________________</div>
    <div class="span4">Mob No: __________________________</div>
</div>
<div class="span12">&nbsp;</div>
<table class="table table-bordered">
    <tr>
        <th rowspan="2">S.No</th>
        <th rowspan="2">Source Warehouse</th>
        <th colspan="2">Destination</th>
        <th colspan="2">Tariff/Quintal</th>
        <th rowspan="2" style="min-width:200px;">Remark</th>
    </tr>
    <tr>
        <th>Zone</th>
        <th>Woreda</th>
        <th>Birr</th>
        <th>Cent</th>
    </tr>

 @{
    var count = 0;
    foreach (var item in ViewBag.regionPlanDistinct)
{
    count++;
    <tr>
        <td>@count</td>
        <td>@item.SourceWarehouse</td>
        
        
        <td> @item.DestinationZone</td>
        <td>@item.DestinationWoreda</td>

        
        <td></td>
        <td></td>
        <td></td>    
    </tr>
}
}
</table>



