@using Cats.Helpers
@using Cats.Models.Constant
@model Cats.Models.Transfer
@{
    ViewBag.Title = @Html.Translate("Detail");
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Receipt Plan From Swap Details");
    ViewBag.PageTitleDescription = "";
}

@section Toolbar
{
<a class="btn grey-salt " href="@Url.Action("Index", "Swap")" data-buttontype="btn_back_to_list"><i class="fa fa-list"></i> @Html.Translate("Back to List")</a>
}


<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnEdit').click(function () {

            //alert(this.href);
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
            });
            return false;
        });

    });
</script>

<div id="dialogDiv" class="modal fade in" style="display: none;">
    <div id="dialogContent"></div>
</div>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-list font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> @Html.Translate("Receipt Plan From Swap Detail")</span>
            <span class="caption-helper">  </span>
        </div>
        @*<div class="tools">
                <a href="#" class="collapse" data-original-title="" title=""></a>
                <a href="javascript:;" class="remove" data-original-title="" title=""></a>
            </div>*@
        <div class="actions">
            <div class="btn-group">
                <a class="btn green dropdown-toggle " data-toggle="dropdown">
                    @Html.Translate("Action")
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    @if (Model.StatusID == (int) LocalPurchaseStatus.Draft)
                    {
                    <li><a id="btnEdit" class="btn green-sharp-stripe" href="@Url.Action("Edit", "Swap", new {id = Model.TransferID})">@Html.Translate(" Edit")</a></li>
                    <li><a id="btnApprove" class="btn green-sharp-stripe" href="@Url.Action("Approve", "Swap", new {id = Model.TransferID})">@Html.Translate("Approve(Send to Hub)")</a></li>
                    }
                
                </ul>
            </div>
            
            <a class="btn  btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.ShippingInstruction.Value, @Html.Translate("SI Number"))
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.ShippingInstruction.Value, new {Disabled = true, @class="form-control"})
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.SourceHubID, @Html.Translate("Source Hub"))
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Hub.Name, new {Disabled = true, @class="form-control"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.DestinationSwap, @Html.Translate("Destination to Swap"))
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Hub3.Name, new {Disabled = true, @class="form-control"})

                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.ProgramID, @Html.Translate("Program"))
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Program.Name, new {Disabled = true, @class="form-control"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.CommodityID, @Html.Translate("Commodity"))
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Commodity.Name, new {Disabled = true, @class="form-control"})
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.CommoditySourceID, @Html.Translate("Commodity Source"))
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.CommoditySource.Name, new {Disabled = true, @class="form-control"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.ProjectCode, @Html.Translate("Project Code"))
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.ProjectCode, new {Disabled = true, @class="form-control"})
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.SourceSwap, @Html.Translate("Source from Swap"))
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Hub2.Name, new {Disabled = true, @class="form-control"})

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.DestinationHubID, @Html.Translate("Destination Hub"))
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Hub1.Name, new {Disabled = true, @class="form-control"})
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.Quantity, @Html.Translate("Quantity in MT"))
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Quantity, new {Disabled = true, @class="form-control"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>