@model Cats.Models.Hub.Unit
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Details");
}

<h2>@Html.Translate("Details")</h2>

<fieldset>
    <legend>@Html.Translate("Unit")</legend>

    <div class="display-label">
        Html.Translate("Name")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Html.Translate("Edit"), "Edit", new { id = Model.UnitID }) |
    @Html.ActionLink(Html.Translate("Back to List"), "Index")
</p>
