@model Cats.Models.Hubs.Transporter
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Details");
}

<h2>@Html.Translate("Details")</h2>

<fieldset>
    <legend>@Html.Translate("Transporter")</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.ActionLink(@Model.Name, "Edit", new { id = Model.TransporterID })
       
    </div>

    <div class="display-label">@Html.Translate("Long Name")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LongName)
    </div>

    <div class="display-label">@Html.Translate("Bidding System ID")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BiddingSystemID)
    </div>
</fieldset>
<p>
     
    @Html.ActionLink(@Html.Translate("Back to List"), "Index")
</p>
