@using Cats.Web.Hub.Helpers
@model IEnumerable<Cats.Models.Hubs.Transporter>
           
<table width="60%">
    <tr>
        <th style="width: 20px"></th>
        <th>
            @Html.Translate("Name")
        </th>
        <th>
            @Html.Translate("Name (Amharic)")
        </th>
        <th>
            @Html.Translate("Long Name")
        </th>
        <th>
            @Html.Translate("Bidding System ID")
        </th>
        <th></th>
    </tr>
     @{
         var i = 1;
    }
@foreach (var item in Model) {
    <tr>
        <td>@i</td>
        <td>
            @Html.DialogFormLink(@item.Name, Url.Action("Edit/" + item.TransporterID), Html.Translate("Edit Transporter"), "list", Url.Action("Update"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameAM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BiddingSystemID)
        </td>
        <td>
            @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id=item.TransporterID })
        </td>
    </tr>
    i++;
}
</table>