@using Cats.Web.Administration.Helpers
@using Cats.Services.Security
@using LanguageHelpers.Localization


@{
   
    //var user = (UserIdentity)HttpContext.Current.User.Identity;
    //var role = UserRoleHelper.GetUserRole(user.Profile.UserName);
    var lang = "en";//user.Profile.LanguageCode;
    //ViewBag.CurrentUser = user;
                        //  Translator.CurrentLanguage = lang;
                        //   Translator.LoadTexts();
}

<div class="navbar navbar-fixed-top navbar">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="~/">CATS Administration</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <!--
                        ************************************************************************************************ 
                        PLEASE WATCH THE SPACE BETWEEN TOP MENU ITEMS AND THE CARET
                        ************************************************************************************************
                    -->
                    <li><a href="@Url.Action("Redirect2Cats", "Home")">@Html.Translate("Home")</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setting <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                               
                                <li><a href="@Url.Action("Index", "Store")">@Html.Translate("Store")</a></li>
                                <li><a href="@Url.Action("Index", "Program")">@Html.Translate("Program")</a></li>

                                <li><a href="@Url.Action("Index","AuditLog")">@Html.Translate("AuditLog")</a></li>

                                <li><a href="@Url.Action("Index", "CommodityType")">@Html.Translate("Commodity Type")</a></li>
                                <li><a href="@Url.Action("Index", "CommodityGrade")">@Html.Translate("Commodity Grade")</a></li>
                                <li><a href="@Url.Action("Index", "CommoditySource")">@Html.Translate("Commodity Source")</a></li>
                                <li><a href="@Url.Action("Index", "Commodity")">@Html.Translate("Commodity ")</a></li>

                                @* <li><a href="@Url.Action("Index", "AuditLog")">@Html.Translate("Audit Log ")</a></li>*@
                                <li><a href="@Url.Action("Index", "Donor")">@Html.Translate("Donor")</a></li>
                                <li><a href="@Url.Action("Index", "Unit")">@Html.Translate("Unit")</a></li>

                                <li><a href="@Url.Action("Index","FDP")">@Html.Translate("FDP")</a></li>
                                <li><a href="@Url.Action("Index","Hub")">@Html.Translate("Hub")</a></li>
                                <li><a href="@Url.Action("Index","HubOwner")">@Html.Translate("HubOwner")</a></li>
                                <li><a href="@Url.Action("Index", "Program")">@Html.Translate("Program")</a></li>
                                <li><a href="@Url.Action("Index", "Store")">@Html.Translate("Store")</a></li>
                                <li><a href="@Url.Action("Index", "Unit")">@Html.Translate("Unit")</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">cats </a></li>
                                <li><a href="#>hub </a></li>
                            </ul>
                        </li>


                        
                 

                 

                   

                   
                </ul>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope icon-white"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.Translate("Messages")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.GetUserName() <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">@Html.Translate("Preference")</a></li>
                             <li class="divider"></li>
                            <li><a href="@Url.Action("ChangePassword","Users")">@Html.Translate("Change Password")</a></li>
                            <li><a href="@Url.RouteUrl("Logout")">@Html.Translate("Logout")</a></li>
                                                      
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
