@using Cats.Helpers
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@model IEnumerable<Cats.Areas.GiftCertificate.Models.GiftCertificateViewModel>

@{
   
    ViewBag.Title = Translator.Translate("Gift Certificate");
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var user = UserAccountHelper.GetUser(HttpContext.Current.User.Identity.Name);
  
}
<div>
    <h2>
        @Translator.Translate("Gift Certificates")</h2>
@section Toolbar
{

    <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("Create", "GiftCertificate")"></a>
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="~/">Home</a> <span class="divider">/</span></li>
        <li class="active">Gift Certificate</li>
    </ul>
}
 
      
  <div id='dialogDiv' class='modal hide fade in'>
    <div id='dialogContent'></div>
</div>



    @(Html.Kendo().Grid(Model).Name("GiftCertificateGrid")
    .Columns(col =>
    {

        col.Template(
             @<text>
                 
                        
    @if(item.StatusID ==1)
    {
         <a href="@Url.Action("Edit", new { id = item.GiftCertificateID })" ><i class="icon-edit-sign"></i> </a>
       
         <a id="btnApprove" href="@Url.Action("Approved", "GiftCertificate", new { id = item.GiftCertificateID })"><i class="icon-plus"></i>Approve</a>
    }
    else
    {
        <a href="@Url.Action("GenerateTemplate", new { id = item.GiftCertificateID })"  ><i class="icon-print"></i> </a>
    }
    </text>

            ).Title("");

   
         col.Bound(gc => gc.Donor).Title(Translator.Translate("Donor"));
         col.Template(@<text>
    @item.GiftDate.ToCTSPreferedDateFormat(user.LanguageCode)
    </text>).Title(Translator.Translate("Gift Date"));
        col.Bound(gc => gc.SINumber).Title(Translator.Translate("SI Number"));
        col.Bound(gc => gc.ReferenceNo).Title(Translator.Translate("Reference No"));
        col.Bound(gc => gc.DeclarationNumber).Title(Translator.Translate("Declaration Number"));
    }
        ).DetailTemplate(detail=>
            Html.Kendo().Grid( detail.GiftCertificateDetails ).Name("GCDetails" + detail.GiftCertificateID)
            .Columns(c =>
                         {
                             c.Bound(com => com.CommodityName);
                c.Bound(gc => gc.WeightInMT).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Title(Translator.Translate("Weight in MT"));
                c.Bound(gc => gc.EstimatedPrice).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Title(Translator.Translate("Est. Price"));
                c.Bound(gc => gc.EstimatedTax).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Title(Translator.Translate("Est. Tax"));
                c.Bound(gc => gc.FundSource).Title(Translator.Translate("Fund Source"));
            })
        ).Filterable().Sortable().Pageable()
   )
</div>
<div id="modalWindow">
    <h5>Print gift Certificate?</h5>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Print confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>
<script>

    function onPrint(e) {
        e.preventDefault();
        var grid = this;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var row = $(e.currentTarget).closest("tr");
        wnd.center().open();

        $("#yes").click(function () {

            window.location = "GiftCertificate/GenerateTemplate/" + dataItem.GiftCertificateID;
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>

<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnApprove').click(function () {
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#dialogDiv').modal('hide');
                        // Refresh:
                        // location.reload();
                    } else {
                        $('#dialogContent').html(result);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }


</script>
