@using Cats.Helpers
@using Cats.Security
@using Cats.Services.Security
@using Kendo.Mvc.UI
@model IEnumerable<Cats.Areas.GiftCertificate.Models.GiftCertificateViewModel>

@{
    

    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var user = UserAccountHelper.GetUser(HttpContext.Current.User.Identity.Name);

}

@section LeftBar{

    @Html.Partial("_giftLeftBar")
}
<h4 class="page-header">
    @Html.Translate((string)ViewBag.Title)
</h4>

@section Toolbar
{
    @Html.EarlyWarningOperationButton(
                        @Url.Action("Create", "GiftCertificate", new { Area = "EarlyWarning" }),
                        EarlyWarningConstants.Operation.New_Gift_Certificate, "<i class=\"icon-plus\"></i>", "btn", "btn_new_record")
}

<div class="input-prepend">
    <span class="add-on">Search</span>
   <input id="search" type="text" class="input-medium search-query" placeholder="Search ">
</div>

<div id='dialogDiv' class='modal hide fade in'>
    <div id='dialogContent'></div>
</div>

<div>
    @(Html.Kendo().Grid(Model).Name("GiftCertificateGrid")
    .Columns(col =>
        {
            col.Bound(gc => gc.ReferenceNo).Title(Html.Translate("Reference No"));
            col.Bound(gc => gc.Donor);
            col.Bound(gc => gc.GiftDatePref).HeaderHtmlAttributes(new { @class = "cats-date-pref-grid" });
            col.Bound(gc => gc.SINumber);
            col.Bound(gc => gc.DeclarationNumber);
            col.Template(
        @<text>

    @if (item.StatusID == 1)
    {
        @Html.EarlyWarningOperationButton(
                        @Url.Action("Edit", new { id = item.GiftCertificateID }),
                        EarlyWarningConstants.Operation.Edit_Gift_Certificate, "<i class=\"btn btn-sm btn-default icon-edit-sign\"></i>")
                    <i></i>
        @Html.EarlyWarningOperationButton(
                        @Url.Action("Detail", new { id = item.GiftCertificateID }),
                        EarlyWarningConstants.Operation.Edit_Gift_Certificate, "<i class=\"btn btn-default icon-list\"></i>")
        <i></i>
        @Html.EarlyWarningOperationButton(
                        @Url.Action("Approved", "GiftCertificate", new { id = item.GiftCertificateID }),
                        EarlyWarningConstants.Operation.Approve_Gift_Certeficate, "<i class=\"btn btn-sm btn-default icon-ok\"></i>", "btn-Approve-Gift", "", "btnApprove")
    }
    else
    {
        @Html.EarlyWarningOperationButton(
                        @Url.Action("GenerateTemplate", new { id = item.GiftCertificateID }),
                        EarlyWarningConstants.Operation.Generate_Gift_Certificate_Template, "<i class=\"icon-print\"></i>", "btn-Print-gift")
    }
    </text>

        ).Title("");


        }
                            ).DetailTemplate(detail =>
                                Html.Kendo().Grid(detail.GiftCertificateDetails).Name("GCDetails" + detail.GiftCertificateID)
                                .Columns(c =>
                                {
                                    c.Bound(com => com.CommodityName);
                                    c.Bound(gc => gc.WeightInMT).Format("{0:N2}").HtmlAttributes(new { align = "right" }).Title(Html.Translate("Weight in MT"));
                                    c.Bound(gc => gc.EstimatedPrice).Format("{0:N2}").HtmlAttributes(new { align = "right" }).Title(Html.Translate("Est. Price"));
                                    c.Bound(gc => gc.EstimatedTax).Format("{0:N2}").HtmlAttributes(new { align = "right" }).Title(Html.Translate("Est. Tax"));
                                    c.Bound(gc => gc.FundSource).Title(Html.Translate("Fund Source"));
                                })
                            ).Filterable().Sortable().Sortable().Scrollable().HtmlAttributes(new { style = "width:100%; height:550px;" })
    )
</div>
<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('.btn-Approve-Gift').click(function () {
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
            });
            return false;
        });
        $('.btn-Print-gift').click(function () {
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
            });
            return false;
        });
    });


</script>

<script>
    $("#search").keyup(function () {
        $("#search").blur();
        $("#search").focus();
    });

    $("#search").change(function () {
        applyFilter("ReferenceNo", $(this).val());
    });

    // attach click event for Clear Filters button 
    // applyFilter function accepts the Field Name and the new value to use for filter.
    function applyFilter(filterField, filterValue) {

        // get the kendoGrid element.
        var gridData = $("#GiftCertificateGrid").data("kendoGrid");

        // get currently applied filters from the Grid.
        var currFilterObj = gridData.dataSource.filter();

        // get current set of filters, which is supposed to be array.
        // if the oject we obtained above is null/undefined, set this to an empty array
        var currentFilters = currFilterObj ? currFilterObj.filters : [];

        // iterate over current filters array. if a filter for "filterField" is already
        // defined, remove it from the array
        // once an entry is removed, we stop looking at the rest of the array.
        if (currentFilters && currentFilters.length > 0) {
            for (var i = 0; i < currentFilters.length; i++) {
                if (currentFilters[i].field == filterField) {
                    currentFilters.splice(i, 1);
                    break;
                }
            }
        }

        // if "filterValue" is "0", meaning "-- select --" option is selected, we don't 
        // do any further processing. That will be equivalent of removing the filter.
        // if a filterValue is selected, we add a new object to the currentFilters array.
        if (filterValue != null) {
            currentFilters.push({
                field: filterField,
                operator: "contains",
                value: filterValue
            });
        }

        else {
            clearFilters();
        }

        // finally, the currentFilters array is applied back to the Grid, using "and" logic.
        gridData.dataSource.filter({
            logic: "and",
            filters: currentFilters
        });

    }

    function clearFilters() {
        var gridData = $("#RequestListGrid").data("kendoGrid");
        gridData.dataSource.filter({});
    }
</script>