@using Kendo.Mvc.UI
@using Cats.Helpers


<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 id="myModalLabel" class="modal-title">@Html.Translate("Print Gift Certificate")</h4>
        </div>
         <div class="modal-body">
        @(Html.Kendo().Grid<Cats.Models.LetterTemplateViewModel>()
          .Name("gridselect")
          .Columns(columns =>
                       {
                           columns.Bound(p => p.LetterTemplateID).Title(Html.Translate("Select a template"))
                               .ClientTemplate("<a href='" + Url.Action("ShowTemplate", "GiftCertificate", new { fileName = "#=FileName#", giftCertificateId = int.Parse(ViewData["giftcertficateId"].ToString()) }) + " '>"+@Html.Translate("Select")+"</a>  ");
                           columns.Bound(p => p.Name).Title(@Html.Translate("Name"));
                           columns.Bound(p => p.FileName).Title(@Html.Translate("File Name")); 


                       })
          .Sortable()
          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(5)
                                        .Model(model => model.Id(p => p.LetterTemplateID))
                                        .Read(read => read.Action("ShowLetterTemplates", "GiftCertificate"))

          ).Selectable(select => select.Mode(GridSelectionMode.Single)))

            </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">(@Html.Translate("Cancel"))</button>
            @*<button  id="btnprintgift" class="btn btn-primary " type="submit">Print</button>*@
        </div>


    </div>
</div>

