@model Cats.Models.RegionalPSNPPlanDetail

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RegionalPSNPPlanDetail</legend>

        @Html.HiddenFor(model => model.RegionalPSNPPlanDetailID)

        <div class="editor-label">
            @Html.LabelFor(model => model.RegionalPSNPPlanID, "RegionalPSNPPlan")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RegionalPSNPPlanID", String.Empty)
            @Html.ValidationMessageFor(model => model.RegionalPSNPPlanID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlanedFDPID, "PlanedFDP")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PlanedFDPID", String.Empty)
            @Html.ValidationMessageFor(model => model.PlanedFDPID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BeneficiaryCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BeneficiaryCount)
            @Html.ValidationMessageFor(model => model.BeneficiaryCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FoodRatio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FoodRatio)
            @Html.ValidationMessageFor(model => model.FoodRatio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CashRatio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CashRatio)
            @Html.ValidationMessageFor(model => model.CashRatio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item3Ratio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item3Ratio)
            @Html.ValidationMessageFor(model => model.Item3Ratio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item4Ratio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item4Ratio)
            @Html.ValidationMessageFor(model => model.Item4Ratio)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
