@using Kendo.Mvc.UI;
@using Cats.Models;
@using Cats.Models.PSNP;
@using LanguageHelpers.Localization
@model IEnumerable<Cats.Models.PSNP.PSNPPlanDetailView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var RegionalPSNPPlanID = 0;
}

@section LeftBar
{
    @Html.Partial("_PSNPDetailLeftBar")
       
}
  @section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_back_to_list" href="@Url.Action("Index", "RegionalPSNPPlan")"></a>
}
  
@if (ViewBag.psnpPlan != null)
{
    RegionalPSNPPlanID = ViewBag.PsnpPlan.RegionalPSNPPlanID;
    List<int> regionalBenCount = new List<int>();
    for(int r =0;r< ViewBag.PsnpPlan.Duration;r++)
    {
        regionalBenCount.Add(0);
    }
    foreach (var fdp in ViewBag.psnpPlan.RegionalPSNPPlanDetails)
    {
        for (int r = 0; r < fdp.FoodRatio; r++)
        {
            regionalBenCount[r]+=(int)fdp.BeneficiaryCount;
        }
    }

    int i = 0;
        <div>
    <h4><b>PSNP Plan</b>: <span>@ViewBag.PsnpPlan.Region.Name Region - </span>  <span>@ViewBag.PsnpPlan.Year</span> @ViewBag.psnpPlanID</h4>
        <b>Summary of People Needing Food Assistance</b>
        <table style="width:100%" class="table table-striped table-bordered">
        <tr>
            @foreach (var r in regionalBenCount)
            {
                i++; 
                <td>Month-@i</td>
                
            }
        </tr>
        <tr>
            @foreach (var r in regionalBenCount)
            {
                <td>@r</td>
               
            }
        </tr>
    </table>
    
    </div>
}
@(Html.Kendo().Grid<Cats.Models.PSNP.PSNPPlanDetailView>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.ZoneName);
        columns.Bound(p => p.WoredaName);
        columns.Bound(p => p.FDPName);
        columns.Bound(p => p.BeneficiaryCount).HtmlAttributes(new {align="right"});
        columns.Bound(p => p.FoodRatio).HtmlAttributes(new { align = "right" });
        columns.Bound(p => p.CashRatio).HtmlAttributes(new { align = "right" });
    })
    .DataSource(
        dataSource => dataSource
        .Ajax()
        .Group(g=>g.Add(m=>m.ZoneName))
        .Model(model => model.Id(p => p.RegionalPSNPPlanDetailID))
        .Read(read => read.Action("GetDataListAjax", "RegionalPSNPPlanDetail").Data("filterInfo"))
        )
    
    .HtmlAttributes(new { style = "width:100%; max-height:450px;" })
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "width:100%; height:550px;" })
    .Groupable()

)
<script>
    var deleteURL="@Url.Action("DeleteAjax", "RegionalPSNPPlanDetail", new { Area = "PSNP" })";
    $(function()
    {
        var printurl= "@Url.Action("print", "RegionalPSNPPlan", new { Area = "PSNP", id = RegionalPSNPPlanID })";
            $("#toolbar_button_print").attr("href",printurl);
        });
    function deleteRecord(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id=dataItem.RegionalPSNPPlanDetailID;
        if(confirm("Are you sure you want to delete this record? " + id)==true)
        {
            var post_values={id:id};
            
            $.post(
                    deleteURL
                    ,post_values
                    ,function (data)
                    {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                 );

        }
    }
    function filterInfo() {
        return {id:@ViewBag.PsnpPlan.RegionalPSNPPlanID};
    }
    function saverecords()
    {
        $("#grid").data("kendoGrid").dataSource.update();
    }
    function reloadrecords()
    {
        $("#grid").data("kendoGrid").dataSource.read();
    }

</script>
