@model IEnumerable<Cats.Models.RegionalPSNPPlanDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegionalPSNPPlan.RegionalPSNPPlanID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanedFDP.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeneficiaryCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodRatio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashRatio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item3Ratio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item4Ratio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegionalPSNPPlan.RegionalPSNPPlanID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanedFDP.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeneficiaryCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodRatio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashRatio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item3Ratio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item4Ratio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegionalPSNPPlanDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegionalPSNPPlanDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegionalPSNPPlanDetailID })
        </td>
    </tr>
}

</table>
