@using Kendo.Mvc.UI;
@using Cats.Models;
@using Cats.Models.PSNP;
@using LanguageHelpers.Localization
@model IEnumerable<Cats.Models.PSNP.PSNPPlanDetailView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar
{
    @Html.Partial("_PSNPDetailLeftBar")
       
}
    
@{
    List<int> regionalBenCount = new List<int>();
    for(int r =0;r< ViewBag.PsnpPlan.Duration;r++)
    {
        regionalBenCount.Add(0);
    }
    foreach (PSNPPlanDetailView fdp in Model)
    {
        for (int r = 0; r < fdp.FoodRatio; r++)
        {
            regionalBenCount[r]+=(int)fdp.BeneficiaryCount;
        }
    }
}
@if (ViewBag.psnpPlan != null)
{
    int i = 0;
    <div>
    <p><b>PSNP Plan</b>: <span>@ViewBag.PsnpPlan.Region.Name Region - </span>  <span>@ViewBag.PsnpPlan.Year</span> @ViewBag.psnpPlanID</p>
   
        <!-- <table style="width:100%">
        <tr>
            @foreach (var r in regionalBenCount)
            {
                i++; 
                <td>Round - @i</td>
                
            }
        </tr>
        <tr>
            @foreach (var r in regionalBenCount)
            {
                <td>@r</td>
               
            }
        </tr>
    </table>-->
    
    </div>
}
@(Html.Kendo().Grid<Cats.Models.PSNP.PSNPPlanDetailView>()
    .Name("grid")
    .Columns(columns =>
    {
        /* columns.Bound(p => p.RegionalPSNPPlanDetailID);
         columns.Bound(p => p.RegionalPSNPPlanID);
        
         columns.Bound(p => p.FDPID);*/

        columns.Bound(p => p.ZoneName);

        columns.Bound(p => p.WoredaName);
        columns.Bound(p => p.FDPName);
        columns.Bound(p => p.BeneficiaryCount);
        columns.Bound(p => p.FoodRatio);
        columns.Bound(p => p.CashRatio);

        
    })
    .DataSource(dataSource => dataSource

        .Ajax()
        //      .PageSize(20)
      //  .Batch(true)
        .Model(model => model.Id(p => p.RegionalPSNPPlanDetailID))
        .Read(read => read.Action("GetListAjax", "RegionalPSNPPlanDetail").Data("filterInfo"))
        .Create(update => update.Action("EditAjax", "RegionalPSNPPlanDetail"))
        .Update(update => update.Action("EditAjax", "RegionalPSNPPlanDetail"))
        .Destroy(update => update.Action("DeleteAjax", "RegionalPSNPPlanDetail"))
        .Model(model =>
        {
            //model.Id(p => p.TransportBidQuotationID);
            model.Field(p => p.ZoneName).Editable(false);
            model.Field(p => p.WoredaName).Editable(false);
            model.Field(p => p.FDPName).Editable(false);
           // model.Field(p => p.DestinationZone).Editable(false);
            //model.Field(p => p.DestinationName).Editable(false);
        })
        )
    
    .HtmlAttributes(new { style = "width:100%; height:550px;" })
 //   .Editable(editable => editable.Mode(GridEditMode.InCell))
 //   .ToolBar(toolbar => toolbar.Save().SaveText(Translator.Translate("Save")).CancelText(Translator.Translate("Cancel")))
        // .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "width:100%; height:550px;" })
   // .Groupable()

)
<script>
    var deleteURL="@Url.Action("DeleteAjax", "RegionalPSNPPlanDetail", new { Area = "PSNP" })"
    function deleteRecord(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id=dataItem.RegionalPSNPPlanDetailID;
        if(confirm("Are you sure you want to delete this record? " + id)==true)
        {
            var post_values={id:id};
            
            $.post(
                    deleteURL
                    ,post_values
                    ,function (data)
                    {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                 );

        }
    }
    function filterInfo() {
        return {id:@ViewBag.PsnpPlan.RegionalPSNPPlanID};
    }
    function saverecords()
    {
        $("#grid").data("kendoGrid").dataSource.update();
    }
    function reloadrecords()
    {
        $("#grid").data("kendoGrid").dataSource.read();
    }

</script>
