@using Cats.Services.Security
@using LanguageHelpers.Localization
@{
    var user = (UserIdentity)HttpContext.Current.User.Identity;
    
}
<style>



</style>
<link rel="stylesheet" href="~/Content/MapResources/openlayers/theme/default/style.css" type="text/css">
<script src="~/Content/MapResources/OpenlayersWrapper.js"></script>
<script src="~/Content/MapResources/openlayers/lib/OpenLayers.js"></script>
<script src="~/Content/MapResources/MapStyle.js"></script>
<script src="~/Content/MapResources/MapLegend.js"></script>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="hdr-blck">Number of Beneficiaries</div>
            <div class="col-md-12 map-container">
                <div id="map1" class="map"></div>
                <div id="map1Legend" class="map-legend"></div>
                
            </div>

        </div>

        <div class="col-md-6 col-xs-12">
             <div class="hdr-blck">Total Commoditiy Required</div>
            <div class="col-md-12 map-container">
                <div id="map2" class="map"></div>
                <div id="map2Legend" class="map-legend"></div>
               
            </div>

        </div>
    </div>
</div>
<script>

    function mapController($http, $scope, $timeout) {
        $scope.countryShapeURL = "/Content/MapResources/MapData/ethiopiaJson.js";
        $scope.regionShapeURL = "/Content/MapResources/MapData/ethiopiaRegions.js";
        $scope.getData = function () {

        }
    }
    var countryShapeURL = "/Content/MapResources/MapData/ethiopiaJson.js";
    var regionShapeURL = "/Content/MapResources/MapData/ethiopiaRegions.txt";

    function showMapForLevel(level, indicator) {
        var RegionHRDUrl = "@Url.Action("BeneficiaryByRegion_Read", "HRD", new { Area = "EarlyWarning" })";
        var ZoneHRDUrl = "@Url.Action("BeneficiaryByZone_Read", "HRD", new { Area = "EarlyWarning" })";
        var WoredaHRDUrl = "@Url.Action("BeneficiaryByWoreda_Read", "HRD", new { Area = "EarlyWarning" })";

    }

    $(function () {

        var RegionHRDUrl = "@Url.Action("BeneficiaryByRegion_Read", "HRD", new { Area = "EarlyWarning" })";
        var ZoneHRDUrl = "@Url.Action("BeneficiaryByZone_Read", "HRD", new { Area = "EarlyWarning" })";
        var WoredaHRDUrl = "@Url.Action("BeneficiaryByWoreda_Read", "HRD", new { Area = "EarlyWarning" })";

        dataSource = { url: RegionHRDUrl, indicator: "NumberOfBeneficiaries", postData: {} };
        adminUnitInfo = { level: "Region" };
        renderingInfo = { shadingOption: {}, div: "map1" };
        CreateMapForData(dataSource, adminUnitInfo, renderingInfo);


        //  CreateMapForData({ url: ZoneHRDUrl, indicator: "Total", postData: {} }, { level: "Zone" }, { shadingOption: { h: 170, s: 164, sample: 8 }, div: "map2" });
        CreateMapForData({ url: ZoneHRDUrl, indicator: "Total", postData: {} }, { level: "Zone" }, { shadingOption: { h: 170, s: 164, sample: 8 }, div: "map2" });

        return;



    });

</script>
<style>
    .map {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    .map-container {
        position: relative;
        height: 500px;
        background: #7abcff; /* Old browsers */
    }

    .map-legend {
        position: absolute;
        top: 0px;
        right: 0px;
        background: rgba(255,255,255,0.6);
        padding: 20px;
        padding-top: 0;
        box-shadow: -2px 2px 2px #444;
    }

        .map-legend .title {
            font-size: 20px;
            line-height: 40px;
        }

        .map-legend .item {
            line-height: 40px;
            border-bottom: solid 1px #EEE;
        }

        .map-legend .pallet {
            line-height: 40px;
            padding: 4px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 6px;
        }

    

    .olControlMousePosition {
        background: #000;
        color: #FFF;
    }
</style>
