@using Cats.Helpers;
@using Cats.Services.Security;
@using LanguageHelpers.Localization
@{
    UserIdentity user = (UserIdentity)HttpContext.Current.User.Identity;

    string theme = "default";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CATS: Commodity Allocation & Tracking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles 
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet">-->
    <link href="~/Content/themes/@theme/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/themes/dashboard.css" rel="stylesheet" />

    <link href="~/Content/kendo/2013.1.319/kendo.common.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2013.1.319/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <!--
    <link href="~/Content/kendo/2013.1.319/kendo.default.min.css" rel="stylesheet" />
	
        -->
    <script src="~/Scripts/kendo/2013.1.319/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2013.1.319/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2013.1.319/kendo.aspnetmvc.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/angular.min.js"> </script>
     <script src="~/Scripts/angular/angular-resource.js"></script>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        table .single-line {
            width: 90%;
            margin: 0;
        }

        .field-validation-error {
            color: #A00;
        }

        footer {
            bottom: 0;
        }

        .cats_info, .cats_success, .cats_warning, .cats_error {
            margin: 10px 0px;
            padding: 8px 10px 8px 50px;
            background-repeat: no-repeat;
            background-position: 10px center;
            -moz-border-radius: .5em;
            -webkit-border-radius: .5em;
            border-radius: .5em;
        }

        .cats_info {
            color: #00529B;
            background-color: #BDE5F8;
            background-image: url('../../Content/images/info.png');
        }

        .cats_success {
            color: #4F8A10;
            background-color: #DFF2BF;
            background-image: url('../../Content/images/success.png');
        }

        .cats_warning {
            color: #9F6000;
            background-color: #FEEFB3;
            background-image: url('../../Content/images/warning.png');
        }

        .cats_error {
            color: #D8000C;
            background-color: #FFBABA;
            background-image: url('../../Content/images/error.png');
        }
    </style>
    <link href="~/Content/assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- Le fav and touch icons -->
    @*    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/images/apple-touch-icon-114x114.png">*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    @*    @Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script>

        $(function () {

            var timer = 3000;
            clearTimeout(timer);
            timer = setTimeout(function () {
                $(".message-window").html('');
            }, 3000);
            //alert(timer);

        });
    </script>
</head>
<body>

    @Html.Partial("_MainMenu")

    <div class="container-fluid">
        

        <div class="row-fluid">
            <div class="span2 column-divider">
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        @RenderSection("LeftBar", required: false)
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span10">
                <div>
                    <div class="span7">
                        @RenderSection("Breadcrumb", required: false)

                        @Html.Partial("_BreadCrumb")
                    </div>



                    <div class="span5">
                        <div class=" btn-group toolbar">
                            @RenderSection("Toolbar", required: false)
                        </div>
                        @Html.Partial("_ToolbarCommon")
                    </div>
                </div>
                <div style="clear: both;" class="message-window">@RenderSection("Errors", required: false)@Html.CustomValidationSummary()</div>
                <div style="clear: both;">
                    @RenderBody()
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <hr>
        <footer>
            <p>CATS &copy; DRMFSS @DateTime.Now.Year.ToString()</p>
        </footer>

        <div id="div_help_panel" style="display:none;">
            <style>
                .left_panel
                {
                    position:fixed; left:-510px; top:0px; border:solid 1px #ccc;width:25%;bottom:0px;background:rgba(0,0,0,0.8);
                }
                .left_panel *
                {
                    color:#FFF;
                }
                .left_panel .content
                {
                    margin-top:60px;
                    padding:4px;
                }

            </style>
            <script>
                $(document).ready(function () {

                    $("#toolbar_btn_help").click(function () {
                        var curPosition = $("#div_content_panel").css("left");
                        if (curPosition == '0px') {
                            $("#div_content_panel").animate({ "left": "-=510px" }, "slow");
                        }
                        if (curPosition == '-510px') {
                            $("#div_content_panel").animate({ "left": "+=510px" }, "slow");
                        }
                    });

                });

            </script>
            <div id="div_content_panel" class="left_panel">
                <div class="content">
                    Help Content
                </div>
            </div>
        </div>
    </div>
    <!--/.fluid-container-->

    <!-- Le javascript
	================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @RenderSection("Scripts", required: false)


    <script src="~/Content/assets/js/bootstrap-transition.js"></script>
    <script src="~/Content/assets/js/bootstrap-alert.js"></script>
    <script src="~/Content/assets/js/bootstrap-modal.js"></script>
    <script src="~/Content/assets/js/bootstrap-dropdown.js"></script>
    <script src="~/Content/assets/js/bootstrap-scrollspy.js"></script>
    <script src="~/Content/assets/js/bootstrap-tab.js"></script>
    <script src="~/Content/assets/js/bootstrap-tooltip.js"></script>
    <script src="~/Content/assets/js/bootstrap-popover.js"></script>
    <script src="~/Content/assets/js/bootstrap-button.js"></script>
    <script src="~/Content/assets/js/bootstrap-collapse.js"></script>
    <script src="~/Content/assets/js/bootstrap-carousel.js"></script>
    <script src="~/Content/assets/js/bootstrap-typeahead.js"></script>
    <script src="~/Content/assets/js/bootstrap-datepicker.js"></script>

    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/jquery.validate.js"></script>


    <link href="~/Scripts/Beka.EthDate/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Scripts/Beka.EthDate/Beka.EthDate.js"> </script>
    <script type="text/javascript" src="~/Scripts/Beka.EthDate/jquery.Beka.EthCalDatePicker.js"> </script>
    <script type="text/javascript" src="~/Scripts/js/CatsUI.js"> </script>


    <script type="text/javascript"></script>
    @{
        var calendarPreference = Html.UserCalendarPreference();

        
        if (calendarPreference != "AM")
        {
        <script>
            $(function () {
                $(".cats-datepicker2").datepicker();
            });
        </script>
        }
        else
        {
        <script type='text/javascript'>
            init_datepicker();
        </script>                                                                                                
        }
        <script>
            //Script to generate row number
            $(function () {
                $(".cats-datepicker2").each(function () {
                    if ($(this).val() == "") {
                        $(this).val(new Date().toLocaleString());
                    }
                    $(this).css("opacity", 0.5);
                })
            });
            var rowNumber = 0;

            function resetRowNumber(e) {
                rowNumber = 0;
            }

            function renderNumber(data) {
                return ++rowNumber;
            }

        </script>
        
       
    }
    <script type="text/javascript">
        var datepreferencedisplay = "@Translator.Translate(@Html.UserCalendarPreference())";
        var unitpreferencedisplay = "@Translator.Translate(@Html.UserUnitPreference())";

        $(function () {

            //For label
            $(".cats-date-pref").append(' (' + datepreferencedisplay + ')');
            $(".cats-unit-pref").append(' (' + unitpreferencedisplay + ')');
            //For grid
            $(".cats-date-pref-grid >.k-link").append("(" + datepreferencedisplay + ")");
            $(".cats-unit-pref-grid >.k-link").append("(" + unitpreferencedisplay + ")");
            /*each(function () {
                $(this).append("(" + datepeferencedisplay + ")");
                
            });*/
        }
        );
    </script>
</body>
</html>
