@using Cats.Helpers;
@using Cats.Services.Security;
@{
    UserIdentity user = (UserIdentity)HttpContext.Current.User.Identity;
    
    string theme = "default";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CATS: Commodity Allocation & Tracking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles 
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet">-->
    <link href="~/Content/themes/@theme/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/themes/dashboard.css" rel="stylesheet" />

    <link href="~/Content/kendo/2013.1.319/kendo.common.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2013.1.319/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <!--
    <link href="~/Content/kendo/2013.1.319/kendo.default.min.css" rel="stylesheet" />
	
        -->
    <script src="~/Scripts/kendo/2013.1.319/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2013.1.319/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2013.1.319/kendo.aspnetmvc.min.js" type="text/javascript"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        table .single-line {
            width: 90%;
            margin: 0;
        }

        .field-validation-error {
            color: #A00;
        }

        footer {
            bottom: 0;
        }
        .cats_info, .cats_success, .cats_warning, .cats_error {
            border: 1px solid;
            margin: 10px 0px;
            padding:8px 10px 8px 15px;
            background-repeat: no-repeat;
            background-position: 10px center;-moz-border-radius:.5em;
        -webkit-border-radius:.5em;
        border-radius:.5em;
 
        }
        .cats_info {
            color: #00529B;
            background-color: #BDE5F8;
            background-image: url('info.png');
        }
        .cats_success {
            color: #4F8A10;
            background-color: #DFF2BF;
            background-image:url('success.png');
        }
        .cats_warning {
            color: #9F6000;
            background-color: #FEEFB3;
            background-image: url('warning.png');
        }
        .cats_error {
            color: #D8000C;
            background-color: #FFBABA;
            background-image: url('error.png');
        }
    </style>
    <link href="~/Content/assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- Le fav and touch icons -->
    @*    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/images/apple-touch-icon-114x114.png">*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    @*    @Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    @Html.Partial("_MainMenu")

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 column-divider">
                <div class="sidebar-nav">
                    <ul class="nav nav-list">
                        @RenderSection("LeftBar", required: false)
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span10">
                <div>
                    <div class="span7">
                        @RenderSection("Breadcrumb", required: false)
                        <ul class="breadcrumb">
                            <li><a href="~/">Home</a> </li>
                            @{
                                string home = Url.Action("Index", "Home", new {Area = ""});
                                string[] page_url = PageContext.Page.Context.Request.Url.Segments;
                                string separator = "";
                                string url = home;

                                for (int i = 1; i < page_url.Length - 1; i++)
                                {
                                    string item = page_url[i];
                                    string urlitem = item.Replace("/", "");
                                    url += item;
                                <li><span class="divider"> / </span><a href="@url"> @urlitem </a></li>
                            
                                }
                            }
                        </ul>
                        <!--<li><a href="#">Home</a> <span class="divider">/</span></li>
                            <li class="active">Rations</li>--->
                    </div>
                    <div class="span5">
                        <div class=" btn-group toolbar">
                            @RenderSection("Toolbar", required: false)
                        </div>
                        @Html.Partial("_ToolbarCommon")
                    </div>
                </div>
                <div style="clear: both;">
                    @RenderSection("Errors", required:false)
                    @Html.CustomValidationSummary()                    
                </div>
                <div style="clear: both;">
                    @RenderBody()
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <hr>
        <footer>
            <p>CATS &copy; DRMFSS @DateTime.Now.Year.ToString()</p>
        </footer>
    </div>
    <!--/.fluid-container-->

    <!-- Le javascript
	================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @RenderSection("Scripts", required: false)


    <script src="~/Content/assets/js/bootstrap-transition.js"></script>
    <script src="~/Content/assets/js/bootstrap-alert.js"></script>
    <script src="~/Content/assets/js/bootstrap-modal.js"></script>
    <script src="~/Content/assets/js/bootstrap-dropdown.js"></script>
    <script src="~/Content/assets/js/bootstrap-scrollspy.js"></script>
    <script src="~/Content/assets/js/bootstrap-tab.js"></script>
    <script src="~/Content/assets/js/bootstrap-tooltip.js"></script>
    <script src="~/Content/assets/js/bootstrap-popover.js"></script>
    <script src="~/Content/assets/js/bootstrap-button.js"></script>
    <script src="~/Content/assets/js/bootstrap-collapse.js"></script>
    <script src="~/Content/assets/js/bootstrap-carousel.js"></script>
    <script src="~/Content/assets/js/bootstrap-typeahead.js"></script>
    <script src="~/Content/assets/js/bootstrap-datepicker.js"></script>

    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/jquery.validate.js"></script>


    <link href="~/Scripts/Beka.EthDate/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Scripts/Beka.EthDate/Beka.EthDate.js"> </script>
    <script type="text/javascript" src="~/Scripts/Beka.EthDate/jquery.Beka.EthCalDatePicker.js"> </script>
    <script type="text/javascript" src="~/Scripts/js/CatsUI.js"> </script>

    @{
       // var user = (UserIdentity)System.Web.HttpContext.Current.User.Identity;
        var calendarPreference = user.Profile.Calendar.ToString();
        if (calendarPreference != "EC")
        {
        <script>
            $(function () {
                $(".cats-datepicker").datepicker();
            });
        </script>
        }
        else
        {
        <script type='text/javascript'>
            init_datepicker();
        </script>                                                                                                
        }
        <script>
            //Script to generate row number
            var rowNumber = 0;

            function resetRowNumber(e) {
                rowNumber = 0;
            }

            function renderNumber(data) {
                return ++rowNumber;
            }

        </script>
    }

</body>
</html>
