@using Cats.Helpers
@using Cats.Services.Security
@using Cats.Security
@using Cats.Models.Constant

@{

    var user = (UserIdentity)HttpContext.Current.User.Identity;
    var role = UserRoleHelper.GetUserRole(user.Profile.UserName);
    var lang = user.Profile.LanguageCode;
    ViewBag.CurrentUser = user;

    //  Translator.CurrentLanguage = lang;
    //   Translator.LoadTexts();

    var currentUser = UserAccountHelper.GetCurrentUser();

    //var checkLogisticsAccessHelper = DependencyResolver.Current.GetService<ILogisticsCheckAccess>();
    //var checkProcurementAccessHelper = DependencyResolver.Current.GetService<IProcurementCheckAccess>();

    const string PAGE_NAME = "MainMenu";

}
<style>
    #reportMenuAnchor {
        cursor: pointer;
    }
</style>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="~/">@Html.Translate("CATS")</a>
            <div class="nav-collapse collapse">

                @if (currentUser.IsAdmin)
                {
                    <div>
                        <ul class="nav">
                            @*<li>
                                <a href="@Url.Action("Index","AdminDashboard")">Dashboard</a>
                            </li>*@
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Warehouses</a>
                                    </li>
                                    <li>
                                        <a href="#">Hubs</a>
                                    </li>
                                    <li>
                                        <a href="#">Hub Owners</a>
                                    </li>
                                    <li>
                                        <a href="#">Stores</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Commodity Type</a>
                                    </li>
                                    <li>
                                        <a href="#">Commodity</a>
                                    </li>
                                    <li>
                                        <a href="#">Commodity Grade</a>
                                    </li>
                                    <li>
                                        <a href="#">Commodity Source</a>
                                    </li>
                                    <li>
                                        <a href="#">Program</a>
                                    </li>
                                    <li>
                                        <a href="#">Donors</a>
                                    </li>
                                    <li>
                                        <a href="#">Units</a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="#">Administrative Units</a>
                                    </li>
                                    <li>
                                        <a href="#">FDPs</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Journals <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Journals</a>
                                    </li>
                                    <li>
                                        <a href="#">Ledgers</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Translations <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Languages</a>
                                    </li>
                                    <li>
                                        <a href="#">Translation Terms</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Index","Users")">Users</a>
                                    </li>
                                    <li>
                                        <a href="#">Groups</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">System Logs <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Error Log</a>
                                    </li>
                                    <li>
                                        <a href="#">Audit Log</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }

                else if (currentUser.RegionalUser)
                {
                    <div>
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Need Assesment")<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                   
                                     <li>
                                        @Html.RegionalOperationMenuItem(@Html.Translate2(PAGE_NAME, "Needs Assessment"), @Url.Action("Index", "NeedAssessment", new { Area = "EarlyWarning" }),
                                                                   RegionalConstants.Operation.View_needs_assessment )
                                    </li>
                                </ul>
                            </li>
                            
                            

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Request")<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                   @* <li>
        @Html.EarlyWarningOperationMenuItem(@Url.Action("Index", "Request", new { Area = "EarlyWarning" }),
                                            EarlyWarningConstants.Operation.View_request, @Html.Translate("Requests"))
    </li>*@
                                    <li>
                                        @Html.RegionalOperationMenuItem(@Html.Translate("Requests"), @Url.Action("Index", "Request", new { Area = "EarlyWarning" }),
                                                                        RegionalConstants.Operation.View_requests )
                                    </li>
                                    <li>
                                        @Html.RegionalOperationMenuItem(@Html.Translate("New Request"), @Url.Action("New", "Request", new { Area = "EarlyWarning" }),
                                                                        RegionalConstants.Operation.Add_new_regional_request )
                                    </li>
                                    @* <li>
                                        @Html.EarlyWarningOperationMenuItem()OperationMenuItem(@Html.Translate("New Request"), @Url.Action("New", "Request", new { Area = "EarlyWarning" }),
                                                                        EarlyWarningConstants.Operation.add )
                                    </li>*@
                                    
                                    <li>
                                        @Html.EarlyWarningOperationMenuItem(@Url.Action("NewIdps", "Request", new { Area = "EarlyWarning" }),
                                                                            EarlyWarningConstants.Operation.Add_New_IDPS_request, @Html.Translate2(PAGE_NAME, "Add New IDPS request"))
                                    </li>
                                    
                                   <li>
                                        @Html.RegionalOperationMenuItem(@Html.Translate("Requisitions"), @Url.Action("Index", "RegionRequisitions", new { Area = "Regional" }),
                                                                        RegionalConstants.Operation.Print_requisition )
                                    </li>

                                    @*<li><a href="@Url.Action("New", "Request", new { Area = "EarlyWarning" })">@Html.Translate("New Request") </a></li>*@
                                    @*<li><a href="@Url.Action("NewIdps", "Request", new { Area = "EarlyWarning" })">@Html.Translate("New IDPS Request")</a></li>*@
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Distribution")<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.RegionalOperationMenuItem(@Html.Translate("Distribution Entry"), @Url.Action("Index", "WoredaStockDistribution", new { Area = "Logistics" }),
                                                                        RegionalConstants.Operation.View_Distribution_Entry)
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                }

                else if (currentUser.DefaultHub != null)
                {
                    <div>
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Reciept")<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Receipt"),
                                                                   @Url.Action("Index", "Receive", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_adjustiments)
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Dispatch")<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Dispatch"),
                                                                   @Url.Action("Index", "Dispatch", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_dispatch_to_FDPs)
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Transport Orders")<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Incoming Transport Orders"),
                                                                   @Url.Action("ReturnListOfApprovedListFromMainMenu", "TransportOrder", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_transport_order_list)
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Balance")<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Starting Balance"),
                                                                   @Url.Action("Index", "StartingBalance", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_starting_balance)
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Hub Events")<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Internal Movemnets"),
                                                                   @Url.Action("Index", "InternalMovement", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_internal_movement)
                                    </li>
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Losses and Adjustments"),
                                                                   @Url.Action("Index", "LossesAndAdjustments", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_losses)
                                    </li>
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Stack Events"),
                                                                   @Url.Action("Index", "StackEvent", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_stack_events)
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Setting")<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @* Do we need this item here? All admin tasks should be done inside the main settings area *@
                                        @Html.HubOperationMenuItem(@Html.Translate("Admin"),
                                                                   @Url.Action("Home", "Admin", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_adjustiments)
                                    </li>

                                </ul>
                            </li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Hub Reports")<b class="caret"></b></a>
                                <ul class="dropdown-menu">

                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Bin Card"),
                                                                   @Url.Action("Index", "BinCard", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_bin_card_report)
                                    </li>
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Store Report"),
                                                                   @Url.Action("Index", "StockStatus", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_store_report )
                                    </li>
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Free Stock"),
                                                                   @Url.Action("FreeStock", "StockStatus", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_free_stock_report)
                                    </li>
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Receipt Status"),
                                                                   @Url.Action("Receipts", "StockStatus", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_receipt_status_report)
                                    </li>
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Dispatch Status"),
                                                                   @Url.Action("Dispatch", "StockStatus", new { Area = "Hub" }),
                                                                   HubConstants.Operation.View_dispatch_stock_status_report)
                                    </li>
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Dispatch Stock Status"),
                                                                   @Url.Action("DispatchCommodity", "LogisticsStockStatus", new { Area = "Logistics" }),
                                                                   HubConstants.Operation.View_dispatch_stock_status_report)
                                    </li>
                                    <li>
                                        @Html.HubOperationMenuItem(@Html.Translate("Transportation Reports"),
                                                                   @Url.Action("Index", "TransportationReport", new { Area = "Logistics" }),
                                                                   HubConstants.Operation.View_transportation_report)
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                }

                else if (currentUser.CaseTeam != null)
                {

                    switch (currentUser.CaseTeam)
                    {
                        case (int)UserType.CASETEAM.EARLYWARNING:
                            <div>
                                <ul class="nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Gift Certificate")<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                @Html.EarlyWarningOperationMenuItem(@Url.Action("Index", "GiftCertificate", new { Area = "EarlyWarning" }),
                                                                    EarlyWarningConstants.Operation.View_Gift_Certificate_list, @Html.Translate2(PAGE_NAME, "Gift Certificate"))
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Plans")<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            
                                            @*<li>
                                                @Html.EarlyWarningOperationMenuItem(@Url.Action("Index", "Plan", new { Area = "EarlyWarning" }),
                                                                    EarlyWarningConstants.Operation.View_Plans, @Html.Translate2(PAGE_NAME, "Plan"))
                                            </li>*@
                                            <li>
                                                @Html.EarlyWarningOperationMenuItem(@Url.Action("Index", "NeedAssessment", new { Area = "EarlyWarning" }),
                                                                    EarlyWarningConstants.Operation.View_Draft_Needs_Assessment, @Html.Translate2(PAGE_NAME, "Needs Assessment"))
                                            </li>
                                            <li>
                                                @Html.EarlyWarningOperationMenuItem(@Url.Action("Index", "HRD", new { Area = "EarlyWarning" }),
                                             EarlyWarningConstants.Operation.View_HRD_list, @Html.Translate("HRD"))
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Requisition")<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                @Html.EarlyWarningOperationMenuItem(@Url.Action("Index", "ReliefRequisition", new { Area = "EarlyWarning" }),
                                             EarlyWarningConstants.Operation.View_Requisition, @Html.Translate("Requisitions"))
                                            </li>
                                            <li class="divider"></li>

                                            <li>
                                                @Html.EarlyWarningOperationMenuItem(@Url.Action("Index", "Request", new { Area = "EarlyWarning" }),
                                                     EarlyWarningConstants.Operation.View_request, @Html.Translate("Requests"))
                                            </li>
                                            
                                             <li>
                                                @Html.EarlyWarningOperationMenuItem(@Url.Action("NewIdps", "Request", new { Area = "EarlyWarning" }),
                                                     EarlyWarningConstants.Operation.Add_New_IDPS_request, @Html.Translate("New IDPS Request"))
                                            </li>
                                            @*<li><a href="@Url.Action("NewIdps", "Request", new { Area = "EarlyWarning" })">@Html.Translate("New IDPS Request")</a></li>*@
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Donors")<b class="caret"></b></a>
                                        <ul class="dropdown-menu">

                                            <li>
                                                @Html.EarlyWarningOperationMenuItem(@Url.Action("Index", "DonorCoverage", new { Area = "EarlyWarning" }),
                                             EarlyWarningConstants.Operation.View_HRD_list, @Html.Translate("Donor Coverage"))
                                            </li>

                                            <li>
                                                @Html.EarlyWarningOperationMenuItem(@Url.Action("Index", "Contribution", new { Area = "EarlyWarning" }),
                                             EarlyWarningConstants.Operation.View_HRD_list, @Html.Translate("Donor Contribution"))
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Ration")<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                @Html.EarlyWarningOperationMenuItem(@Url.Action("Index", "Ration", new { Area = "EarlyWarning" }),
                                             EarlyWarningConstants.Operation.View_Ration_List, @Html.Translate("Rations"))
                                            </li>
                                        </ul>
                                    </li>

                                    @*<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Reports")<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">@Html.Translate("Reports") </a></li>
        </ul>
    </li>*@

                                </ul>
                            </div>
                            break;
                        case (int)UserType.CASETEAM.PSNP:
                        <div>
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Plans")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                         <li>
                                            @Html.PSNPOperationMenuItem(@Html.Translate("Plan"),
                                                            @Url.Action("Index", "Plan", new { Area = "EarlyWarning" }),
                                                            PsnpConstants.Operation.View__plan_menu_item)
                                        </li>
                                        <li>
                                            @Html.PSNPOperationMenuItem(@Html.Translate("PSNP Plan"),
                                                            @Url.Action("Index", "RegionalPSNPPlan", new { Area = "PSNP" }),
                                                            PsnpConstants.Operation.View_PSNP_plan_menu_item)
                                        </li>
                                        
                                        @*<li><a href="@Url.Action("Index", "Plan", new { Area = "EarlyWarning" })">@Html.Translate2(PAGE_NAME, "Plan")</a></li>*@
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Requests")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.PSNPOperationMenuItem(@Html.Translate("Requests"),
                                            @Url.Action("Index", "Request", new { Area = "EarlyWarning" }),
                                                                        PsnpConstants.Operation.View_requests_menu_item)
                                        </li>
                                         <li>
                                            @Html.PSNPOperationMenuItem(@Html.Translate("New Request"),
                                            @Url.Action("New", "Request", new { Area = "EarlyWarning" }),
                                                                        PsnpConstants.Operation.View_requests_menu_item)
                                        </li>
                                        @* <li><a href="@Url.Action("New", "Request", new { Area = "EarlyWarning" })">@Html.Translate("New Request ") </a></li>*@
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Requisition")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.PSNPOperationMenuItem(@Html.Translate("Requisitions"), @Url.Action("Index", "ReliefRequisition", new { Area = "EarlyWarning" }),
                                                                    PsnpConstants.Operation.View_Requisitions)
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Ration")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.PSNPOperationMenuItem(@Html.Translate("Rations"), @Url.Action("Index", "Ration", new { Area = "EarlyWarning" }),
                                                                    PsnpConstants.Operation.View_ration_menu_item)
                                        </li>
                                    </ul>
                                </li>


                                @*<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Reports")<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">@Html.Translate("Reports") </a></li>
        </ul>
    </li>*@
                            </ul>
                        </div>
                            break;
                        case (int)UserType.CASETEAM.LOGISTICS:
                        <div>
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Dispatch")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Dispatch Allocation"),
                                                                @Url.Action("Index", "DispatchAllocation", new { Area = "Logistics" }),
                                                                LogisticsConstants.Operation.View_dispatch_allocation_menu_item)
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Transport")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Transport Requisition"),
                                                                            @Url.Action("Index", "TransportRequisition", new { Area = "Logistics" }),
                                                                            LogisticsConstants.Operation.View_transport_requisition_menu_item)
                                        </li>

                                         <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Transporter Performance"),
                                                                @Url.Action("Index", "TransporterPerformance", new { Area = "Logistics" }),
                                                                LogisticsConstants.Operation.View_transporter_performance_menu_item)
                                        </li>
                                        
                                        @*<li><a href="@Url.Action("Index", "TransporterPerformance", new { Area = "Logistics" })">Transporter Performance</a></li>*@
                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Transport Order"),
                                                                   @Url.Action("Index", "TransportOrder", new { Area = "Procurement" }),
                                                                   LogisticsConstants.Operation.View_transport_order_menu_item)
                                        </li>

                                     @*   <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Contract Admin"),
                                                                   @Url.Action("BidWinningTransporters", "BidWinner", new { Area = "Procurement" }),
                                                                   LogisticsConstants.Operation.View_contract_Admin_menu_item)
                                        </li>*@
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Reciept Plan")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Local Purchase"),
                                                                               @Url.Action("Index", "LocalPurchase", new { Area = "Logistics" }),
                                                                               LogisticsConstants.Operation.View_local_purchase_menu_item)
                                        </li>
                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Transfer"),
                                                                               @Url.Action("Index", "Transfer", new { Area = "Logistics" }),
                                                                               LogisticsConstants.Operation.View_transfer_menu_item)
                                        </li>
                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Donation"),
                                                                               @Url.Action("Index", "Donation", new { Area = "Logistics" }),
                                                                               LogisticsConstants.Operation.View_donation_menu_item)
                                        </li>
                                         <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Loan"),
                                                                   @Url.Action("Index", "ReciptPlanForLoan", new { Area = "Logistics" }),
                                                                   LogisticsConstants.Operation.View_Loan_Menu_Item)
                                        </li>
                                        
                                       @* <li><a href="@Url.Action("Index", "LocalPurchase", new { Area = "Logistics" })">Local Purchase</a></li>
                                        <li><a href="@Url.Action("Index", "Transfer", new { Area = "Logistics" })">Transfer</a></li>

                                        <li><a href="@Url.Action("Index", "Donation", new { Area = "Logistics" })">Donation</a></li>
                                        <li><a href="@Url.Action("Index", "ReciptPlanForLoan", new { Area = "Logistics" })">Loan</a></li>*@

                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Contracts")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Bid Planning"),
                                                                   @Url.Action("Index", "TransportBidPlan", new { Area = "Procurement" }),
                                                                   LogisticsConstants.Operation.View_bid_planning_menu_item)
                                        </li>
                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Contract Admin"),
                                                                   @Url.Action("BidWinningTransporters", "BidWinner", new { Area = "Procurement" }),
                                                                   LogisticsConstants.Operation.View_contract_Admin_menu_item)
                                        </li>
                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Payment Request"),
                                                                   @Url.Action("Index", "PaymentRequest", new { Area = "Logistics" }),
                                                                   LogisticsConstants.Operation.View_Payment_Requests)
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Stock Status")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">

                                        @*<li><a href="@Url.Action("Index", "LogisticsStockStatus", new { Area = "Logistics" })">@Html.Translate("Free Stock Status") </a></li>*@
                                        
                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Free Stock Status"),
                                                                            @Url.Action("Index", "LogisticsStockStatus", new { Area = "Logistics" }),
                                                                            LogisticsConstants.Operation.View_free_stock_report)
                                        </li>

                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Commodity Received Stock"),
                                                                        @Url.Action("ReceivedCommodity", "LogisticsStockStatus", new { Area = "Logistics" }),
                                                                        LogisticsConstants.Operation.View_commodity_recied_status_report)
                                        </li>

                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Carry Over Stock"),
                                                                        @Url.Action("CarryOverStock", "LogisticsStockStatus", new { Area = "Logistics" }),
                                                                        LogisticsConstants.Operation.View_carry_over_stock_report)
                                        </li>

                                        <li>
                                            @Html.LogisticOperationMenuItem(@Html.Translate("Transferred Stock"),
                                                                        @Url.Action("TransferredStock", "LogisticsStockStatus", new { Area = "Logistics" }),
                                                                        LogisticsConstants.Operation.View_transfereed_stock_staus_report)
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                            break;
                        case (int)UserType.CASETEAM.PROCUREMENT:
                        <div>
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, "Bid Administration")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ProcurementOperationMenuItem(@Html.Translate("Bid Plans"),
                                                                   @Url.Action("Index", "TransportBidPlan", new { Area = "Procurement" }),
                                                                   ProcurementConstants.Operation.View_bid_plan_menu_item)
                                        </li>

                                        <li>
                                            @Html.ProcurementOperationMenuItem(@Html.Translate("Bids"),
                                                                   @Url.Action("Index", "Bid", new { Area = "Procurement" }),
                                                                   ProcurementConstants.Operation.View_bid_menu_item)
                                        </li>

                                        <li>
                                            @Html.ProcurementOperationMenuItem(@Html.Translate("Bid Status"),
                                                                   @Url.Action("Index", "BidAdministration", new { Area = "Procurement" }),
                                                                   ProcurementConstants.Operation.View_Bid_admin)
                                        </li>

                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Bidding Process")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ProcurementOperationMenuItem(@Html.Translate("Request for Quotations (RFQ)"),
                                                                   @Url.Action("Index", "RFQ", new { Area = "Procurement" }),
                                                                   ProcurementConstants.Operation.View_Request_For_Quotation)
                                        </li>
                                        <li>
                                            @Html.ProcurementOperationMenuItem(@Html.Translate("Price Quotation"),
                                                                   @Url.Action("BidProposalHeader", "PriceQuotation", new { Area = "Procurement" }),
                                                                   ProcurementConstants.Operation.View_Price_Quotation_Data_Entries)
                                        </li>
                                        <li>
                                            @Html.ProcurementOperationMenuItem(@Html.Translate("Generate Winners"),
                                                                   @Url.Action("GenerateWinners", "PriceQuotation", new { Area = "Procurement" }),
                                                                   ProcurementConstants.Operation.View_generate_winners_menu_item)
                                        </li>
                                        <li>
                                            @Html.ProcurementOperationMenuItem(@Html.Translate("Winners Status"),
                                                                   @Url.Action("WoredasBidStatus", "Bid", new { Area = "Procurement" }),
                                                                   ProcurementConstants.Operation.View_Winners_for_Contract)
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Transporters")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ProcurementOperationMenuItem(@Html.Translate("Transport Suppliers"),
                                                                   @Url.Action("Index", "Transporter", new { Area = "Procurement" }),
                                                                   ProcurementConstants.Operation.View_Transport_Suppliers)
                                        </li>
                                    </ul>
                                </li>

                                @*<li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Reports")<b class="caret"></b></a>
                                        <ul class="dropdown-menu"></ul>
                                    </li>*@

                            </ul>
                        </div>
                            break;
                        case (int)UserType.CASETEAM.FINANCE:
                        <div>
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Payment Request")<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                       @* <li>
                                            <a href="@Url.Action("Index","ValidatedPaymentRequest",new{Area="Finance"})">Validated Payment Requests</a>

                                        </li>*@
                                        <li>
                                            @Html.FinanceOperationMenuItem(@Html.Translate("Payment Requests"),
                                                                           @Url.Action("Index", "ValidatedPaymentRequest", new { Area = "Finance" }),
                                                                           FinanceConstants.Operation.View_Payment_request_menu_items)
                                        </li>
                                    </ul>
                                </li>

                                @*<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate2(PAGE_NAME, " Reports")<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">@Html.Translate("ITSH Report") </a></li>
        </ul>
    </li>*@
                            </ul>
                        </div>
                            break;
                    }

                }
                <div>
                    <ul class="nav">
                        <li>
                            <a id="reportMenuAnchor">@Html.Translate2(PAGE_NAME, " Reports")</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>

                    <li class="dropdown">
                            <a href="#" class="dropdown-togg    le" data-toggle="dropdown"><i class="icon-envelope icon-white"><span class="badge badge-info">@Html.GetUnreadNotifications()</span></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.GetActiveNotifications()</li>
                            </ul>
                        </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.GetUserName() <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Preference", "Home", new { Area = "" })">@Html.Translate("Preference")</a></li>
                            <li><a href="@Url.Action("Administration", "Account")">@Html.Translate("Administration")</a></li>
                            <li class="divider"></li>
                            <li><a href="#changePassword" data-toggle="modal">@Html.Translate("Change Password")</a></li>
                            @*<li><a href="@Url.Action("ChangePassword", "Users", new { Area = "Settings" })">@Html.Translate("Change Password")</a></li>*@
                            <li><a href="@Url.RouteUrl("Logout")">@Html.Translate("Logout")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div id="changePassword" class="modal hide" style="display: none; ">
    @using (Html.BeginForm("ChangePassword2", "Users", new { Area = "Settings" }, FormMethod.Post))
    {
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Change Password</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">
                        <label for="OldPassword">Old password:</label>
                    </div>
                    <div class="controls">
                        <input type="password" id="OldPassword" name ="OldPassword" required="required" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        <label for="NewPassword">New password:</label>
                    </div>
                    <div class="controls">
                        <input type="password" id="NewPassword" name="NewPassword" required="required" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        <label for="ConfirmPassword">Retype password:</label>
                    </div>
                    <div class="controls">
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" required="required" />
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Change password</button>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    }
</div>
<script>
    $('#reportMenuAnchor').click(function () {
        window.location = "@Url.Action("ReportListing","Home",new {Area=""})";
    });
</script>