@using Cats.Helpers
@using Cats.Services.Security
@using Cats.Security
@using Cats.Models.Constant

@{

    var user = (UserIdentity)HttpContext.Current.User.Identity;
    var role = UserRoleHelper.GetUserRole(user.Profile.UserName);
    var lang = user.Profile.LanguageCode;
    ViewBag.CurrentUser = user;

    //  Translator.CurrentLanguage = lang;
    //   Translator.LoadTexts();

    var currentUser = UserAccountHelper.GetCurrentUser();

    //var checkLogisticsAccessHelper = DependencyResolver.Current.GetService<ILogisticsCheckAccess>();
    //var checkProcurementAccessHelper = DependencyResolver.Current.GetService<IProcurementCheckAccess>();

    const string PAGE_NAME = "MainMenu";

}
<style>
    #reportMenuAnchor {
        cursor: pointer;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-logo" alt="CATS" src="~/Content/images/CATS_Blue.png" />
            <a class="navbar-brand" href="#">CATS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            @if (currentUser.IsAdmin)
            {
                    
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Warehouses</a>

                                    <li>
                                        @Html.AdminOperationMenuItem(@Html.Translate("Administrative Units"),
                                        @Url.Action("Index", "AdminUnit", new { Area = "Settings" }))
                                    </li>
                                    <li>
                                        @Html.AdminOperationMenuItem(@Html.Translate("FDPs"),
                                        @Url.Action("Index", "FDP", new { Area = "Settings" }))
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="#">Hubs</a>
                            </li>
                            <li>
                                <a href="#">Hub Owners</a>
                            </li>
                            <li>
                                <a href="#">Stores</a>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Translations <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.AdminOperationMenuItem(@Html.Translate("Languages"),
                                        @Url.Action("Index", "Language", new { Area = "Localization" }))
                                    </li>
                                    <li>
                                        @Html.AdminOperationMenuItem(@Html.Translate("Translation Terms"),
                                        @Url.Action("Index", "Translation", new { Area = "Localization" }))
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.AdminOperationMenuItem(@Html.Translate("Users"),
                                        @Url.Action("Index", "Users", new { Area = "Settings" }))
                                    </li>
                                    <li>
                                        <a href="#">Groups</a>
                                    </li>
                                </ul>

                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Commodity Type</a>
                            </li>
                            <li>
                                <a href="#">Commodity</a>
                            </li>
                            <li>
                                <a href="#">Commodity Grade</a>
                            </li>
                            <li>
                                <a href="#">Commodity Source</a>
                            </li>
                            <li>
                                <a href="#">Program</a>
                            </li>
                            <li>
                                <a href="#">Donors</a>
                            </li>
                            <li>
                                <a href="#">Units</a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">Administrative Units</a>
                            </li>
                            <li>
                                <a href="#">FDPs</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Journals <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Journals</a>
                            </li>
                            <li>
                                <a href="#">Ledgers</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Translations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Languages</a>
                            </li>
                            <li>
                                <a href="#">Translation Terms</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Users")">Users</a>
                            </li>
                            <li>
                                <a href="#">Groups</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">System Logs <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Error Log</a>
                            </li>
                            <li>
                                <a href="#">Audit Log</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                   
            }

            <ul class="nav navbar-nav navbar-right">
                <li class="divider-vertical"></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-envelope"></span> Notification
                        <span class="badge badge-info">@Html.GetUnreadNotifications()</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.GetActiveNotifications()</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.GetUserName() <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Preference", "Home", new { Area = "" })">@Html.Translate("Preference")</a></li>
                        @if (currentUser.IsAdmin)
                        {
                            <li><a href="@Url.Action("Administration", "Account")">@Html.Translate("Administration")</a></li>
                            }
                        <li class="divider"></li>
                        <li><a id="linkChangePassword" href="#changePasswordModal" data-toggle="modal">@Html.Translate("Change Password")</a></li>
                        @*<li><a href="@Url.Action("ChangePassword", "Users", new { Area = "Settings" })">@Html.Translate("Change Password")</a></li>*@
                        <li><a id="linkLogout" href="@Url.RouteUrl("Logout")">@Html.Translate("Logout")</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div id="changePasswordModal" class="modal hide" style="display: none;">
    @using (Html.BeginForm("ChangePasswordAjax", "Users", new { Area = "Settings" }, FormMethod.Post, new { @class = "modal-form", id = "changePassword" }))
    {
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Change Password</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">
                        <label for="OldPassword">Old password:</label>
                    </div>
                    <div class="controls">
                        <input type="password" id="OldPassword" name="OldPassword" required="required" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        <label for="NewPassword">New password:</label>
                    </div>
                    <div class="controls">
                        <input type="password" id="NewPassword" name="NewPassword" required="required" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        <label for="ConfirmPassword">Retype password:</label>
                    </div>
                    <div class="controls">
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" required="required" />
                    </div>
                </div>
            </div>
            <div id="divChangePasswordMessage">
                Message
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Change password</button>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    }
</div>
<script>
    $('#reportMenuAnchor').click(function () {
        window.location = "@Url.Action("ReportListing", "Home", new { Area = "" })";
    });
</script>
<script>
    $(document).ready(function () {

        var allValidationRules = {
            OldPassword: "required",
            NewPassword: "required",
            ConfirmPassword: "required"

        };
        $("#changePassword").validate({
            rules: allValidationRules,
            showErrors: function (element, errorClass, validClass) {
                for (var i in errorClass) {
                    //$(errorClass[i].element).popover('show');
                }
            }
        });
        $("#linkChangePassword").click(function () {
            $("#OldPassword").val("");
            $("#NewPassword").val("");
            $("#ConfirmPassword").val("");
            $("#divChangePasswordMessage").html("");

        });

        $("#changePassword").submit(function () {
            var messages = [];
            var is_valid = true;
            var $form = $("#changePassword");

            if (!$("#OldPassword").val()) {
                messages.push("Please input your current password");
                is_valid = false;
            }
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                messages.push("Non Matching Paswords");
                is_valid = false;

            }
            var message = "";
            for (var i in messages) {

                message += "<div class='alert alert-error'>" + messages[i] + "</div>";


            }
            $("#divChangePasswordMessage").html(message);
            //alert($form.attr("action"));
            var formData = $form.serialize();
            console.log(formData);
            if (is_valid) {
                $.post($form.attr("action"), formData, function (data) {
                    var success = true;
                    console.log(data);
                    message = "";
                    for (var i in data) {

                        message += "<div class='alert alert-" + data[i].Key + "'>" + data[i].Value + "</div>";
                        if (data[i].Key == "error") {
                            success = false;
                        }
                    }
                    $("#divChangePasswordMessage").html(message);
                    if (success) {
                        setTimeout(function () {
                            $("#changePasswordModal").modal('hide');
                            window.location = $("#linkLogout").attr("href");
                        }, 1500);

                    }
                });
            }
            return false;
        });
    });
</script>
