@using Cats.Helpers
@using Cats.Models.Security;
@using Cats.Services.Security

@{
    var user = (UserIdentity)HttpContext.Current.User.Identity;
    var role = UserRoleHelper.GetUserRole(user.Profile.UserName);
}

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="~/">CATS</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="~/">Home</a></li>
                    @if(role=="EW" || role=="SU")
                    {
                    <li><a href="@Url.Action("Create", "HRD", new { Area = "EarlyWarning" })">HRD</a></li>

                    <li class="dropdown">
                        <!--
                        ************************************************************************************************ 
                            PLEASE WATCH THE SPACE BETWEEN TOP MENU ITEMS AND THE CARET
                        ************************************************************************************************
                        -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Request <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Request", new { Area = "EarlyWarning" })">Requests</a></li>                                                                                    
                            <li><a href="@Url.Action("Index", "ReliefRequisition", new { Area = "EarlyWarning" })">Requisitions</a></li>
                            <li><a href="@Url.Action("Index","Ration",new {Area="EarlyWarning"})">Rations</a></li>
                            <li class="divider"></li>
                            <li><a href="#"> Reports</a></li>
                        </ul>
                    </li>
                    }

                    @if(role=="LG" || role=="SU")
                    {
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Allocation <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ApprovedRequesitions", "HubAllocation", new { Area = "Logistics" })">Resource Allocation</a></li>
                            <li><a href="@Url.Action("Index", "TransportOrder", new { Area = "Procurement" })">Transport Orders</a></li>
                        </ul>
                    </li>
                    }
                    
                    <li><a href="#">Stock</a></li>
                    
                    @if(role=="PC" || role=="SU")
                    {
                       <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tender <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Bid", new { Area = "Procurement" })">Manage Bids</a></li>
                            <li><a href="@Url.Action("Index", "TransportBidPlan", new { Area = "Procurement" })">Bid Planning</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", "Transporter", new { Area = "Procurement" })">Transport Suppliers</a></li>
                            <li><a href="@Url.Action("Index", "RFQ", new { Area = "Procurement" })">RFQ</a></li>
                            <li><a href="@Url.Action("Index", "PriceQuotation", new { Area = "Procurement" })">Price Quotation</a></li>
                            <li><a href="@Url.Action("Index", "DispatchLocations", new { Area = "Procurement" })">Dispatch Locations</a></li>
                        </ul>
                    </li>
                    }                   
                    
                    <li><a href="#">Reports</a></li>
                    @if(role=="SU")
                    {
                        <li><a href="@Url.Action("Index", "AdminDashboard", new { Area = "Settings" })">Settings</a></li>
                    }                    
                </ul>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope icon-white"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>No new messages</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.GetUserName() <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Preference</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Change Password</a></li>
                            <li><a href="@Url.RouteUrl("Logout")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
