@using Cats.Helpers
@using Cats.Services.Security
@using LanguageHelpers.Localization


@{
   
    var user = (UserIdentity)HttpContext.Current.User.Identity;
    var role = UserRoleHelper.GetUserRole(user.Profile.UserName);
    var lang = user.Profile.LanguageCode;
    ViewBag.CurrentUser = user;
                        //  Translator.CurrentLanguage = lang;
                        //   Translator.LoadTexts();
}

<div class="navbar navbar-fixed-top navbar">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="~/">CATS</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <!--
                        ************************************************************************************************ 
                        PLEASE WATCH THE SPACE BETWEEN TOP MENU ITEMS AND THE CARET
                        ************************************************************************************************
                    -->                   

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Early Warning <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "GiftCertificate", new { Area = "EarlyWarning" })">@Html.Translate("Gift Certificate")</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index", "NeedAssessment", new { Area = "EarlyWarning" })">@Html.Translate("Needs Assessment")</a></li>
                                <li><a href="@Url.Action("Index", "HRD", new { Area = "EarlyWarning" })">@Html.Translate("HRD")</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index", "Request", new { Area = "EarlyWarning" })">@Html.Translate("Requests")</a></li>
                                <li><a href="@Url.Action("Index", "ReliefRequisition", new { Area = "EarlyWarning" })">@Html.Translate("Requisitions")</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index", "Ration", new { Area = "EarlyWarning" })">@Html.Translate("Rations")</a></li>
                                <li class="divider" />
                                <li><a href="#">@Translator.Translate("Reports") </a></li>
                            </ul>
                        </li>


                        <li><a href="@Url.Action("Index", "RegionalPSNPPlan", new { Area = "PSNP" })">@Html.Translate("PSNP")</a></li>    



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate("Logistics") <b class="caret"></b></a>

                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ApprovedRequesitions", "HubAllocation", new { Area = "Logistics" })">@Html.Translate("Resource Allocation") </a></li>
                                <li><a href="@Url.Action("Index", "TransportOrder", new { Area = "Procurement" })">@Html.Translate("Transport Orders") </a></li>
                                <li class="divider" />
                                <li><a href="#">@Html.Translate("Stock")</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Translate("Procurement") <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Bid", new { Area = "Procurement" })">@Html.Translate("Manage Bids")</a></li>
                                <li><a href="@Url.Action("Index", "TransportBidPlan", new { Area = "Procurement" })">@Html.Translate("Bid Planning")</a></li>
                                <li class="divider" />
                                <li><a href="@Url.Action("Index", "Transporter", new { Area = "Procurement" })">@Html.Translate("Transport Suppliers")</a></li>
                                <li><a href="@Url.Action("Index", "RFQ", new { Area = "Procurement" })">@Html.Translate("Request for Quotations (RFQ)")</a></li>
                                <li><a href="@Url.Action("Index", "PriceQuotation", new { Area = "Procurement" })">@Html.Translate("Price Quotation")</a></li>
                                <li><a href="@Url.Action("Index", "DispatchLocations", new { Area = "Procurement" })">@Html.Translate("Dispatch Locations")</a></li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("Index", "AdminDashboard", new { Area = "Settings" })">@Html.Translate("Settings")</a></li>
                    
                </ul>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope icon-white"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.Translate("Messages")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.GetUserName() <b class="caret"></b></a>
                        <ul class="dropdown-menu">                            
                            <li><a href="@Url.Action("Preference", "Home",new{Area=""})">@Html.Translate("Preference")</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("ChangePassword","Users",new {Area="Settings"})">@Html.Translate("Change Password")</a></li>
                            <li><a href="@Url.RouteUrl("Logout")">@Html.Translate("Logout")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
