@using Cats.Services.Security
@using Cats.Helpers
@using LanguageHelpers.Localization
@{
    var user = (UserIdentity)HttpContext.Current.User.Identity;
    var TargetController=ViewBag.TargetController;//?"RegionalPSNPPlan";
}
<div id="modalPromotion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <form style="margin:0;" action="@Url.Action("Promote", TargetController)" method="post">
        @if (ViewBag.TransporterID != null)
        {
            <input type="text" id="transporterID" name="transporterID" style="display: none" value="@ViewBag.TransporterID"/>
        }
        
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="modalPromotionLabel">@Html.Translate("Modal header")</h3>
        </div>
        <div class="modal-body">

            <div class="form-horizontal">

                <input type="hidden" name="ParentBusinessProcessID" id="ParentBusinessProcessID" class="input-xlarge" value="" />
                <input type="hidden" id="stateID" name="StateID" class="input-xlarge " />
                <input type="hidden" id="TransporterChequeID" name="TransporterChequeID" class="input-xlarge " />

                <div class="control-group" style="display: none;">
                    <div class="control-label">@Html.Translate("Date")</div>
                    <div class="controls">
                        <input  name="DatePerformed" class="input-xlarge cats-datepicker2" value="" />
                    </div>
                </div>
                
                <div class="control-group">
                    <div class="control-label">@Html.Translate("PerformedBy")</div>
                    <div class="controls">
                        <input readonly="readonly" name="PerformedBy" class = "input-xlarge" value="@user.Profile.UserName"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">@Html.Translate("Comment")</div>
                    <div class="controls">
                        <textarea rows="10" name="Comment" class="input-xlarge"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div id="promotionFooter" class="modal-footer">
            <button class="btn btn-primary" type="submit">@Html.Translate("Submit")</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">@Html.Translate("Cancel")</button>
        </div>
    </form>
</div>
<script>
    $("#modalPromotion").submit(function () {
        $("#promotionFooter").html("<div style='text-align:center;'> <img src='/content/images/loading.gif'/></div>");

    });
</script>
