@model Cats.Models.RequisitionViewModel

@{
    ViewBag.Title = "hubAllocation";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
 


<div class="container">
        <fieldset>
	        <legend>Hub Allocation</legend>
        </fieldset>
	    <div class="well">
	      <form id="hubAllocate" class="form-horizontal" method="post" action="SelectHub">
        
	        
            <div class="control-group">
	            <label class="control-label">Date</label>
	            <div class="controls">
	                <div class="input-prepend">
	               <span class="add-on"><i class="icon-th"></i></span>
	                    <input type="text" class="small" id="datepicker"  >
	                </div>
	            </div>
	        </div>
	        <div class="control-group ">
	            <label class="control-label">Allocation reference No</label>
	            <div class="controls">
                <div class="input-prepend">
	                 <span class="add-on"><i class="icon-th"></i></span>
	                    <input type="text" class="small" id="rNumber" name="rNumber" placeholder="Reference Number">
	                </div>
	            </div>
	        </div>
	        <div class="control-group">
	            <label class="control-label">Hubs</label>
	            <div class="controls">
	                <div class="input-prepend">
	               <select class="selectpicker">

	               </select>
                   
               </div>
            </div>
        </div>
    </form>
    </div>
 </div>
<div class="container">
    <table  class="table table-striped table-bordered">
    <tr>
       
        <td>
            @Html.Label("commodity")
        </td>
        <td>
            @Html.Label("Requisition No")
        </td>
        <td>
            @Html.Label("Requisition Date")
        </td>
        <td>
            @Html.Label("Aproved Date")
        </td>
        <td>
            @Html.Label("Amount")
        </td>
         <td>
            @Html.Label("Beneficaiaries")
        </td>
    </tr>
        

       
  @{int index = 0;}
@foreach (var item in Model._reliefRequisition)
{

    <tr>
        <td>
            @Html.CheckBox("requests")
        </td>
        <td>
            @item.Commodity
        </td>
        <td>
            @item.RequisitionNo
        </td>
        <td>
            @item.RequestedDate
        </td>
        <td>
            @item.ApprovedDate
        </td>
   
        <td>
          @ViewBag.Detail[index].Amount
        </td>
         <td>
            @ViewBag.Detail[index].Beneficiaries
        </td>
    
        </tr>
            index++;
        }
        
    </table>
     </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "")
</p>
   