@model Cats.Models.Hub.Donor
@using Cats.Web.Hub.Helpers
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.DonorID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name) <span class="required">*</span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.Translate("Donor Code") <span class="required">*</span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DonorCode)
            @Html.ValidationMessageFor(model => model.DonorCode)
        </div>
    
    <div class="editor-label">
            @Html.Translate("Long Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LongName)
            @Html.ValidationMessageFor(model => model.LongName)
        </div>
    
    
        <div class="editor-label">
            @Html.Translate("Responsible Donor")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsResponsibleDonor)
            @Html.ValidationMessageFor(model => model.IsResponsibleDonor)
        </div>

        <div class="editor-label">
           @Html.Translate("Source Donor")
        </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IsSourceDonor)
        @Html.ValidationMessageFor(model => model.IsSourceDonor)
    </div>
    
}

