@using Cats.Services.Security
@model IList<Cats.Models.RequisitionViewModel>
@{
    ViewBag.Title = "PC/SI Assignment";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{
    
    var user = (UserIdentity)System.Web.HttpContext.Current.User.Identity;
    var unitPreference = user.Profile.PreferedWeightMeasurment;
}
    
    <script>
        function message() {
            var theForm = document.forms['frmHub'];
            
            var objOne = document.getElementById("PCCode");
            if (objOne.selectedIndex == 0) {
                alert("hhh");
                return false;
            }
            else {
                theForm.submit();
                return true;
            }
        }
    </script>
<script>
    $(document).ready(function () {

        $('#frmHub').validate(
            {
                rules: {
                    datepicker: {
                        required: true
                    },
                    PCodeqty: {
                        number: true,
                        min: 0
                        
                    },
                    SICodeqty: {
                        number: true,
                        min: 0
                    }
                   
                },
                submitHandler: function(form) {

                    var siQty = 0;
                    var pcQty=0;
                    

                    pcQty = parseInt($("#PCodeqty").val());
                    siQty = parseInt($("#SICodeqty").val());
                    

                    if ($("#PCodeqty").val()=='') {
                        pcQty = 0;
                        
                    }
                    if ($("#SICodeqty").val()=='') {
                        siQty = 0;
                        

                    }

                    
                    
                    var total = pcQty + siQty;
                    //alert(pcQty + "," + siQty + "," + total + "," + parseInt($("#Remaining").val()));

                    
                    if (total > parseInt($("#Remaining").val())) {
                        var error = document.getElementById("Notification");
                        if (error.style.display == "none") {
                            error.style.display = "block";
                        }
                       
                       
                             return false;
                    }
                    else form.submit();
                    return true;
                },
                
                highlight: function (element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                success: function (element) {
                    element
                        .closest('.control-group').removeClass('error').addClass('success');
                }
            });
        
       
        
       

    }); 
      </script>



@using (Html.BeginForm("SaveProjectAllocation", "ProjectAllocation", FormMethod.Post, new { name = "frmHub", id = "frmHub" }))
{
    <fieldset>
        <legend>Projec Code/SI Assignment</legend>
    </fieldset>
    
    <input type="hidden" value="@ViewBag.ReqId" name="RequisitionId" />
    
    <div class="alert alert-block" id="Notification" style="display: none" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error!</h4>
    The amount allocated can not be greater than the remaining quantity
</div>
    
    
    
    <h5 align="right"> Metric: @unitPreference </h5>
    <div class="form-horizontal well">
       
        <div class="row">
            <div class="span4">
                <div class="control-group">
                    @Html.Label("Requested Amount", new { @class = "control-label" }) 
                    <div class="controls">
                        <input type="text" class="icon-file-text-alt" id="Requested" name="Requested" value="@ViewBag.RequetedAmount" readonly="readonly" />    
                    </div>
                </div>
            </div>
           
            
            <div class="span4">
                <div class="control-group">
                    @Html.Label("Hub", new { @class = "control-label" }) 
                    <div class="controls">
                        @Html.Hidden("hub")
                        <input type="text" id="hub" name="hub" value="@ViewBag.Hub" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="span4">
                <div class="control-group">
                    @Html.Label("Reamining", new { @class = "control-label" }) 
                    <div class="controls">
                        @Html.Hidden("reamaining")
                        <input type="text" id="Remaining" name="Remaining" value="@ViewBag.Remaining" readonly="readonly"/>
                    </div>
                </div>
            </div>
             
            <div class="span4">
                <div class="control-group">
                    @Html.Label("Date", new { @class = "control-label" }) 
                    <div class="controls">
                        <input type="text" class="cats-datepicker" id="datepicker" name="datepicker" >
                    </div>
                </div>
            </div>
        </div>
        
        <fieldset>
            <legend></legend>

        
        <div class="row" >
            <div class="span4">
                <div class="control-group ">
                    <label class="control-label">Project Code</label>
                    <div class="controls">
                        @Html.Hidden("PC")
                        @Html.DropDownList("PCCode", ViewBag.PC as SelectList, "Select PC", new { id = "ProjectCodeID" })
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">PC Quantity</label>
                    <div class="controls">
                       @Html.Hidden("PCQty")
                        <input type="text" id="PCodeqty" name="PCodeqty" />
                    </div>
                </div>

            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label">SI Code</label>
                    <div class="controls">
	                
                        @Html.Hidden("SI")
                        @Html.DropDownList("SICode", ViewBag.SI as SelectList, "Select SI", new { id = "ShippingInstructionID" })
                      </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">SI Quantity</label>
                    <div class="controls">
                        @Html.Hidden("SIQty")
                        <input type="text" id="SICodeqty" name="SICodeqty" />
                    </div>
                </div>
            </div>
        </div>
       </fieldset>
        
       
    </div>
    
    <br/>
    
    <input hidden=""/>
     <button type="submit" class="btn btn-primary">
  <i class="icon-user icon-white"></i> Assign
</button>
}

<script  >
    $(document).ready(function () {
        // storing selected value to hidden field
        $("#SI").val($("#ShippingInstructionID").val());
        $("#PI").val($("#ProjectCodeID").val());
        $("#PCQty").val($("#PCodeqty").val());
        $("#SIQty").val($("#SICodeqty").val());
        $("#HubId").val($("#hub").val());

    
    })


</script>

< <script type="text/javascript">
      $(document).ready(function () {
          //Dropdownlist Selectedchange event
          var SItext;
          var ProjectCodetext;
          $('#ShippingInstructionID').change(function () {
              // Get Dropdownlist seleted item text
                SItext = $("#ShippingInstructionID option:selected").text();
              alert(text);
              // Get Dropdownlist selected item value
              var sIvalue = $("#ShippingInstructionID").val();
              alert(sIvalue);
              

             
          })
          
          $('#ProjectCodeID').change(function () {
              // Get Dropdownlist seleted item text
               ProjectCodetext = $("#ProjectCodeID option:selected").text();
              alert(text);
              // Get Dropdownlist selected item value
              var projectCodevalue = $("#ProjectCodeID").val();
              alert(projectCodevalue);


             
          })
          
          if (SItext == "Select SI" && ProjectCodetext == "Selected Project code") {
              alert("Please select Project code or SI ")
              return false;
          }
          return true
      });
</script>