@model IEnumerable<Cats.Models.DispatchAllocation>

@{
    ViewBag.Title = "DispatchDetail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@using (Html.BeginForm("Edit", "ReliefRequisition", FormMethod.Post))
{
    <table class="table table-bordered table-condensed table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequisitionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommodityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HubID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingInstructionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCodeID)
            </th>
            <th></th>
        </tr>
        @{ int index = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Label("input[" + index + "].RequisitionNo", item.RequisitionNo, new { @style = "width:80%; border:none; !important;" })
                </td>
                <td>
                    @Html.TextBox("input[" + index + "].CommodityID", item.CommodityID, new { @style = "width:80%; border:none; !important;" })
                </td>
                <td>
                    @Html.TextBox("input[" + index + "].HubID", item.HubID, new { @style = "width:80%; border:none; !important;" })
                </td>
                <td>
                    @Html.TextBox("input[" + index + "].Beneficiery", item.Beneficiery, new { @style = "width:80%; border:none; !important;" })
                </td>
                <td>
                    @Html.TextBox("input[" + index + "].Amount", item.Amount, new { @style = "width:80%; border:none; !important;" })
                </td>
                <td>
                    @Html.TextBox("input[" + index + "].Unit", item.Unit, new { @style = "width:80%; border:none; !important;" })
                </td>
                <td>
                    @Html.TextBox("input[" + index + "].ShippingInstructionID", item.ShippingInstructionID, new { @style = "width:80%; border:none; !important;" })
                </td>
                <td>
                    @Html.TextBox("input[" + index + "].ProjectCodeID", item.ProjectCodeID, new { @style = "width:80%; border:none; !important;" })
                </td>
                
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})*@
                </td>
            </tr>
            index++;
        }

    </table>
    <p>
        <input class="btn btn-success" type="submit" value="Submit Request" />
    </p>
}
