
@using Kendo.Mvc.UI
@model LanguageHelpers.Localization.Models.LocalizedText

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section LeftBar
{
   
@Html.Partial("_TranslationLeftBar");
   
}
<div class="well"><h3>Create new Language</h3></div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="well form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.LanguageCode)
                </div>
                <div class="controls">
                    @Html.DropDownList("LanguageCode",String.Empty)
                    @Html.ValidationMessageFor(m=>m.LanguageCode)
                </div>
        
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.TextKey)
                </div>
                <div class="controls">
                   @Html.TextAreaFor(m => m.TextKey)
                    @Html.ValidationMessageFor(m=>m.TextKey)
                </div>
        
            </div>
             <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.Value)
                </div>
                <div class="controls">
                   @Html.TextAreaFor(m => m.Value)
                    @Html.ValidationMessageFor(m=>m.Value)
                </div>
        
            </div>
            
            <div class="control-group">      
                <div class="controls">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>

        </div>
    }
 


