@model LanguageHelpers.Localization.Models.LocalizedText

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section LeftBar
{
   
@Html.Partial("LanguageLeftBar");
     
}
<div class="well"><h4>Create new Translation</h4></div>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="well form-horizontal">

        <div class="editor-label">
            @Html.LabelFor(model => model.LanguageCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LanguageCode)
            @Html.ValidationMessageFor(model => model.LanguageCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TextKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TextKey)
            @Html.ValidationMessageFor(model => model.TextKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TranslatedText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TranslatedText)
            @Html.ValidationMessageFor(model => model.TranslatedText)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </div>
}
