@using LanguageHelpers.Localization
@model Cats.Models.UtilizationHeader
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

<h2>Create</h2>

@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_utilization" title="Save"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "Utilization")" title="Cancel"></a>
}

@using (Html.BeginForm("Create", "Utilization", FormMethod.Post, new { id = "frm_create_utilization" }))
{
   
    <div class="well form-horizontal">
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <div class="control-label">
                        @Html.Label(Translator.Translate("Region"))
                    </div>
                    <div class="controls" id="div_region">
                        @Html.DropDownList("Region",ViewBag.Region as SelectList,new {@id="RegionID"})
                    </div>

                </div>
            </div> 
            <div class="span4">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(m=>m.FemaleLessThan5Years,Translator.Translate("FemaleLessThan5Years"))
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(m=>m.FemaleLessThan5Years)
                        @Html.ValidationMessageFor(m=>m.FemaleLessThan5Years)
                    </div>

                </div>
                </div>
        </div>
        
        <div class="row">
            <div class="span6"> 
                <div class="control-group">
                    <div class="control-label">
                        @Html.Label(Translator.Translate("Zone"))
                    </div>
                    <div class="controls" id="div_zone">
                        @Html.DropDownList("Zone",ViewBag.Zone as SelectList,new {@id="ZoneID"})
                    </div>

                </div> 
            </div>
            <div class="span4">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(m=>m.MaleLessThan5Years,Translator.Translate("MaleLessThan5Years"))
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(m=>m.MaleLessThan5Years)
                        @Html.ValidationMessageFor(m=>m.MaleLessThan5Years)
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <div class="control-label">
                        @Html.Label(Translator.Translate("Woreda"))
                    </div>
                    <div class="controls"  id="div_woreda">
                        @Html.DropDownList("Woreda",ViewBag.Woreda as SelectList,new {@id="WoredaID"})
                        @Html.ValidationMessageFor(m=>m.WoredaID)
                    </div>

                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(m=>m.FemaleBetween5And18Years,Translator.Translate("FemaleBetween5And18Years"))
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(m=>m.FemaleBetween5And18Years)
                        @Html.ValidationMessageFor(m=>m.FemaleBetween5And18Years)
                    </div>

                </div>
                </div>
        </div>
        
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <div class="control-label">
                        @Html.Label(Translator.Translate("Program"))
                    </div>
                    <div class="controls">
                        @Html.DropDownList("ProgramID",String.Empty)
                    </div>

                </div>
            </div>
            <div class="span4">
            <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m=>m.MaleBetween5And18Years,Translator.Translate("MaleBetween5And18Years"))
            </div>
            <div class="controls">
                @Html.TextBoxFor(m=>m.MaleBetween5And18Years)
                @Html.ValidationMessageFor(m=>m.MaleBetween5And18Years)
            </div>
                </div>
        </div>


        </div> 
        <div class="row"> 
            
            <div class="span6"> 
                <div class="control-group">
                    <div class="control-label">
                        @Html.Label(Translator.Translate("Support Type"))
                    </div>
                    <div class="controls">
                        @*@Html.DropDownList("SupportTypeID",String.Empty)*@
                    </div> 
                </div> 
                 </div>
                <div class="span4">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(m=>m.FemaleAbove18Years,Translator.Translate("FemaleAbove18Years"))
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(m=>m.FemaleAbove18Years)
                            @Html.ValidationMessageFor(m=>m.FemaleAbove18Years)
                        </div>

                    </div>

                </div>
           

        </div>
        <div class="row"> 
       <div class="span6">
        <div class="control-group">
            <div class="control-label">
                @Html.Label(Translator.Translate("Actual Beneficiary"))
            </div>
            <div class="controls">
                @*@Html.TextBoxFor(m=>m.a)*@
            </div>

        </div>
       </div>
       
            <div class="span4">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(m=>m.MaleAbove18Years,Translator.Translate("MaleAbove18Years"))
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(m=>m.MaleAbove18Years)
                        @Html.ValidationMessageFor(m=>m.MaleAbove18Years)
                    </div>

                </div> 
            </div>
            </div>
        </div>
}

<script>

    var admin_region_hash = {};
    var admin_zone_hash = {};
    
    $(function() {
        $.getJSON("@Url.Action("GetAdminUnits", "Utilization", new { Area = "Logistics" })", {}, function(data) {
            
            document.getElementById("ZoneID").disabled = true;
            document.getElementById("WoredaID").disabled = true;

            var msg = "";
            for (var i in data) {
                msg += "\n" + data[i].RegionName;
                var key = data[i].RegionID;
                admin_region_hash[key] = data[i];

                var count = data[i].Zones.length;
                
                for (var j=0; j<count;j++){
                    var keyz = data[i].Zones[j].ZoneID;
                    admin_zone_hash[keyz] = data[i].Zones[j].Woredas;
                }
            }
        });

        $("#RegionID").change(function() {
            var regionId = $("#RegionID").val();
            var region = admin_region_hash[regionId];
            var zones = region.Zones;
            document.getElementById("ZoneID").disabled = false;
           
            //var msg = "";
            var htm = "<select name='Zone' id ='ZoneID' > ";
            for (var z in zones) {
                //htm += "<option value='" + zones[z].AdminUnitID + "'>" + zones[z].Name + "</option>";
                htm += "<option value='" + zones[z].ZoneID + "'>" + zones[z].ZoneName + "</option>";
                //msg += "\n" + zones[z].ZoneName;
            }

            htm += "</select>";
            $("#div_zone").html(htm);
            
            $("#ZoneID").change(function () {
                popoulateWoredas();
            });
        });

        function popoulateWoredas() {
            document.getElementById("WoredaID").disabled = false;
            var zoneId = $("#ZoneID").val();
            //alert(zoneId);
            var woredas = admin_zone_hash[zoneId];
            var s = "<select id ='WoredaID' name='Woreda' >";
            for (w in woredas) {
                s += "<option value='" + woredas[w].WoredaID + "'>" + woredas[w].WoredaName + "</option>";
            }
            s += "</select>";
            $("#div_woreda").html(s);
        }
        
        $("#ZoneID").change(function () {
            popoulateWoredas();
        });
      });
</script>
