@using Cats.Models.Constant
@using Kendo.Mvc.UI
@using Cats.Helpers

@*@model List<Cats.Models.Plan>*@

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    const string PAGE_NAME = "EarlyWarning.Plan.Index";    
}


@section Toolbar
{
    <a data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "Plan")"></a>
}

<div>
    <h4>List of Plans</h4>
</div>

@section LeftBar{

   @Html.Partial("_PlanLeftBar")
}

@(Html.Kendo().Grid<Cats.Areas.EarlyWarning.Models.PlanViewModel>()
    .Name("grid")
    .Columns(columns =>
        {
            columns.Bound(p => p.planName);
            columns.Bound(p => p.StartDate);
            columns.Bound(p => p.EndDate);
            columns.Bound(p => p.Program);
            //columns.Bound(p => p.StatusID);
            columns.Bound(p => p.Status);

            columns.Command(m =>
                {
                    m.Custom("Edit").Click("onEdit");
                    if (ViewBag.Status == (int)PlanStatus.HRDCreated || ViewBag.Status == (int)PlanStatus.PSNPCreated)
                    {
                        m.Custom("Close").Click("onClose");
                    }
                    

                });

        })
            .Scrollable()
            .HtmlAttributes(new { style = "height:430px;" })
            .DataSource(dataSource => dataSource
                  .Ajax()
                    .Model(model => model.Id(p => p.planID))
                    .Read(read => read.Action("plan_Read", "Plan",new{id=ViewBag.Status}))
             ))

<script>
    function onEdit(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "@Url.Action("Edit", "Plan")" + "/" + dataItem.planID;

    }

    function onClose(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "@Url.Action("ClosePlan", "Plan")" + "/" + dataItem.planID;
  
    }
</script>