@using Kendo.Mvc.UI
@using Kendo.Mvc.UI
@using Cats.Models.PSNP
@using Cats.Models
@using Cats.Services.Security;
@using Cats.Helpers
@model IEnumerable<PaymentRequest>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{
    int index = 0;
}
<html data-ng-app="PaymentRequestManagementModule">
    <body data-ng-controller="PaymentRequestManagementController">
        <div id="modalLabourCostInfo">
            <div class="form-horizontal well" style=" padding-left: 40px;margin-left:0px;width:400px;height:250px;float: right;">
                
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="PaymentRequest_RequestedAmount">Requested Amount(In QTL)</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{SelectedLabourInfo.RequestedAmount}}" name="PaymentRequest.RequestedAmount" id="PaymentRequest_RequestedAmount" 
                                       data-ng-model="SelectedLabourInfo.RequestedAmount" disabled="disabled"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="PaymentRequest_LabourCostRate">Labour Cost Rate (per QTL)</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{SelectedLabourInfo.LabourCostRate}}" name="PaymentRequest.LabourCostRate" id="PaymentRequest_LabourCostRate" 
                                       data-ng-model="SelectedLabourInfo.LabourCostRate" data-ng-keypress="labourCostRateKeyPressed()"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="PaymentRequest_LabourCost">Labour Cost</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{SelectedLabourInfo.LabourCost}}" name="PaymentRequest.LabourCost" id="PaymentRequest_LabourCost" 
                                       data-ng-model="SelectedLabourInfo.LabourCost" disabled="disabled"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6" style="width:400px;">
                        <div class="control-group message-box" style="float: left;"></div>
                        <div class="control-group" style="float: right;">
                            <button class="btn" data-ng-click="editLabourCostInfo()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var wndLabourCostInfo;
            $(document).ready(function () {
                wndLabourCostInfo = $("#modalLabourCostInfo").kendoWindow({
                    title: "Edit Labour Cost Info.",
                    modal: true,
                    visible: false,
                    resizable: false,
                    width: 500,
                    height: 300
                }).data("kendoWindow");
            });
        </script>
        <div id="modalChequeInfo">
            <div class="form-horizontal well" style=" padding-left: 40px;margin-left:0px;width:400px;height:350px;float: right;">
                
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="CheckInfo_CheckNo">Check No.</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{SelectedCheckInfo.CheckNo}}" name="CheckInfo.CheckNo" id="CheckInfo_CheckNo" 
                                       data-ng-model="SelectedCheckInfo.CheckNo"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="CheckInfo_Amount">Amount</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{SelectedCheckInfo.Amount}}" name="CheckInfo.Amount" id="CheckInfo_Amount" 
                                       data-ng-model="SelectedCheckInfo.Amount"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="CheckInfo_PreparedBy">Prepared By</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{SelectedCheckInfo.PreparedBy}}" name="CheckInfo.Amount" id="CheckInfo_PreparedBy" 
                                       data-ng-model="SelectedCheckInfo.PreparedBy"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="CheckInfo_AppovedBy">Appoved By</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{SelectedCheckInfo.AppovedBy}}" name="CheckInfo.AppovedBy" id="CheckInfo_AppovedBy" 
                                       data-ng-model="SelectedCheckInfo.AppovedBy"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="CheckInfo_AppovedDate">Appoved Date</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{SelectedCheckInfo.AppovedDate}}" name="CheckInfo.AppovedDate" id="CheckInfo_AppovedDate" 
                                       data-ng-model="SelectedCheckInfo.AppovedDate"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="control-group">
                            <div class="control-label">
                                <label for="CheckInfo_BankName">Bank Name</label>
                            </div>
                            <div class="controls">
                                <input type="text" value="{{SelectedCheckInfo.BankName}}" name="CheckInfo.BankName" id="CheckInfo_BankName" 
                                       data-ng-model="SelectedCheckInfo.BankName"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6" style="width:400px;">
                        <div class="control-group message-box" style="float: left;"></div>
                        <div class="control-group" style="float: right;">
                            <button class="btn" data-ng-click="editChequeInfo()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var wndChequeInfo;
            $(document).ready(function () {
                wndChequeInfo = $("#modalChequeInfo").kendoWindow({
                    title: "Edit Labour Cost Info.",
                    modal: true,
                    visible: false,
                    resizable: false,
                    width: 500,
                    height: 450
                }).data("kendoWindow");
            });
        </Script>
        <h3>Payment Request</h3>

        <table class="table table-striped">
            <tr>
                <th>@Html.DisplayNameFor(model => model.ReferenceNo)</th>
                <th>Transporter</th>
                <th>Transport Order</th>
                <th>Requested Amount</th>
                <th>Status</th>
                <th>Actions</th>
                <th></th>
            </tr>

            @foreach (PaymentRequest item in Model)
            {
                index++;
                var state = item.BusinessProcess.CurrentState.BaseStateTemplate;
                //if (state.Name == "Approved by finance" || state.Name == "Cheque Issued" || state.Name == "Cheque Cashed")
                //{
                <tr>
                    <td>
                        @item.ReferenceNo
                    </td>
                    <td>
                        <a href="@Url.Action("TransporterDetail", "ValidatedPaymentRequest", new {transporterID = item.TransportOrder.Transporter.TransporterID})">
                            @item.TransportOrder.Transporter.Name
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("TransportOrderDetail", "ValidatedPaymentRequest", new {transportOrderID = item.TransportOrder.TransportOrderID})">
                            @item.TransportOrder.TransportOrderNo
                        </a>
                    </td>
                    <td>
                        @item.RequestedAmount
                    </td>
                    <td>
                        @state.Name
                    </td>
                    <td>
                        <a href="@Url.Action("ViewContractAgreement", "ValidatedPaymentRequest", new { transporterID = item.TransportOrder.Transporter.TransporterID })">Contract Agreement</a> &nbsp;&nbsp;
                        <button class="btn" ng-click="loadLabourCost(@item.PaymentRequestID)">Labour Cost</button>
                        @*<a href="@Url.Action("LabourCost", "ValidatedPaymentRequest")">Labour Cost</a>*@
                        @if (@state.StateNo == 4)
                        {
                            <button class="btn" ng-click="loadChequeInfo(@item.PaymentRequestID)">Cheque Info.</button>
                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn edit_button" id="action_@index">Workflow</button>
                            <button class="btn  dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                @foreach (FlowTemplate actions in state.InitialStateFlowTemplates)
                                {
                                    <li class="edit_button"><a href="javascript:promot_workflow(@item.BusinessProcessID ,@actions.FinalStateID,'@actions.Name',@item.PaymentRequestID)" title="@actions.Name">@actions.Name</a></li>            
                                }
                                <li class="divider"></li>
                                <li class="edit_button"><a href="javascript:workflow_history(@item.BusinessProcessID)">History</a></li>
                            </ul>
                        </div>


                    </td>
                </tr> 
                //}

            }
        </table>

        <div id="modalHistory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="width:600px;" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="modalHistoryLabel">Activity History</h4>
            </div>
            <div class="modal-body" id="modalHistoryBody">History</div>

        </div>
        @Html.Partial("~/Views/Shared/_PromotWorkflow.cshtml")
        <script>
            var history_link = "@Url.Action("History", "BusinessProcess", new { Area = "WorkflowManager", id = "0" })";

            function promot_workflow(BusinessProcessID, nextstate, actionname) {
                $('#ParentBusinessProcessID').val(BusinessProcessID);
                $('#stateID').val(nextstate);
                $('#modalPromotionLabel').html(actionname);

                $('#modalPromotion').modal();
            }
            function workflow_history(BusinessProcessID) {
                $('#modalHistory').modal();
                $('#modalHistoryBody').html("<div style='text-align:center;'> <img src='/content/images/loading.gif'/></div>");
                $.post(history_link + BusinessProcessID, {},
                    function (data) {
                        $("#modalHistoryBody").html(data);
                    }
                );

            }
        </script>

        <script>
            angular.module('PaymentRequestManagementModule', []).controller('PaymentRequestManagementController', function ($scope, $http) {
                $scope.SelectedLabourInfo = [];
                $scope.SelectedCheckInfo = [];

                $scope.loadLabourCost = function(id) {
                    var paymentRequestId = { "paymentRequestID": id };
                    //$("#" + dispatchId).addClass("selected");
                    //alert(paymentRequestId);
                    $http.post(rootDir + 'ValidatedPaymentRequest/LoadLabourCost/', paymentRequestId).
                        success(function(data, status, headers, config) {
                            //alert(data["ReceivedBy"]);
                            $scope.SelectedLabourInfo = data;
                            //$scope.GRNDetail.DispatchID = id;
                        }).
                        error(function(data, status, headers, config) {
                            alert("#ERROR - Can't load the GRN for the selected dispatch.");
                        });
                    wndLabourCostInfo.center().open();
                };

                $scope.editLabourCostInfo = function () {
                    //alert("ReceivedBy: " + $scope.GRNDetail.ReceivedBy);
                    if ($scope.SelectedLabourInfo != []) {
                        $http.post(rootDir + 'ValidatedPaymentRequest/EditLabourCostInfo/', $scope.SelectedLabourInfo).
                            success(function(data, status, headers, config) {
                            }).
                            error(function (data, status, headers, config) {
                                alert(error);
                            });
                    } else {
                    }
                };
                
                $scope.loadChequeInfo = function (id) {
                    var paymentRequestId = { "paymentRequestID": id };
                    //$("#" + dispatchId).addClass("selected");
                    //alert(paymentRequestId);
                    $http.post(rootDir + 'ValidatedPaymentRequest/LoadCheque/', paymentRequestId).
                        success(function (data, status, headers, config) {
                            //alert(data["ReceivedBy"]);
                            $scope.SelectedCheckInfo = data;
                            //$scope.GRNDetail.DispatchID = id;
                        }).
                        error(function (data, status, headers, config) {
                            alert("#ERROR - Can't load the GRN for the selected dispatch.");
                        });
                    wndChequeInfo.center().open();
                };

                $scope.editChequeInfo = function () {
                    //alert("ReceivedBy: " + $scope.GRNDetail.ReceivedBy);
                    if ($scope.SelectedCheckInfo != []) {
                        $http.post(rootDir + 'ValidatedPaymentRequest/EditChequeInfo/', $scope.SelectedCheckInfo).
                            success(function (data, status, headers, config) {
                            }).
                            error(function (data, status, headers, config) {
                                alert(error);
                            });
                    } else {
                    }
                };
            });

        </script>
    </body>
</html>