@using Cats.Areas.Finance.Models
@using Kendo.Mvc.UI
@using Kendo.Mvc.UI
@using Cats.Models.PSNP
@using Cats.Models
@using Cats.Services.Security;
@using Cats.Helpers
@using FluentAssertions
@model IEnumerable<Cats.Areas.Finance.Models.TransporterPaymentRequestViewModel>
@{
    ViewBag.Title = Html.Translate("Index");
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    int index = 0;
    var transportOrderViewModel = ViewBag.TransportOrderViewModel;
    ViewBag.PageTitle = " Payment Request";
    ViewBag.PageTitleDescription = " of " + @transportOrderViewModel.Transporter + " Transporter";
}

@section Toolbar
{
    
   <div id="dashboard-report-range" class="pull-right tooltips" data-placement="top" data-original-title="Actions Toolbar">
    <div class="btn-group">
        @*<button class="btn"> @Html.Translate("Action")</button>*@
        @{
            if (ViewBag.ApprovedPRCount > 0)
            {
                <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-horizontal"></i> @Html.Translate("Action") <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a class="btn green-haze-stripe" href="#" data-ng-click="loadCollectiveChequeInfo(@ViewBag.TransportOrderViewModel.TransporterID,'@ViewBag.ReferenceNo');"> @Html.Translate("Generate Cheque")</a></li>
                    <li>@*<a href="@Url.Action("Print", "Home", new { Area = "Finance", id = ViewBag.TransportOrderViewModel.TransporterID })" >Print Transporter Payment Request Letter</a>*@</li>
                </ul>
            }
            else
            {
                @*<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-horizontal"></i> @Html.Translate("Action") <i class="fa fa-angle-down"></i>
                    </button>*@
                <ul class="dropdown-menu pull-right">
                    <li>@*<a href="@Url.Action("Print", "Home", new { Area = "Finance", id = ViewBag.TransportOrderViewModel.TransporterID })" >Print Transporter Payment Request Letter</a>*@</li>
                </ul>
            }
        }
        @*<button style="margin-left: 4px;" class="btn" onclick="print_payment_request()">Print</button>*@
    </div>
</div>

    <script type="text/javascript">
        function print_payment_request() {
            var refNo = $("#filter").val();
            var programName = $("#program_filter").val();
            var urlName = "@Url.Action("PrintPaymentRequest", "ValidatedPaymentRequest", new { transporterId = ViewBag.TransportOrderViewModel.TransporterID })";
            var finalurl = urlName + "&refno=" + refNo + "&programname=" + programName;
            window.location.href = finalurl;
        }
    </script>
}
@{
    
}
<html data-ng-app="PaymentRequestManagementModule">
    <head>
        <style>
            .errorText {
                color: red;
            }

            #messageboxPayDeduct {
                color: springgreen;
                font-weight: bold;
                font-size: 16px;
            }

            #messageboxPayDeductCheque {
                color: springgreen;
                font-weight: bold;
                font-size: 16px;
            }

            .form-control {
                font-weight: bold;
            }

            .k-header {
                height: auto;
            }

            .k-window-titlebar {
                height: auto;
            }

            .margin-bottom-0 {
                margin-bottom: 0px;
            }

            #paymentrequesttable.table > tbody > tr > td, #paymentrequesttable.table > tbody > tr > th, #paymentrequesttable.table > tfoot > tr > td, #paymentrequesttable.table > tfoot > tr > th, #paymentrequesttable .table > thead > tr > td, #paymentrequesttable.table > thead > tr > th {
                white-space: nowrap;
            }
        </style>
    </head>
    <body data-ng-controller="PaymentRequestManagementController">
        @*<div id='dialogDiv' class='modal hide fade in'>
            
        </div>*@
       

        <div class="portlet light bordered ">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="fa fa-truck font-green-sharp"></i> Transporter Details
                </div>
                <div class="tools">
                    <a href="#" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@Html.Translate("Transport Order No.")</label>
                                    <div class="col-md-4">
                                        <a class="form-control" href="@Url.Action("TransportOrderDetail", "ValidatedPaymentRequest", new {transportOrderID = transportOrderViewModel.TransportOrderID})">
                                            @transportOrderViewModel.TransportOrderNo
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.Translate("Transporter")</label>
                                    <div class="col-md-6">
                                        <a id="transporterName" class="form-control tooltips" data-placement="bottom" data-original-title="@transportOrderViewModel.Transporter" href="@Url.Action("TransporterDetail", "ValidatedPaymentRequest", new {transporterID = transportOrderViewModel.TransporterID})">@transportOrderViewModel.Transporter</a>
                                        <script>
                                            $(function () {
                                                var transName = $("#transporterName").html();
                                                if (transName.length >= 40) {
                                                    transName = transName.substr(0, 35) + "...";
                                                    $("#transporterName").html(transName);
                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@Html.Translate("Contract N0.")</label>
                                    <div class="col-md-7">
                                        <label class="form-control" id="ContractNumber">@transportOrderViewModel.ContractNumber</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.Translate("Order Date")</label>
                                    <div class="col-md-3">
                                        <label class="form-control" id="OrderDateET">@transportOrderViewModel.OrderDateET</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@Html.Translate("Requested Dispatch Date")</label>
                                    <div class="col-md-3">
                                        <label class="form-control" id="RequestedDispatchDateET">@transportOrderViewModel.RequestedDispatchDateET</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.Translate("Order Expiry Date")</label>
                                    <div class="col-md-3">
                                        <label class="form-control" id="OrderExpiryDateET">@transportOrderViewModel.OrderExpiryDateET</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@Html.Translate("Start Date")</label>
                                    <div class="col-md-3">
                                        <label class="form-control" id="StartDate">@transportOrderViewModel.StartDate</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.Translate("End Date")</label>
                                    <div class="col-md-3">
                                        <label class="form-control" id="EndDate">@transportOrderViewModel.EndDate</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="portlet light bordered ">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="fa fa-credit-card font-green-sharp"></i> @Html.Translate("Payment Requests")
                </div>
                <div class="tools">
                    <a href="#" class="collapse" data-original-title="" title="">
                    </a>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body form">
                
                    <div class="table-responsive">
                        <div class="table-toolbar">
                            <label for="filter" class="filter_label"><strong> @Html.Translate("Reference No.")</strong></label>
                            <input type="text" name="filter" value="" id="filter" />
                        </div>
                        <table class="table table-striped table-condensed" id="paymentrequesttable">
                            <thead>
                                <tr>
                                    <th> @Html.Translate("SNo.")</th>
                                    <th> @Html.Translate("Reference No.")</th>
                                    <th> @Html.Translate("Program")</th>
                                    <th> @Html.Translate("Requisition")</th>
                                    <th> @Html.Translate("Issue No.")</th>
                                    <th> @Html.Translate("G.R.N.")</th>
                                    <th> @Html.Translate("Commodity")</th>
                                    <th> @Html.Translate("Source")</th>
                                    <th> @Html.Translate("Destination")</th>
                                    <th> @Html.Translate("Received Qty.")</th>
                                    <th> @Html.Translate("Tarrif")</th>
                                    <th> @Html.Translate("Shortage Qty.")</th>
                                    <th> @Html.Translate("Shortage Birr")</th>
                                    <th> @Html.Translate("Freight Charge")</th>
                                    <th> @Html.Translate("Status")</th>
                                    <th> @Html.Translate("Actions")</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int sno = 0;}
                                @foreach (TransporterPaymentRequestViewModel item in Model)
                                {
                                    index++;
                                    sno++;
                                    var state = item.BusinessProcess.CurrentState.BaseStateTemplate;
                                    //if (state.Name == "Approved by finance" || state.Name == "Cheque Issued" || state.Name == "Cheque Cashed")
                                    //{

                                    <tr>
                                        <td>
                                            @sno
                                        </td>
                                        <td>
                                            @item.ReferenceNo
                                        </td>
                                        <td>
                                            @item.Program.Name
                                        </td>
                                        <td>
                                            @item.RequisitionNo
                                        </td>
                                        <td>
                                            @item.GIN
                                        </td>
                                        <td>
                                            @item.GRN
                                        </td>
                                        <td>
                                            @item.Commodity
                                        </td>
                                        <td>
                                            @item.Source
                                        </td>
                                        <td>
                                            @item.Destination
                                        </td>
                                        <td class="item_receivedqty num">
                                            @item.ReceivedQty
                                        </td>
                                        <td class="num">
                                            @item.Tarrif.ToString("0.00")
                                        </td>
                                        <td class="item_shortageqty num">
                                            @item.ShortageQty
                                        </td>
                                        <td class="item_shortagebirr num">
                                            @item.ShortageBirr
                                        </td>
                                        <td class="item_freightcharge num">
                                            @item.FreightCharge.ToString("0.00")
                                        </td>
                                        <td>
                                            @if (state.Name == "Submitted to Finance")
                                            {
                                                <text>Submitted from Logistics</text>
                                            }
                                            else
                                            {
                                                @state.Name
                                            }
                                        </td>
                                        <td>
                                            <button class="btn btn-default btn-xs green-meadow-stripe" style="" data-ng-click="loadLabourCost(@item.TransporterPaymentRequestID,@state.StateNo)">@Html.Translate("Payment Deductions")</button>
                                            @*<a href="@Url.Action("LabourCost", "ValidatedPaymentRequest")">Labour Cost</a>*@
                                        </td>
                                        <td>
                                            @if (item.LabourCostRate != null && state.StateNo < 3)
                                            {
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle btn-xs green-stripe" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-horizontal"></i> @Html.Translate("Workflow") <i class="fa fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        @foreach (FlowTemplate actions in state.InitialStateFlowTemplates)
                                                        {
                                                            <li class="edit_button"><a href="javascript:promot_workflow(@item.BusinessProcessID ,@actions.FinalStateID,'@actions.Name',@item.TransporterPaymentRequestID)" title="@actions.Name">@Html.Translate(@actions.Name)</a></li>
                                                        }
                                                        <li class="divider"></li>
                                                        <li class="edit_button"><a href="javascript:workflow_history(@item.BusinessProcessID)">@Html.Translate("History")</a></li>
                                                    </ul>
                                                </div>
                                            }
                                            @if (item.LabourCostRate == null && state.StateNo < 3)
                                            {
                                                foreach (FlowTemplate actions in state.InitialStateFlowTemplates)
                                                {
                                                    if (actions.Name == "Rejected by Finance")
                                                    {
                                                        <text><a class="btn btn-danger btn-xs " href="javascript:promot_workflow(@item.BusinessProcessID ,@actions.FinalStateID,'@actions.Name',@item.TransporterPaymentRequestID)" title="@actions.Name">@Html.Translate("Reject")</a></text>
                                                    }

                                                }
                                            }


                                        </td>
                                    </tr>
                                    //}

                                }
                            </tbody>
                            <tfoot>
                                <tr style="background-color: rgba(220, 220, 220, 0.47);">
                                    <td colspan="8"></td>
                                    <td style="text-align: center"><b>@Html.Translate("Total:")</b></td>

                                    <td><b><span id="view_receivedqty">0.0</span>@*@Model.Sum(a => a.ReceivedQty)*@</b></td>
                                    <td><b>@*@Model.Sum(a => a.Tarrif).ToString("0.00")*@</b> </td>
                                    <td><b><span id="view_shortageqty">0.0</span>@*@Model.Sum(a => a.ShortageQty)*@</b></td>
                                    <td><b><span id="view_shortagebirr">0.0</span>@*@Model.Sum(a => a.ShortageBirr)*@</b> </td>
                                    <td><b><span id="view_freightcharge">0.0</span>@*@Model.Sum(a => a.FreightCharge).ToString("0.00")*@ </b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>

                        </table>
                        
                    </div>
                
            </div>
        </div>

    <div id="modalHistory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="modalHistoryLabel">@Html.Translate("Activity History")</h4>
                </div>
                <div class="modal-body" id="modalHistoryBody">@Html.Translate("History")</div>

            </div>
        </div>
    </div>

        @Html.Partial("~/Views/Shared/_PromotWorkflow.cshtml")
    
        <script>
            var history_link = "@Url.Action("History", "BusinessProcess", new { Area = "WorkflowManager", id = "0" })";

            function promot_workflow(BusinessProcessID, nextstate, actionname, PaymentRequestID) {
                //alert(PaymentRequestID);
                $('#ParentBusinessProcessID').val(BusinessProcessID);
                $('#stateID').val(nextstate);
                $('#modalPromotionLabel').html(actionname);
                $('#PaymentRequestID').val(PaymentRequestID);
                $('#modalPromotion').modal();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ApproveChequeInfo", "ValidatedPaymentRequest")",
                    data: "{id:1}",
                    dataType: json
                });
                //alert("nextstate: " + nextstate);
                if (nextstate == "2021") {
                    //alert("nextstate: " + nextstate);
                    @*var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                    window.location = "@Url.Action("ApproveChequeInfo", "ValidatedPaymentRequest")" + "/" + dataItem.TransportBidQuotationHeaderID;*@
                    
                }
            }
            function workflow_history(BusinessProcessID) {
                $('#modalHistory').modal();
                $('#modalHistoryBody').html("<div style='text-align:center;'> <img src='/content/images/loading.gif'/></div>");
                $.post(history_link + BusinessProcessID, {},
                    function (data) {
                        $("#modalHistoryBody").html(data);
                    }
                );

            }
        </script>

        <script>
            $(document).ready(function () {
                //called when key is pressed in textbox
                $("#PaymentRequest_LabourCostRate").keypress(function (e) {
                    //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 46 || e.which > 57) && e.which != 190) {
                        //display error message
                        $("#errmsgPaymentRequest_LabourCostRate").html("Digits Only").show().fadeOut("slow");
                        return false;
                    }
                });
                $("#PaymentRequest_RejectedAmount").keypress(function (e) {
                    //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 190) {
                        //display error message
                        $("#errmsgPaymentRequest_RejectedAmount").html("Digits Only").show().fadeOut("slow");
                        return false;
                    }
                });
                $("#CheckInfo_Amount").keypress(function (e) {
                    //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 190) {
                        //display error message
                        $("#errmsgCollectiveCheckInfo_Amount").html("Digits Only").show().fadeOut("slow");
                        return false;
                    }
                });
            });
            angular.module('PaymentRequestManagementModule', []).controller('PaymentRequestManagementController', function ($scope, $http) {
                $scope.SelectedLabourInfo = [];
                $scope.SelectedCheckInfo = [];

                $scope.loadLabourCost = function (id, stateNo) {
                    var transporterPaymentRequestId = { "transporterPaymentRequestID": id };
                    //$("#" + dispatchId).addClass("selected");
                    //alert(paymentRequestId);
                    //alert("paymentRequestId: " + paymentRequestId);
                    $http.post(rootDir + 'Finance/ValidatedPaymentRequest/LoadLabourCost/', transporterPaymentRequestId).
                        success(function(data, status, headers, config) {
                            //alert(data["ReceivedBy"]);
                            $scope.SelectedLabourInfo = data;
                            //$scope.GRNDetail.DispatchID = id;
                        }).
                        error(function(data, status, headers, config) {
                            alert("#ERROR - Can't load the GRN for the selected dispatch.");
                        });
                    if (stateNo >= 3) {
                        $("#PaymentRequest_LabourCostRate").attr("disabled", "disabled");
                        $("#PaymentRequest_RejectedAmount").attr("disabled", "disabled");
                        $("#PaymentRequest_RejectionReason").attr("disabled", "disabled");
                        $("#btnSavePaymentDeductions").hide();
                    }
                    else {
                        $("#PaymentRequest_LabourCostRate").removeAttr("disabled");
                        $("#PaymentRequest_RejectedAmount").removeAttr("disabled");
                        $("#PaymentRequest_RejectionReason").removeAttr("disabled");
                        $("#btnSavePaymentDeductions").show();
                    }
                    wndLabourCostInfo.center().open();
                    //$('#dialogContent').load(rootDir + 'Finance/ValidatedPaymentRequest/PaymentDeductionsPartialView/', function () {
                    //    $('#dialogDiv').modal({
                    //        backdrop: 'static',
                    //        keyboard: true
                    //    }, 'show');
                    //    //bindForm(this);
                    //});
                };

                $scope.editLabourCostInfo = function () {
                    //alert("ReceivedBy: " + $scope.GRNDetail.ReceivedBy);
                    if ($scope.SelectedLabourInfo != []) {
                        $http.post(rootDir + 'Finance/ValidatedPaymentRequest/EditLabourCostInfo/', $scope.SelectedLabourInfo).
                            success(function (data, status, headers, config) {
                                $("#messageboxPayDeduct").html("Saved Successfully!");
                                var timer = 3000;
                                clearTimeout(timer);
                                timer = setTimeout(function () {
                                    $("#messageboxPayDeduct").html('');
                                }, 3000);
                            }).
                            error(function (data, status, headers, config) {
                                $("#messageboxPayDeduct").html("Saving is Unsuccessful!");
                                var timer = 3000;
                                clearTimeout(timer);
                                timer = setTimeout(function () {
                                    $("#messageboxPayDeduct").html('');
                                }, 3000);
                            });
                    } else {
                    }
                };
                
                $scope.labourCostRateKeyPressed = function () {
                    //alert("LabourCost: " + $scope.SelectedLabourInfo.LabourCost);
                    if ($scope.SelectedLabourInfo != []) {
                        $scope.SelectedLabourInfo.LabourCost = $scope.SelectedLabourInfo.TransportedQuantityInQtl * $scope.SelectedLabourInfo.LabourCostRate;
                        //alert("LabourCost: " + $scope.SelectedLabourInfo.LabourCost);
                    } else {
                    }
                    //alert("LabourCost: " + $scope.SelectedLabourInfo.LabourCost);
                };
                
                $scope.loadCollectiveChequeInfo = function (id,referenceNo) {
                    //$("#" + dispatchId).addClass("selected");
                    //alert(paymentRequestId);
                   
                    var transporterId = { "transporterId": id, "refNo": referenceNo };
                    
                    $http.post(rootDir + 'ValidatedPaymentRequest/LoadCheque/', transporterId).
                        success(function (data, status, headers, config) {
                            //alert(data["ReceivedBy"]);
                            $scope.SelectedCheckInfo = data;
                            if (data.AppovedBy == null || data.AppovedBy == "")
                                $scope.SelectedCheckInfo.AppovedDateString = "";
                            //if ($scope.SelectedCheckInfo.Amount==null)
                            //    $scope.SelectedCheckInfo.Amount = $scope.SelectedLabourInfo.Amount + $scope.SelectedLabourInfo.LabourCost - $scope.SelectedLabourInfo.RejectedAmount;
                        }).
                        error(function (data, status, headers, config) {
                            alert("#ERROR - Can't load the GRN for the selected dispatch.");
                        });
                    //if (stateNo!=4) {
                    //    $("#CheckInfo_CheckNo").attr("disabled", "disabled");
                    //    $("#CheckInfo_PaymentVoucherNo").attr("disabled", "disabled");
                    //    $("#CheckInfo_BankName").attr("disabled", "disabled");
                    //    $("#CheckInfo_Amount").attr("disabled", "disabled"); 
                    //    $("#btnSaveChequeInfo").hide();
                    //}
                    //else {
                    //    $("#CheckInfo_CheckNo").removeAttr("disabled");
                    //    $("#CheckInfo_PaymentVoucherNo").removeAttr("disabled");
                    //    $("#CheckInfo_BankName").removeAttr("disabled");
                    //    $("#CheckInfo_Amount").removeAttr("disabled");
                    //    $("#btnSaveChequeInfo").show();
                    //}
                    wndCollectiveChequeInfo.center().open();
                };

                $scope.editChequeInfo = function () {
                    //alert("ReceivedBy: " + $scope.GRNDetail.ReceivedBy);
                    if ($scope.SelectedCheckInfo != []) {
                        $http.post(rootDir + 'ValidatedPaymentRequest/EditChequeInfo/', $scope.SelectedCheckInfo).
                            success(function (data, status, headers, config) {
                                //alert("success");
                                $("#messageboxPayDeductCheque").html("Saved Successfully!");
                                var timer = 3000;
                                clearTimeout(timer);
                                timer = setTimeout(function () {
                                    $("#messageboxPayDeductCheque").html('');
                                }, 3000);
                            }).
                            error(function (data, status, headers, config) {
                                $("#messageboxPayDeductCheque").html("Saving is Unsuccessfully!");
                                var timer = 3000;
                                clearTimeout(timer);
                                timer = setTimeout(function () {
                                    $("#messageboxPayDeductCheque").html('');
                                }, 3000);
                            });
                    } else {
                    }
                };
            });
            init_datepicker();
        </script>
        
        <script type="text/javascript">
            $(document).ready(function () {
                //filter results based on query
                function filter(selector, query) {
                    query = $.trim(query); //trim white space
                    query = query.replace(/ /gi, '|'); //add OR for regex query
                    var program = $('#program_filter').val();

                    $(selector).each(function () {
                        if (program == "All") {
                            ($(this).find("td:nth-child(2)").text().search(new RegExp(query, "i")) < 0) ? $(this).hide().removeClass('visible') : $(this).show().addClass('visible');
                        } else {
                            (($(this).find("td:nth-child(2)").text().search(new RegExp(query, "i")) < 0) || ($(this).find("td:nth-child(2)").text().search(new RegExp(program, "i")) < 0)) ? $(this).hide().removeClass('visible') : $(this).show().addClass('visible');
                        }
                    });
                    view_total();
                }

                // visible at first
                $('table tbody tr').addClass('visible');
                // visible total at first
                view_total();
                $('#filter').keyup(function (event) {
                    filter('table>tbody>tr', $(this).val());
                });
                $('#program_filter').change(function (e) {
                    filter('table>tbody>tr', $('#filter').val());
                });

                function view_total() {
                    var receivedqty = 0.00, shortageqty = 0.00, shortagebirr = 0.00, freightcharge = 0.00;
                    // select all visible rows
                    $("#paymentrequesttable tbody>tr.visible").each(function () {
                        receivedqty += parseFloat($(this).children("td.item_receivedqty").text());
                        shortageqty += parseFloat($(this).children("td.item_shortageqty").text());
                        shortagebirr += parseFloat($(this).children("td.item_shortagebirr").text());
                        freightcharge += parseFloat($(this).children("td.item_freightcharge").text());
                    });
                    // update the total values
                    $("#view_receivedqty").text(receivedqty.toFixed(2));
                    $("#view_shortageqty").text(shortageqty.toFixed(2));
                    $("#view_shortagebirr").text(shortagebirr.toFixed(2));
                    $("#view_freightcharge").text(freightcharge.toFixed(2));
                }
            });


        </script>

    <style>
        .table thead tr {
            background: #DDD;
        }

        .table > thead > tr > th {
            padding: 7px;
        }

        .filter_label {
            display: initial;
            padding-left: 10px;
        }

        #program_filter {
            width: 100px;
        }

        #paymentrequesttable tfoot > tr > td, #paymentrequesttable tbody > tr > td.num {
            text-align: right;
        }
    </style>

        <div id="modalCollectiveChequeInfo" class="form-horizontal" @*style="margin-top: 30px; "*@>
            <div class="portlet margin-bottom-0  ">
                <div class="portlet-body form">
                    @using (Html.BeginForm("EditCollectiveChequeInfo", "ValidatedPaymentRequest", FormMethod.Post))
                    {
                        <input type="text" name="transporterID" id="transporterID" value="@ViewBag.TransporterID" style="display: none" />

                        <div class="form-body" ng-cloak>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Transporter"> @Html.Translate("Transporter")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="Transporter" id="Transporter" value="{{SelectedCheckInfo.Transporter}}" data-ng-model="SelectedCheckInfo.Transporter"
                                           disabled="disabled" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="PaymentRequestsList"> @Html.Translate("Approved Payment Request List")</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" name="PaymentRequestsList" id="PaymentRequestsList" data-ng-model="SelectedCheckInfo.PaymentRequestsList" disabled="disabled">
                                        {{SelectedCheckInfo.PaymentRequestList}}
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="CheckNo"> @Html.Translate("Check No.")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="{{SelectedCheckInfo.CheckNo}}" name="CheckNo" id="CheckNo"
                                           data-ng-model="SelectedCheckInfo.CheckNo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="PaymentVoucherNo"> @Html.Translate("Payment Voucher No.")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="{{SelectedCheckInfo.PaymentVoucherNo}}" name="PaymentVoucherNo" id="PaymentVoucherNo"
                                           data-ng-model="SelectedCheckInfo.PaymentVoucherNo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="BankName"> @Html.Translate("Bank Name")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="{{SelectedCheckInfo.BankName}}" name="BankName" id="BankName"
                                           data-ng-model="SelectedCheckInfo.BankName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Amount"> @Html.Translate("Amount")</label>
                                <div class="col-md-6">
                                    @*<input type="text" value="{{SelectedCheckInfo.Amount}}" name="CheckInfo.Amount" id="CheckInfo_Amount"
                                    data-ng-model="SelectedCheckInfo.Amount"/>*@
                                    <input class="form-control" type="text" name="Amount" id="Amount" value="{{SelectedCheckInfo.Amount}}" data-ng-model="SelectedCheckInfo.Amount" style="display: none" />
                                    <input class="form-control" type="text" name="AmountView" id="AmountView" value="{{SelectedCheckInfo.Amount}}" data-ng-model="SelectedCheckInfo.Amount" disabled="disabled" />&nbsp;<span id="errmsgCollectiveCheckInfo_Amount" class="errorText"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="PreparedBy"> @Html.Translate("Prepared By")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="{{SelectedCheckInfo.PreparedBy}}" name="PreparedBy" id="PreparedBy"
                                           data-ng-model="SelectedCheckInfo.PreparedBy" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right" style="padding: 10px 10px;">
                            <div class="row">
                                <div class="control-group message-box" style="float: left;" id="messageboxCollectiveCheque"></div>
                                @*<div class="control-group" style="float: right;"></div>*@
                            </div>
                            <button id="btnSaveCollectiveCheque" class="btn blue" type="submit"> @Html.Translate("Save")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <script>
            var wndCollectiveChequeInfo;
            $(document).ready(function () {
                wndCollectiveChequeInfo = $("#modalCollectiveChequeInfo").kendoWindow({
                    title: "Generate Cheque",
                    modal: true,
                    visible: false,
                    resizable: false,
                    width: 600
                }).data("kendoWindow");
            });
        </script>

        <div id="modalLabourCostInfo" class="form-horizontal" role="form">
            <div class="portlet margin-bottom-0 ">
                <div class="portlet-body form">
                    @using (Html.BeginForm("EditLabourCostInfo", "ValidatedPaymentRequest", FormMethod.Post))
                    {
                        <input type="text" value="{{SelectedLabourInfo.PaymentRequestID}}" name="PaymentRequestID" id="PaymentRequestID"
                               data-ng-model="SelectedLabourInfo.PaymentRequestID" style="display: none" />

                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="PaymentRequest_ReferenceNo"> @Html.Translate("Referrence No.")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="{{SelectedLabourInfo.ReferenceNo}}" name="ReferenceNo" id="PaymentRequest_ReferenceNo"
                                           data-ng-model="SelectedLabourInfo.ReferenceNo" disabled="disabled" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="PaymentRequest_TransportedQuantityInQtl"> @Html.Translate("Transported Quanitity in QTL")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="{{SelectedLabourInfo.TransportedQuantityInQtl}}" name="TransportedQuantityInQtl" id="PaymentRequest_TransportedQuantityInQtl"
                                           data-ng-model="SelectedLabourInfo.TransportedQuantityInQtl" disabled="disabled" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="PaymentRequest_LabourCostRate"> @Html.Translate("Labour Cost Rate (per QTL)")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="LabourCostRate" id="PaymentRequest_LabourCostRate" value="{{SelectedLabourInfo.LabourCostRate}}" data-ng-change="labourCostRateKeyPressed()" data-ng-model="SelectedLabourInfo.LabourCostRate" />&nbsp;<span id="errmsgPaymentRequest_LabourCostRate" class="errorText"></span>
                                    @*<input type="text" value="{{SelectedLabourInfo.LabourCostRate}}" name="PaymentRequest.LabourCostRate" id="PaymentRequest_LabourCostRate"
                                    data-ng-model="SelectedLabourInfo.LabourCostRate" data-ng-change="labourCostRateKeyPressed()"/>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="PaymentRequest_LabourCost"> @Html.Translate("Labour Cost")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="{{SelectedLabourInfo.LabourCost}}" name="LabourCost" id="PaymentRequest_LabourCost1"
                                           data-ng-model="SelectedLabourInfo.LabourCost" style="display: none" />
                                    <input class="form-control" type="text" value="{{SelectedLabourInfo.LabourCost}}" name="LabourCost" id="PaymentRequest_LabourCost"
                                           data-ng-model="SelectedLabourInfo.LabourCost" disabled="disabled" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="PaymentRequest_RejectedAmount"> @Html.Translate("Rejected Amount")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="RejectedAmount" id="PaymentRequest_RejectedAmount" value="{{SelectedLabourInfo.RejectedAmount}}" data-ng-model="SelectedLabourInfo.RejectedAmount" />&nbsp;<span id="errmsgPaymentRequest_RejectedAmount" class="errorText"></span>
                                    @*<input type="text" value="{{SelectedLabourInfo.RejectedAmount}}" name="PaymentRequest.RejectedAmount" id="PaymentRequest_RejectedAmount"
                                    data-ng-model="SelectedLabourInfo.RejectedAmount"/>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="PaymentRequest_RejectionReason"> @Html.Translate("Rejection Reason")</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" value="{{SelectedLabourInfo.RejectionReason}}" name="RejectionReason" id="PaymentRequest_RejectionReason"
                                           data-ng-model="SelectedLabourInfo.RejectionReason" />
                                </div>
                            </div>
                        </div>

                        <div class="form-actions right" style="padding: 10px 10px;">
                            <div class="row">
                                <div class="control-group message-box" style="float: left;" id="messageboxPayDeduct"></div>
                                @*<div class="col-md-offset-3 col-md-9">
                                    <button id="btnSavePaymentDeductions" class="btn btn-default" type="submit"> @Html.Translate("Save")</button>
                                </div>*@
                            </div>
                            <button id="btnSavePaymentDeductions" class="btn blue" type="submit"> @Html.Translate("Save")</button>
                        </div>
                    }
                </div>
            </div>

        </div>
        <script>
            var wndLabourCostInfo;
            $(document).ready(function () {
                wndLabourCostInfo = $("#modalLabourCostInfo").kendoWindow({
                    title: "Edit Payment Deductions",
                    modal: true,
                    visible: false,
                    resizable: false,
                    width: 600
                    //height: 420
                }).data("kendoWindow");
            });
        </script>

    </body>
</html>