@using Cats.Areas.Logistics.Models
@using Kendo.Mvc.UI
@using Cats.Helpers

@{
    ViewBag.Title = @Html.Translate("Index");
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("List of Receipt Plan from Local Purchase");
    ViewBag.PageTitleDescription = "";


}
@*@section Toolbar
{
    <a data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "LocalPurchase")"></a>
}*@
@*@section Styles{
    <style>
        .k-window-titlebar{
            margin-top: -30px;
            height: 30px;
        }
    </style>
    
      
}*@
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="fa fa-list font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> @Html.Translate("List of Receipt Plan From Local Purchase")</span>
            <span class="caption-helper">  </span>
        </div>
        @*<div class="tools">
                <a href="#" class="collapse" data-original-title="" title=""></a>
                <a href="javascript:;" class="remove" data-original-title="" title=""></a>
            </div>*@
        <div class="actions">
            <a class="btn green btn-xs" href="@Url.Action("Create", "LocalPurchase")"><i class="fa fa-plus"></i> @Html.Translate("Create New")</a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
</div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            @(Html.Kendo().Grid<LocalPurchaseViewModel>()
              .Name("grid")
              .Columns(columns =>
                  {
                      columns.Bound(m => m.SiNumber).Title(Html.Translate("SI Number")).
                          ClientTemplate("<a href='" + Url.Action("Details", "LocalPurchase", new { id = "#=LocalPurchaseID#" }) + " '>#=SiNumber#</a>  "); ;
                      columns.Bound(m => m.Program).Title(Html.Translate("Program"));
                      columns.Bound(m => m.DonorName).Width(200).Title(Html.Translate("Donor"));
                      columns.Bound(m => m.SupplierName).Width(200).Title(Html.Translate("Supplier Name"));
                      columns.Bound(m => m.Commodity).Width(200).Title(Html.Translate("Commodity"));
                      columns.Bound(m => m.ReferenceNumber).Title(Html.Translate("Reference Number"));
                      columns.Bound(m => m.Quantity).HtmlAttributes(new { align = "right" }).Title(Html.Translate("Quantity"));
                      columns.Bound(m => m.Status).Title(Html.Translate("Status"));
                      columns.Command(m => m.Custom("Revert").Click("OnRevert"));
                      columns.Command(m => m.Custom("Delete").Click("OnDelete"));
                  }

              )

              .Navigatable()
              .Scrollable()

              .HtmlAttributes(new { style = "height:430px;" })
              .TableHtmlAttributes(new {@class="table table-condensed"})
              .Events(e => e.DataBound("onDataBound"))
              .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model => model.Id(m => m.LocalPurchaseID))
                                            .Read(read => read.Action("LocalPurchase_Read", "LocalPurchase"))
                    //.Update(update => update.Action("Commodity_Update", "Request"))
              )
            )
        </div>
    </div>
</div>

<script>

    function onDataBound(e) {
        //alert("show");
        var grid = $("#grid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        //alert(gridData.length);
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            //alert(gridData[i].Status);
            if (gridData[i].Status == "Draft") {
                var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                var revertButton = $(currentRow).find(".k-grid-Revert");
                revertButton.hide();

            }



        }
    }


    function OnDelete(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        wnd.center().open();

        $("#yes").click(function () {

            window.location = "@Url.Action("Delete", "LocalPurchase")" + "/" + dataItem.LocalPurchaseID;
            wnd.close();
        });

        $("#no").click(function () {
            window.wnd.close();
        });
    }

    function OnRevert(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        wndRevert.center().open();

        $("#yesRevert").click(function () {

            window.location = "@Url.Action("Revert", "LocalPurchase")" + "/" + dataItem.LocalPurchaseID;
            wndRevert.close();
        });

        $("#noRevert").click(function () {
            wndRevert.close();
        });
    }
</script>

<div id="modalWindow">
    <div class="alert alert-warning">
        <strong>Warning!</strong> Are You Sure You Want to Delete this Local Purchase?
    </div><hr/>
    <div class="pull-right">
        <button id="yes" class="btn green">Yes</button>
        <button id="no" class="btn default">No</button>  
    </div>
    
</div>
<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false
            //width: 300
        }).data("kendoWindow");
    });
</script>

<div id="modalWindowRevert">
    <div class="alert alert-warning">
        <strong>Warning!</strong> Are You Sure You Want to Revert this local Purchase?
    </div><hr/>
    <div class="pull-right">
        <button id="yesRevert" class="btn green">Yes</button>
        <button id="noRevert" class="btn default">No</button>
    </div>
</div>
<script>
    var wndRevert;
    $(document).ready(function () {
        wndRevert = $("#modalWindowRevert").kendoWindow({
            title: "Revert confirmation",
            modal: true,
            visible: false,
            resizable: false
            //width: 300
        }).data("kendoWindow");
    });
</script>
<style>
    .k-window-titlebar {
        margin-top: -30px;
        height: 30px;
    }
    hr {
        margin: 5px 0;
    }
</style>