@model Cats.Models.Hub.Store
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Details");
}

<h2>@Html.Translate("Details")</h2>

<fieldset>
    <legend>@Html.Translate("Store")</legend>

    <div class="display-label">@Html.Translate("Name")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">@Html.Translate("Warehouse")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hub.Name)
    </div>

    <div class="display-label">@Html.Translate("IsTemporary")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsTemporary)
    </div>

    <div class="display-label">@Html.Translate("IsActive")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Html.Translate("Edit"), "Edit", new { id = Model.StoreID }) |
    @Html.ActionLink(Html.Translate("Back to List"), "Index")
</p>
