<ul class="nav nav-list">
    <li class="nav-header">HRD Management</li>
    <li><a href="@Url.Action("Index", "HRD")"><i class="icon-inbox"></i> HRD Lists </a></li>
    <li><a href="@Url.Action("ApprovedHRDs","HRD")"><i class="icon-inbox"></i> Approved HRD</a></li>
    <li><a href="@Url.Action("CurrentHRDs","HRD")"><i class="icon-inbox"></i> Current HRD</a></li>
     <li><a href="@Url.Action("Compare", "HRD")"><i class="icon-inbox"></i>Compare HRD </a></li>
    <li class="divider"></li>
    <li><a href="@Url.Action("Create","HRD")"><i class="icon-plus"></i> New HRD</a></li>
    
    <li class="divider"></li>
    <li><a href="@Url.Action("HRDPrintOut","HRD")"><i class="icon-plus"></i> HRD Print Out</a></li>
    
    <li class="divider"></li>
    <li><a href="@Url.Action("Index","Contribution")"><i class="icon-plus"></i> Donors Contribution</a></li>


    
    <li class="divider"></li>
    <li><a href="HRD/Print"><i class="icon-print"></i> Print</a></li>
    <li><a href="#"><i class="icon-share"></i> Export</a></li>
</ul>
