@using LanguageHelpers.Localization
@using Cats.Helpers

@model Cats.Models.ViewModels.HRD.HrdAddWoredaViewModel
@{
    ViewBag.Title = "AddWoreda";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Html.Translate("Add Woreda")</h3>
</div>

@using (Html.BeginForm("AddWoreda", "HRD", new { id = Model.HRDID }, FormMethod.Post, new { @class = "modal-form" }))
{
   
    @Html.HiddenFor(m=>m.HRDID)
     @Html.HiddenFor(m=>m.StartingMonth)
    <div class="modal-body">
        
        <div class="form-horizontal">
            
            <div class="control-group" id="region">
                <div class="control-label">
                    @Html.Label(Html.Translate("Region"))
                </div>
                <div class="controls" id="div_region">
                    @Html.DropDownList("RegionID",String.Empty)
                    @Html.ValidationMessageFor(m => m.RegionID)
               
                </div>

            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.Label(Html.Translate("Zone"))
                </div>
                <div class="controls" id="div_zone">
                    @Html.DropDownList("ZoneID",String.Empty)
                    @Html.ValidationMessageFor(m => m.ZoneID)
               
                </div>

            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.WoredaID, Html.Translate("Woreda"))
                </div>
                <div class="controls" id="div_woreda" >
                    @*@Html.DropDownList( "WoredaID",ViewBag.WoredaID as SelectList, new {@id="WoredaID"})*@
                    @Html.DropDownList("WoredaID",String.Empty)
                    @Html.ValidationMessageFor(m => m.WoredaID)
                </div>

            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.Beneficiary, Html.Translate("Beneficiary"))
                </div>
                <div class="controls" >
                    @*@Html.DropDownList( "WoredaID",ViewBag.WoredaID as SelectList, new {@id="WoredaID"})*@
                    @Html.TextBoxFor(m=>m.Beneficiary)
                    @Html.ValidationMessageFor(m => m.Beneficiary)
                </div>

            </div>
             <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.Duration, Html.Translate("Duration"))
                </div>
                <div class="controls">
                    @*@Html.DropDownList( "WoredaID",ViewBag.WoredaID as SelectList, new {@id="WoredaID"})*@
                     @Html.TextBoxFor(m=>m.Duration)
                    @Html.ValidationMessageFor(m => m.Duration)
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer"> <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
       
    </div>

}
<script>

    var admin_region_hash = {};
    var admin_zone_hash = {};

    $(function () {
        $.getJSON("@Url.Action("GetAdminUnits", "DonorCoverage", new { Area = "EarlyWarning" })", {}, function (data) {

            document.getElementById("ZoneID").disabled = true;
            document.getElementById("WoredaID").disabled = true;

            var msg = "";
            for (var i in data) {
                msg += "\n" + data[i].RegionName;
                var key = data[i].RegionID;
                admin_region_hash[key] = data[i];

                var count = data[i].Zones.length;

                for (var j = 0; j < count; j++) {
                    var keyz = data[i].Zones[j].ZoneID;
                    admin_zone_hash[keyz] = data[i].Zones[j].Woredas;
                }
            }
        });

        $("#RegionID").change(function () {
            var regionId = $("#RegionID").val();
            var region = admin_region_hash[regionId];
            var zones = region.Zones;
            document.getElementById("ZoneID").disabled = false;

            //var msg = "";
            var htm = "<select name='ZoneID' id ='ZoneID' > ";
            for (var z in zones) {
                //htm += "<option value='" + zones[z].AdminUnitID + "'>" + zones[z].Name + "</option>";
                htm += "<option value='" + zones[z].ZoneID + "'>" + zones[z].ZoneName + "</option>";
                //msg += "\n" + zones[z].ZoneName;
            }

            htm += "</select>";
            $("#div_zone").html(htm);

            $("#ZoneID").change(function () {
                popoulateWoredas();
            });
        });

        function popoulateWoredas() {
            document.getElementById("WoredaID").disabled = false;
            var zoneId = $("#ZoneID").val();
            //alert(zoneId);
            var woredas = admin_zone_hash[zoneId];
            var s = "<select id ='WoredaID' name='WoredaID' >";
            for (w in woredas) {
                s += "<option value='" + woredas[w].WoredaID + "'>" + woredas[w].WoredaName + "</option>";
            }
            s += "</select>";
            $("#div_woreda").html(s);
        }

        $("#ZoneID").change(function () {
            popoulateWoredas();
        });
    });
</script>