@using Cats.Models.ViewModels.HRD
@using Kendo.Mvc
@model Cats.Models.ViewModels.HRD.CreateHumanitarianRequirementViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section LeftBar
{
    <li class="nav-header">HRD Informaation</li>
    <li class="nav-header">Tasks</li>
    <li><a href="@Url.Action("Index", "Bid", new { Area = "Procurement" })"><i class="icon-chevron-left"></i>HRD Summary</a></li>
}
<div class="well form-horizontal">
    <h4 class="page-header">Create Humanitarian Requirement</h4>
    <div class="control-group">
        <div class="control-label">
             @Html.LabelFor(m => m.Year)
        </div>
       <div class="controls">@Html.TextBoxFor(m => m.Year)</div>
        
    </div>
    <div class="control-group">
        <div class="control-label">
             @Html.LabelFor(m => m.Month)
        </div>
       <div class="controls">@Html.TextBoxFor(m => m.Month)</div>
        
    </div>
    <div class="control-group">
        <div class="control-label">
             @Html.LabelFor(m => m.HumanitarianRequirement.Ration.Name, "Ration Name")
        </div>
        <div class="controls">
            @Html.TextBoxFor(m => m.HumanitarianRequirement.Ration.Name)
        </div>
        
    </div>


</div>
<div>

    <table class="table table-bordered table-condensed table-striped">

        <tr>
            <th rowspan="2">Region</th>
            <th rowspan="2">Zone</th>
            <th rowspan="2">Woreda</th>
            <th rowspan="2">Beneficiaries</th>
            <th rowspan="2">Duration of Assistance</th>
            <th colspan="4"><b>Food Requirement in Mt </b></th>

        </tr>
        <tr>
            <th>Cereal</th>
            <th>Pulse</th>
            <th>CSB</th>
            <th>Oil</th>
        </tr>
        @foreach (DetailViewModel detail in Model.Details)
        {
            <tr>
                <td>@detail.Region</td>
                <td>@detail.Zone</td>
                <td>@detail.Woreda</td>
                <td>@detail.NumberOfBeneficiaries</td>
                <td>@detail.DurationOfAssistance</td>
                <td>@detail.Cereal</td>
                <td>@detail.Pulse</td>
                <td>@detail.CSB</td>
                <td>@detail.Oil</td>
            </tr>
        }
    </table>
    <p>
        <input class="btn btn-success" type="submit" value="Save HRD" />
    </p>
</div>
