@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@model Cats.Models.HRD

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section LeftBar
{
   
    @Html.Partial("_HRDLeftBar");
   
}

@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_hrd"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "HRD")" title="save"></a>
}
<div>
    <h4>Create HRD</h4>
</div>
    @using (Html.BeginForm("Create", "HRD", FormMethod.Post, new { id = "frm_create_hrd" }))

    {

        <div class="well form-horizontal">
            <div class="row">
                 <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.Label(Translator.Translate("HRD Name"))
                        </div>
                        <div class="controls">
                            @Html.TextBoxFor(m=>m.Plan.PlanName)
                            @Html.ValidationMessageFor(m=>m.Plan.PlanName)
                        </div>
        
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(m => m.Year,"Year (Specified in GC)")
                        </div>
                        <div class="controls">
                            @Html.Editor("Year")
                            @Html.ValidationMessageFor(m=>m.Year)
                            @if(@ViewBag.Error!=null)
                            {
                                <span class="alert alert-error">
                                    @ViewBag.Error
                                </span>
                            }
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="row">
        <div class="span6">
            <div class="control-group">
                <div class="control-label">
                    @Html.Label(Translator.Translate("HRD From"), new { @class = "cats-date-pref" })
                </div>
                <div class="controls">
                     @Html.TextBoxFor(m => m.Plan.StartDate, new { @class = "cats-datepicker2" })
                    @Html.ValidationMessageFor(m => m.Plan.StartDate)
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="control-group">
                <div class="control-label">
                    @Html.Label(Translator.Translate("To"), new { @class = "cats-date-pref" })
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Plan.EndDate, new { @class = "cats-datepicker2" })
                    @Html.ValidationMessageFor(m => m.Plan.EndDate)
                </div>

            </div>
        </div>
    </div>
            <div class="row">
                
                 <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(m => m.SeasonID)
                        </div>
                        <div class="controls">
                            @Html.DropDownList("SeasonID",String.Empty)
                            @Html.ValidationMessageFor(m=>m.SeasonID)
                        </div>
        
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <div class="control-label">
                            @Html.LabelFor(m => m.RationID,"Ration")
                        </div>
                        <div class="controls">
                            @Html.DropDownList("RationID",String.Empty)
                            @Html.ValidationMessageFor(m=>m.RationID)
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    }

