@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@model Cats.Models.HRD

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section LeftBar
{

    @Html.Partial("_HRDLeftBar");
   
}

@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_hrd"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "HRD")" title="save"></a>
}
<div>
    <h4>Create HRD</h4>
</div>
@using (Html.BeginForm("CreateHRD", "HRD", FormMethod.Post, new { id = "frm_create_hrd" }))
{
    @Html.HiddenFor(m=>m.PlanID)
    <div class="well form-horizontal">
        <div class="row">

            <div class="span6">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(m => m.PlanID, Translator.Translate("Assessment Name"))
                    </div>
                    <div class="controls">
                        @Html.TextBoxFor(m=>m.Plan.PlanName,new {Disabled=true})
                        @Html.ValidationMessageFor(m => m.Plan.PlanName)
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(m => m.SeasonID)
                    </div>
                    <div class="controls">
                        @Html.DropDownList("SeasonID", String.Empty)
                        @Html.ValidationMessageFor(m => m.SeasonID)
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(m => m.RationID, "Ration")
                    </div>
                    <div class="controls">
                        @Html.DropDownList("RationID", String.Empty)
                        @Html.ValidationMessageFor(m => m.RationID)
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="control-group">
                    <div class="control-label">
                        @Html.LabelFor(m => m.Year, "Year (Specified in GC)")
                    </div>
                    <div class="controls">
                        @Html.Editor("Year")
                        @Html.ValidationMessageFor(m => m.Year)
                        @if (@ViewBag.Error != null)
                        {
                            <span class="alert alert-error">
                                @ViewBag.Error
                            </span>
                        }
                    </div>

                </div>
            </div>

        </div>

    </div>
}
