
@using Kendo.Mvc.UI
@model Cats.Models.HRD

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section LeftBar
{
   
    @Html.Partial("_HRDLeftBar");
   
}
<div class="well"><h3>Create HRD</h3></div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="well form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.Year)
                </div>
                <div class="controls">
                    @Html.TextBox("Year")
                    @Html.ValidationMessageFor(m=>m.Year)
                </div>
        
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.Month)
                </div>
                <div class="controls">
                    @Html.DropDownList("Month",String.Empty)
                    @Html.ValidationMessageFor(m=>m.Month)
                </div>
        
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.RationID,"Ration")
                </div>
                <div class="controls">
                    @Html.DropDownList("RationID",String.Empty)
                    @Html.ValidationMessageFor(m=>m.RationID)
                </div>
        
            </div>
             <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.NeedAssessmentID,"Need Assessment")
                </div>
                <div class="controls">
                    @Html.DropDownList("NeedAssessmentID",String.Empty)
                    @Html.ValidationMessageFor(m=>m.NeedAssessmentID)
                </div>
        
            </div>
             <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.CreatedDate,"Created Date")
                </div>
                <div class="controls">
                     <input class="cats-datepicker" type="text" id="create" name="create" />
                    @Html.HiddenFor(m=>m.CreatedDate)
                    @Html.ValidationMessageFor(m => m.CreatedDate)
                </div>
        
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.PublishedDate,"Published Date")
                </div>
                <div class="controls">
                     <input class="cats-datepicker" type="text" id="published" name="published" />
                    @Html.HiddenFor(m=>m.PublishedDate)
                    @Html.ValidationMessageFor(m=>m.PublishedDate)
                </div>
        
            </div>
            <div class="control-group">      
                <div class="controls">
                    <input type="submit" value="Create HRD" class="btn btn-success" />
                </div>
            </div>

        </div>
    }


