@using Kendo.Mvc.UI
@model System.Data.DataTable
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4 class="page-header">HRD Detail for  @ViewBag.SeasonID  @ViewBag.Year</h4>

@section LeftBar{

    @Html.Partial("_HRDLeftBar")
    
}
@section Toolbar
{ <a class="btn toolbar-btn " data-buttontype="btn_back_to_list" href="@Url.Action("Index","HRD")"><i class="icon-list"></i></a>

    <a class="btn toolbar-btn " data-buttontype="btn_edit" href="@Url.Action("HRDDetail", "HRD", new {id = ViewBag.HRDID})"><i class="icon-edit"></i></a>
}
@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        foreach (System.Data.DataColumn column in Model.Columns)
        {
            if (column.DataType == typeof(decimal))
            { columns.Bound(column.ColumnName).HtmlAttributes(new { align = "right" }).Format("{0:N2}"); }
            else if (column.DataType == typeof(int))
            {
                columns.Bound(column.ColumnName).HtmlAttributes(new { align = "right" }).Format("{0:N0}"); 
            }
            else{
                columns.Bound(column.ColumnName);
            }

        }
    })
    .Pageable(t=>t.PageSizes(new []{10,15,20,30,50,100}))
    
    .Sortable()
   //.Scrollable()
   .Groupable()
   
   
    )


 