
@using Kendo.Mvc.UI
@model Cats.Models.HRD

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section LeftBar
{
   
    @Html.Partial("_HRDLeftBar");
   
}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_Edit_hrd"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "HRD")" title="save Changes"></a>
}
<div><h4>Edit HRD</h4></div>
    @using (Html.BeginForm("Edit", "HRD", FormMethod.Post, new { id = "frm_Edit_hrd" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m=>m.HRDID)
        <div class="well form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.Year)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Year)
                    @Html.ValidationMessageFor(m=>m.Year)
                </div>
        
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.SeasonID)
                </div>
                <div class="controls">
                    @Html.DropDownList("SeasonID",String.Empty)
                    @Html.ValidationMessageFor(m=>m.SeasonID)
                </div>
        
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.RationID,"Ration")
                </div>
                <div class="controls">
                    @Html.DropDownList("RationID",String.Empty)
                    @Html.ValidationMessageFor(m=>m.RationID)
                </div>
        
            </div>
             <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.CreatedDate,"Created Date")
                </div>
                <div class="controls">
                    @* <input class="cats-datepicker" type="text" id="create" name="create" value="@Model.CreatedDate"/>*@
                    @Html.TextBoxFor(m=>m.CreatedDate,new {@class="cats-datepicker2"})
                    @Html.ValidationMessageFor(m => m.CreatedDate)
                </div>
        
            </div>
           @* <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.PublishedDate,"Published Date")
                </div>
                <div class="controls">
                     <input class="cats-datepicker" type="text" id="published" name="published" value="@Model.PublishedDate" />
                    @Html.HiddenFor(m=>m.PublishedDate)
                    @Html.ValidationMessageFor(m=>m.PublishedDate)
                </div>
        
            </div>*@
        </div>
    }
 


