@using Cats.Models.ViewModels
@using Kendo.Mvc.UI
@model  Cats.Models.HRD


@{
    ViewBag.Title = "RegionalSummary";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{
        <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("Create", "HRD")"></a>
}
<div>
    <h3>Summary for  @ViewBag.SeasonID  @ViewBag.Year </h3>
</div>
@section LeftBar{

    @Html.Partial("_HRDLeftBar");
}
@(Html.Kendo().Grid<Cats.Models.ViewModels.RegionalSummaryViewModel>()
          
    .Name("grid")
    .Columns(columns =>
        {
        columns.Bound(p => p.RegionName).ClientFooterTemplate("<h4>Total</h4>");
        columns.Bound(p => p.NumberOfBeneficiaries).ClientFooterTemplate("<h4> Sub Total  #=kendo.format('{0:N}', sum)#</h4>").HtmlAttributes(new { align = "Right" });
        columns.Bound(p => p.Cereal).ClientFooterTemplate("<h4> Sub Total  #=kendo.format('{0:N}', sum)#</h4>").Format("{0:N}").HtmlAttributes(new { align = "Right" });
        columns.Bound(p => p.BlededFood).ClientFooterTemplate("<h4> Sub Total  #=kendo.format('{0:N}', sum)#</h4>").Format("{0:N}").HtmlAttributes(new { align = "Right" });
        columns.Bound(p => p.Pulse).ClientFooterTemplate("<h4> Sub Total  #=kendo.format('{0:N}', sum)#</h4>").Format("{0:N}").HtmlAttributes(new { align = "Right" });
        columns.Bound(p => p.Oil).ClientFooterTemplate("<h4> Sub Total  #=kendo.format('{0:N}', sum)#</h4>").Format("{0:N}").HtmlAttributes(new { align = "Right" });
        columns.Bound(p => p.Total).ClientFooterTemplate("<h4>Total  #=kendo.format('{0:N}', sum)#</h4>").Format("{0:N}").HtmlAttributes(new { align = "Right" });
            
        })
    .Pageable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
          .Ajax()
           .Aggregates(aggregates =>aggregates.Add(p => p.NumberOfBeneficiaries).Sum())
           .Aggregates(aggregates =>aggregates.Add(p => p.Cereal).Sum())
           .Aggregates(aggregates =>aggregates.Add(p => p.BlededFood).Sum())
           .Aggregates(aggregates =>aggregates.Add(p => p.Pulse).Sum())
           .Aggregates(aggregates =>aggregates.Add(p => p.Oil).Sum())
           .Aggregates(aggregates =>aggregates.Add(p => p.Total).Sum())
          .PageSize(12)
              .Model(model => model.Id(p => p.HRDID))
            .Read(read => read.Action("RegionalSummary_Read", "HRD",new{id=Model.HRDID}))
 
     )
   
      )


