@using Cats.Models.ViewModels
@using Cats.Services.Security
@using Kendo.Mvc.UI
@model  System.Data.DataTable


@{
    ViewBag.Title = "RegionalSummary";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{
  <a class="btn toolbar-btn " data-buttontype="btn_back_to_list" href="@Url.Action("Index","HRD")"><i class="icon-list"></i></a>

}

<div>
    <h4>Summary for  @ViewBag.SeasonID  @ViewBag.Year </h4>
</div>
@section LeftBar{

    @Html.Partial("_HRDLeftBar");
}
@{
    
    var user = (UserIdentity)System.Web.HttpContext.Current.User.Identity;
    var unit = user.Profile.PreferedWeightMeasurment;
}
@*@(Html.Kendo().Grid<Cats.Models.ViewModels.RegionalSummaryViewModel>()
          
    .Name("grid")
    .Columns(columns =>
        {
        columns.Bound(p => p.RegionName).ClientFooterTemplate("Total");
        columns.Bound(p => p.NumberOfBeneficiaries).ClientFooterTemplate("Sub Total  #=kendo.format('{0:N0}', sum)#").HtmlAttributes(new { align = "Right" });
        columns.Bound(p => p.Cereal).Title("Cereal " +@unit).ClientFooterTemplate("Sub Total  #=kendo.format('{0:N}', sum)#").Format("{0:N}").HtmlAttributes(new { align = "Right" });
        columns.Bound(p => p.BlededFood).Title("BlendedFood " +@unit).ClientFooterTemplate("Sub Total  #=kendo.format('{0:N}', sum)#").Format("{0:N}").HtmlAttributes(new { align = "Right" });
        columns.Bound(p => p.Pulse).Title("Pulse "+@unit).ClientFooterTemplate("Sub Total  #=kendo.format('{0:N}', sum)#").Format("{0:N}").HtmlAttributes(new { align = "Right" });
        columns.Bound(p => p.Oil).Title("Oil " +@unit).ClientFooterTemplate("Sub Total  #=kendo.format('{0:N}', sum)#").Format("{0:N}").HtmlAttributes(new { align = "Right" });
        columns.Bound(p => p.Total).ClientFooterTemplate("Total  #=kendo.format('{0:N}', sum)#").Format("{0:N}").HtmlAttributes(new { align = "Right" });
            
        })
    .Pageable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
          .Ajax()
           .Aggregates(aggregates =>aggregates.Add(p => p.NumberOfBeneficiaries).Sum())
           .Aggregates(aggregates =>aggregates.Add(p => p.Cereal).Sum())
           .Aggregates(aggregates =>aggregates.Add(p => p.BlededFood).Sum())
           .Aggregates(aggregates =>aggregates.Add(p => p.Pulse).Sum())
           .Aggregates(aggregates =>aggregates.Add(p => p.Oil).Sum())
           .Aggregates(aggregates =>aggregates.Add(p => p.Total).Sum())
          .PageSize(12)
              .Model(model => model.Id(p => p.HRDID))
            .Read(read => read.Action("RegionalSummary_Read", "HRD",new{id=Model.HRDID}))
 
     )
   
      )*@


<script>
    $(function () {
        var printurl = "@Url.Action("PrintSummary", "HRD",new{id= ViewBag.HRDID })";
        $("#toolbar_button_print").attr("href", printurl);
    });
</script>

@(Html.Kendo().Grid(Model)
          
    .Name("grid")
    .Columns(columns =>
    {
        foreach (System.Data.DataColumn column in Model.Columns)
        {
            if (column.DataType == typeof(decimal))
            { columns.Bound(column.ColumnName).HtmlAttributes(new { align = "right" }).Format("{0:N2}"); }
            else if (column.DataType == typeof(int))
            {
                columns.Bound(column.ColumnName).HtmlAttributes(new { align = "right" }).Format("{0:N0}"); 
            }
            else{
                columns.Bound(column.ColumnName);
            }

        }
    })
        .Pageable(t => t.PageSizes(new[] { 10, 15, 20, 30, 50, 100 }))
        .Sortable()
        //.Scrollable()
       .Groupable()
    )
