@model Cats.Models.Hub.ViewModels.Common.StoreBalanceViewModel



    <div style="font-weight:bold; width:100px">@Html.LabelFor(model => model.ParentCommodityNameB)</div>
    <div >@Model.ParentCommodityNameB</div>
    <div style="font-weight:bold; width:100px">@Html.LabelFor(model => model.ProjectCodeNameB)</div>
    <div >@Model.ProjectCodeNameB</div>
    <div style="font-weight:bold; width:100px">@Html.LabelFor(model => model.ShppingInstructionNumberB)</div>
    <div >@Model.ShppingInstructionNumberB</div>
    @{
            if(Model.StoreNameB != null)
            {
                <div style="font-weight:bold; width:100px">@Html.LabelFor(model => model.StoreNameB)</div>
                <div >@Model.StoreNameB</div>
                
            }
            if(Model.StackNumberB != null)
            {
                <div style="font-weight:bold; width:100px">@Html.LabelFor(model => model.StackNumberB)</div>
                <div >@Model.StackNumberB</div>
            }
     }
    <div style="font-weight:bold; width:100px">@Html.LabelFor(model => model.QtBalance)</div>
    <div >@Model.QtBalance</div>
