@model Cats.Models.Hub.ViewModels.InternalMovementLogViewModel


<table class="borderless fromTable" style="vertical-align:middle">
        
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.SelectedDate)</td>
            <td>@Html.EditorFor(model => model.SelectedDate) </td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.RefernaceNumber)</td>
            <td>@Html.TextBoxFor(model => model.RefernaceNumber, new {  @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.Program)</td>
            <td>@Html.TextBoxFor(model => model.Program, new {  @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td  style="width:200px;">@Html.LabelFor(model => model.CommodityName)</td>
            <td>@Html.TextBoxFor(model => model.CommodityName, new {  @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model=> model.ProjectCodeName)</td>
            <td>@Html.TextBoxFor(model => model.ProjectCodeName, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.ShippingInstructionNumber)</td>
            <td>@Html.TextBoxFor(model => model.ShippingInstructionNumber, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.FromStore)</td>
            <td>@Html.TextBoxFor(model => model.FromStore, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.FromStack)</td>
            <td>@Html.TextBoxFor(model => model.FromStack, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.Unit)</td>
            <td>@Html.TextBoxFor(model => model.Unit, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.QuantityInUnit)</td>
            <td>@Html.TextBoxFor(model => model.QuantityInUnit, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.QuantityInMt)</td>
            <td>@Html.TextBoxFor(model => model.QuantityInMt, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.ToStore)</td>
            <td>@Html.TextBoxFor(model => model.ToStore, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.ToStack)</td>
            <td>@Html.TextBoxFor(model => model.ToStack, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.Reason)</td>
            <td>@Html.TextBoxFor(model => model.Reason, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.Note))</td>
            <td>@Html.TextBoxFor(model => model.Note, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td style="width:200px">@Html.LabelFor(model => model.ApprovedBy)</td>
            <td>@Html.TextBoxFor(model => model.ApprovedBy, new { @readonly = "readonly" })</td>
        </tr>
</table>
<div style="margin-left:100px; margin-top:50px;">
    <input class="t-button" type="button" onclick="onOkClick()" value="Ok" />
</div>
<script type="text/javascript">
    function onOkClick() {
        var window = $('#internalMovementWindow').data('tWindow');
        if (window != null) {
            window.close();
        }    
    }
</script>