@model IEnumerable<Cats.Models.Hub.CommodityType>
@using Cats.Web.Hub.Helpers

@{
    ViewBag.Title = Html.Translate("Commodity Type");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Translate("List Of Commodity Type")</h2>

<p>
    @Html.DialogFormLink(Html.Translate("Create Commodity Type"), Url.Action("Create"), Html.Translate("Create Commodity Type"), "unitlist", Url.Action("Update"))
   
</p>
<div id="unitlist">
<table width="60%">
    <tr>
        <th style="width: 20px">
            
        </th>
        <th>
            @Html.Translate("Name")
        </th>
        <th></th>
    </tr>
      @{
          var i = 1;
    }
@foreach (var item in Model)
{
    <tr>
        <td>@i</td>
        <td>
            @Html.DialogFormLink(@Html.DisplayFor(modelItem => item.Name).ToString(), Url.Action("Edit/" + item.CommodityTypeID), Html.Translate("Edit Commodity Type"), "unitlist", Url.Action("Update"))
            @*@Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td>
@*            @Html.ActionLink("Edit", "Edit", new { id=item.CommodityTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommodityTypeID }) |*@
            @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id = item.CommodityTypeID })
        </td>
    </tr>
    i++;
}

</table>
</div>
