@model IEnumerable<Cats.Models.Hubs.CommodityType>
@using Cats.Web.Hub.Helpers

<table width="60%">
    <tr>
        <th style="width: 20px">
            
        </th>
        <th>
            @Html.Translate("Name")
        </th>
        <th></th>
    </tr>
      @{
          var i = 1;
    }
@foreach (var item in Model)
{
    <tr>
        <td>@i</td>
        <td>
            @Html.DialogFormLink(@Html.DisplayFor(modelItem => item.Name).ToString(), Url.Action("Edit/" + item.CommodityTypeID), Html.Translate("Edit Commodity Type"), "unitlist", Url.Action("Update"))
            @*@Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td>
@*            @Html.ActionLink("Edit", "Edit", new { id=item.CommodityTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommodityTypeID }) |*@
            @Html.ActionLink(Html.Translate("Delete"), "Delete", new { id = item.CommodityTypeID })
        </td>
    </tr>
    i++;
}

</table>