@using Cats.Web.Hub.Helpers
@model IEnumerable<Cats.Models.Hubs.GiftCertificate>

@{
    ViewBag.Title = Html.Translate("Gift Certificate");
}
<div>
 <h2>
     @Html.Translate("Gift Certificates")</h2>
<p>
    @Html.Translate("List of gift certificates that were submitted. Click ")@Html.ActionLink("here to create", "Create")
    @Html.Translate(" new gift certificate records.")
</p>

 @(Html.Telerik().Grid(Model).Name("GiftCertificateGrid")
    .DataKeys(keys => keys.Add(co => co.GiftCertificateID))
  
    .Columns(col =>
    {
        
         col.Template(
             @<text>
                  @Html.ActionLink( Html.Translate("Edit"), "Edit", new { id = item.GiftCertificateID}) | 
                  @Html.ActionLink(Html.Translate("Print"), "Print", new { id = item.GiftCertificateID})
              </text>
              
            ).Title("");
        //col.Bound(gc => gc.GiftDate).Format("{0:dd-MMM-yyyy}"); ;
        col.Bound(gc => gc.Donor.Name).Title(Html.Translate("Donor"));
        col.Template(@<text>
                         @item.GiftDate.ToCTSPreferedDateFormat(@Html.GetCurrentUser().DatePreference)
                      </text>).Title(Html.Translate("Gift Date")); 
        //col.Bound(gc => gc.SINumber).Title(Html.Translate("SI Number"));
        col.Bound(gc => gc.ReferenceNo).Title(Html.Translate("Reference No"));
    }
        ).DetailView((detail => detail.Template(d =>
            Html.Telerik().Grid( d.GiftCertificateDetails ).Name("GCDetails" + d.GiftCertificateID)
            .Columns(c =>
            {
                c.Bound(com => com.Commodity.Name).Title(Html.Translate("Commodity"));
                c.Bound(gc => gc.WeightInMT).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Title(Html.Translate("Weight in MT"));
                c.Bound(gc => gc.EstimatedPrice).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Title(Html.Translate("Est. Price"));
                c.Bound(gc => gc.EstimatedTax).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Title(Html.Translate("Est. Tax"));
                c.Bound(gc => gc.Detail.Name).Title(Html.Translate("Fund Source"));
            })
        ))).Filterable().Sortable()
   )
   </div>