@using Cats.Models.Hubs
@using Cats.Models.Hubs.ViewModels
@using Cats.Web.Hub.Helpers
@using Kendo.Mvc.UI
@{
    ViewBag.Title = Html.Translate("Receipt Allocations");
}
@{
    int allocationType = ViewBag.CommoditySourceType;
    string quanityColumnHeader = "MT";
    decimal toqt = 1;


    if (@Html.GetCurrentUser().PreferedWeightMeasurment == "QTL")
    {
        quanityColumnHeader = "QTL";
        toqt = 10;
    }
    

}
@(Html.Kendo().Grid<ReceiptAllocationViewModel>()
    .Name("ReceiveAllocationGrid" + allocationType)
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:300px;" })
    .ClientDetailTemplateId("template_receive")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(p => p.ReceiptAllocationID))
        .Read(read => read.Action("AllocationListAjax", "Receive", new { type = allocationType }))
        .Destroy(update => update.Action("DeleteAjax", "Receive"))
        
    )
    .Columns(columns =>
    {
        columns.Bound(dis => dis.CommodityName).Title(Html.Translate("Commodity")).Filterable(true);
        columns.Bound(dis => dis.SINumber).Title(Html.Translate("SINumber")).Filterable(true);
        columns.Bound(dis => dis.ProjectNumber).Title(Html.Translate("Project Code")).Filterable(true);
        columns.Bound(dis => dis.QuantityInMT).Title(Html.Translate("Allocated In " + quanityColumnHeader)).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Encoded(false).ClientTemplate("#=adjustuom(ReceivedQuantityInMT)#");
        columns.Bound(dis => dis.ReceivedQuantityInMT).Title(Html.Translate("Received in " + quanityColumnHeader)).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Encoded(false).ClientTemplate("#=adjustuom(RemainingBalanceInMT)#");
        columns.Bound(dis => dis.RemainingBalanceInMT).Title(Html.Translate("Remaining in " + quanityColumnHeader)).Format("{0:N3}").HtmlAttributes(new { align = "right" }).Encoded(false).ClientTemplate("#=adjustuom(RemainingBalanceInMT)#");
        columns.Bound(dis => dis.ReceiptAllocationID).Title("").ClientTemplate("<a href='" +
            @Url.Action("Create", "ReceiveNew", new { @ReceiptAllocationID = "#=ReceiptAllocationID#", @type = allocationType }) +
            "'>Recieve  </a> &nbsp; " +
            "<a href='javascript:EditPlan(\"#=ReceiptAllocationID#\"," + allocationType + ")'>Edit</a> &nbsp; " +
            "<a  class='close_#=IsClosed#' href='javascript:ClosePlanByID(\"#=ReceiptAllocationID#\"," + allocationType + ")'>Close</a>"
            );
    })
                        )
<script id="template_receive" type="text/kendo-tmpl">
    
    @(Html.Kendo().Grid<ReceiveViewModelDto>()
        .Name("Receives_#=ReceiptAllocationID#")
        .Columns(columns =>
        {
            columns.Bound(d => d.ReceiptDate).Format("{0:d-MMM-yyyy}");
            columns.Bound(d => d.GRN).ClientTemplate("<a href='" + @Url.Action("Create", "Receive", new { @ReceiveID = "\\#=ReceiveID\\#" }) + "'>\\#:GRN\\#</a> &nbsp; ");
            columns.Bound(b => b.ReceivedByStoreMan);
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            .Read(read => read.Action("ReceiveListAjax", "Receive", new { ReceiptAllocationID = "#=ReceiptAllocationID#" }))

            )
    .HtmlAttributes(new { style = "max-height:250px;" })
    .Scrollable()
    .Sortable()
    .ClientDetailTemplateId("template_receive_detail")
    .ToClientTemplate())
                
</script>

<script id="template_receive_detail" type="text/kendo-tmpl">
    
                    @(Html.Kendo().Grid<ReceiveDetailViewModelDto>()
                         .Name("ReceiveDetails_#=ReceiveID#")
                        .Columns(columns =>
                        {
                            columns.Bound(com => com.CommodityName).Title(Html.Translate("Commodity"));
                            columns.Bound(com => com.UnitName).Title(Html.Translate("Unit"));
                            columns.Bound(com => com.SentQuantityInUnit).Title(Html.Translate("Sent Qty (Unit)")).HtmlAttributes(new { align = "right" }); ;
                            columns.Bound(com => com.ReceivedQuantityInUnit).Title("Received Qty (Unit)").HtmlAttributes(new { align = "right"}); ;
                            columns.Bound(com => com.SentQuantityInMT).Title(Html.Translate("Sent Qty " + quanityColumnHeader)).HtmlAttributes(new { align = "right", @class = "cats_amt_in_uom" }).Encoded(false).ClientTemplate("#=adjustuom(SentQuantityInMT)#");
                            columns.Bound(com => com.ReceivedQuantityInMT).Title(Html.Translate("Received Qty " + quanityColumnHeader)).HtmlAttributes(new { align = "right", @class = "cats_amt_in_uom" }).Encoded(false).ClientTemplate("#=adjustuom(ReceivedQuantityInMT)#");

                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Read(read => read.Action("ReceiveDetailAjax", "Receive", new { ReceiveID = "#=ReceiveID#" }))

                        )
                         .HtmlAttributes(new { style = "max-height:250px;" })
                        .Scrollable()
                        .Sortable()
                        .ToClientTemplate())
                
</script>
<script>
    
    function numberWithCommas(x) {
        var parts = x.toFixed(3).toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }
   
    // end of function CurrencyFormatted()



    function adjustuom(amt) {

        
        if ('@quanityColumnHeader' == "QTL")


            return numberWithCommas(amt*10);
        else {
            return numberWithCommas(amt);

        }
    }
    

</script>