@using Cats.Helpers
@using Cats.Security
@using Cats.Services.Security
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@{
    ViewBag.Title = "NeedAssessmentPlan";
    Layout = "~/Views/Shared/_CATSLayout.cshtml";

}
@section Title
{
Plans
}

@section PageTitle
{
    <h1 class="hdr-blck big ">
        @Html.Translate("Approved Need Assessment")
    </h1>
}
<div class="row">
    @Html.Partial("_NeedAssessmentMainLeftBar")
    <div class="col-md-10  col-sm-9">
        <div class="box box-primary">
            <div class="box-body ">
                @(Html.Kendo().Grid<Cats.Areas.EarlyWarning.Models.NeedAssessmentPlanViewModel>()
                       .Name("grid")
                       .Columns(columns =>
                                    {
                                        columns.Bound(p => p.AssessmentName).Title(Html.Translate("Assessment Name")).ClientTemplate(
                                            @Html.EarlyWarningOperationButton(
                                                @Url.Action("Detail", "NeedAssessment", new { id = "#=PlanID#" }),
                                                EarlyWarningConstants.Operation.View_Need_Assessment_Detail, "#=AssessmentName#").ToString());
                                        columns.Bound(p => p.StartDate);
                                        columns.Bound(p => p.EndDate);
                                        columns.Bound(p => p.Status).Title("Status").ClientTemplate(
                                            " <span  class=\"label label-success\"><span class=\"fa fa-check\"></span> Approved</span> ");
                                       

                                    })
                       .HtmlAttributes(new { style = "height: 430px" })
                       .Pageable()
                       .Sortable()
                       .Scrollable()
                       .DataSource(dataSource => dataSource
                                                     .Ajax()
                                                     .PageSize(30)
                                                     .ServerOperation(false)
                                                     .Model(model => model.Id(p => p.PlanID))
                                                     .Read(read => read.Action("NeedAssessment_Plan", "NeedAssessment", new { id = ViewBag.AssessmentStatus }))
                       )
                       )
            </div>
        </div>
    </div>
</div>

