@model Cats.Models.Contribution
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

@section LeftBar
{
    @Html.Partial("_ContributionLeftBar");
}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_contribution"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "Contribution")" title="save"></a>
}
<div>
    <h4>Create Donor Contribution</h4>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="well form-horizontal">
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.HRDID,"HRD")
            </div>
            <div class="controls">
                @Html.DropDownList("HRDID", String.Empty)
                @Html.ValidationMessageFor(m => m.HRDID)
            </div>
    </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.DonorID,"Donor")
            </div>
            <div class="controls">
                @Html.DropDownList("DonorID", String.Empty)
                @Html.ValidationMessageFor(m => m.DonorID)
            </div>

        </div>
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.Year)
            </div>
            <div class="controls">
                @Html.Editor("Year")
                @Html.ValidationMessageFor(m => m.Year)
            </div>

        </div>
        @*<div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.ImplementingAgency)
            </div>
            <div class="controls">
                @Html.DropDownList("DonorID", String.Empty)
                @Html.ValidationMessageFor(m => m.ImplementingAgency)
            </div>

        </div>*@
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>

    </div>
}

