@using Cats.Models.Constant
<ul class="nav nav-list">
    <li class="nav-header">Requistions</li>        
    <li><a href="@Url.Action("Index","ReliefRequisition",new{id=(int)ReliefRequisitionStatus.Draft})"><i class="icon-inbox"></i> Draft</a></li>
    <li><a href="@Url.Action("Index","ReliefRequisition",new{id=(int)ReliefRequisitionStatus.Approved})"><i class="icon-check"></i> Approved</a></li>
    <li><a href="@Url.Action("Index","ReliefRequisition",new{id=(int)ReliefRequisitionStatus.HubAssigned})"><i class="icon-check"></i> Hub Assigned</a></li>
    <li><a href="@Url.Action("Index","ReliefRequisition",new{id=(int)ReliefRequisitionStatus.ProjectCodeAssigned})"><i class="icon-check"></i>Project Code Assigned</a></li>
    <li><a href="@Url.Action("Index","ReliefRequisition",new{id=(int)ReliefRequisitionStatus.TransportRequisitionCreated})"><i class="icon-check"></i> Transport Requisition</a></li>
    <li><a href="@Url.Action("Index","ReliefRequisition",new{id=(int)ReliefRequisitionStatus.TransportOrderCreated})"><i class="icon-check"></i> Transport Order</a></li>
    
    <li class="divider"></li>
    <li><a href="#"><i class="icon-warning-sign"></i> Exceptions</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="icon-print"></i> Print</a></li>
    <li><a href="#"><i class="icon-share"></i> Export</a></li>
    
</ul>