

@model Cats.Areas.EarlyWarning.Models.SearchRequistionViewModel
@using Cats.Helpers;

@{
    const string PAGE_NAME = "Request.Index.RequestFilter";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-md-line-input">
                <input id="search" type="text" class="form-control" placeholder="Search by Reference Number " />
                <label for="search">Reference Number</label>
                @*<div class="form-inline">
                    <input id="search" type="text" class="input-large search-query" placeholder="Search by reference">
                </div>*@
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-horizontal">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-3">Region</label>
                        <div class="col-md-9">
                            @Html.DropDownList("RegionID", null, new {@class = "form-control"})
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">Program</label>
                        <div class="col-md-8">
                            @Html.DropDownList("ProgramID", null, new {@class = "form-control"})
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-3">Status</label>
                        <div class="col-md-9">
                            @Html.DropDownList("StatusID", null, new {@class = "form-control"})
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-success btn-block pull-right" value="Search"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                <label class="control-label col-md-4">Region</label>
                <div class="col-md-5"></div>
                @Html.DropDownList("RegionID", null, new {@class = "form-control"})
            </div>*@
            @*<div class="form-group">
                <span class="add-on">Program</span>
                @Html.DropDownList("ProgramID", null, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <span class="add-on">Status</span>
                @Html.DropDownList("StatusID", null, new {@class = "form-control"})
            </div>*@
            @*<div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary" value="Search"><i class="fa fa-search"></i> Search</button>
            </div>*@

        </div>
    </div>
        <div style="clear:both;">
        </div>
   
    }
