@model Cats.Models.ReliefRequistion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>ReliefRequistion</legend>

    <div>
         @Html.DisplayNameFor(model => model.RegionID)
    </div>
    <div >
        @Html.DisplayFor(model => model.AdminUnit.Name)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.ProgramId)
    </div>
    <div >
        @Html.DisplayFor(model => model.Program.Name)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.RoundId)
    </div>
    <div >
        @Html.DisplayFor(model => model.Round.RoundNumber)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.RequistionDate)
    </div>
    <div >
        @Html.DisplayFor(model => model.RequistionDate)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div >
        @Html.DisplayFor(model => model.Year)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.ReferenceNumber)
    </div>
    <div >
        @Html.DisplayFor(model => model.ReferenceNumber)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.Remark)
    </div>
    <div >
        @Html.DisplayFor(model => model.Remark)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ReliefRequistionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
