@model  Cats.Models.ReliefRequisition


@{
    ViewBag.Title = "Edit ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section LeftBar
{
    @Html.Partial("_RequistionsLeftBar")
@*    <li class="nav-header">Tasks</li>
    <li><a href="@Url.Action("Requistions", "ReliefRequisition", new { Area = "EarlyWarning" })"><i class="icon-chevron-left"></i>Back to requisitions</a></li>*@
}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_Edit_requisition"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "ReliefRequisition")" title="cancel"></a>
   
}

<fieldset>
    <legend>
        Edit Relief Requisition for Distribution
    </legend>
</fieldset> 

@using (Html.BeginForm("Edit", "ReliefRequisition", FormMethod.Post, new { id = "frm_Edit_requisition" }))
{
    <div class="form-horizontal ">
        <fieldset>
            @Html.HiddenFor(model => model.RequisitionID)
            @Html.HiddenFor(model => model.Status)
            @Html.HiddenFor(model => model.CommodityID)
            @Html.HiddenFor(model => model.RegionalRequestID)
            @Html.HiddenFor(model => model.ProgramID)
            @Html.HiddenFor(model => model.Round)
            @Html.HiddenFor(model => model.RegionID)
            @Html.HiddenFor(model => model.ZoneID)
            @Html.HiddenFor(model => model.RequestedDate)
            @*@Html.HiddenFor(model => model.RationID)*@
            

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RequisitionNo)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model => model.RequisitionNo)
                    @Html.ValidationMessageFor(model => model.RequisitionNo)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ProgramID)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Program.Name, null, new { disabled = "true" })
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Round)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Round, null, new { disabled = "true" })
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(m => m.RationID, "Ration")
                </div>
                <div class="controls">
                    @Html.DropDownList("RationID",String.Empty)
                    @*@Html.DropDownListFor(m => m.RationID, new SelectList(ViewBag.RationID, "RationID", "RefrenceNumber", ViewBag.RationSelected),string.Empty)*@
                    @Html.ValidationMessageFor(m => m.RationID)
                </div>
            </div>
      
           
            <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.RegionID)
             </div>
            <div class="controls">
                @Html.TextBoxFor(model => model.AdminUnit.Name, null, new { disabled = "true" })
            </div>
             </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ZoneID)
                </div>
                <div class="controls">
                @Html.TextBoxFor(model => model.AdminUnit1.Name, null, new { disabled = "true" })
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.RequestedDate,new {@class="cats-date-pref"})
                </div>
                <div class="controls">
                        <input class="cats-datepicker2 disabled" type="text" id="RequestedDate" name="RequistionDate"/>
                 
                </div>

            </div>

          @*<div class="control-group">
            <div class="controls">
                <input type="submit" value="Save Changes" class="btn btn-success" />
                <a class="btn btn-success" href="@Url.Action("Index", "ReliefRequisition", new { Area = "EarlyWarning"})">Cancel</a>
            </div>
            </div>*@
        </fieldset>


    </div>
    
    
   
}
