@using Cats.Models.Constant
@using Kendo.Mvc.UI


@{
    ViewBag.Title = "Requistions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section LeftBar
{
    @Html.Partial("_RequistionsLeftBar")

}
@section Toolbar
{
    <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("CreateRequisiton", "ReliefRequisition")"></a>
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="~/">Home</a> <span class="divider">/</span></li>
        <li class="active">Relief Requisition</li>
    </ul>
}
<<<<<<< HEAD
<h4 class="well">Requistions</h4>
=======
<h4 >Requistions</h4>
>>>>>>> a6db427e0b88c7b47daa7a6697c22fc2e1855708
@(Html.Kendo().Grid<Cats.Areas.EarlyWarning.Models.ReliefRequisitionViewModel>().Name("Grid").Columns(columns =>
{
    columns.Template(t => { }).Title("No").ClientTemplate("#= renderNumber(data) #").Width(50);
    columns.Bound(requisition => requisition.RequisitionNo).ClientTemplate("<a href='" + Url.Action("Allocation", "ReliefRequisition", new { id = "#=RequisitionID#" }) + " '>#=RequisitionNo#</a>  ");
    columns.Bound(requisition => requisition.Commodity);
    columns.Bound(requisition => requisition.Region);
    columns.Bound(requisition => requisition.Zone);
    columns.Bound(requisition => requisition.Round);
    columns.Bound(requisiton => requisiton.Program);

    columns.Bound(requisition => requisition.RequestedDateEt);
    columns.Bound(requisition => requisition.Status).Template(


@<text>
@if (item.StatusID == (int)ReliefRequisitionStatus.Draft)
{
  
    <a  href="@Url.Action("Edit", "ReliefRequisition", new { Area = "EarlyWarning", id = item.RequisitionID })"><i class="icon-edit"></i></a>
    <a href="@Url.Action("SendToLogistics", "ReliefRequisition", new { Area = "EarlyWarning", id = item.RequisitionID })"><i class="icon-ok"></i></a>
    <a  href="@Url.Action("RequistionDetailEdit", "ReliefRequisition", new { Area = "EarlyWarning", id = item.RequisitionID })"><i class="icon-pencil"></i></a>
   
  
}
else
{
    @item.Status 
}
</text>);
                     //columns.Command(command =>
                     //                    {
                     //                        command.Edit().Text(" ");
                     //                        command.Destroy().Text(" ");
                     //                    }).Width(60);

                 })
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .Events(ev => ev.DataBound("resetRowNumber"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)

            .Model(model =>
            {
                model.Id(p => p.RegionalRequestID);

                //  model.Field(r => r.Status).Editable(false);
                model.Field(r => r.Commodity).Editable(false);
                model.Field(r => r.Region).Editable(false);
                model.Field(r => r.RequestedDateEt).Editable(false);
                model.Field(r => r.Region).Editable(false);
                model.Field(r => r.Zone).Editable(false);
                model.Field(r => r.Round).Editable(false);
                model.Field(r => r.Program).Editable(false);
                model.Field(r => r.Status).Editable(false);
            })
    
        .Read(read => read.Action("Requisition_Read", "ReliefRequisition",new{id=ViewBag.Status}))
        .Update(update => update.Action("Requisition_Update", "ReliefRequisition"))
        .Destroy(update => update.Action("Requisition_Destroy", "ReliefRequisition"))
    ).Pageable()
)

