@model IEnumerable<Cats.Models.ReliefRequisition>

@{
    ViewBag.Title = "Requistions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Requistions</h2>


<table>
    <tr>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommodityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
                <a href="@Url.Action("Edit", "ReliefRequisition", new { Area = "EarlyWarning", id = item.ReliefRequisitionID })">@Html.DisplayFor(modelItem => item.RequisitionNo)</a>
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommodityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZoneID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequisitionNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequisitionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReliefRequisitionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReliefRequisitionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReliefRequisitionID })
        </td>
    </tr>
}

</table>
