@using Cats.Models.ViewModels
@model IEnumerable<Cats.Models.ReliefRequisition>

@{
    ViewBag.Title = "Requistions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="well">Requistions</h2>


<table class="table table-bordered table-condensed table-striped">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.RequisitionNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommodityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramID)
        </th>
        
       @* <th>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.RequestedDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
                <a href="@Url.Action("RequistionDetailEdit", "ReliefRequisition", new { Area = "EarlyWarning", id = item.RequisitionID })">@Html.DisplayFor(modelItem => item.RequisitionNo)</a>
            </td>
        
         <td>
            @Html.DisplayFor(modelItem => item.Commodity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminUnit1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminUnit.Name )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Program.Name)
        </td>
      @*  <td>
            @Html.DisplayFor(modelItem => item.RequestedBy)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.RequestedDate,new {@class="cats-datepicker"})
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.ApprovedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedDate)
        </td>*@
        <td>
           @{
               var statusName = item.Status.ToString();
        var showme = item.Status == 1 ? "" : "hidden";
                }
               @Html.Label(statusName)
        </td>
        
        <td>
           
             <a class="btn btn-warning @showme" href="@Url.Action("Edit", "ReliefRequisition", new { Area = "EarlyWarning", id = item.RequisitionID })">Edit</a>
            <a class="btn btn-success @showme" href="@Url.Action("SendToLogistics", "ReliefRequisition", new { Area = "EarlyWarning", id = item.RequisitionID })">Send</a>
        </td>
    </tr>
}

</table>
