@model Cats.Models.ReliefRequisition

@{
    ViewBag.Title = "Send Requistion To Logistics";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar
{
      @Html.ActionLink("Back to List", "Requistions")
}
<h2>Send Requistion To Logistics</h2>
<h3>Are you sure you want to send to logistics this?</h3>
<fieldset>
    <legend>ReliefRequistion</legend>
    <div >
         @Html.DisplayNameFor(model => model.RequisitionNo)
    </div>
    <div >
        @Html.DisplayFor(model => model.RequisitionNo)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.RegionID)
    </div>
    <div >
        @Html.DisplayFor(model => model.AdminUnit.Name)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.ProgramID)
    </div>
    <div >
        @Html.DisplayFor(model => model.Program.Name)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.Round)
    </div>
    <div >
        @Html.DisplayFor(model => model.Round)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.RequestedDate)
    </div>
    <div >
        @Html.DisplayFor(model => model.RequestedDate,new {@class="cats-datepicker"})
    </div>

    

    
   
</fieldset>
@using (Html.BeginForm("ConfirmSendToLogistics", "ReliefRequisition", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <p>
        @Html.HiddenFor(model=>model.RequisitionID)
        @{
    var showme = Model.Status == 1 ? "" : "hidden";
        }
        <input type="submit" class="@showme" value="Send" /> 
      
    </p>
}