@model Cats.Models.Hub.Program
 @using Cats.Web.Hub.Helpers          

@{
    ViewBag.Title = Html.Translate("Delete");
}

<h2>@Html.Translate("Delete")</h2>

<h3>@Html.Translate("Are you sure you want to delete this?")</h3>
<fieldset>
    <legend>@Html.Translate("Program")</legend>

    <div class="display-label">@Html.Translate("Name")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">@Html.Translate("Description")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">@Html.Translate("LongName")</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LongName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink(Html.Translate("Back to List"), "Index")
    </p>
}
