@model Cats.Models.Bid

@{
    ViewBag.Title = "Create Bid Document";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar
{
    @Html.Partial("_BidLeftBar")
}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_create_bid"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "Bid")"></a>
}
<div><h4>Bid Document</h4></div>
 @using (Html.BeginForm("Create", "Bid", FormMethod.Post, new { id = "frm_create_bid" }))
    {
         @Html.ValidationSummary(true)
       
        <div class="form-horizontal well">
        <fieldset>
            <div class="control-group ">
                <div class="control-label">
                    @Html.LabelFor(model => model.TransportBidPlanID, "Bid Plan")
                </div>
               
                <div class="controls">
                    @Html.DropDownList("TransportBidPlanID",String.Empty)
                    @Html.ValidationMessageFor(model => model.TransportBidPlanID)
                </div>
                
            </div>
            <div class="control-group" >
                <div class="control-label">
                    @Html.LabelFor(model => model.BidNumber, "Bid Number")
                </div>
                <div class="controls">
                    @Html.TextBoxFor(model=>model.BidNumber,new { @placeholder = "Enter Bid Number" })
                    @Html.ValidationMessageFor(model => model.BidNumber)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.StartDate, "Start Date")

                </div>
                <div class="controls">
                   @* <input class="cats-datepicker" type="text" id="start" name="start" />*@
                    @Html.TextBoxFor(model=>model.StartDate,new {@class="cats-datepicker2"})
                    @Html.ValidationMessageFor(model => model.StartDate)
                   
                </div>
            </div>
            <div class="control-group" >
                <div class="control-label">
                      
                    @Html.LabelFor(model => model.EndDate, "End Date")
                </div>
                <div class="controls">
                   @* <input class="cats-datepicker" type="text" id="end" name="end"/>*@
                    @Html.TextBoxFor(model=>model.EndDate,new {@class="cats-datepicker2"})
                    @Html.ValidationMessageFor(model => model.EndDate)
                    
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                     
                    @Html.LabelFor(model => model.EndDate, "Opening Date")
                </div>
                <div class="controls">
                     @*<input class="cats-datepicker" type="text" id="Open" name="Open" />*@
                    @Html.TextBoxFor(model=>model.OpeningDate,new {@class="cats-datepicker2"})
                    @Html.ValidationMessageFor(model => model.OpeningDate)
                    
                </div>
            </div>      
        </fieldset>
            
            </div>
      
        }
        