@model Cats.Models.Bid

@{
    ViewBag.Title = "Edit Bid Document";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar
{
     @Html.ActionLink("View Bid Lists", "Index")
}

<div class="well"><h3>Bid Document</h3></div>

    @using (Html.BeginForm())
    {
         @Html.ValidationSummary(true,"unsuccessful")
        <div>
        <fieldset>
            <legend> Edit Bid </legend>
            @Html.HiddenFor(model=>model.BidID)
            <div >
                @Html.LabelFor(model => model.TransportBidPlanID, "Bid Plan")

                @Html.DropDownList("TransportBidPlanID",String.Empty)
                @Html.ValidationMessageFor(model => model.TransportBidPlanID)
            </div>
            <div >
                @Html.LabelFor(model => model.BidNumber, "Bid Number")

                @Html.TextBoxFor(model=>model.BidNumber)
                @Html.ValidationMessageFor(model => model.BidNumber)
            </div>
            <div >
                @Html.LabelFor(model => model.StartDate, "Start Date")

                @Html.TextBoxFor(model=>model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
            <div >
                @Html.LabelFor(model => model.EndDate, "End Date")

                @Html.TextBoxFor(model=>model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
            <div >
                @Html.LabelFor(model => model.EndDate, "Opening Date")

                @Html.TextBoxFor(model=>model.OpeningDate)
                @Html.ValidationMessageFor(model => model.OpeningDate)
            </div>
            <div >
                @Html.LabelFor(model => model.StatusID, "Status")

                @Html.DropDownList("StatusID",String.Empty)
                @Html.ValidationMessageFor(model => model.StatusID)
            </div>
            
            <p>
                <input type="submit" value="Save Bid" class="btn btn-success" />
            </p>
        </fieldset>
            </div>
    }
