@model Cats.Models.Bid

@{
    ViewBag.Title = "Edit Bid Document";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar
{
     @Html.Partial("_BidLeftBar")
}
@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_edit_bid"></a>
    <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Index", "Bid")"></a>
}
<div><h4>Bid Document</h4></div>

    @using (Html.BeginForm("EditBidStatus", "Bid", FormMethod.Post, new { id = "frm_edit_bid" }))
    {
         @Html.ValidationSummary(true)
        <div class="form-horizontal well">
        <fieldset>
            <legend> Edit Bid </legend>
            @Html.HiddenFor(model=>model.BidID)
              @Html.HiddenFor(model=>model.StatusID)
            <div class="control-group">
                <div class="control-label">
                     @Html.LabelFor(model => model.TransportBidPlanID, "Bid Plan")
                </div>
                <div class="controls">
                    @Html.DropDownList("TransportBidPlanID",String.Empty)
                    @Html.ValidationMessageFor(model => model.TransportBidPlanID)
                </div>
            </div>
            <div class="control-group" >
                <div class="control-label">
                    @Html.LabelFor(model => model.BidNumber, "Bid Number")
                </div>
                <div class="controls">
                @Html.TextBoxFor(model=>model.BidNumber)
                @Html.ValidationMessageFor(model => model.BidNumber)
                 </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.StartDate, "Start Date")
                </div>
                <div class="controls">
                   @* <input class="cats-datepicker" type="text" id="start" name="start" value="@Model.StartDate"/>*@
                    @Html.TextBoxFor(model=>model.StartDate,new {@class="cats-datepicker2"})
                    @Html.ValidationMessageFor(model => model.StartDate)

                </div>

            </div>
            <div class="control-group">
                <div class="control-label">
                     @Html.LabelFor(model => model.EndDate, "End Date")
                </div>
               
                <div class="controls">
                     @*<input class="cats-datepicker" type="text" id="end" name="end" value="@Model.EndDate" />*@
                    @Html.TextBoxFor(model=>model.EndDate,new {@class="cats-datepicker2"})
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
                
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.EndDate, "Opening Date")
                </div>
                
                <div class="controls">
                    @* <input class="cats-datepicker" type="text" id="open" name="open" value="@Model.OpeningDate"/>*@
                    @Html.TextBoxFor(model=>model.OpeningDate,new {@class="cats-datepicker2"})
                    @Html.ValidationMessageFor(model => model.OpeningDate)
                </div>
               
            </div>
            @*<div class="control-group">
                <div class="control-label">
                      @Html.LabelFor(model => model.StatusID, "Status")
                </div>
              
                <div class="controls"> @Html.DropDownList("StatusID",String.Empty)
                @Html.ValidationMessageFor(model => model.StatusID)</div>
               
            </div>   *@  
        </fieldset>
            </div>
    }
