@using Cats.Models
@using Kendo.Mvc.UI
@model IEnumerable<Cats.Areas.Procurement.Models.BidDetailsViewModel>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";    
}
@section LeftBar
{
    <li class="nav-header">Bid Informaation</li>
    <li>Bid Number: @ViewBag.BidNumber</li>
    <li>Start Date: @ViewBag.StartDate</li>
    <li>End Date: @ViewBag.EndDate</li>
    <li class="nav-header">Tasks</li>
    <li><a href="@Url.Action("Index", "Bid", new { Area = "Procurement" })"><i class="icon-chevron-left"></i>Back to Bid Lists</a></li>
}
<div class="well">
    <h4 class="page-header">Bid Number: @ViewBag.BidNumber  From:@ViewBag.StartDate  To: @ViewBag.EndDate</h4>
</div>

@(Html.Kendo().Grid((IEnumerable<Cats.Areas.Procurement.Models.BidDetailsViewModel>)ViewData["BidDetail"])
.Name("Bid").Columns(columns =>
         {
            columns.Bound(p => p.Region);
            columns.Bound(p => p.AmountForReliefProgram);
            columns.Bound(p => p.AmountForPSNPProgram);
            columns.Bound(p => p.BidDocumentPrice);
            columns.Bound(p => p.CPO);                                                                  
            columns.Command(command => command.Edit()).Width(200);

          })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Pageable()
      .Sortable()
      .Filterable()
      .DataSource(datasource=>datasource
      .Server()
      .Model(model => model.Id(p => p.BidDetailID))
      //.Model(model =>
      //  {
      //      model.Id(p => p.BidDetailID);
      //      model.Field(p => p.Region).Editable(false);
            
      //  })
      .Read(read => read.Action("Edit", "Bid"))
      .Update(update=>update.Action("Edit","Bid"))
      )
      
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>








