@model  IEnumerable<Cats.Models.Bid>

@{
    ViewBag.Title = "Create Bid";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="well">
    <h4 class="page-header">Create Bid For Transporters</h4>
</div>

@section LeftBar
{
    @using (Html.BeginForm())
    {
        <div class="control-group">
            <label class="control-label">Start Date</label>
            <div class="controls">
                @Html.TextBox("StartDate")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">End Date</label>
            <div class="controls">
                @Html.TextBox("EndDate")
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Filter" class="btn btn-primary"/>
            </div>
        </div> 
    }

}

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BidNumber)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>   
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Edit", "Bid", new { Area = "Procurement", id = item.BidID })">@Html.DisplayFor(modelItem => item.BidNumber)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>

                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Edit", "Bid", new { Area = "Procurement", id = item.BidID })">Edit</a></li>
                        <li><a href="#">Approve</a></li>
                        <li><a href="#">View Status</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
