@using Cats.Web.Hub.Helpers

@model  Cats.Models.Hubs.SMTPInfo

@{
    ViewBag.Title = Html.Translate("System Configuration");
}

<h2>@Html.Translate("Configurations")</h2>
<p>
    @Html.Translate("Change system settings here.")
</p>
<div id="SMTPConfigContainer">
<fieldset>
    <legend>Html.Translate("SMTP Setting")</legend>
 
      
    <div class="display-field">
        Name: @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-field">
        SMTP Server: @Html.DisplayFor(model => model.SMTPServer)
    </div>
    
    <div class="display-field">
        Port: @Html.DisplayFor(model => model.Port)
    </div>    
 
        <div class="right">        
            @Html.DialogFormLink(Html.Translate("Edit"), Url.Action("EditConfigSMTP"), Html.Translate("SMTP Configuration"), "SMTPConfigContainer", Url.Action("SysSettingsUpdate"))
        </div>
    
</fieldset>
</div>

<div id="OtherConfigContainer">
<fieldset>
    <legend>@Html.Translate("Other Setting")</legend>
    <div class="display-field">
        @Html.Translate("Setting value: value")
    </div>
        <div class="right">        
            @Html.DialogFormLink(Html.Translate("Edit"), Url.Action("xxx"), Html.Translate("Other Setting"), "OtherConfigContainer", Url.Action("SysSettings"))
        </div>
</fieldset>
</div>