@model List<Cats.Models.Hub.ViewModels.Dispatch.RequisitionSummary>
@using Cats.Web.Hub.Helpers
<div>
<p>
    Please select the a Requisition number below to continue.
</p>
<table width="100%" >
    <thead>
        <tr>
            <th>@Html.Translate("Requistion No")</th>
            <th>@Html.Translate("Region")</th>
            <th>@Html.Translate("Zone")</th>
            <th>@Html.Translate("Commodity")</th>
            <th>@Html.Translate("Status")</th>
            <th>@Html.Translate("Action")</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    <a href="javascript:LoadSecondStep(@item.RequistionNo)">@item.RequistionNo</a>
                </td>
                <td>@item.Region</td>
                <td>@item.Zone</td>
                <td>@item.CommodityName</td>
                <td>@item.Status</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
</div>