@model Cats.Models.Hub.AdminUnitModel
@using Cats.Web.Hub.Infrastructure
@using Cats.Web.Hub.Helpers




<script src="@Url.Content("~/Scripts/Cascade.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create","AdminUnit")) { 
    @Html.ValidationSummary(true)


        @Html.HiddenFor(m=>m.SelectedAdminUnitTypeId)
<table>
<tr>
    <td width="100px">@Html.Translate("Region")</td>
    <td>@Html.DisplayFor(model => model.SelectedRegionName)
@Html.HiddenFor(model => model.SelectedRegionId)</td>
</tr>
    <tr>
        <td>@Html.Translate("Name")</td>
        <td>@Html.EditorFor(m=>m.UnitName)</td>
    </tr>
    <tr>
        <td>@Html.Translate("Name (Amharic)")</td>
        <td>@Html.EditorFor(m => m.UnitNameAM)</td>
    </tr>
</table>
}


