@using Cats.Web.Hub.Helpers
@model Cats.Models.Hub.AdminUnit


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.AdminUnitID)
        <table>
        <tr>
            <td> @Html.LabelFor(model => model.Name)</td>
            <td> 
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name) 
            </td>
        </tr>
                <tr>
            <td>@Html.Translate("Name (Amharic)")</td>
            <td>@Html.EditorFor(m => m.NameAM)</td>
        </tr>
        </table>
         @Html.HiddenFor(model => model.ParentID)
         @Html.HiddenFor(model => model.AdminUnitTypeID)

}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jgeez.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var name = $('#NameAM');
        name.addClass("amharic");
        name.jGeez();
    });
</script>