@using Cats.Areas.Procurement.Models
@using Cats.Models.Constant
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@model Cats.Areas.Procurement.Models.SelectedBidWinnerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoutWide.cshtml";
}
@*@section LeftBar
{
    @Html.Partial("LeftBar")
    
}*@


@section Toolbar    {
   
    <div class="btn-group" style="margin-right:8px;">
        <button class="btn">Action</button>
        @{
            
            <button class="btn dropdown-toggle " data-toggle="dropdown">
                <span class="caret"></span>
            </button>
           
        }
        <ul class="dropdown-menu">
           
                <li><a  href="@Url.Action("WarehouseSelection", "TransportBidPlan", new { id = ViewBag.BidPlanID })" >View Bid Plan </a></li>
        </ul>

    </div>
           
}

<div class="form-horizontal well" style="width: 1178px">
    <div class="control-label">
                    @Html.LabelFor(model => model.BidNumber)
                </div>
                <div class="controls">
                    @Html.DropDownList("BIDID",String.Empty)
                    
                </div>
</div>
<div>
    <div style="float: left; width:600px; height:250px; border:1px solid #ececec; margin-top:10px;margin-right:20px;margin-bottom:20px;">
        <div style="font-weight: bold;margin:10px;">List of Bid Winners</div>
        @(Html.Kendo().Grid<BidWinnerViewModel>()
              .Name("grid1")
              .Columns(columns =>
                  {

                      columns.Bound(t => t.TransporterName);
                      columns.Bound(t => t.SourceWarehouse);
                      columns.Bound(t => t.Woreda);
                      //columns.Bound(t => t.Quantity);
                      columns.Bound(t => t.WinnerTariff).Title(Translator.Translate("Tariff"));
                      //columns.Bound(t => t.StatusID);
                      //columns.Bound(t => t.Status);
                  })
              .Scrollable()
              .DataSource(datasource =>
                          datasource
                              .Ajax()
                              .Model(model => model.Id(p => p.BidWinnnerID))
                              .Group(group=> group.Add(m=>m.Region))
                              //.Group(group => group.Add(m => m.SourceWarehouse))
                              .Group(group=> group.Add(m=>m.TransporterName))
                              
              .Read(read=>read.Action("BidAdminDraft_Read","BidAdministration").Data("filterData"))))
              

             
    </div>
    @*<div style="float: right; width:600px; height:541px; border:1px solid #ececec; margin-top:10px;margin-right:85px;margin-bottom:20px;">
        <div style="font-weight: bold;margin:10px;">Bid Plan Detail</div>

        @Html.Partial("_BidPlanDetail", Model)
    </div> 
    <div style="float: left; width:600px; height:250px; border:1px solid #ececec; margin-top:10px;margin-right:20px;margin-bottom:20px;">
        <div style="font-weight: bold;margin:10px;">Woredas With out bid Offer</div>

        @Html.Partial("_WoredasWithoutOffer", Model)
    </div> *@
   
</div>
<script type="text/javascript">
    function collapseGroupRows() {
        var grid = $("#grid1").data("kendoGrid");
        grid.collapseGroup(grid.tbody.find(">tr.k-grouping-row"));
        $('tr[role*="row"]').hide();
    }
    
    $("#BIDID").change(function () {
        var selected = $("#BIDID").val();
        $("#BIDID").val(selected);
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
        alert(selected);
    });
    
    function filterData() {

        return {
            BIDID: $("#BIDID").val()
            
        };
    }
</script>



